[2018-08-09 16:45] EricJizbaMSFT commented on #336
This was fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/430

[2018-08-09 16:45] #336 closed

[2018-08-10 17:54] JohnReeson commented on #502
You need to add your function app folder to workspace first.

![1](https://user-images.githubusercontent.com/35160013/43973185-5d4ec62a-9d09-11e8-91f5-86a7e51cbfec.png)

[2018-08-13 03:08] lirenhe opened #504 "Support different hosting plan when deploying function app"
Currently, the default hosting plan of 'Comsumption plan' is used when deployment function app.

Is it possible to support selecting from existing hosting plan during deployment?

[2018-08-13 15:51] EricJizbaMSFT commented on #504
Do you mean when creating a function app? When deploying...I believe it just uses the plan associated with the function app you select.

What's your reason for using a non-consumption plan?

[2018-08-13 17:07] EricJizbaMSFT opened #505 "Move parseJavaTemplates to its own file"
Rather than keeping it in parseScriptTemplates.ts

[2018-08-13 17:09] #486 closed

[2018-08-13 21:56] #426 closed

[2018-08-14 05:38] jdneo commented on #505
@EricJizbaMSFT Let's first discuss the design before implementation.

Currently, the template parsers are all function based. Do you think we need to change it to class-based and extend to several different parsers to avoid duplicated code?

[2018-08-14 11:34] satyakirank opened #509 "unable to create a function"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.createFunction
Error type: Error
Error Message: There was an error in retrieving the templates.  Recheck your internet connection and try again.

Version: 0.10.0
OS: win32

[2018-08-14 16:01] EricJizbaMSFT commented on #505
I don't see the benefit of a class in this case. I say you just move Java-specific code to parseJavaTemplates and export anything you need from parseScriptTemplates.

[2018-08-14 20:46] #462 closed

[2018-08-14 22:25] alexgman commented on #327
If we promote a function app to QA/PROD, do we need to create another` local.settings.json` file like `prod.settings.json`?

How would we make the _switch_ within our code between these two files to account for different environments?

For example, developing locally:

`log.Info(GetEnvironmentVariable("AzureWebJobsStorage"));`

When we promote our code, how does it know which environment we are in

[2018-08-14 22:30] jongio opened #511 "Download appears to hang"
Ran this:
`npm i -g azure-functions-core-tools@core --unsafe-perm true`

It paused for a good couple of minutes here and I wasn't sure if it failed or not.

![image](https://user-images.githubusercontent.com/2163001/44122066-18f08100-9fd7-11e8-8ad3-3c7cd5dce3a1.png)

Would be good to add a rolling percent downloaded status.

[2018-08-15 01:46] jdneo commented on #505
I see.

[2018-08-15 10:46] tuyetphale993 opened #513 "Error when create new project by JavaScript language"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.createFunction
Error type: Error
Error Message: There was an error in retrieving the templates.  Recheck your internet connection and try again.

Version: 0.10.0
OS: win32

[2018-08-15 13:21] kgoderis opened #514 "Creating new C# QueueTrigger function in VSCode"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.createFunction
Error type: SyntaxError
Error Message: Unexpected token } in JSON at position 1984

Version: 0.10.0
OS: darwin

[2018-08-15 17:58] EricJizbaMSFT commented on #513
This will be mitigated by including backup templates with the extension. See https://github.com/Microsoft/vscode-azurefunctions/issues/462

However, we still need to investigate why backup templates are necessary in the first place

[2018-08-15 18:00] EricJizbaMSFT commented on #511
The download logic is controlled directly by npm. I recommend filing an issue here: https://npm.community/c/bugs

[2018-08-15 18:00] #511 closed

[2018-08-15 18:03] EricJizbaMSFT commented on #502
Offhand I'm not sure what settings we're trying to write while deploying. As @JohnReeson mentioned you can just open the folder as a workaround. However, we can investigate getting rid of this error completely

[2018-08-15 18:04] EricJizbaMSFT commented on #496
ping @asavaritayal was this just related to Python or also other languages?

[2018-08-15 18:07] EricJizbaMSFT commented on #493
@rricart can you give a little more info:
1. What type of project were you deploying?
1. Does this happen consistently?
1. Is there anything unique about internet connection? Proxies or vpns or anything like that

[2018-08-15 18:09] EricJizbaMSFT commented on #459
Closing due to lack of response. Feel free to re-open with more info

[2018-08-15 18:09] #459 closed

[2018-08-16 01:30] jigarrdesai opened #515 "Azurefunction extension"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.10.0
OS: darwin

[2018-08-16 01:48] lirenhe commented on #504
When creating a functions app in portal, we could choose from different hosting plan.
![image](https://user-images.githubusercontent.com/9100546/44182353-7e1da280-a0bb-11e8-9886-fd97b1e8ee47.png)
Some user may require higher service plan for more powerful CPU or larger memory.

[2018-08-16 07:59] jdneo opened #516 "Some of the annotation parameter value will be empty when add a new Java function"
For example, when the user wants to add a new EventHubTrigger function, he will be asked to fill the value of `consumerGroup`. In some cases, the user may enter `$Default`.

Then it will be parsed into a Maven command in the following command:
```mvn azure-functions:add -B "-Dfunctions.package=com.function" "-Dfunctions.name=EventHubTriggerJava3" "-Dfunctions.template=EventHubTrigger" "-Dconnectio

[2018-08-16 15:33] #505 closed

[2018-08-16 15:54] EricJizbaMSFT commented on #504
Sure there are some edge cases where users might want an App Service Plan, but Consumption Plan is the default and still the best option in most cases. In VS Code we really try to reduce the number of prompts and keep things lightweight. I'm hesitant to add a prompt for this unless we have a specific scenario or user evidence that it's needed. I suspect there aren't many users that need this and t

[2018-08-16 16:11] EricJizbaMSFT commented on #327
@alexgman `local.settings.json` is only used when developing on your local machine (see [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file) for more info). It is ignored in Azure and there is no equivalent `prod.settings.json`.

For the application settings in Azure, you can edit them in the portal as described here:

We also provide ways for you

[2018-08-16 16:28] EricJizbaMSFT commented on #214
@asavaritayal a few comments about your updated scenario above:

We try to avoid using the core tools in VS Code for everything except debugging. This is primarily because the func cli is just not designed to be used by tooling (see https://github.com/Azure/azure-functions-core-tools/issues/273 and https://github.com/Azure/azure-functions-core-tools/issues/272). As far as I can tell - it's almost

[2018-08-17 01:43] jdneo commented on #84
Finally, we addressed this issue by centralizing the templates metadata into the Maven plugin. And by triggering `mvn azure-functions:list`, it will provide all the templates and metadata, which can be consumed by VS Code extension.

@EricJizbaMSFT I think this issue can be closed for now?

[2018-08-17 02:28] jdneo opened #517 "Find out a way to better guide users if maven is not in path"
We got feedback that a lot of users get errors because that Maven is not in their environment path. Need to find a way for the users to better troubleshooting.

[2018-08-17 02:45] lirenhe commented on #504
We got some feedback from customers that the functions that created in Consumption plan are not started correctly, so they want to use other service plans which is more stable.  I understand your concern so is there any other workarounds?

[2018-08-17 12:43] jsacapdev opened #518 "Detected multiple processes running the Functions host"
Repro steps:
1. Create new project
2. Choose folder
3. Choose C#
4. Build (works as expected)
5. Choose create function
6. Choose folder
7. Choose HttpTrigger
8. Select default name <return>
9. Select default namespace <return>
10. Choose anonymous
11. Build (works as expected)
12. Run (F5)

[code]

Version: 0.10.0
OS: win32

[code]

[code]

[2018-08-17 16:25] EricJizbaMSFT commented on #84
Yep. Fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/487

[2018-08-17 16:25] #84 closed

[2018-08-17 16:31] EricJizbaMSFT commented on #504
I mean the workaround is to create the function app and plan in the portal or through the az cli

Have you discussed the customer feedback with the functions team? Do they have any known issues or plans to fix this?

[2018-08-19 09:01] JohnReeson commented on #502
![12](https://user-images.githubusercontent.com/35160013/44307129-69991d00-a3cf-11e8-9837-e02fa3fe17ee.png)

@EricJizbaMSFT  It seems to write azure-functions-related settings(in ~/.vscode/settings.json), same as when we initialize a new function project. Looks like any function related operation requires this workspace settings and we may get the prompt when no workspace is opened(no settings ava

[2018-08-19 18:35] chriswhinds opened #519 "Error Create Azure Function App project after installing the Azure Function Extensions to VS Code. V1.26"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Command "dotnet c:\Users\Chris Hinds\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.10.0\resources\dotnetJsonCli\Microsoft.TemplateEngine.JsonCli.dll --require c:\Users\Chris Hinds\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.10.0\resources\dotnetTemplates\i

[2018-08-20 11:09] pjenei opened #520 "Error: "The request cannot be interpreted as valid Json" when creating new storage account"
Repro steps:
- Follow the steps in https://code.visualstudio.com/tutorials/functions-extension/deploy-app
- Choose to create a new storage account while deploying.
- You get the error described below when it tries to create the storage account.

Action: azureFunctions.deploy
Error type: RequestIsNotValidJson
Error Message: The request cannot be interpreted as valid Json: {"sku":{"name":"Standard_L

[2018-08-20 16:04] EricJizbaMSFT commented on #483
Fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/501

[2018-08-20 16:04] #483 closed

[2018-08-21 18:45] asavaritayal commented on #214
@EricJizbaMSFT I'm okay with not using the core tools for `func new` but we're constantly iterating on `func init` and `func publish` for python. Not all of the functionality is located in the standalone `pack` module since we also offer options like `--build-native-deps` that are implemented in the core tools logic itself. Given that we've already tweaked the pack and publish gestures numerous ti

[2018-08-21 19:01] EricJizbaMSFT commented on #214
Any plans on fixing those bugs I mentioned? Again - those are the primary thing blocking us from leveraging the func core tools more.

[2018-08-22 04:57] asavaritayal commented on #214
One of them is now fixed. I'll discuss the other one @ahmelsayed tomorrow.

[2018-08-22 15:36] EricJizbaMSFT commented on #214
Awesome - definitely helpful thanks.

I'm still struggling to understand all the implications of using `func publish` though. Is it like ["dotnet publish"](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21) which "Packs the application and its dependencies into a folder for deployment to a hosting system."? Or does it actually deploy?

Secondly - how would local git

[2018-08-22 17:12] ColbyTresness opened #521 "Bad error message?"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.startFunctionApp
Error type: object
Error Message: {"key":"1","value":{"_creator":null,"_nextState":null,"_state":{"name":"error","done":null,"then":null},"_value":{},"_listeners":null,"_isException":false,"_errorId":3}}

Version: 0.10.0
OS: win32

[2018-08-22 17:13] ColbyTresness commented on #521
Repro: Create new function app, create new function, start functions host

[2018-08-22 17:49] EricJizbaMSFT commented on #515
@jigarrdesai a few questions:
1. Does this happen consistently for you or does it work if you deploy again?
1. Can you copy the deployment logs?
1. Can you give more detailed repro steps?

Thanks

[2018-08-22 17:54] EricJizbaMSFT commented on #438
Fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/478

See [here](https://github.com/Microsoft/vscode-azurefunctions/blob/master/docs/debugConfig.md) for more info

[2018-08-22 17:54] #438 closed

[2018-08-22 19:06] ColbyTresness opened #522 "Subscription not listing relevant function apps"
Whenever I try to deploy a function app to one of my subscriptions in Azure, the subscription hangs for a bit before displaying "Error: cannot read property 'name' of undefined" rather than listing my function apps.

[2018-08-23 22:14] ciwchris commented on #493
I consistently get this when trying to deploy an Azure Function. I am in a network which uses a proxy server which man in the the middles all traffic and uses a self sign certificate internally. Is there a way to supply a new certificate chain for this VS Code extension to use so that it recognizes the self signed certificate?

[2018-08-23 22:17] EricJizbaMSFT commented on #514
@kgoderis can you give us some more information on this? For example:
1. Does it happen consistently for you?
1. Is it only QueueTrigger that has the problem?
1. Did it ever work for you or was this the first time?

[2018-08-23 22:26] EricJizbaMSFT commented on #520
Looks like there was some problem with storage accounts in Azure's westeurope region a few days ago. Here's a few of the related issues I found:
* https://github.com/terraform-providers/terraform-provider-azurerm/issues/1796
* https://github.com/hashicorp/terraform/issues/18715
* https://github.com/SAFE-Stack/SAFE-template/issues/145

I was successfully able to create a storage account in westeuro

[2018-08-23 22:26] #520 closed

[2018-08-23 22:36] EricJizbaMSFT commented on #518
@jsacapdev does this happen consistently for you? And to be clear - you're not running `func host start` outside of VS Code, correct? We run it inside VS Code, so you shouldn't have to run it yourself.

Can you follow these steps:
1. Start debugging
1. Run `wmic process get "CommandLine,Name,ProcessId" "/FORMAT:csv"` in PowerShell to list all processes
1. Search for 'func' or 'AzureFunctions' and

[2018-08-23 23:03] EricJizbaMSFT commented on #493
@ciwchris I believe we would have to add support for the following settings to support proxies:
`http.proxy`
`http.proxyStrictSSL`
`http.proxyAuthorization`

You can try these instructions (if you haven't already), but I don't think it works for extensions: https://code.visualstudio.com/docs/setup/network#_proxy-server-support due to this issue: https://github.com/Microsoft/vscode/issues/12588

Le

[2018-08-24 07:33] asavaritayal commented on #214
`func azure functionapp publish` for Python primary does two things -
1. Creates a virtual environment and installs the required Linux based dependencies to this environment
2. Packages up the function app and virtual environment to deploy to Seabreeze (Functions on Linux)

Currently, we don't have support for local git deploy (kudu) for Functions on Linux but we are going to provide a sample Trav

[2018-08-24 10:53] raymondlittle100 opened #527 "Create PowerShell azure functions"
I'm trying to use this but ideally I would like to create a PowerShell function, however this doesn't seem to be an option. I know this is classed as experimental in Azure Functions but wondered if there were plans to support this?

[2018-08-24 13:55] jsacapdev commented on #518
Yes, it happens consistently. I tried it several times before submitting the issue, once in between in case it had been fixed and once again just now to get the info you requested.

I am not running `func host start` outside of VSCode. I am running it inside of VSCode by starting debugging (`F5`).

The info you requested is below (truncated):

[code]

Is this what you mean by the version of the cl

[2018-08-24 16:34] EricJizbaMSFT commented on #518
Thanks that info is very helpful. I'm able to reproduce on my machine if I install the func cli with choco. As a workaround, you can uninstall the func cli and re-install it using npm:
[code]

@asavaritayal @ahmelsayed Any idea why `func host start` runs multiple `func` processes if installed with choco, but not npm? See @jsacapdev's comment immediately above for more info

[2018-08-24 16:57] EricJizbaMSFT commented on #527
We have limited support for this right now. You can follow these steps:
1. Change the "azureFunctions.projectLanguage" user setting to "PowerShell"
1. Create a new project
1. Create a new function (I believe we only have 3 function templates available and only if you're using v1 of the functions runtime)
1. From the command palette (View -> Command Palette...), select 'Tasks: Run Task' and then 'R

[2018-08-24 17:17] EricJizbaMSFT commented on #214
I'm still confused. Does it just package it up - or does it also deploy? I'm hoping we can have some way that _just_ packages it without deploying. Users are already logged in to Azure through VS Code and we don't want to force them to log in to the func cli as well. This is how we do it for C# functions (We run a `dotnet publish` which packages everything up _as if_ you were deploying, but then w

[2018-08-24 18:50] #521 closed

[2018-08-24 20:09] timmyreilly commented on #180
Is this working now?

[2018-08-24 20:41] ahmelsayed commented on #518
unlike npm, which creates a wrapper `.cmd`

[2018-08-24 20:48] ahmelsayed commented on #214
`func azure functionapp publish` will package it and publishes it.

[`func pack`](https://github.com/Azure/azure-functions-core-tools/blob/master/src/Azure.Functions.Cli/Actions/LocalActions/PackAction.cs) will create a package for you that you can then publish some other way.

The command doesn't show up in help now because I wasn't too sure about its final shape. But the options it takes are:

[

[2018-08-24 21:06] EricJizbaMSFT commented on #214
@ahmelsayed when you're using "publish" above to describe what something does, I assume you mean publish **_to Azure_**? Just trying to be extra careful because `dotnet publish` always publishes to a folder on the local file system and has nothing to do with Azure or any cloud

Assuming that's what you mean, it sounds like `func pack` is what we want. Is that finalized yet? Is it safe for us to re

[2018-08-24 21:13] ahmelsayed commented on #214
yes, your understanding is correct.

My only reservation about `func pack` as a command is possible confusion with https://github.com/Azure/azure-functions-pack I'm open to input about it

[2018-08-24 22:56] EricJizbaMSFT commented on #214
It seems like the python stuff and the nodejs stuff are doing similar things (creating a ready-to-run function app) so it makes sense that the naming is similar. I guess the only confusing part is why python is directly in the func cli and nodejs is in it's own cli. Is there some reason why funcpack is it's own separate cli? Why wasn't that added as a pack command to the func cli in the first plac

[2018-08-27 08:34] raymondlittle100 commented on #527
Great thanks I'll give it a try

[2018-08-27 08:34] #527 closed

[2018-08-27 20:37] #495 closed

[2018-08-27 23:38] timmyreilly opened #529 "Best way to establish output bindings? Is best practice to edit the /bin folder?"
I want to add an output binding to Cosmos DB for local testing. What's the best way to add the configuration for output bindings? Do I just edit the JSON file in the /bin directory? Or is there a file that I'm not seeing that has configuration?

[2018-08-28 18:31] ciwchris commented on #493
Thanks. I experimented with a few different settings without success.

[2018-08-28 19:04] EricJizbaMSFT commented on #180
@timmyreilly no it's still not working. We prioritized C# Class libraries over C# Scripts, so I'm not sure if/when we'll get to this.

[2018-08-29 17:49] timmyreilly opened #534 "C# debugging fails after fixing a build break"
Repro steps:
<Enter steps to reproduce issue>
Create a new project.
Introduce an error.
Start Debugging.
Fix Error.
Start Debugging Again.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.10.0
OS: win32

[2018-08-29 20:54] nturinski opened #535 "Refactor validateFuncCoreToolsInstalled logic"
`UserCancelledErrors` get suppressed and there's no way to discern whether the user canceled.

[2018-08-29 21:10] EricJizbaMSFT commented on #496
Closing this unless we get more info. We're using func core tools for `func init` and `func pack` in the python scenario, which is what I think @asavaritayal was most concerned about anyways.

[2018-08-29 21:10] #496 closed

[2018-08-30 12:35] JohnReeson opened #537 "C# function missing AzureFunctionsVersion in .csproj file"
When I create new project and choose c#, .csproj is generated automatically. However, it lacks AzureFunctionsVersion. See it in both v1 and v2 function.

![3](https://user-images.githubusercontent.com/35160013/44851390-bbc12480-ac92-11e8-871f-8a7233615376.png)

Version 0.10.0
VS Code: 1.26.1

[2018-08-30 15:17] #516 closed

[2018-08-30 17:00] EricJizbaMSFT commented on #537
@JohnReeson thanks for filing! Looks like that was added in June and I just wasn't aware of it

[2018-08-30 17:43] #537 closed

[2018-08-30 17:53] #519 closed

[2018-08-30 18:54] jeffhollan commented on #382
HTTP is the most popular for active or inactive. For active the most popular are queues and event hubs.

The reason it's not needed for C# projects is that what `func extensions install` is doing is creating a project and defining the dependencies so the right binaries get pulled into the project.  With C# you already have a project file that already has those dependencies listed in it for it to w

[2018-08-30 19:04] EricJizbaMSFT commented on #382
Ah makes sense for C#.

In any case - is is possible to have the "no-op" for http-only projects?

[2018-08-30 19:11] soninaren commented on #382
It is already a no-op for http-only projects. http trigger doesn't require extension installation. So for http-only project cli will end finding nothing to install. i can double check this and optimize this experience.

[2018-08-30 19:12] jeffhollan commented on #382
I think that makes sense - but note that an HTTP function that uses like a CosmosDB output binding would still need the extension.  That said I expect those smarts would need to be in the tooling - not sure what the cli would know about it

[2018-08-30 19:28] jeffhollan commented on #382
Yep makes sense.  Spoke to @soninaren and he mentioned he can make update in next CLI so if only bindings being used are HTTP or Timer it won't touch or change anything on the project

[2018-08-30 19:36] EricJizbaMSFT commented on #382
Perfect thanks. Is there an issue to track that work?

Just to confirm - this is required before deploying as well?

[2018-08-30 19:36] jeffhollan commented on #382
Yes likely safest to run before deploying.  @soninaren can you create an issue on the core tools repo and link?

[2018-08-30 20:18] nturinski opened #542 "Python Project Creation Testing"
Temporarily removed because have Python is a requirement for creating Python projects.  Need to figure out how to get Python installed onto our Travis machine.

[2018-08-30 21:31] nturinski opened #543 "Python Launch json type"
Currently, the Python extension launches Windows with type: python and MacOS with type: pythonExperimental.  This will likely change when the extension releases.

[2018-08-30 21:33] nturinski opened #544 "Python testing on Linux environment"
Assumptions are being made about Linux and OSX behaving the same.

[2018-08-31 00:01] nturinski commented on #544
Additional test to run before release:

[2018-08-31 06:27] mathursharp opened #545 "VSCode deploy to azure function in app service plan giving error"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.deploy
Error type: Error
Error Message: ﻿<!DOCTYPE html>
<html>
<head>
    <title>Microsoft Azure Web App - Error 404</title>
    <style type="text/css">
        html {
            height: 100%;
            width: 100%;
        }

        #feature {
            width: 960px;
            margin: 75px auto 0 auto;
            over

[2018-08-31 14:27] selfup opened #546 "Run From Package to lower startup times?"
_(Please check the edit at the bottom, I skipped over the fact that functions core tools use the zip api)_

***

Using npm is great, but apparently all files go to blobs. And many blobs are slow 🐢

Now that deploying with zips is a thing :rocket: 📦 I am interested in knowing if we can make this an option in the GUI or as some json config?

https://docs.microsoft.com/en-us/azure/azure-functions/dep

[2018-08-31 17:05] EricJizbaMSFT opened #547 "Update backup templates before release"
Since the last release of the func cli had breaking changes, just filing an issue to make extra sure we remember to update the backup templates

[2018-08-31 17:32] thetre97 commented on #417
Just a note to say I also had this issue, and the above solutions worked.
The Cosmos DB extension also showed the same error message.

[2018-08-31 17:44] EricJizbaMSFT commented on #417
This was fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/536 and will be included in the next update

Until then, please use the workarounds listed above - thanks for the help with that

[2018-08-31 17:44] #417 closed

[2018-08-31 18:01] thetre97 commented on #417
Great, thanks :+1:

[2018-08-31 18:08] EricJizbaMSFT commented on #417
@thetre97 that being said, I was only able to repro this in the app service and functions extension. Even with a new subscription, I couldn't repro with Cosmos. Please file an issue here if you can still repro that: https://github.com/Microsoft/vscode-cosmosdb/issues

[2018-08-31 19:17] EricJizbaMSFT commented on #382
@jeffhollan what about local git deploy? Do users need to check the "extensions.csproj" files in to git? and will a `dotnet restore` be handled for them?

[2018-08-31 19:28] polarapfel opened #548 "VS Code Azure Functions extensions warns to update to Core Tools 2.0.1-beta.37 even though the Ubuntu 18.04 PPA has no such version"
The Azure Functions extension for VS Code warns:

However, there is no such version in the Ubuntu 18.04 PPA (yet), the latest version published is still 2.0.1-beta.35.

[2018-08-31 19:39] jeffhollan commented on #382
Yes extensions.csproj should be checked into git as it would ensure other developers are working with the same version of the extension.  running `func extensions install` and `func extensions sync` after GA will honor existing project and restore the version they initially created with.  there would be another gesture to update extensions once / when that occurs

[2018-08-31 19:39] jeffhollan commented on #382
The bin/ folder that is generated SHOULD NOT be checked into source control - would be same as package.json vs node_modules folders

[2018-08-31 19:42] selfup commented on #546
Thanks for the detailed reply. Ok so just a bit more time 😄

Yea I guess I meant `Run from package`. Thanks! 👍

I'll change the title so it's a bit more clear 🙏

[2018-08-31 19:52] EricJizbaMSFT commented on #382
Okay thanks. As as side point, though - I wasn't aware of `func extensions sync` - should we be running that for the user as well? Before debug and/or deploy? Not sure about the difference between 'install' and 'sync'

[2018-08-31 19:56] jeffhollan commented on #382
Today in preview, `install` will add missing extensions, upgrade existing, or install defined extensions.  `sync` today will only install what is defined (won't add missing or upgrade).  **however** when we GA we will remove the auto-upgrade behavior of install.  So I think for you, just using install is best and very possible we may deprecate `sync` as only difference could be it won't add missin

[2018-08-31 21:48] nturinski opened #550 "Python: Support existing virtual environments?"
This issue is to open the discussion for the scenario where a user would like to use their pre-existing virtual environment for a new Python Functions Project.

We don't quite understand how users use `venv`, especially in the case for Functions.  Futhermore, we don't know if it makes sense for the user to Browse to the root of the `venv` folder or to the `activate` script that is used to enable t

[2018-08-31 21:51] #214 closed

[2018-08-31 22:25] #382 closed

[2018-08-31 22:32] soninaren commented on #382
Created an issue on core-tools to make sure `func extensions install` is a no-op
https://github.com/Azure/azure-functions-core-tools/issues/688

[2018-09-03 20:37] ScoutmanPt opened #552 "Error exporting Remote Settings from VsCode"
Action: azureFunctions.appSettings.download
Error type: SyntaxError
Error Message: Unexpected token / in JSON at position 284

Version: 0.10.0
OS: win32

[2018-09-04 03:12] ZhengJun003 opened #553 "Can't debug java functions locally"
Configuration
[code]
Reproduce steps:
1. Create a java function project
2. Set a break point and press F5 to debug java function locally

Result:
Debug failed,
![image](https://user-images.githubusercontent.com/41051257/45007950-a7827c00-b032-11e8-986d-1bc67ec556a7.png)

Expect:
![image](https://user-images.githubusercontent.com/41051257/45007964-c41eb400-b032-11e8-972b-bbe8767d3aab.png)

Investig

[2018-09-04 07:52] trydis opened #554 "Can't debug Javascript functions locally"
OS: macOS 10.13.6
VS Code: 1.26.1
Node: 8.9.3
Azure Functions Core Tools: 2.0.1-beta.37

![image](https://user-images.githubusercontent.com/446036/45017556-26be8280-b028-11e8-95dc-eb868335ceeb.png)

Created using `func init` and `func new`.

Similar to #553.

[2018-09-04 10:13] ZhengJun003 opened #555 "Can't deploy the third function extension connection string to cloud"
Configuration:

[code]
Reproduce steps:

1. Create a java function project
2. Add a java function, e.g.ServiceBusQueueTrigger
3. Add the service bus connection string in the pom file shown as below:
![image](https://user-images.githubusercontent.com/41051257/45025467-277a0780-b06e-11e8-8cd8-5e3f341138ab.png)

4. Deploy to a new function app

Result:
The connection string of service bus in pom file

[2018-09-04 12:39] DotNetNerd opened #556 "When I try to deploy I get this error, which is really not much help"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.deploy
Error type: object
Error Message: {"key":"1","value":{"_creator":null,"_nextState":null,"_state":{"name":"error","done":null,"then":null},"_value":{},"_listeners":null,"_isException":false,"_errorId":2}}

Version: 0.10.0
OS: win32

[2018-09-04 16:07] fiveisprime opened #557 "Error deleting a function app on Azure."
Repro steps:
Created an empty Function app then deleted it shortly after. Never deployed to the app.

Action: azureFunctions.deleteFunctionApp
Error type: TypeError
Error Message: Cannot read property 'numberOfSites' of null

Version: 0.10.0
OS: win32

[2018-09-04 16:39] EricJizbaMSFT commented on #557
Fixed by https://github.com/Microsoft/vscode-azuretools/pull/230 and will be included in the next release. See this comment in particular: https://github.com/Microsoft/vscode-azuretools/pull/230#discussion_r207372465

[2018-09-04 16:39] #557 closed

[2018-09-04 16:41] EricJizbaMSFT commented on #556
Fixed in https://github.com/Microsoft/vscode-azuretools/pull/240 and will be included in the next release

[2018-09-04 16:41] #556 closed

[2018-09-04 17:34] EricJizbaMSFT commented on #436
Hey all - sorry for the delay, but I've completely refactored this and I'm hoping to get your help testing if you have time (and if you never got this working for yourself).

Please install the following vsix leveraging the "Install from VSIX" command in VS Code's command palette:
![screen shot 2018-09-04 at 10 28 44 am](https://user-images.githubusercontent.com/11282622/45047234-53c16400-b02d-11e

[2018-09-04 17:36] EricJizbaMSFT commented on #437
Hey all - sorry for the delay, but I've completely refactored this and I'm hoping to get your help testing if you have time (and if you never got this working for yourself).

Please install the following vsix leveraging the "Install from VSIX" command in VS Code's command palette:
![screen shot 2018-09-04 at 10 28 44 am](https://user-images.githubusercontent.com/11282622/45047234-53c16400-b02d-11e

[2018-09-04 17:37] EricJizbaMSFT commented on #534
Does this consistently happen for you? I just refactored this and I'm hoping to get your help testing if you have time (and if you never got this working for yourself).

Please install the following vsix leveraging the "Install from VSIX" command in VS Code's command palette:
![screen shot 2018-09-04 at 10 28 44 am](https://user-images.githubusercontent.com/11282622/45047234-53c16400-b02d-11e8-93d

[2018-09-04 17:52] EricJizbaMSFT commented on #518
I submitted a PR that has a fix for this. However, VS Code can only debug 64 bit processes (See https://github.com/OmniSharp/omnisharp-vscode/issues/1716) and as of now Choco only has a 32 bit version of the cli. Once my fix is released you will see this error when you debug:

![screen shot 2018-09-04 at 10 51 58 am](https://user-images.githubusercontent.com/11282622/45048362-8fa9f880-b030-11e8-8c

[2018-09-05 01:11] StephenWeatherford opened #560 "Error "{}" trying to create function app in Azure"
Repro steps:
Right-click on a subscription -> Create Function App in Azure...
!) error

Action: azureFunctions.createFunctionApp
Error type: RangeError
Error Message: {}

Version: 0.10.0
OS: win32

[2018-09-05 02:58] bsaby commented on #555
The connection string can be added to application settings manually, so close it.
![image](https://user-images.githubusercontent.com/22470312/45068560-9ef57880-b0fa-11e8-8bf0-0c46c63a2903.png)

[2018-09-05 03:01] #555 closed

[2018-09-05 07:08] Flanker32 commented on #553
It may related to some problems in azure functions core tools,(https://github.com/Azure/azure-functions-core-tools/issues/692) and we are trying to fix it.

[2018-09-05 16:25] emrekenci opened #561 "Azure Functions extension doesn't create function.json and debugging doesn't work for java functions"
Issue Type: <b>Bug</b>

On windows 10, install latest versions of jdk, maven, vscode, vs code azure functions extension.

Click create new project in the functions extension, choose an empty folder, choose java.

In the resulting project structure, there has to be a function.json file that is required for azure functions but it's not created.

Then click debug, it fails. ""C:\works\event-hubs-to-c

[2018-09-05 16:26] EricJizbaMSFT commented on #560
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/480

[2018-09-05 16:26] #560 closed

[2018-09-05 17:15] #547 closed

[2018-09-05 17:45] EricJizbaMSFT commented on #561
@jdneo @Flanker32

[2018-09-05 17:57] EricJizbaMSFT commented on #548
We check npm to see what the latest version is since npm is the only install method that's available on all OS's. You're welcome to install with npm if you want to be on the latest or turn the warning off with "Don't warn again".

The only fix I can see is to check every different install method and base the warning on that, but I'm not sure that's worth investing in. Ideally the functions cli rel

[2018-09-05 17:59] EricJizbaMSFT commented on #546
Closing this since we all ready have an issue to track "Run from package"

[2018-09-05 17:59] #546 closed

[2018-09-05 18:01] EricJizbaMSFT commented on #545
Can you give a little more info:
- Does this consistently reproduce for you?
- Was this a brand new wep app?
- Are you using a custom domain?

[2018-09-05 18:05] EricJizbaMSFT commented on #550
Holding off on this until we hear from customers

[2018-09-05 18:35] #436 closed

[2018-09-05 18:35] #437 closed

[2018-09-05 18:35] #518 closed

[2018-09-05 19:02] EricJizbaMSFT commented on #554
@trydis what version of the functions extension for VS Code do you have? Can you copy your `.vscode\tasks.json` and `.vscode\launch.json` here?

This isn't reproducing for me, but we did make some fixes related to JavaScript debugging in the release a little over a month ago: https://github.com/Microsoft/vscode-azurefunctions/releases/tag/v0.10.0

[2018-09-05 20:53] asavaritayal opened #562 "Change runtime version from 'beta' to '~2'"
For v2 runtime GA, change `beta` to `~2` in the runtime selection dropdown.

/cc @fiveisprime @jeffhollan

[2018-09-05 21:05] fiveisprime opened #563 "Change npm install command to use latest tag"
As part of GA, v2 will be moved to latest so we'll need to remove the core tag from the npm install command when installing the functions tools.

[2018-09-05 22:08] trydis commented on #554
Extension: 0.10.0

tasks.json
[code]
launch.json
[code]

[2018-09-06 01:16] #471 closed

[2018-09-06 01:31] cecilphillip opened #565 "Create/Deploy Docker project"
I'd love the option to create a docker project (func init --docker) and then publish to ACR or Docker Hub

[2018-09-06 01:46] Flanker32 commented on #561
@emrekenci
Our function extension doesn't support jdk 10 yet, please use jdk8 and try again.

[2018-09-06 02:30] StephenWeatherford commented on #562
@EricJizbaMSFT

[2018-09-06 07:00] emrekenci commented on #561
I am using 8. My version is "1.8.0_181". "latest java" was wrong, edited the issue.

[2018-09-06 07:59] trydis commented on #554
Switched versions using Homebrew and did `func init` + `func new` each time.

* `2.0.1-beta.34` did not work
* `2.0.1-beta.28` did work and the debugger attached.

[2018-09-06 08:07] emrekenci commented on #561
After trying to run a java function with cmd line build commands, I found out that the issue was related to my configuration. I had to manually set the JAVA_HOME env. variable. The function.json file is being generated after the build.

[2018-09-06 08:07] #561 closed

[2018-09-06 10:52] v-xuanzh opened #566 "[Linux]Fail to debug a function project with JavaScript"
Repro Steps:
1. Create a new project using JavaScript.
2. Create a new function and add Httptrigger.
3. Set a breakpoint in the opened index.js file.
4. Debug.

Expect:
Succeed to debug.

Actual:
Fail to debug the functin project with the below error.
![error](https://user-images.githubusercontent.com/34729022/45152517-c3b42380-b1c0-11e8-9a5a-25deddfe6f5e.png)
[log_message.txt](https://github.com/

[2018-09-06 10:55] v-dantch opened #567 "Fail to display the object result after deploying to function app"
Repro Steps:
1. Create a new project with C#.
2. Create a new function with HTTP trigger.
3. Debug the .CS file.
4. Click 'Deploy to Function App...' to deploy the file to function app.
5. Copy the function URL and check the result.

Expect:
The object result displays well.

Actual:
The object result does not diaplay.
![actual](https://user-images.githubusercontent.com/34729092/45152433-818ae200-b

[2018-09-06 15:37] EricJizbaMSFT commented on #554
Hmm your launch/task files look fine. Can you post the log from the `func host start` command? This will be shown in the 'terminal' window after you F5

The functions team completely refactored stuff behind the scenes between beta.28 and beta.34 so I'm not surprised you see different behavior.

[2018-09-06 16:15] EricJizbaMSFT commented on #562
Thanks for the ping @StephenWeatherford - but just FYI to @asavaritayal: We've discussed this process before and the most important thing is that you create an issue _in our repo_. Thank you for doing that in this case :)

I can think of too many times when people missed an email or pinged the wrong person, but I can't think of any instance where an issues filed on GitHub (in the correct repo) was

[2018-09-06 17:29] EricJizbaMSFT commented on #566
Yeah so your error in log_message is very similar to the error here: https://github.com/Azure/azure-functions-core-tools/issues/562

Closing as this was fixed a month or two ago in the func cli. Please re-open if it still repros after updating the func cli (I think you need at least version 2.0.1-beta.34)

[2018-09-06 21:13] EricJizbaMSFT commented on #567
Thanks - nice catch.

I looked into this more and it reproduces for all project languages. It's only an issue if the function is _not_ anonymous. I guess we have to update our logic when getting the keys.

Here is the relevant excerpt from the [breaking change announcement](https://github.com/Azure/app-service-announcements/issues/129):

[2018-09-06 21:41] nturinski opened #568 "`func extensions install` on Windows"
Before running `func start host`, `func extensions install` is run, but I get this error:

![image](https://user-images.githubusercontent.com/5290572/45186592-e0615300-b1e2-11e8-92f8-1e5481fb44a1.png)

It doesn't seem to affect the function trigger from debugging locally.  This was a JS project.

[2018-09-07 01:49] Flanker32 commented on #553
The problem was fixed, please update the function core tools to 2.0.1-beta.38

[2018-09-07 02:20] yvrkarthik opened #572 "Error when trying to create a C# azure functions in vscode"
Repro steps:
1. Start and Create a function
2.  Select C# as the prefered language
3. An error pops up as shown below

![image](https://user-images.githubusercontent.com/1669197/45194887-24b72680-b2a9-11e8-8e82-1982b8401bda.png)

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Command "dotnet c:\Users\Rajiv\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.10.0\reso

[2018-09-07 07:41] ZhengJun003 commented on #553
Update the function core tools to 2.0.1-beta.38, can debug java functions locally, so close it.

[2018-09-07 07:41] #553 closed

[2018-09-07 08:52] trydis commented on #554
After switching back to `2.0.1-beta.37` it behaves differently. Now I don't get the timeout error, but I get a 404 when making a request to the function and the breakpoint is "unverified" in VS Code.

[code]

[2018-09-07 16:30] EricJizbaMSFT commented on #554
Well it looks like "--inspect=5858" isn't being passed to the node process like it should be.

This is what that lines looks like for me:
[code]

Can you take a look at this doc? The breaking changes in the cli required us to pass "--inspect=5858" somehow and there's a couple way to do it. Your current launch configuration is the first way, but maybe the second option will work for you: https://gi

[2018-09-07 19:08] trydis commented on #554
Figured out why it wasn't behaving the same when i switched back to beta 37. The process from beta 28 was still running in the background, so the port was already in use. Once i killed that and passed the `--language-worker` parameter, it worked. Thanks 👍

[2018-09-07 19:08] #554 closed

[2018-09-07 22:55] timmyreilly commented on #534
Shucks just saw this, will give it a shot meow.

[2018-09-07 23:08] EricJizbaMSFT commented on #534
Yeah we went ahead and published an update to the vsix a few hours ago. You don't need to install the vsix from above - you can just use the version from the marketplace (0.10.1)

[2018-09-10 15:33] EricJizbaMSFT commented on #534
I took a closer look at these repro steps (should've done that before) and even though the underlying code is completely different, your scenario still has issues 😬 Re-opening and I hope to have addressed soon

[2018-09-10 17:33] EricJizbaMSFT commented on #572
@yvrkarthik we just released an update last Friday. Can you make sure you're up to date (at least v0.9.1) and try again?

If it still happens, can you copy the output from the "Azure Functions" output channel? Hopefully that has more information than just the error code

[2018-09-10 17:44] EricJizbaMSFT commented on #562
@asavaritayal we check the user's remote runtime version when deploying and I vaguely remember we would get "latest" returned sometimes. Is that still a valid version setting? If so - what will it mean going forward? ~1 or ~2?

[2018-09-10 18:44] #534 closed

[2018-09-10 18:46] timmyreilly commented on #529
Cool, so the binding should go in the function. Do you think you could qualify why I should use output bindings for CosmosDB instead of just speaking directly to the Cosmos Library? eg: Microsoft.Azure.Documents.Client

[2018-09-10 21:45] jeffhollan commented on #562
@paulbatum

I believe `latest` is still a valid setting though one that will go through a bit of a shift.  `latest` today is synonymous with ~1, but once ~2 becomes GA `latest` will then be ~2.  We actually need to alert users of this setting and generally don't recommend any version numbers that aren't more specific.

`beta` is another value that will be very common.  It today is same as ~2.  I s

[2018-09-10 22:31] EricJizbaMSFT commented on #567
Tracking issue here on the functions repo: https://github.com/Azure/azure-functions-host/issues/3411

Still waiting to see what the recommended method is for getting these keys

[2018-09-10 23:14] EricJizbaMSFT commented on #534
Just published an update. Thanks for reporting and should be working now

[2018-09-11 00:58] peterbecker opened #576 "Can not publish Azure Function from VSCode due to certificate issue"
Whenever I try to deploy an Azure Function from Visual Studio Code, I end up with an error "unable to get local issuer certificate". I am reasonably confident this is a result of our corporate network performing man-in-the-middle attacks on itself by using [Forcepoint](https://en.wikipedia.org/wiki/Forcepoint).

My problem is that it is not clear what tool is actually having the problem, and in co

[2018-09-11 17:35] EricJizbaMSFT commented on #576
Yeah so this scenario is not supported at the moment. We have an issue on our backlog here to track: https://github.com/Microsoft/vscode-azurefunctions/issues/493

There are some existing VS Code settings that we just need to add support for:
`http.proxy`
`http.proxyStrictSSL`
`http.proxyAuthorization`

Closing this as dupe - but feel free to re-open if you think your scenario is different than th

[2018-09-11 17:35] #576 closed

[2018-09-12 17:41] EricJizbaMSFT commented on #568
@nturinski says to close this

[2018-09-12 17:41] #568 closed

[2018-09-12 17:45] #548 closed

[2018-09-12 17:46] EricJizbaMSFT commented on #529
@jeffhollan thoughts on @timmyreilly's question?

[2018-09-12 17:50] EricJizbaMSFT commented on #284
Linux support was added here: https://github.com/Microsoft/vscode-azurefunctions/pull/574

Only thing left to do is default Windows apps to use run from package since it just GA'ed

[2018-09-12 17:54] EricJizbaMSFT commented on #482
Only thing left on this is to support this when creating function apps

[2018-09-12 17:57] EricJizbaMSFT commented on #513
Closing this as it's not very common and backup templates are already merged.

[2018-09-12 17:57] #513 closed

[2018-09-12 18:15] EricJizbaMSFT commented on #498
We refactored log stream in this PR: https://github.com/Microsoft/vscode-azuretools/pull/245

Hopefully that fixed it, but re-open if it didn't

[2018-09-12 18:15] #498 closed

[2018-09-12 22:03] EricJizbaMSFT commented on #563
Going forward it should be 'latest' for 'v2' and 'v1' for 'v1' per mr matt

[2018-09-12 22:08] EricJizbaMSFT commented on #456
@peterblazejewicz we switched from kudu apis to ARM apis in this PR: https://github.com/Microsoft/vscode-azurefunctions/pull/577. I'm hoping that fixes you, but I couldn't repro your problem to test for sure. You can run "Install from VSIX..." from the command palette with this vsix to try it out: https://azcode.blob.core.windows.net/vscode-azurefunctions/master/1716/vscode-azurefunctions-0.10.3-a

[2018-09-12 22:08] #456 closed

[2018-09-12 22:11] #562 closed

[2018-09-12 22:16] #543 closed

[2018-09-12 22:43] EricJizbaMSFT opened #583 "New python project should have empty AzureWebJobsStorage on Mac"
In local.settings.json, I see this after creating a Python project:
"AzureWebJobsStorage": "{AzureWebJobsStorage}",

But I get errors like this:
[code]

Maybe it's trying to use the local storage emulator? Which doesn't work on non-windows... Anyways, it works if I change it to a connection string.

[2018-09-12 22:47] EricJizbaMSFT opened #584 "Python projects need to run `func extensions install` before debugging"
I see this for blob triggers unless I run `func extensions install`
[code]

@asavaritayal is this right? Should we be running `func extensions install`?

[2018-09-13 00:53] nturinski opened #587 "Create Linux Consumption asp for Python functions development"
Python functions relies on Linux Consumption plans to run so we should create that for the user if we detect their project is Python.

[2018-09-13 01:39] asavaritayal commented on #584
Correct, this applies to all function apps running on V2. Any bindings other than HTTP and timer will require a `func extensions install` before debugging.

[2018-09-13 01:45] EricJizbaMSFT commented on #584
My understanding was this wasn't required for C# or Java function apps. Only JavaScript - and apparently also Python.

For Python, do we need to run this before debug _and_ deploy? Or will `func pack` take care of the deploy scenario for us?

[2018-09-13 01:46] #584 closed

[2018-09-13 01:50] EricJizbaMSFT opened #589 "Add log stream support for linux consumption apps"
They don't have kudu, so log streaming currently isn't working

[2018-09-13 01:50] EricJizbaMSFT commented on #482
Create will be tracked in this issue: https://github.com/Microsoft/vscode-azurefunctions/issues/587
Log stream will be tracked here: https://github.com/Microsoft/vscode-azurefunctions/issues/589

The other work was fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/574 and https://github.com/Microsoft/vscode-azurefunctions/pull/577

[2018-09-13 01:50] #482 closed

[2018-09-13 07:16] natasher opened #590 "mn"

[2018-09-13 07:24] asavaritayal opened #591 "Throw error if the user is trying to create a function using python 3.7"
Python 3.7 is not yet supported for Azure Functions.

[2018-09-13 09:17] natasher commented on #590
created by mistake.

[2018-09-13 09:17] #590 closed

[2018-09-13 15:08] EricJizbaMSFT opened #592 "Remove delay after creating python project"
@asavaritayal:

I feel like using long-running notifications will help with this.

[2018-09-13 15:13] EricJizbaMSFT opened #593 "Improve the journey for creating a function project and function"
@jinglouMSFT has said this many times and @asavaritayal also brought it up:

If we prompt to create a function immediately after creating a project that might help, but arguably wouldn't solve the root problem. Needs further discussion

[2018-09-13 15:16] EricJizbaMSFT commented on #591
@asavaritayal I'm reluctant to hard-code a max version in our extension since (I assume) you will eventually support 3.7. At that point, we would have to ship an update just to unblock 3.7 users.

The func cli will have some of it's own error handling around this, right? That might be enough...

[2018-09-13 15:18] EricJizbaMSFT opened #594 "Python 3.6 error message is misleading"
People can use a lot of different aliases and if they're using an unrecognized alias they will see this error:
![image](https://user-images.githubusercontent.com/11282622/45497771-6c1c3780-b72d-11e8-856f-4808ce137584.png)

Which is a little misleading because it makes it seem like the _version_ is the problem, rather than the failure to find the alias on the path.

Additionally, we might want to p

[2018-09-13 15:40] asavaritayal commented on #594
By the way, we're doing a double check here. The `func init` command already verifies whether you're running in a python 3.6 virtual environment or not.

If we still want to go ahead and have a check upfront, IMO it's ok to only validate only `python3` and `python` in that order. We don't need to cater to custom aliases.

[2018-09-13 16:46] #499 closed

[2018-09-14 03:11] Eric-Fang commented on #414
Need to open a workspace to avoid this problem.

[2018-09-14 12:27] julielerman opened #602 "Extension says its v 0.8.1 after installing 0.10.2"
![2018-09-14_08-26-30](https://user-images.githubusercontent.com/5007120/45550090-e44f2f80-b7f7-11e8-9965-3c93afe7dbd7.png)

I've uninstalled and reinstalled etc. Wondering if this is related to the debugging issues I'm having with node if I'm truly on 0.8.1.

[2018-09-14 13:04] julielerman opened #603 "Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:5858)."
Yes, this again.

Extension version: I have installed 0.10.2 three times but it still says it's 0.8.1  (see issue #602 )
VS Code: Version 1.21.1
AF Tools: 2.0.1-beta.38

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.300/
.NET Core SDKs installed:
  2.1.101 [/usr/local/share/dotnet/sdk]

[2018-09-14 15:39] EricJizbaMSFT commented on #602
You can try manually removing the extension from the following folder and then re-installing. I believe this is where it's located:
- Windows: `C:\Users\<user name>\.vscode\extensions\`
- Mac: `~/.vscode/extensions/`

You can remove the whole folder named `ms-azuretools.vscode-azurefunctions-<version>`

[2018-09-14 15:41] EricJizbaMSFT commented on #603
Can you also copy your tasks.json? That's the part that changed a few months ago due to breaking changes in the cli. There's more information here about how you can manually update your project if necessary: https://github.com/Microsoft/vscode-azurefunctions/blob/master/docs/debugConfig.md

The full output from the 'func host start' task might also be helpful

[2018-09-14 16:10] julielerman commented on #603
Here 'tis:
(also I tried adding in the options explicitly for the port as per one of the earlier issues. I see also your July suggestion to add "NODE_OPTIONS": "--inspect=5858" (bug in .30 and .31) directly to app settings so I'm going to go try that right now. Thanks!
[code]

[2018-09-14 16:16] julielerman commented on #603
FFS (and LOL)...adding that to local settings did the trick! I thought I'd tried everything and seen every one of the related issues on GitHub. Seriously...  about 5 hours of trying and I missed that one! Anyway....maybe there should be a warning like I've seen other times,  to add this to local.settings on debug or func start. Do you know where I mean? It comes right before the logo is displayed

[2018-09-14 16:26] julielerman commented on #603
I actually tried that last night based on a May thread about .26...but now I'll go try it again and report back.

[2018-09-14 16:31] julielerman commented on #603
what the ... ????? now it works. So maybe one of the other changes I made in betwee affected this.
So bottom line, nobody should have to spend 5 hours struggling with this. Me neither but that's my own fault. How will that be easier in the future. I spent a lot of time in the docs, even did some getting started warlk throughs to see if something in my own app was the problem, also spent a lot of t

[2018-09-14 16:36] julielerman commented on #603
ps. sorry I missed the whole thing about the prompt... why am ai not getting it? That is certainly a very good solution to the above...
Also I stopped the debugger. F5 again and now no debugging again. Something is awry.

[2018-09-14 16:39] julielerman commented on #603
consistently works with the hack in launch but not with the options in local.settings.

[2018-09-14 16:40] julielerman commented on #603
can you also double check my detailed list of versions of everything in case SOMETHING is bungling my system up with this? Thanks

[2018-09-14 16:49] julielerman commented on #602
that dd the trick. Maybe all of the other nonsense that's been happening will disappear. Back to more testing!! (wonders why it was *stuck*)

[2018-09-14 16:49] #602 closed

[2018-09-14 16:52] EricJizbaMSFT commented on #602
So I double checked your versions in the other thread and our extension relies on VS Code version "1.24.0" or greater and you were on "1.21.1". "0.8.1" must be the last version that supports "1.21.1".

I'm surprised VS Code doesn't warn you about that in any way. Feel free to file an issue on github to improve that messaging (unfortunately we don't control how we're installed or anything related t

[2018-09-14 16:55] EricJizbaMSFT commented on #603
All versions look good except an old version of VS Code. Commented on this thread: https://github.com/Microsoft/vscode-azurefunctions/issues/602

[2018-09-14 16:55] julielerman commented on #602
yeah ..just realized it still says 0.8.1 after all that. I've done "check for updates" so many times for vscode and it says "nope". Wow. Off to just unisntall reinstall

[2018-09-14 16:58] julielerman commented on #603
uninstalling some other extensios to see if that helps but not... weird. I am plagued! LOL

[2018-09-14 17:08] julielerman commented on #603
![2018-09-14_13-07-36](https://user-images.githubusercontent.com/5007120/45564686-3788a880-b81f-11e8-940c-73e090344926.png)
finally! I trashed .21, installed latest vscode (.27), extensions updated (I now have 0.10.2) and I got the debug prompt!!

[2018-09-14 17:13] julielerman commented on #603
![2018-09-14_13-09-55](https://user-images.githubusercontent.com/5007120/45564776-7c144400-b81f-11e8-9c69-07d8d9c33a73.png)
and yet... yikes!

I'm going to stop for now and use the hack tomorrow in my session so I can move on...

[2018-09-14 17:17] julielerman commented on #603
PS THANK YOU FOR BEING SO AMAZINGLY RESPONSIVE!!!

[2018-09-17 00:24] Aaron-at-Dimmi opened #604 "Unable to deploy Function App to Azure"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.10.2
OS: win32

[2018-09-17 00:40] Aaron-at-Dimmi commented on #604
The solution was to update Visual Studio Code.

[2018-09-17 00:40] #604 closed

[2018-09-17 20:09] #500 closed

[2018-09-17 20:10] #594 closed

[2018-09-18 00:34] #284 closed

[2018-09-18 00:34] #587 closed

[2018-09-18 05:50] kravikiranssdi opened #608 "error : Expression: [Recursive resource lookup bug]"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "build" failed with exit code "1".

Version: 0.10.2
OS: darwin

[2018-09-18 05:51] kravikiranssdi commented on #608
Build FAILED.

/Users/ravikirank/.nuget/packages/microsoft.net.sdk.functions/1.0.21/build/netstandard1.0/Microsoft.NET.Sdk.Functions.Build.targets(39,5): error : Assert Failure [/Users/ravikirank/Projects/OpenHack/OpenHack.csproj]
/Users/ravikirank/.nuget/packages/microsoft.net.sdk.functions/1.0.21/build/netstandard1.0/Microsoft.NET.Sdk.Functions.Build.targets(39,5): error : Expression: [Recursive

[2018-09-18 16:55] #592 closed

[2018-09-18 20:34] #563 closed

[2018-09-19 01:53] #502 closed

[2018-09-19 15:46] #497 closed

[2018-09-19 17:01] #544 closed

[2018-09-19 17:51] EricJizbaMSFT commented on #515
Closing due to lack of info. Feel free to re-open with more info

[2018-09-19 17:51] #515 closed

[2018-09-19 17:52] EricJizbaMSFT commented on #514
Closing due to lack of info. Feel free to re-open with more info

[2018-09-19 17:52] #514 closed

[2018-09-19 18:16] EricJizbaMSFT commented on #608
Thanks for filing an issue, but our extension doesn't control the build. This may be a problem specific to your project or you could file an issue on this repo: https://github.com/Azure/azure-functions-vs-build-sdk

[2018-09-19 18:16] #608 closed

[2018-09-20 00:02] EricJizbaMSFT opened #615 "[Discussion] "Deploy to Function App" on a sub folder for Python"
Since we're running `func pack` and looking for a specific zip file, I'm not sure it makes sense to allow users to "Deploy to Function App" on a sub folder (and actually respect that sub folder)

cc @davidebbo started this discussion

[2018-09-20 00:11] EricJizbaMSFT opened #616 "Ensure Python projects created from the func cli work well when opened in VS Code"
Filing to make sure we test this:
1. Create a python project through the func cli
1. Open in VS Code

Make sure F5/Debug works just like it would if the project was created through our extension

[2018-09-20 10:00] v-haiz opened #617 "Fail to install Linter pylint and F5/debug fails"
**OS:** Windows
**Version:** 0.11.0

**Repro Steps:**
1. Create a python project ->Create Function(HTTP tirgger) -> Pop up a dialog which prompts to install Linter pylint -> Click Install button.
2. Check the result.

**Expect:**
Linter pylint can be installed successfully and F5/Debug works well.

**Actual:**
Fail to install Linter pylint and F5/debug fails.
![error](https://user-images.githubuse

[2018-09-20 10:40] v-xuanzh opened #618 "Display 'Linux Preview' tag next to the new created function app when deploying one python project"
Repro Steps:
1. Create one function project with Python.
2. Click 'Deploy to Funcrion App...' -> Select 'Create New Function App' -> Enter a unique name for the new function app -> Choose a resource group and storage account.
3. Check the created function app.

Expect:
No tag 'Linux Preview' displays next to the function app name.

Actual:
Display the tag 'Linux Preview' next to the function app n

[2018-09-20 10:51] v-dantch opened #619 "Show warning if users try to deploy Python to windows"
Repro Steps:
1. Create a new project with Python and Azure Functions v2-> 'Create functions...' with HTTP trigger.
2. Debug this project ->Deploy to one existing function app.
3. Check the result.

Expect:
Succeed to deploy.

Actual:
Fail to deploy with error 'Cannot read property 'constructor' of undefined'.
![screen shot 2018-09-20 at 11 59 22 am](https://user-images.githubusercontent.com/347290

[2018-09-20 14:59] EricJizbaMSFT commented on #618
This is by-design. Python only works on Linux function apps, which are still in preview.

[2018-09-20 14:59] #618 closed

[2018-09-20 19:01] #616 closed

[2018-09-20 20:04] #615 closed

[2018-09-20 20:49] EricJizbaMSFT commented on #591
Tested on 3.7. Users will see this error message:
![screen shot 2018-09-20 at 1 45 19 pm](https://user-images.githubusercontent.com/11282622/45846017-7ca75180-bcdb-11e8-9e78-d82f71cdeed3.png)

And this is the full output:
[code]

This line makes it pretty obvious: "Python 3.6 is required. Current python version is 'Python 3.7.0", but I admit it's annoying to parse through the output. @jinglouMSFT

[2018-09-20 23:35] davidebbo opened #624 "When selection Python VS should not ask for runtime version"
![image](https://user-images.githubusercontent.com/556238/45852132-14646a00-bcf3-11e8-9b1d-90a7ef1efcc4.png)

Since only v2 is supported, it would be nice to not even prompt, as that allows the user to make a bad choice.

[2018-09-20 23:48] asavaritayal opened #625 "Error when publishing a Python app on Linux Consumption"
Environment:
	• MacOS
	• Azure Functions extension 0.11.0 with azureFunctions.enablePython==true
	• Core Tools 2.0.2.0

Repro steps:

1. Create new Python project worked great
2. Create new HTTP triggered function worked great
3. F5 experience was perfect!
4. Publishing to a Linux consumption app in Azure failed terribly

     - On publish, I picked '+Create new app' and gave it the relevant detai

[2018-09-20 23:54] davidebbo opened #626 "After debugging starts, it's not obvious where to find the function URLs"
After pressing F5, it starts debugging and instantly switches from Terminal to Debug Console tab. As a result, it’s easy to miss the Function URLs in the Terminal output. They basically flash for a fraction of a second before going to the other tab.

Obviously, user can switch back to Terminal, but the default behavior is not guiding them to the pit of success.

[2018-09-20 23:56] davidebbo opened #627 ".gitignore should probably exclude .pyc files"
I assume .pyc are not meant to be committed to git? Right now, they're not ignored, so we should probably add that extension.

![image](https://user-images.githubusercontent.com/556238/45852695-edf3fe00-bcf5-11e8-9c59-943cd1b01ae9.png)

[2018-09-20 23:56] davidebbo opened #628 "Getting 'sourceArray.map is not a function' after publishing"
Publishing generally worked, but this popped up:

![image](https://user-images.githubusercontent.com/556238/45852741-2abff500-bcf6-11e8-96c0-59e69999d15b.png)

[2018-09-20 23:57] EricJizbaMSFT commented on #625
I see those app settings when I create a function app from the portal. Plus they're listed here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#websitecontentazurefileconnectionstring Are you sure that's causing the problem?

Can you create a linux consumption function app in the portal and try to list the functions in the portal? It doesn't work for me, which makes

[2018-09-21 00:00] davidebbo opened #630 "Creating a Function App from VS Code causes it to have both WEBSITE_RUN_FROM_ZIP and Azure Files App Settings"
It should only have `WEBSITE_RUN_FROM_ZIP`, pointing to the zip. Also having `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` and `WEBSITE_CONTENTSHARE` causes the app to break in strange way (and generally is not needed).

[2018-09-21 00:00] EricJizbaMSFT commented on #628
Yes that is a known issue. I've never been able to list functions for a linux consumption app and need someone on the functions team to help figure out why. Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/625

[2018-09-21 00:00] #628 closed

[2018-09-21 00:02] davidebbo commented on #625
I wonder if it's related to #630, where bad app settings break the runtime.

[2018-09-21 00:06] EricJizbaMSFT commented on #625
Voila! The mystery is solved! I removed those settings and it worked. I'll get a fix in - but someone needs to fix this in the portal, too.

Should we remove those for windows plans as well as linux?

[2018-09-21 00:25] davidebbo opened #631 "VS Code keeps prompting to install pylint"
![image](https://user-images.githubusercontent.com/556238/45853156-72478080-bcf8-11e8-82fd-a6d199f28f60.png)

I've several time told it to install it, but it seems to keep coming up.

[2018-09-21 00:27] davidebbo opened #632 "Sometimes publishing fails because a pyd file is in use"
I think it may related to having just debugged the app, but I'm not sure. You publish and you get this:

[code]

[2018-09-21 00:29] davidebbo commented on #632
Sorry, that error doesn't match the subject line. On a previous run, this is what I got, which relates to a pyf file:

[code]

[2018-09-21 00:35] davidebbo commented on #625
@EricJizbaMSFT so it's a little complicated (and you're probably going to hate us (more))...

There are two scenarios for the Linux case:

1. For an app meant for Portal editing, it's expected to have those two `WEBSITE_CONTENT...` settings
1. For an app published from client, they must not be there, and instead it uses `WEBSITE_RUN_FROM_ZIP`

The catch is that when creating an App via Portal, it

[2018-09-21 00:37] #624 closed

[2018-09-21 01:22] #630 closed

[2018-09-21 07:24] v-dantch opened #634 "Pop up an error in 'DEBUG CONSOLE' window after getting the URL for JS"
Repro Steps:
1. Create a new project with JavaScript language and v2 runtime->'Create New Function' with the new created folder and HTTP trigger template.
2. Debug -> Then check the 'DEBUG CONSOLE' window.

Expect:
No error display.

Actual:
Pop up an error in 'DEBUG CONSOLE' window after getting the URL for JS whatever the nodejs version is v8.12.0 or v10.8.0.
![actual1](https://user-images.githu

[2018-09-21 15:45] #591 closed

[2018-09-21 16:39] EricJizbaMSFT commented on #619
You can't deploy Python to windows. We should check that and show a warning

[2018-09-21 16:49] EricJizbaMSFT commented on #634
Closing as won't fix. That warning is expected and shouldn't actually stop you from debugging. Re-open if it blocks you from debugging.

[2018-09-21 16:49] #634 closed

[2018-09-22 00:00] davidebbo opened #638 "Stop Debugging doesn't cause func.exe to stop"
After debugging and choosing Stop Debugging, func.exe is still running. There is no simple gesture to stop it other than Ctrl-C out of it or kill the process.

By comparison, in VS, Stop Debugging stops func.exe (if it had started it, not if you attached to it post creation).

[2018-09-22 00:02] davidebbo opened #639 "Creating a queue triggered Function after debug results in extensions.csproj not getting updated"
This is probably a side effect of #638.

Steps:
- New app
- Add http trigger
- Debug it
- Add queue trigger

Result: extensions.csproj is not updated, so it's broken.

[2018-09-22 00:16] davidebbo opened #640 "VS Code should not add AzureWebJobsDashboard App Setting"
It's an obsolete setting that we're moving away from. Even though it doesn't technically break things, it can have a perf impact.

[2018-09-22 00:26] #632 closed

[2018-09-22 00:28] EricJizbaMSFT commented on #640
This one can be removed from everything? Linux and windows?

[2018-09-22 00:32] davidebbo commented on #640
It can be removed in all **v2** scenarios, regardless of platform. But it is still needed in v1 (not sure if you support v1 at all).

[2018-09-22 00:56] davidebbo opened #641 "Code should filter regions for Consumption Linux scenario"
Initially, it is only available in West US, East US, Southeast Asia and West Europe.

I believe there is an API to get this, but I don't know the details. @bala16 or @ahmelsayed should know more.

[2018-09-23 11:07] z424brave opened #642 "Azure function deploy from vscode fails with error"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
Create a function in vscode and attempt to deploy to Azure

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.10.2
OS: win32

[2018-09-23 15:05] nielsophey opened #643 "While deploy Azure Function from VSCode to Azure"
While deploying a Azure Function to Azure from VSCode I get an error Message - but overall the function ist deployed...

Repro steps:
Have a  function in VSCode (https-trigger, javescript) and click deploy

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.10.2
OS: win32

[2018-09-23 17:13] akarana opened #644 "error while deploying function in azure"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.10.2
OS: win32

[2018-09-23 18:46] sajayram opened #645 "Error Deploying Function App"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.10.2
OS: win32

[2018-09-23 21:28] EricJizbaMSFT opened #646 "Failed to create new function app if projectRuntime is set to "beta""
Repro steps:
1. Create a new project on v0.10.2 of our extension or earlier
1. Update your extension to v0.11.0
1. Deploy that function app and select '+ Create New Function App' when prompted

Expected:
You are able to create a new app and deploy

Actual:
![screen shot 2018-09-23 at 12 39 44 pm](https://user-images.githubusercontent.com/11282622/45933185-b1feaa00-bf3c-11e8-99eb-9b989261878e.png)

[2018-09-23 21:37] EricJizbaMSFT opened #648 "Improve "Service Unavailable" message when deploy fails"
In 0.11.0 we improved the parsing of error messages so that users don't get "An error has occured" (which is our generic way of saying "We don't know how to parse the error").

Well I finally ran into a situation where that would've occurred and this is what I get now:
[code]

Which is certainly better, but ideally we just report "The service is unavailable" instead of the JSON stuff.

Edit: I don

[2018-09-23 21:41] EricJizbaMSFT opened #649 "C# debugging attaches to wrong process when func installed through npm on Mac"
Repro steps:
1. Install the func cli through npm (not brew) on mac
1. Create a new C# project with an HttpTrigger
1. Set a breakpoint in HttpTrigger
1. Start debugging
1. Hit the HttpTrigger

Expected: breakpoint is hit
Actual: breakpoint is never hit

This does _not_ repro on Windows. It also does _not_ repro if you installed the func cli through brew (which is the default install method on a mac

[2018-09-23 21:43] EricJizbaMSFT opened #650 "C# should have CosmosDB trigger template in verified category"
I already added it to JavaScript and Python. Must've just missed adding it for C#

[2018-09-23 21:45] EricJizbaMSFT opened #651 "Delete Function should use long running notification instead of outputChannel"
Pretty self explanatory. Currently the outputChannel pops up and is annoying.

[2018-09-23 21:49] EricJizbaMSFT opened #652 "Failed to "Delete Function" for function app with "RUN_FROM_PACKAGE" set to true"
By default, we set WEBSITE_RUN_FROM_PACKAGE to true on new function apps. However, I think that means users won't be able to edit funcitons from our extension. We should add a 'Readonly' description to those nodes in the explorer or something. Or just display a better error message. Currently you get this in the output:
[code]

Sidenote: This didn't display an error notification for some reason. M

[2018-09-23 21:52] EricJizbaMSFT opened #653 "Failed to switch from "Run From Package" to "Local Git""
Repro steps:
1. Deploy a project with an http trigger to a new function app
1. Change deployment source to local git
1. Change your local project somehow (doesn't really matter how)
1. Deploy again

Expected: The new deployment takes effect
Actual: The function app is still running the old deployment

I think we have to remove `WEBSITE_RUN_FROM_PACKAGE` when a user changes to local git. We might a

[2018-09-23 21:55] EricJizbaMSFT opened #654 "Failed to copy url for non-anonymous http triggers on linux consumption"
Repro steps:
1. Create a new python project
1. Add an http trigger with 'admin' auth
1. Deploy to a new function app
1. Expand the functions explorer to see list of functions

Expected: Function is listed and I can copy url
Actual: The function is invalid

This happens because our request to get the admin token returns with a web page saying "Your Function App is up and running" instead of actuall

[2018-09-23 21:59] EricJizbaMSFT opened #655 "[Discussion] How to handle Local Git on Linux Consumption"
Local git deployments currently don't work on Linux Consumption since there is no Kudu.

Two things we should probably do:
1. Prevent users from changing deployment source to local git from our extension (currently they can do it with no errors)
1. Display some sort of warning if they try to deploy to a local git app and let them deploy through zip instead

[2018-09-23 22:01] EricJizbaMSFT opened #656 "Add Python zip package to gitignore"
Currently the 'func pack' task creates a zip file at the root of the repo. We should make sure that's included in the gitignore

[2018-09-23 22:03] EricJizbaMSFT opened #657 "Deploying to Linux Consumption should sync triggers"
Repro steps:
1. Deploy a python project with an http trigger
1. Change that http trigger somehow
1. Re-deploy

Expected: The new http trigger is in effect
Actual: The old http trigger is still in effect

I _think_ we only need to sync the triggers, but a full restart might be necessary.

[2018-09-24 01:32] #646 closed

[2018-09-24 14:53] danielcrisp commented on #645
I'm having the exact same error, but as you can see above the error message isn't very helpful.

Are errors logged anywhere else?

[2018-09-24 14:58] EricJizbaMSFT commented on #645
@sajayram @danielcrisp we just released v0.11.0 this morning. Although it wasn't intended to directly fix this problem, I believe the error message should have a little more info now. Specifically you might be getting "Service unavailable" - which unfortunately means there might be an outage with Azure Functions

Can you make sure you're on the latest and try again? And let me know what error you

[2018-09-24 15:05] EricJizbaMSFT commented on #642
Thanks for filing - there may have been an outage in Azure Functions. In any case, closing as a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/645 for further investigation

[2018-09-24 15:05] #642 closed

[2018-09-24 15:05] EricJizbaMSFT commented on #643
Thanks for filing - there may have been an outage in Azure Functions. In any case, closing as a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/645 for further investigation

[2018-09-24 15:05] #643 closed

[2018-09-24 15:06] EricJizbaMSFT commented on #644
Thanks for filing - there may have been an outage in Azure Functions. In any case, closing as a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/645 for further investigation

[2018-09-24 15:06] #644 closed

[2018-09-24 15:49] EricJizbaMSFT commented on #657
After further testing, seems to me like the triggers _are_ getting updated automatically - just not for ~20-30 seconds. That means the http triggers we print in the output won't have the latest urls, but otherwise no real negative effects.

[2018-09-24 19:13] #648 closed

[2018-09-24 21:12] asavaritayal opened #658 "Don't show C# related files when using other runtimes"
Got a bunch of feedback around this at Ignite. Folks were confused to see the `extensions.csproj` file, the `/bin` and the `/obj` directories when developing functions using node or python. We should treat these files as the functions runtime implementation details and not surface them as part of the user files in VS Code.

/cc @fabiocav

[2018-09-25 07:22] phanthoa opened #659 ""Could not load template" after updating extension"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Command "dotnet "c:\Users\thoapv\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.10.2\resources\dotnetJsonCli\Microsoft.TemplateEngine.JsonCli.dll" --require "c:\Users\thoapv\.vscode\exten

[2018-09-25 08:55] eduardomourar opened #660 "Error while debugging Azure Functions python project"
**OS**: MacOS v10.13.6
**Azure Functions Core Tools**: v2.0.3
**Function Runtime Version**: v2.0.12115.0

## Repro Steps:
1. Install a python 3.6 virtual environment using `pipenv`
2. Create Azure Functions python project
3. Create Function (HTTP trigger)
4. Put a breakpoint in a python file from project
5. Try debugging newly created function using VSCode

## Expect:
To start running Functions co

[2018-09-25 09:57] danielcrisp commented on #645
The same error I'm afraid, except the version number changed. I also tried creating a function through the Portal (last night) and that was also failing with an equally unhelpful error message. I tried again this morning - through the Portal - and I was able to create it no problem, so perhaps as you suggested there was something else going on.

[2018-09-25 19:45] aaron1688 opened #662 "After deploy a function, Got error message"
Repro steps:
Just follow the steps in the following link:
https://code.visualstudio.com/tutorials/functions-extension/deploy-app
The error happened in the last step to deploy the function.

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.10.2
OS: win32

[2018-09-25 20:08] EricJizbaMSFT commented on #662
Thanks for filing - there may have been an outage in Azure Functions. In any case, closing as a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/645 for further investigation

[2018-09-25 20:08] #662 closed

[2018-09-26 02:52] lirenhe opened #665 "Behaviour change when invoking 'azureFunctions.createNewProject'"
Invoke the following call:

await vscode.commands.executeCommand(
            'azureFunctions.createNewProject', azureFunctionsPath,
            'C#', '~2', false /* openFolder */, 'Azure.Function.CSharp.IotHubTrigger.2.x',
            'IoTHubTrigger1', {
              connection: 'eventHubConnectionString',
              path: '%eventHubConnectionPath%',
              consumerGroup: '$Default',

[2018-09-26 05:45] asavaritayal opened #666 "Add `pip install` step to `tasks.json`"
## Currently, we only activate the virtual environment

[code]

## Would be great if we can also install the dependencies when starting the functions host

[code]

[2018-09-26 16:24] RamakantShankar opened #667 "Error creating Virtual Python environment while creating Azure Functions Project in Visual Studio Code"
Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run "func_env\Scripts\activate && pip install ptvsd" command. Check output window for more details.

Version: 0.11.0
OS: win32

Running command: "func_env\Scripts\activate && pip install ptvsd "...
Collecting ptvsd
  Using cached https://files.pythonhosted.org/packa

[2018-09-27 22:08] asavaritayal opened #668 "Deploying through VS Code shows Warmup api"
_From @priyaananthasankar on September 26, 2018 5:25_

Linux Consumption Plan preview.

Created a simple HTTP trigger and deployed into azure function app through VS Code. It worked fine.
Added another HTTP trigger method that used Cosmos DB extension and redeployed to the same function app through VS Code. These were the output logs:

10:13:41 PM Honeydukes: Starting deployment...
10:13:42 PM Hon

[2018-09-27 22:08] asavaritayal opened #669 "Deploying through VS Code shows Warmup api"
_From @priyaananthasankar on September 26, 2018 5:25_

Linux Consumption Plan preview.

Created a simple HTTP trigger and deployed into azure function app through VS Code. It worked fine.
Added another HTTP trigger method that used Cosmos DB extension and redeployed to the same function app through VS Code. These were the output logs:

10:13:41 PM Honeydukes: Starting deployment...
10:13:42 PM Hon

[2018-09-27 22:08] asavaritayal commented on #669
This issue was moved to Microsoft/vscode-azurefunctions#668

[2018-09-28 00:33] EricJizbaMSFT commented on #668
@priyaananthasankar what exactly was your "expected" vs "actual" behavior? Does everything show up correctly after you restart the function app? We have a known issue where triggers may not be getting synced after a deploy. See https://github.com/Microsoft/vscode-azurefunctions/issues/657 (which has been fixed, but not released yet)

[2018-09-28 00:33] EricJizbaMSFT commented on #669
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/668

[2018-09-28 00:33] #669 closed

[2018-09-28 06:01] TsuyoshiUshio opened #670 "Precompiled C# Debug experience is not great."
Hello,

I use VSCode to develop C# (Precompiled) and configure the Debug enviornment. I can do it however, I feel it is not good experience. It workaround works. however, it is not good experience.

Current experience is like this.

# preparation

[code]

# build app

[code]

# start function

[code]
It creates `launch.json` however, it is under the `bin/Debug/netstandar2.0/.vscode/launch.json`
th

[2018-09-28 06:46] TsuyoshiUshio commented on #670
I notice that is we use VSCode Azure Functions Plugin, it works well. Maybe you can explain in a document.

[2018-09-28 06:49] #670 closed

[2018-09-28 08:19] v-dantch commented on #654
Add More Info:
This issue also reproduces with Function auth level.
![function](https://user-images.githubusercontent.com/34729092/46196605-1af87000-c2f7-11e8-889e-1232c93db875.PNG)

[2018-09-28 16:51] EricJizbaMSFT commented on #670
Thanks for filing an issue. The `func host start --debug VSCode` command is out of date and does not create a "launch.json" that works. Created an issue here to address that: https://github.com/Azure/azure-functions-core-tools/issues/394

In terms of documentation, here are a few articles with more info:
https://code.visualstudio.com/tutorials/functions-extension/getting-started

https://docs.micr

[2018-09-28 21:29] asavaritayal commented on #666
@EricJizbaMSFT could you please confirm if this is possible to include? Thanks!

[2018-09-28 22:03] EricJizbaMSFT commented on #666
We can definitely do it. Can you describe the experience and current downsides so that I can understand the priority?

Also does this need to be done before deploy or is it handled by 'func pack'?

[2018-09-30 20:52] exia56 opened #672 "Failed to Deploy"
deploy a simple project

Repro steps:
func init
change index.js program
deploty

this html file is not my program

Action: azureFunctions.deploy
Error type: Error
Error Message: Error "Unexpected token ﻿ in JSON at position 0" occurred in deserializing the responseBody - "﻿<!DOCTYPE html>
<html>
<head>
    <title>Microsoft Azure Web App - Error 404</title>
    <style type="text/css">
        html

[2018-10-01 18:06] EricJizbaMSFT commented on #660
@asavaritayal @pragnagopa can you confirm - at what point is the language worker ready for us to attach the python debugger?

Is `Host lock lease acquired by instance ID` the signal from the log that its ready? Or is there something else that we should be waiting for?

[2018-10-01 18:16] bala16 commented on #668
This is a bug in the functions runtime. tracked by https://github.com/Azure/azure-functions-host/issues/3541

[2018-10-01 18:27] EricJizbaMSFT commented on #311
Looks like VS Code uses `https://www.npmjs.com/package/sudo-prompt`. We could probably do the same

[2018-10-01 21:06] pragnagopa commented on #660
Functions host launches the language worker process with the debug options for example here is the command for spawning java process where debug options are set in the appSetting languageWorkers:java:arguments

[code]

Note:
 Environment variable **languageWorkers:java:arguments**
 set to **-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005**

For python, it would be similar, langu

[2018-10-01 21:29] pragnagopa commented on #660
Assuming you want to attach debugger after python process is launched, yes log statement
[code]
sounds right. By this time, host is has indexed functions, launched python process and ready to invoke functions

[2018-10-01 21:38] #95 closed

[2018-10-01 21:38] #650 closed

[2018-10-01 21:39] #626 closed

[2018-10-01 22:08] #660 closed

[2018-10-01 22:38] asavaritayal opened #677 "Zip deploy from VS Code does not reflect all the Http Trigger URL's"
_From @priyaananthasankar on September 26, 2018 21:44_

Created 2 HTTP Triggers:
CreateRating
GetProduct.

Deployed successfully through VS Code.

Created another 2 triggers:
GetRatings
GetRating.

Redeployed. It shows only the previous two in the logs, but in Azure all four are deployed successfully. Basically it doesn't reflect the zip deployment contents accurately.

HTTP Trigger Urls:
  Create

[2018-10-01 22:38] asavaritayal commented on #677
@priyaananthasankar do you experience the same behavior when publishing from core tools as well? Trying to break down whether this a VS Code or a zip deployment issue.

/cc @ahmelsayed @EricJizbaMSFT

[2018-10-01 22:38] asavaritayal commented on #677
_From @EricJizbaMSFT on September 27, 2018 23:12_

Looks like you were deploying to a Linux Consumption plan? We fixed an issue around that, but haven't released the fix yet. See https://github.com/Microsoft/vscode-azurefunctions/issues/657 for more info (The change was to sync triggers after deploying).

I'm not sure how the core tools handles deploying to linux consumption. Maybe they already sy

[2018-10-01 22:38] asavaritayal commented on #677
@EricJizbaMSFT got it - thanks for clarifying. Do you have an estimate for when the next release is going to be? So we can give it another try then.

[2018-10-01 22:38] asavaritayal commented on #677
_From @priyaananthasankar on October 1, 2018 21:17_

@asavaritayal  Haven't seen this with core tools.

[2018-10-01 22:38] asavaritayal commented on #677
Got it, thanks.

[2018-10-02 03:18] ramya-rao-a opened #679 "Please use the latest version of vscode-extension-telemetry dependency"
This extension uses version 0.0.18 of `vscode-extension-telemtetry`  module.

The latest version of `vscode-extension-telemtetry` module (0.0.22) uses the latest version of `applicationinsights` module (1.0.5) which has the fix to prevent unnecessary patching of the require and other 3rd party modules.

For more details, please see https://github.com/Microsoft/vscode-extension-telemetry/issues/16

[2018-10-02 17:37] priyaananthasankar opened #682 "Unable to do build-native-deps through VS Code"
I have dependencies that do not have prebuilt wheel files on PyPI. Through func core tools I am able to do -build-native-deps that builds these dependencies using Docker and publishes them.

I am unable to do this through VS Code.

[2018-10-02 17:44] EricJizbaMSFT commented on #682
We're running the task defined in `.vscode/tasks.json` before deploying. You can customize that however you would like. In this case, it sounds like you just need to replace `func pack` with `func pack --build-native-deps`.

This doesn't seem like something we want by default (since it depends on docker, etc.) - but let me know if you disagree

[2018-10-02 17:48] #617 closed

[2018-10-02 17:48] #631 closed

[2018-10-02 17:49] #656 closed

[2018-10-02 17:52] priyaananthasankar commented on #682
Thanks @EricJizbaMSFT  Azure Python SDK's are the ones that are forcing me to do a build-native-deps. Would be nice to have it - but also good enough if this can be mentioned somewhere - I guess in this case the functions documentation would be the right place.

[2018-10-02 20:57] #666 closed

[2018-10-02 21:31] #638 closed

[2018-10-02 21:31] #639 closed

[2018-10-02 23:19] EricJizbaMSFT opened #684 "Creating function app on v1 for CSX should not use "Run From Package""
Copied from email conversation:

[2018-10-03 12:15] ealsur opened #685 "task.json points to the wrong path for host start"
After migrating the runtime to the latest 2.0 GA version and creating a Function in VS Code through the Extension, the Function fails to start, the terminal shows this:

    The terminal process terminated with exit code: 2

    Terminal will be reused by tasks, press any key to close it.

The root cause is that in the `tasks.json` autogenerated file, the path seems to be wrong:

    {
      "labe

[2018-10-03 16:41] holzapfelnet opened #686 "Better support projects in a subdirectory of root workspace"
I created a new azure function by using the Visual Studio Code Command Palette. I used the HTTP Trigger Template to create the function. I selected version 2 as project runtime, C# as language and Core as template filter.

If I try to deploy the function by clicking right on the folder (Deploy to Function App) the deployment is started but there will be no function visible within the azure portal.

[2018-10-03 17:41] EricJizbaMSFT commented on #686
@holzapfelnet Can you copy your `.vscode/settings.json` file here?

I haven't tried creating a function before a project recently (although it should work). As a workaround - try creating a project _before_ a function. See this gif for more info: https://github.com/Microsoft/vscode-azurefunctions#create-new-project

[2018-10-03 17:44] holzapfelnet commented on #686
**.vscode/settings.json**

{
  "azureFunctions.projectRuntime": "~2",
  "azureFunctions.projectLanguage": "C#",
  "azureFunctions.templateFilter": "Verified",
  "azureFunctions.preDeployTask": "publish",
  "azureFunctions.deploySubpath": "bin/Release/netstandard2.0/publish"
}

[2018-10-03 17:47] EricJizbaMSFT commented on #682
Where did you originally find out about the `build-native-deps` flag? I'm just trying to figure out where we would document this

[2018-10-03 17:50] EricJizbaMSFT commented on #677
Closing as dupe of #657

[2018-10-03 17:50] #677 closed

[2018-10-03 17:50] priyaananthasankar commented on #682
@EricJizbaMSFT : I am guessing here, but also adding @asavaritayal for inputs
https://github.com/Azure/azure-functions-python-worker/wiki/Develop-using-VS-Code

[2018-10-03 17:53] jeffhollan opened #687 "Error when publishing function app"
Created a new Java function app. Tried to publish in subscription and got this error.  I don't see any deployment errors in the resource group? So not sure why it's popping up.  Running `mvn azure-functions:deploy` on same app seemed to work without issue

Action: azureFunctions.deploy
Error type: Unauthorized
Error Message: The scale operation is not allowed for this subscription in this region.

[2018-10-03 18:12] EricJizbaMSFT commented on #672
Can you give a little more info:
- Does this consistently reproduce for you?
- Was this a brand new wep app?
- Are you using a custom domain?

[2018-10-03 18:12] EricJizbaMSFT commented on #545
Closing due to lack of response. Feel free to re-open with more info

[2018-10-03 18:12] #545 closed

[2018-10-03 18:41] timmyreilly opened #688 "Support for IoT Hub or Event Hub Binding Template for JavaScript"
![image](https://user-images.githubusercontent.com/8118355/46431539-e9b9de80-c700-11e8-980e-3c1cf94a3cbf.png)

Looking to create a function that is bound to an Event Hub or IoT Hub, but not seeing the option. Curious what the recommended workflow is for creating this binding?

Going to go from scratch from these docs instead: https://docs.microsoft.com/en-us/azure/azure-functions/functions-binding

[2018-10-03 20:35] priyaananthasankar opened #690 "Add Event Grid/Event Hub triggers to 'Verified' category"
Created a new function within VS Code (Python on Functions) and saw these options:
![image](https://user-images.githubusercontent.com/10415876/46437767-fa725080-c710-11e8-85db-4a83d5ffdfb5.png)

But the func core tools outside VS Code shows me Event Grid/Event Hub options as well:

![image](https://user-images.githubusercontent.com/10415876/46437879-40c7af80-c711-11e8-9726-8ec844c9ce97.png)

[2018-10-03 20:49] EricJizbaMSFT commented on #688
Looks like there's already an issue in the main templates repo about the missing Event Hub template for v2 JavaScript:
https://github.com/Azure/azure-functions-templates/issues/732

Marking this as external and feel free to vote on that issue. The VS Code extension dynamically retrieves templates and will automatically get the new template once it exists.

[2018-10-03 21:03] EricJizbaMSFT commented on #690
You can change the 'template filter' at the bottom to 'All:
![screen shot 2018-10-03 at 1 57 44 pm](https://user-images.githubusercontent.com/11282622/46439081-702beb80-c714-11e8-9150-d35330753194.png)

And you should see more templates:
![screen shot 2018-10-03 at 1 57 57 pm](https://user-images.githubusercontent.com/11282622/46439068-67d3b080-c714-11e8-91e9-e71471699512.png)

We dynamically retr

[2018-10-03 21:05] priyaananthasankar commented on #690
Oops. Missed that. Closing the issue. Thanks!

[2018-10-03 21:08] EricJizbaMSFT commented on #690
No problem. We can actually keep this open to add these to the 'Verified' category. I've already changed the title of the issue. Getting this feedback helps us prioritize which templates to add "full support" for (There's not a huge list under "All" for Python, but some other languages have a ton of templates)

[2018-10-03 22:06] priyaananthasankar commented on #682
The exact location where I found --build-native-deps is here: https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide

[2018-10-04 10:53] mobilist opened #692 "Azure Function Deploy Error !"
Repro steps:
<Enter steps to reproduce issue>

Action: azureFunctions.deploy
Error type: Error
Error Message: An error has occurred.

Version: 0.8.1
OS: darwin

[2018-10-04 15:01] sagimanoj opened #693 "VSCode throws an error "You must have the .NET CLI installed to perform this operation""
Repro steps:
1. Install Azure Functions Extension
2. Create new Azure function using C#

Action: azureFunctions.createNewProject
Error type: Error
Error Message: You must have the .NET CLI installed to perform this operation.

Version: 0.11.0
OS: darwin

[2018-10-04 17:56] #649 closed

[2018-10-04 18:47] nturinski commented on #686
@holzapfelnet Could you let us know what version of `dotnet` you have installed?  All your settings seem correct, so I'm wondering if maybe the name of your subpath is different.  Also, if could you check if `bin/Release/netstandard2.0/publish` exists in your project.

In this issue, this user had a different path that included `Hosted` so I'm wondering if you're having a similar issue.

Thanks!

[2018-10-04 18:57] sagimanoj commented on #693
I was able to fix this issue by relaunching vscode editor. Additionally, ensured the .Net Core and Azure functions extension is properly installed.

[2018-10-04 18:57] #693 closed

[2018-10-04 23:46] #651 closed

[2018-10-04 23:47] #684 closed

[2018-10-05 00:39] StephenWeatherford commented on #692
Well, that's a weird message.  Does this happen consistently?  Can you provide repro steps?  Thx.

[2018-10-05 08:00] holzapfelnet commented on #686
@nturinski I use dotnet version 2.1.402.

The _bin_ folder contains only a Debug folder.

[2018-10-05 17:52] holzapfelnet commented on #686
I think I found the problem.

If I open the folder that contains the Azure Function the deployment works fine.

However if I open the parent folder and select the folder that contains the Azure Function and then try to do the deployment (see the screenshot) the problem occurs.

<img width="640" alt="screenshot" src="https://user-images.githubusercontent.com/11599235/46551415-052b1200-c8d8-11e8-821

[2018-10-05 20:00] #619 closed

[2018-10-05 20:04] nturinski commented on #686
@holzapfelnet Ah, I see.  Just to make sure, you are trying to deploy "testfunc" that is within the "serverless" folder?  And if you open the "testfunc" in your workspace, then everything works?

I notice your "serverless" folder contains a .vscode folder.  Is there a `settings.json` in that folder?  If there is, could you show me the settings?

It may be interfering with the `deploySubpath` setti

[2018-10-07 09:28] holzapfelnet commented on #686
That's right.

There is a settings.json with one single line

_{
    "azureFunctions.projectLanguage": "C#"
}_

[2018-10-07 10:38] veuncent opened #697 "MSB1003: Specify a project or solution file"
I followed the step-by-step in Azure Portal when creating a new Azure Function using VSC.

At the local debugging step when hitting F5, I get the following error:
[code]

Repro steps:
Follow the steps as detailed in the Azure Portal when creating a Function for the first time:
- Install VCO extensions: Azure Functions and C#
- Create a new function
- Hit f5

Additional info (autogenerated):
[code]

[2018-10-08 12:51] mhoeger commented on #685
@ealsur - I'm not able to repro on a Mac with `dotnet --version` as `2.1.402` and `func --version` as `2.0.3`. Is there anything apparent that's different about your scenario?

[2018-10-08 13:31] ealsur commented on #685
Hi @mhoeger ! I tested it in several environments, and I found that the root cause is that the failing environment has an Environment Variable named **PLATFORM** with a value of **Hosted**, this makes `dotnet build` place the output in `/bin/Hosted/Debug/netstandard2.0`.

Removing that Env Variable fixes the issue, but I wonder if someone else might hit it if they define the PLATFORM at the Enviro

[2018-10-08 13:31] #685 closed

[2018-10-08 18:05] nturinski commented on #697
Hi @veuncent,

Sorry that you're running into problems with the extension.

Did you create a Functions project before creating a new function?  When creating a function, you'll be prompted to select the folder that will contain the function.  It seems like you don't have a .csproj file should be generated when you press F5.

Thanks.  Hope we'll get you up and running soon!

[2018-10-10 08:29] SachinMali5333 opened #700 "Must have the .NET CLI installed to perform this operation"
Repro steps:
1. In Azure Function extension Tag, I was selected "created New Project"
2.  I selected Repository Where function App is available in text appeared in top of project
3. When I select Language for Project  i.e. C# then it show me following warning/Error/notification whatever it is.

Action: azureFunctions.createNewProject
Error type: Error
Error Message: You must have the .NET CLI inst

[2018-10-10 08:29] veuncent commented on #697
Thanks for your reply @nturinski

I did create a project before I created the function and the .csproj is also present.
Here is my code: https://github.com/globaldigitalheritage/azure-function-extract/tree/13b093d1e472d6e6a995ecccb3dc0be51990d17c

If I go to the root of that folder and manually run `dotnet clean` and `dotnet build` it runs without errors:
[code]

Thanks!

[2018-10-10 08:40] SachinMali5333 commented on #693
Which Extension of  .Net Core  you had install (Title, Owner)?

[2018-10-10 08:44] veuncent commented on #697
My launch.json:
[code]

[2018-10-10 14:12] exia56 commented on #672
this file generated when i deploying to Functions

Answer for your question:
- now i cant reproduce because i delete this project
- yes
- no

[2018-10-10 18:03] nturinski commented on #700
Hi @SachinMali5333,

Azure Functions has a dependency on .NET for C# Function projects.  If you do not have it installed, you can download it [here](https://www.microsoft.com/net/download).

If you already have it installed, then there must be another issue. Maybe your `dotnet` alias is configured to another name?

[2018-10-10 21:01] nturinski commented on #697
@veuncent, the launch file seems good, but do you have this task.json?
[code]

I cloned your repo and recreated the project (via `Create New Project`) whcih generated the appropriate tasks.json, settings.json, and launch.json.

[2018-10-11 07:16] veuncent commented on #697
I do have the task.json as well:
[code]

Here is a screenshot of my workspace:
![image](https://user-images.githubusercontent.com/7893339/46786818-4b4bff80-cd36-11e8-901b-7e3810ca6175.png)

[2018-10-11 07:29] #700 closed

[2018-10-11 07:29] SachinMali5333 commented on #700
thanks Issue Fixed Just Installed  .Net CLI from given link.

[2018-10-11 09:22] v-dantch opened #701 "Fail to debug Python project with an error"
Repro Steps:
1. Install Python 3.6.6 and make sure it works well.
2. Create a new project with Python -> Create a new function contained in the new created project with HTTP trigger template and Function level.
3. Debug.

Expect:
Succeed to debug.

Actual:
Fail to debug Python project with an error dialog "Fail to attach (connect ECONNREFUSED 127.0.0.1:9090)".

[2018-10-11 15:16] jameshowe commented on #82
Does this issue cover the ability to be able to deploy from VSCode to a slot? Seems like all that's missing is the ability to target that slot from the list.

[2018-10-11 17:11] #658 closed

[2018-10-11 17:14] silvermoong opened #702 "Deploy Python Function to Azure Function App failed"
Repro steps:
I'm using the auto generated Python HTTP triggered function and I'm able to debug and run it locally(with localhost url).

I firstly tried to deploy my function to my existing Function App (It has no function in it) on Azure. The deployment succeeded and I can see the new function be added into the Function App. But I got 404 when I clicked run or enter the function URL in my browser.

[2018-10-11 17:50] tom-canova opened #703 "Error deploying Durable Function to App Service Plan."
Not sure if this is related, but we have our own wildcard cert associated with our app service environment.

&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: UNABLE_TO_VERIFY_LEAF_SIGNATURE
Error Message: unable to verify the first certificate

Version: 0.11.0
OS: win32

[2018-10-11 18:36] silvermoong commented on #702
Hello Eric,

Thanks for the explanation.

The 404 error is happening on a Function App that I create through portal UI. I don't remember how did I set it up, but this is definitely not a Linux Function App. So I guess this could be the issue.

I deployed my python function form VS Code to the Function App. I can see it listed in the Function App. I can't run it nor access from the Function URL.  I

[2018-10-11 18:47] EricJizbaMSFT commented on #702
Here's a wiki on the preview support for Python: https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-on-Linux-Preview

If you deploy through VS Code and create a new web app - make sure to use one of these regions (copied from the doc above):
- West US
- East US
- West Europe
- East Asia

[2018-10-11 18:54] silvermoong commented on #702
Hello Eric,

It works after I create the Function App from VS Code and located in East US.

Thanks for the solution

[2018-10-11 19:00] EricJizbaMSFT commented on #702
Awesome! I know this isn't the most obvious set of steps, but we already have a few issues to track improvements (https://github.com/Microsoft/vscode-azurefunctions/issues/619 https://github.com/Microsoft/vscode-azurefunctions/issues/641), so I'll go ahead and close this issue.

[2018-10-11 19:00] #702 closed

[2018-10-11 19:55] tom-canova commented on #703
trying a zip deploy yields some additional detail
`C:\git\bcs-bt-order-az-functions>az functionapp deployment source config-zip -g rg-BCS-functions-dev -n bcsinbtordservicesv2 --src publish.zip
HTTPSConnectionPool(host='bcsinbtordservicesv2.scm.paas.mms.mckesson.com', port=443): Max retries exceeded with url: /api/zipdeploy (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_

[2018-10-11 20:14] jeffhollan opened #704 "Change node environment variable to double underscore"
Per this https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.1#environment-variables-configuration-provider

Debugger may not have right variable set to attach in Mac

[2018-10-11 22:11] EricJizbaMSFT commented on #701
@v-dantch What OS are you using? What version of the extension are you using? (if you downloaded a vsix - the exact vsix url would be helpful)

Can you try changing `languageWorkers:python:arguments` in `.vscode/tasks.json` to `languageWorkers__python__arguments`?

[2018-10-11 22:32] chojrak11 opened #708 "Azure Functions VSCode extension causes unresponsiveness"
![image](https://user-images.githubusercontent.com/15248889/46837457-b25cc900-cdb5-11e8-88a0-85a87c451215.png)

The three extensions that have potential to cause this are below, with Azure Functions being the leader:
![image](https://user-images.githubusercontent.com/15248889/46837509-e637ee80-cdb5-11e8-8a20-4d556247dada.png)

I have no idea what to check to help troubleshooting this issue and get

[2018-10-11 22:35] tom-canova commented on #703
I ended up addressing this with setting to environment variable REQUESTS_CA_BUNDLE to a pem formatted CA store with additional CAs and our wildcard cert used on the ASE and with the functions

[2018-10-11 22:36] tom-canova commented on #703
Seems like a hack to need to manually set a python environment variable, though I do understand the need to provide additional certs.  It would be helpful if it was better documented and if the error messages were helpful to provide a link to a possible solution

[2018-10-11 22:41] EricJizbaMSFT commented on #703
@tom-canova glad you got it figured out. Just curious - how did you find that environment variable?

Also I'd like to understand your scenario better. Why do you need additional certs? Are you behind a proxy? Or is this specific to your ASE?

[2018-10-11 23:12] EricJizbaMSFT commented on #708
@chojrak11 you're on insiders, correct? That warning is very new and was just removed. Per https://github.com/Microsoft/vscode/issues/60318:

I'll leave this issue open to double check our actiavtion times - but hopefully you won't see that warning again anyways

[2018-10-11 23:15] #665 closed

[2018-10-12 01:21] tom-canova commented on #703
We have our own internal CA from which we created the wildcard cert which is associated with our ASE which runs on a private vnet

Sent from Yahoo Mail for iPhone

On Thursday, October 11, 2018, 6:41 PM, Eric Jizba <notifications@github.com> wrote:

@tom-canova glad you got it figured out. Just curious - how did you find that environment variable?

Also I'd like to understand your scenario better.

[2018-10-12 02:20] v-dantch commented on #701
Hi Eric,

OS: Win10
Extension Version: 0.11.1-alpha--https://azcode.blob.core.windows.net/vscode-azurefunctions/master/2018/vscode-azurefunctions-0.11.1-alpha.vsix

This issue also reproduces after changing the .vscode/task.json from languageWorkers:python:arguments to languageWorkers__python__arguments.

[2018-10-12 03:17] lirenhe opened #709 "Creating storage account failed in API azureFunctions.createFunctionApp with resourcegroupname"
When invoking the createfunctionApp in this way

const functionAppId: string = await vscode.commands.executeCommand('azureFunctions.createFunctionApp', 'subscriptionid', 'resourcegroupname');

If the resourcegroupname is not provided, it works fine.

I got the following error:

&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce is

[2018-10-12 17:29] bala16 commented on #641
@EricJizbaMSFT Yes you are right. linuxDynamicWorkersEnabled is what you should be using but that change will not deployed until of end of month. We published the swagger sooner so we can get the sdk built with those changes that some other clients use. Until then please use servicefabriccontainersenabled.

[2018-10-12 20:02] AmudhaPalani opened #716 "Unable to deploy azure function from VS code"
Repro steps:
1) Select Deploy Azure function from command palette.

Action: azureFunctions.deploy
Error type: Error
Error Message: Could not zip a non-exist file path.

Version: 0.11.0
OS: darwin

[2018-10-12 20:31] sdusttm opened #717 "can not deploy to azure function, previous app is wiped"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: ENOTFOUND
Error Message: getaddrinfo ENOTFOUND wechatfunctions.scm.azurewebsites.net wechatfunctions.scm.azurewebsites.net:443

Version: 0.11.0
OS: win32

[2018-10-15 07:43] drmiru opened #719 "Publishing function app fails: Error Message: Cannot read property 'constructor' of undefined"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: TypeError
Error Message: Cannot read property 'constructor' of undefined

Version: 0.11.0
OS: win32

[2018-10-15 11:31] julielerman opened #720 "Host unavailable after short time on func start"
I had functions that were working a month ago (literally ...I demo'd on Sept 15).
I've now updated:
VS Code to 1.28.1
AF extension to .11
AF CLI to 2.0.3

I'm on macOS.

The function I'm testing has an output binding to CosmosDB so I updated the extensions.csproj to
[code]
FWIW, I've also done things like re-initialize the function folder. You know me...I've been trying things for hours now. :)

W

[2018-10-15 12:09] julielerman commented on #720
More data...
I deleted the obj and bin folders which caused an issue with the cosmosdb extension. That issue is when I ran func start, I got a warning that the extension was not installed. However, my simple HttpTrigger function worked in this case (a different function that has no cosmosdb bindings). When I reinstalled cosmosdb extension, not even that simple HttpTrigger function would work. It t

[2018-10-15 13:58] julielerman commented on #720
also repo: https://github.com/julielerman/ServerlessFall2018

[2018-10-15 14:46] julielerman commented on #720
update: I've successfully created a brand new folder, azure function app and cosmosdb trigger that I'm able to debug (only after apply the double underscore fix https://github.com/Microsoft/vscode-azurefunctions/issues/704 )

[2018-10-15 15:48] #704 closed

[2018-10-15 20:01] Ariela1127 commented on #719
I get the same error when trying to publish a function through VS. I followed the instructions outlined on the official VS pages - [here](https://code.visualstudio.com/tutorials/functions-extension/getting-started).

It happens on Windows 10 and MacOS Mojave. The version of the Azure Functions extension is 0.11.0.

[2018-10-15 20:30] EricJizbaMSFT commented on #719
@drmiru @Ariela1127 can you give more information:
1. What language is your function project?
1. What version of the func cli do you have installed?
1. Was this an existing or brand new function app in Azure?
1. If a brand new function app - did you create through the portal or through VS Code?

[2018-10-15 20:35] nzthiago opened #721 "Running a Java function app repeatedly on VS Code is not stable"
Running a Java function app repeatedly on VS Code is not stable:
•	There are many instances where the debugger fails to attach
•	VS code is unresponsive to "Start Without Debugging"
•	Function host constantly hangs and takes the 7071 port with it (might not be a Java-only issue)

@asavaritayal

[2018-10-15 20:49] nzthiago opened #722 "Java Functions don't surface exception when Cosmos DB connection string is incorrect"
Java function using a Cosmos DB output binding was failing because the connection string app setting on the app service had an incorrect value. This was really hard to figure out because the exceptions got swallowed up and not reported in the application log

@asavaritayal

[2018-10-15 21:08] nzthiago opened #723 "Redeploying a function app removing the custom route will not result in an update to functions.json"
Redeploying a function app removing the custom route will not result in an update to functions.json. Use case: write a function, deploy it, change its route name, redeploy it – functions.json is not updated. I needed to go into the Kudu console to manually kill functions.json, otherwise it would not be updated.

@asavaritayal

[2018-10-16 07:21] eternalguardian opened #726 "Cannot uninstall Azure Functions Core Tools because it is not installed."
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.uninstallFuncCoreTools
Error type: Error
Error Message: Cannot uninstall Azure Functions Core Tools because it is not installed.

Version: 0.11.0
OS: win32

[2018-10-16 08:28] drmiru commented on #719
Mine is c#
func cli version is: 0.11.0
I created a brand new function using VS Code

[2018-10-16 08:30] Ariela1127 commented on #719
1. C#
2. Version 2
3, The app already existed in Azure but I followed the tutorial y creating a new app, then new function within VS Code.

[2018-10-16 10:57] jameshowe commented on #82
Only just starting to experiment with them, will they effectively work the same as Web App slot settings? i.e. hot swap, slot settings etc.

[2018-10-16 12:21] eternalguardian opened #727 "Not allowed to open"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createNewProject
Error type: EPERM
Error Message: EPERM: operation not permitted, open 'c:\Program Files (x86)\Pidgin\pixmaps\pidgin\host.json'

Version: 0.11.0
OS: win32

[2018-10-16 18:38] EricJizbaMSFT commented on #719
Would either of you mind trying the latest vsix? It probably won't fix the issue, but it might give me a slightly more helpful error message.

Download the vsix from here:
https://azcode.blob.core.windows.net/vscode-azurefunctions/master/2042/vscode-azurefunctions-0.11.1-alpha.vsix

And install with the "Install from VSIX" command:
![screen shot 2018-10-16 at 11 35 47 am 2](https://user-images.git

[2018-10-16 18:42] EricJizbaMSFT commented on #719
Also are you using the default zip deploy or have you changed your Deployment Source to "Local Git"?

[2018-10-16 18:53] EricJizbaMSFT commented on #653
@ColbyTresness @davidebbo how do we fully change from "Run From Package" to "Local Git"? The change to deployment source doesn't seem to take effect like it did before we introduced `WEBSITE_RUN_FROM_PACKAGE` as the default.

[2018-10-16 18:55] davidebbo commented on #653
Removing the `WEBSITE_RUN_FROM_PACKAGE` App Setting should be the correct way of disabling it, after which Local Git should work fine.

[2018-10-16 21:27] #641 closed

[2018-10-17 02:20] dmusicant-eagle opened #729 "Failing in VSCode on Mac to deploy DotNet Azure Function"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: ArgumentError
Error Message: Invalid Object.

Version: 0.11.0
OS: darwin

[2018-10-17 08:04] v-dantch commented on #701
Hi @EricJizbaMSFT Could you help to share any solutions about this issue?

[2018-10-17 10:51] ZhengJun003 opened #730 "Deploy Java Function Project fails: Error Message: Invalid Object"
Configuration:
[code]

Reproduce steps:

1. Create a java function project
2. Deploy Java Function Project to a new function app

Result:
Deploy failed,
![image](https://user-images.githubusercontent.com/41051257/47080802-8de07100-d23b-11e8-9a6b-38502fe4309f.png)

Investigation:
Deploy again, successful. it's not stable repro

[2018-10-17 16:21] EricJizbaMSFT commented on #701
Can you copy the logs of the 'func host start' task? It should be in the "terminal" view:
![screen shot 2018-10-17 at 9 20 25 am](https://user-images.githubusercontent.com/11282622/47101062-e852e080-d1ed-11e8-8efe-227cf520b643.png)

This was a brand new project - correct? Does the file structure look like this?
![screen shot 2018-10-17 at 9 21 02 am](https://user-images.githubusercontent.com/11282

[2018-10-17 17:37] EricJizbaMSFT commented on #729
We have done a little work to improve those error messages, but haven't released that yet.

Does this happen consistently for you? There may have been an outage earlier causing this

[2018-10-17 17:39] EricJizbaMSFT commented on #727
Closing as by design. Feel free to re-open if it's not a permission issue

[2018-10-17 17:39] #727 closed

[2018-10-17 17:41] EricJizbaMSFT commented on #726
Did you have the func cli installed? This seems by-design based on the message. You can try running `func --version` to see if it's currently installed

[2018-10-17 17:45] EricJizbaMSFT commented on #723
What language are you deploying? And are you deploying to linux or windows?

VS Code is just sending a zip of all the files so this might be a bug on the Kudu side. Unless we need to restart the app or something

[2018-10-17 17:51] EricJizbaMSFT commented on #720
@julielerman so is this working for you now? In other words did you get your existing project to work or just a brand new app?

[2018-10-17 17:53] EricJizbaMSFT commented on #717
Can you give me more information about your app?
1. Are you using custom routes?
1. Are you using the default zipdeploy or local git deploy?
1. Was this a new function app or existing function app?
1. Does it happen consistently? This could be the result of an outage...

[2018-10-17 17:54] EricJizbaMSFT commented on #716
Could you give a little more info about this scenario? For example what language are you using?

[2018-10-17 18:01] EricJizbaMSFT commented on #701
@v-dantch or you could just give me access to that VM if that's easier and I can take a look

[2018-10-17 18:09] EricJizbaMSFT commented on #672
Closing because we can't repro. Feel free to re-open if you can get a consistent repro for us

[2018-10-17 18:09] #672 closed

[2018-10-17 18:11] EricJizbaMSFT commented on #667
Sorry for the delayed response. Does this still repro for you? Can you try running `func_env\Scripts\activate && pip install ptvsd` manually from the command line? That issue is coming from 'pip' so I'm not sure if our extension can fix it directly

[2018-10-17 18:13] EricJizbaMSFT commented on #659
Sorry for the delayed response. Can you give us a little more info? For example:
1. Does this always happen for you?
1. Do the file paths listed in the "--require" above actually exist?

[2018-10-17 18:39] EricJizbaMSFT commented on #645
Filed an issue on kudu, which might be where this error is coming from: https://github.com/projectkudu/kudu/issues/2889

Otherwise I'll close this as "needs repro". Feel free to re-open if you can get us a consistent repro

[2018-10-17 18:39] #645 closed

[2018-10-17 18:40] EricJizbaMSFT commented on #572
Closing due to lack of response. Feel free to re-open with more info

[2018-10-17 18:40] #572 closed

[2018-10-17 20:18] #709 closed

[2018-10-17 21:11] #334 closed

[2018-10-17 21:28] julielerman commented on #720
p.s. when I have some tme again I will go check the "breaking changes" list.

[2018-10-17 22:13] nturinski commented on #719
Hi, @Ariela1127 and @drmiru,

We have found a consistent repro of this bug and should have a fix released on Monday (10/22).  After release, please update and let us know if it resolves your issue!

[2018-10-18 00:17] #625 closed

[2018-10-18 01:48] nturinski commented on #653
Fixed by https://github.com/Microsoft/vscode-azuretools/pull/289

[2018-10-18 01:48] #653 closed

[2018-10-18 01:49] nturinski commented on #719
Fixed by https://github.com/Microsoft/vscode-azurefunctions/pull/732.  Please re-open if the issue persists even after the new release.

[2018-10-18 01:49] #719 closed

[2018-10-18 01:49] #640 closed

[2018-10-18 09:30] v-xuanzh opened #734 "Pop up an error when running 'Start Streaming Logs' for one deployed Linux function app with Python"
Version: 1.29.0-insider (user setup)
Node.js: 8.9.3
Architecture: x64
Extension version: ![image](https://user-images.githubusercontent.com/34729022/47144273-b0d15a80-d2f9-11e8-9b4f-6f319610c40c.png)
Repro Steps:
1. Create a project with Python.
2. Create a Function adding an HttpTrigger.
3. Deploy to one Linux function app.
4. Right click the function app -> Select 'Start Streaming Logs' -> Check

[2018-10-18 10:19] v-xuanzh opened #735 "Generate a wrong function URI for one deployed function app with Python"
Version: 1.29.0-insider (user setup)
Node.js: 8.9.3
Architecture: x64
Extension version: ![image](https://user-images.githubusercontent.com/34729022/47144273-b0d15a80-d2f9-11e8-9b4f-6f319610c40c.png)
Repro Steps:
1. Create a project with Python.
2. Create a Function adding an HttpTrigger.
3. Deploy to one Linux function app.
4. Copy the function Uri to terminal after deploying successfully.

Expec

[2018-10-18 11:47] v-dantch opened #736 "'Refresh' works well after right clicking from the context menu for 'Functions' node"
**Platform/OS Version:** Win10
**Node.js:** 8.9.3
**Extension Version:** [0.12.0](https://azcode.blob.core.windows.net/vscode-azurefunctions/master/2086/vscode-azurefunctions-0.12.0.vsix
)

**Repro Steps:**
1. Drill down from one function app -> Right click 'Functions' node -> Right click 'Refresh' action.
2. Check the result.

**Expect:**
'Refresh' doesn't work.

**Actual:**
'Refresh' works well.

[2018-10-18 12:12] v-xianya opened #737 "[Linux]Pop up an error dialog when debugging using JavaScript"
Version: 1.29.0-insider (user setup)
Node.js: 8.9.3
Architecture: x64
Extension Version: ![image](https://user-images.githubusercontent.com/41351993/47153104-298fe100-d311-11e8-9aea-122f748a0ff2.png)

Repro Steps:

1.	Click ‘Create New Project…’ -> Choose JavaScript .
2.	Create Function used the project created in Step1 and select HTTP trigger as function template.
3.	Debug index.js.
4.	Check the

[2018-10-18 12:15] v-xianya opened #738 "The account of file is not consistent between local and VS Code for JS & C#"
Version: 1.29.0-insider (user setup)
Node.js: 8.9.3
Architecture: x64
Extension version: ![image](https://user-images.githubusercontent.com/41351993/47153126-3ca2b100-d311-11e8-8a6b-e52a37139d21.png)

Repro Steps:

1. Create a project with the func cli using the following command:
    a.	JavaScript: "func init --worker-runtime node"
    b.	C#: "func init --worker-runtime dotnet"
2. Check the accou

[2018-10-18 12:18] v-xianya opened #739 "[Linux]Fail to find the HttpTrigger template when adding an HttpTrigger using command"
Version: 1.29.0-insider (user setup)
Node.js: 8.9.3
Architecture: x64
Extension version: ![image](https://user-images.githubusercontent.com/41351993/47153598-a7082100-d312-11e8-8d00-5bb0b1f2a119.png)

Repro Steps:
1. Open the ‘TERMINAL' window -> Input command "func init --worker-runtime node".
2. Add an HttpTrigger by inputting command "func new --template HttpTrigger --name HttpTrigger1".
3. Che

[2018-10-18 16:56] EricJizbaMSFT commented on #734
Thanks for filing. This is a known issue with Linux Consumption apps. Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/589

[2018-10-18 16:56] #734 closed

[2018-10-18 17:07] EricJizbaMSFT commented on #738
That is expected. Files or folders prefixed with `.` are not displayed by default on mac or linux, but they still exist.

For example, `ls` is the command to list files and it only lists two files for me. But if I do `ls -a` I can see all files/folders including "hidden" files/folders:
![screen shot 2018-10-18 at 10 04 39 am](https://user-images.githubusercontent.com/11282622/47171376-68944700-d2b

[2018-10-18 17:07] #738 closed

[2018-10-18 17:12] EricJizbaMSFT commented on #735
Can you give more detail? What did you expect the url to be?

[2018-10-18 17:18] EricJizbaMSFT commented on #739
What version of the func cli do you have installed? Run `func --version`

[2018-10-18 18:17] EricJizbaMSFT commented on #654
Filed an issue on the functions host here: https://github.com/Azure/azure-functions-host/issues/3635

[2018-10-18 18:20] EricJizbaMSFT commented on #736
I've seen this as well. The "list functions" api doesn't seem very reliable

[2018-10-18 18:35] EricJizbaMSFT opened #740 "Init python project for VS Code fails when venv doesn't exist"
Repro steps:
1. Create a python project from the cli with a venv _not_ named "func_env"
[code]
(NOTE: The activate command is different on windows: `env1/Scripts/activate`)
1. Open VS Code
1. Say yes when you get this prompt:
![image](https://user-images.githubusercontent.com/11282622/47176180-c890ea80-d2c9-11e8-9910-30dbb3dfe8d4.png)

Expected: it succeeds:
Actual:
[code]

[2018-10-18 18:56] nturinski opened #741 "Creating new JS project provides old task.json"
Not really a bug, but it's a bit disorienting.

Repro steps:
1. Have an empty workspace
1. Create a new JavaScript project in an empty folder
1. Add to workspace
1. `tasks.json` defaults to v1 runtime and immediately prompts the user to update `tasks.json`

Expected: To have to proper `tasks.json` for v2 (the default)
Actual: Returns the v1 `tasks.json`

[2018-10-18 19:11] nturinski commented on #741
Never mind probably a user settings issue.  Cannot repro.

[2018-10-18 19:11] #741 closed

[2018-10-18 21:03] fiveisprime commented on #690
1. EventHub trigger
1. Event Grid
1. Durable Functions (don’t think we have javascript in our templates repo yet)
1. IoT Hub

[2018-10-18 21:30] bradcavanagh-ffs commented on #686
I too ran into this bug. I have a directory structure that's similar to `upperProject/azureFunctions`, and if I open the `upperProject` folder in VS Code and try to deploy the functions in `azureFunctions`, I get the behaviour described above (Syncing 0 trigger functions...) and there are no more functions in the Function App in the Portal. If I open the `azureFunctions` directory directly, then d

[2018-10-18 21:41] chojrak11 commented on #708
@EricJizbaMSFT sorry I was AFK for a few days. It was the interim 1.28 release of VSCode that caused these warnings, which were then removed in 1.28.1 if I remember correctly. The warning is one thing, but I'm having hard time understanding what requires 16-17 seconds during initialization of this extension. Hope you'll get it sorted.

[2018-10-18 21:52] EricJizbaMSFT commented on #701
This is the log I see:
[code]

@nturinski will look into why the host is required now

[2018-10-19 01:14] v-xianya commented on #739
The func cli version is 2.0.1-beta.31.
![image](https://user-images.githubusercontent.com/41351993/47192310-0dc32400-d37f-11e8-812b-404896bdbe81.png)

[2018-10-19 02:43] v-xuanzh commented on #735
The generated function Uri seems to be missing **'code=...'**
like https://test10181.azurewebsites.net/api/HttpTrigger?code=SJfrJahW0rOboyVfdkaX9AJ0iZzICqGhb5osH5XqnCp7gSsCFbPnIQ%3D%3D

[2018-10-19 17:32] EricJizbaMSFT commented on #735
When you create an Http Trigger you have to specify the authorization level:
![screen shot 2018-10-19 at 10 31 07 am](https://user-images.githubusercontent.com/11282622/47234275-238a1680-d38a-11e8-838a-4f07bf27857d.png)

If you select "anonymous" then there will be no code. You can check this in the "function.json" file that is generated:
![screen shot 2018-10-19 at 10 32 04 am](https://user-image

[2018-10-19 17:32] #735 closed

[2018-10-19 17:43] EricJizbaMSFT commented on #739
That version is about 4 months out of date and is a beta version. The functions team released the first non-beta version ([v2.0.2](https://www.npmjs.com/package/azure-functions-core-tools/v/2.0.2)) about a month and a half ago. Please make sure you're on at least that version when testing in the future, thanks

[2018-10-19 17:43] #739 closed

[2018-10-19 18:02] #740 closed

[2018-10-19 18:25] MystK opened #745 "Are deployment slots supported?"
Hello, are deployment slots supported? I can't seem to find a way to deploy to my slot through this extension.

[2018-10-19 18:36] nturinski commented on #745
Deployment slots currently are not supported in our extension; however, we are following the issue here:
https://github.com/Microsoft/vscode-azurefunctions/issues/82

I'll close this as a duplicate, but feel free to upvote or comment in the other issue 😃

[2018-10-19 18:36] #745 closed

[2018-10-20 00:07] nturinski commented on #701
Fixed via https://github.com/Microsoft/vscode-azurefunctions/pull/743

[2018-10-20 00:07] #701 closed

[2018-10-20 23:21] Michael-McD opened #747 "**/*.resx cannot be found"
Repro steps:

1. install VS Code Azure Functions extension
2. create a C# function (using above extension)
3. select "Deploy to Function App"

Action: azureFunctions.deploy
Error type: Error
Error Message: Could not zip a non-exist file path.

Terminal output:
Restore completed in 43.08 ms for C:\Users\****\Documents\repos\analyzer\analyzer.csproj.
C:\Program Files\dotnet\sdk\2.1.403\Microsoft.Com

[2018-10-22 07:21] v-xianya commented on #739
Got it, Thanks for your sharing.

[2018-10-22 09:31] v-dantch opened #748 "Fail to running 'python3 -m venv_env' when creating Python project on Linux"
**Platform/OS**: Linux Ubuntu 16.04
**Node.js:** 8.9.3
**Extension Version:** [0.12.0](https://azcode.blob.core.windows.net/vscode-azurefunctions/master/2113/vscode-azurefunctions-0.12.0.vsix)

**Repro Steps:**
1. Run 'python3' and make sure that succeed to install Python.
2. Click 'Create New Project...' -> Select 'Python' language.
3. Check the result.

**Expect:**
Succeed to create Python proje

[2018-10-22 09:44] v-dantch opened #749 "No notification pops up to initialize for optimal use with VS Code after opening the project"
**Platform/OS**: Windows 10
**Node.js**: 8.9.3
**Extension Version**: [0.12.0](https://azcode.blob.core.windows.net/vscode-azurefunctions/master/2113/vscode-azurefunctions-0.12.0.vsix)

**Repro Steps:**
1. Run below command:
      _python -m venv env1
      env1/Scripts/activate
      func init --worker-runtime python
      func new --template HttpTrigger --name HttpTrigger1_
2. Open VS Code.

**E

[2018-10-22 16:58] EricJizbaMSFT opened #751 ""func extensions install" should not open terminal by default"
Currently the task has "presentation.reveal" as "always", but if anything we want to make installing the extensions _less_ noticeable to the user (since it's been a source of confusion for JavaScript users). We should probably use "never" or "silent".

If we use silent - we would need a problemMatcher ($msCompile?) - but this won't work if they ever change this away from .NET Core...

[2018-10-22 17:25] EricJizbaMSFT opened #752 ""Add to workspace" with no folders open should just "Open in current window""
Repro steps:
1. Close all folders in VS Code
1. Create a new project
1. Select "Add to workspace" when prompted

Expected:
Folder is open in VS Code like normal:
![screen shot 2018-10-22 at 10 22 13 am](https://user-images.githubusercontent.com/11282622/47307620-5cbdc300-d5e4-11e8-886c-6752a1ff5d69.png)

Actual:
Untitled "multi-root" workspace with only one folder:
![screen shot 2018-10-22 at 10 2

[2018-10-22 18:14] qubitron opened #753 "Use the python version active in the current python extension"
The functions extension should use the Python version selected using the interpreter selector specified by the user.

Per:
https://code.visualstudio.com/docs/python/environments

Use the python.pythonPath setting to get the python interpreter currently selected in the extension.

[2018-10-22 19:02] EricJizbaMSFT commented on #753
We can definitely respect the "python.pythonPath" setting if it's at the "user" level.

However, it seems like that setting is usually created at the workspace level. That won't help us since we need to select the interpreter _before_ creating a python project (aka in an empty folder). We run `func init` to create the project and that command fails if it's not in a venv or if the version is wrong.

[2018-10-22 19:15] brettcannon commented on #753
@EricJizbaMSFT so is the issue that `func init` provides no way to specify the interpreter and so you need to make sure the environment is already activated? Otherwise I'm not quite following what the issue of a workspace setting is as it sounds like it already needs to exist before `func init` runs.

[2018-10-22 20:45] EricJizbaMSFT opened #755 "Failed to create service bus trigger"
Repro steps:
1. Make sure you don't have any service bus namespaces in your subscription
1. Create a service bus trigger (project language doesn't matter)
1. Select 'Create new App Setting' when asked

Expected:
The quick pick for service bus namespaces is empty or throws a helpful error

Actual:
Error similar to "resources.map is not a function"

NOTE: This works fine if you actually have a servi

[2018-10-22 20:49] brettcannon commented on #753
Right, I remember finding that a bit odd about the Functions CLI the last time I played with it because I believe it then created another directory to put the files into instead of doing it into the current directory as I expected.

So one way to get around this is if you simply send the command to the terminal then the Python extension -- if already running -- will activate any chosen virtual env

[2018-10-22 20:55] ejizba opened #756 "Restarting the debugger for a C# project fails"
If you hit the green reconnect button while debugging a C# project:
![screen shot 2018-10-22 at 1 52 13 pm](https://user-images.githubusercontent.com/11282622/47318734-b2549880-d601-11e8-938f-0650cb248729.png)

You will get this error:
"No process with the specified id is currently running."

It's because reconnect uses the same processId even though we've restarted the func host. This isn't a pro

[2018-10-22 21:18] EricJizbaMSFT opened #757 "C#Script should have deploySubPath"
For 'C#Script' we should set 'deploySubPath' to '.' to leverage the benefits of this PR: https://github.com/Microsoft/vscode-azurefunctions/pull/620

[2018-10-22 22:23] nturinski opened #758 "Local Git Deployment Log doesn't update in real time"
When doing a local git deploy, it hangs on `WARNING: Ignoring preDeployTask...` and then only once it finishes, displays the entire log at once.

![image](https://user-images.githubusercontent.com/5290572/47322871-6d832e80-d60e-11e8-9712-7804a4d1bdaa.png)

[2018-10-23 00:00] jinglouMSFT commented on #697
We just released a new version of the Functions extension, v0.12.0.  I tried to follow the "Create your first function using Visual Studio Code" tutorial using the new extension, I didn't seem to run into the issue you were seeing. I couldn't repro it either with the 0.11.0 release however.  This is what I did. Let us know if your steps were different.

1. start VS Code and select the Azure icon o

[2018-10-23 02:05] zunhu commented on #716
I got similar issue. using .net461, but when I did 'Azure deploy' got some warning during build:

C:\Users\v-zuhu\.nuget\packages\microsoft.net.sdk.functions\1.0.23\build\netstandard1.0\Microsoft.NET.Sdk.Functions.Publish.targets(145,5): warning : Method IoTWorkbench.IoTHubTrigger1.Run is missing a trigger attribute. Both a trigger attribute and FunctionName attribute are required for an Azure fun

[2018-10-23 02:12] petegooch opened #759 "I've followed the instructions on Microsoft's site, installing all of the listed requisites, and have gotten this far but cannot progress further."
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createNewProject
Error type: Error
Error Message: You must have the .NET CLI installed to perform this operation.

Version: 0.12.0
OS: linux

[2018-10-23 15:30] EricJizbaMSFT commented on #759
What do you get when you run `dotnet --version` from the command line? Is the `dotnet` cli in your path?

[2018-10-23 15:35] EricJizbaMSFT commented on #747
Can you successfully run a `dotnet publish` from the command line? The error above is expected if `dotnet publish` failed. If this is an open source project, I can take a look at your repo on Github

[2018-10-23 16:40] davefrancis opened #760 "Refactor Python tasks.json away from using terminal-specific separators"
OS: Windows 10 Version 1803
Azure Functions Core Tools (2.1.725 Commit hash: 68f448fe6a60e1cade88c2004bf6491af7e5f1df)
Function Runtime Version: 2.0.12134.0
ms-azuretools.vscode-azurefunctions version: 0.12.0

I'm receiving the same error message as issue #701 and #660

**Repro Steps:**

- Install Python 3.6.6

- Create a new project with Python -> Create a new function contained in the new create

[2018-10-23 16:54] EricJizbaMSFT commented on #760
@davefrancis the debug configuration is specified in your `tasks.json` and `launch.json` files in the `.vscode` folder. The 'windows' 'command' properties default to a PowerShell separator (`;`), but you're welcome to switch it to a cmd separator (I believe that would just be `&&`)

Let me know if that works for you.

[2018-10-23 16:57] EricJizbaMSFT commented on #716
@zunhu that original error is expected if your build failed. You will have to fix your build errors for a deploy to work

[2018-10-23 17:02] polarapfel opened #761 "VS Code (Linux) suggests to update to later Core Tools package which does not exist"
Hey there,

I get this annoying little reminder every time I start VS Code (on Linux).

At this time, 2.0.1-beta.35 is the latest version available through the apt repository Microsoft provides.

Can you either disable this warning or nudge the package maintainer of Core Tools to update their package please?

Thanks,

Tobias W.

[2018-10-23 17:38] davefrancis commented on #760
That solved my issue thanks.

[2018-10-23 21:40] EricJizbaMSFT commented on #761
How did you install func? Did you follow these instructions: https://github.com/Azure/azure-functions-core-tools#linux

If you have a beta version, you may have installed with old instructions. They released the non-GA version a month-ish ago so hopefully instructions won't change much going forward. We definitely want to make sure you update to at least a non-beta version so let me know if that d

[2018-10-23 22:53] polarapfel commented on #761
Hey @EricJizbaMSFT,

I am using this repository as documented:

`wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb`

Doing

`sudo apt-get update`

does not render a more recent version than 2.0.1-beta.35 in that repository. If they published a newer package version than that, the update mechanism in that apt repository i

[2018-10-24 00:17] EricJizbaMSFT commented on #761
I don't have a 18.04 Ubuntu machine ready to test, but in any case I would suggest filing an issue on the func cli itself: https://github.com/Azure/azure-functions-core-tools

It definitely seems like a bug if 2.0.1-beta.35 is the latest version you can get

[2018-10-24 15:45] #759 closed

[2018-10-24 15:48] EricJizbaMSFT commented on #760
Glad that worked for you. I'll leave the issue open, however, because I think we can potentially refactor the tasks.json so that it doesn't use terminal-specific separators and prevent similar issues in the future

[2018-10-25 02:20] v-dantch opened #764 "Casing of 'Initialize project for use with VS Code' is wrong"
Platform/OS Version: Win10
Node.is : 8.9.3
Extension Version : [0.12.0](https://azcode.blob.core.windows.net/vscode-azurefunctions/master/2113/vscode-azurefunctions-0.12.0.vsix)

Repro Steps:
1. F1 -> Type 'Azure Functions: Initialize Project for Use with VS Code'.
2. Check the result.

Expect:
Display 'Azure Functions: Initialize Project for Use with VS Code'.

Actual:
Display 'Azure Functions: I

[2018-10-25 21:20] Michael-McD commented on #747
Hi Eric,

Just pulled the latest release and shortened the path length (which is know to  cause this issue sometimes) and now everything is working as expected.

Gonna close.
Michael

ps thanks for getting back.

[2018-10-25 21:20] #747 closed

[2018-10-26 12:03] gazzzmo opened #765 "Error "resources.map is not a function" when creating ServiceBusQueueTriggerCSharp function"
Repro steps:
Create new Function
Select ServiceBusQueueTriggerCSharp
Select namespace
After scanning for service bus queues - if none exist get error

Action: azureFunctions.createFunction
Error type: object
Error Message: resources.map is not a function

Version: 0.12.0
OS: win32

[2018-10-26 14:29] SushilGujar opened #766 "'Microsoft.NETCore.App', version '2.0.0' was not found"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Command "dotnet "c:\Users\sushil.gujar\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.12.0\resources\dotnetJsonCli\Microsoft.TemplateEngine.JsonCli.dll" --require "c:\Users\sushil.gujar\.

[2018-10-26 18:30] StephenWeatherford commented on #764
Should use title case for all command titles

[2018-10-26 18:42] EricJizbaMSFT commented on #766
@SushilGujar do you have version 2.0.0 of .NET Core installed?

That being said I'm not sure why "self signed certificate in certificate chain" is the title of this issue. Did you also have cert issues?

[2018-10-26 18:44] EricJizbaMSFT commented on #765
Thanks for filing! Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/755

This only happens if you don't have a service bus namespaces in your subscription. As a workaround, you can create a namespace in your subscription. Or if you don't want to mess with Azure, you can select an existing App Setting when prompted and manually change to a different app setting afterward

[2018-10-26 18:44] #765 closed

[2018-10-26 19:44] SushilGujar commented on #766
Thanks Eric.
Installing Core 2.0.
Doesn't it update with Visual Code?

[2018-10-26 22:11] asavaritayal commented on #723
I believe this is for Java on Windows.

[2018-10-26 23:04] EricJizbaMSFT commented on #766
No .NET Core is not included with Visual Studio Code

[2018-10-28 15:12] davemurphysf opened #768 "On 0.12.0, creating a C# HTTP function with AuthorizationLevel.Anonymous will create a function with AuthorizationLevel.Function"
Hi there,

Pretty straight forward to reproduce.  I use 'Create Function...' button on my project and follow the wizard.  All of my functions are `Anonymous` in terms of auth, but since I've updated to 0.12.0, the template is having them be `Function` auth.

Not sure any of this matters, but for the sake of completeness I'm running on OS X Mojave, the project is .NET Core/C#.

[2018-10-29 15:29] #764 closed

[2018-10-29 15:52] EricJizbaMSFT commented on #768
Looks like a change in the templates caused this. Filed https://github.com/Azure/azure-functions-templates/issues/798

A few workarounds:
1. Manually edit the authLevel from 'Function' to 'Anonymous'
1. Change the `azureFunctions.templateVersion` setting in VS Code to `2.8.0`. This will lock your template version to one that doesn't have the bug, but it also means you won't get automatic updates t

[2018-10-30 03:37] nzthiago commented on #723
We were using VS Code + Java on Windows. The flow:

Deploy a Java function with a custom route.
Test it on the portal, verify the route works.
Modify the Java code to remove the “route” parameter from the trigger annotation.
Redeploy the Java function.
Test it on the portal – route still works, function.json does not get updated.

The only way was to kill function.json manually using Kudu, then re

[2018-10-30 05:41] jdneo commented on #722
@EricJizbaMSFT Do we have any solution for this kind of issue for other languages?

[2018-10-30 05:50] jdneo commented on #723
@nzthiago Is the function.json generated correctly after you modify the `route` field?

You can find the `function.json` at `./target/azure-functions/<your-function-name>/function.json`

[2018-10-30 06:00] JohnReeson opened #770 "v1 js function debug"
Create a v1 js function project, add a http trigger. F5.

No debugger attached and only get message in Debug console

    Debugging with inspector protocol because Node.js version could not be determined (Error: connect ECONNREFUSED 127.0.0.1:5858)

Try [task.json for v2](https://github.com/Microsoft/vscode-azurefunctions/blob/master/docs/debugConfig.md). Got

    Cannot connect to runtime process

[2018-10-30 17:18] EricJizbaMSFT commented on #770
What version of node do you have installed on your machine? Can you try adding `"protocol": "legacy"` to your `.vscode\launch.json` file? It will probably look like this after you add that:
[code]

[2018-10-30 19:19] nzthiago commented on #723
Are you not able to reproduce it?

[2018-10-30 23:18] khle opened #772 "Improve experience when "azureFunctions.deploySubPath" is incorrect"
Using The Azure Function extension in code

Repro steps:
Out of the box, just upload to Azure results in the error "Could not zip a non-exist file path"

Action: azureFunctions.deploy
Error type: Error
Error Message: Could not zip a non-exist file path.

Version: 0.12.0
OS: win32

[2018-10-31 04:56] jdneo commented on #517
Addressed in #530

[2018-10-31 04:56] #517 closed

[2018-10-31 05:11] jdneo commented on #215
Addressed in #530

[2018-10-31 05:11] #215 closed

[2018-10-31 12:04] Himanshu-gachLabs opened #773 "Enable to create Azure Function from VS Code"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: You must have the .NET CLI installed to perform this operation.

Version: 0.12.0
OS: win32

[2018-10-31 13:40] MarkusA380 opened #774 "Error: Response from service 'Microsoft.Web' does not contain sufficient information to enforce access control policy."
When attempting to unfold a specific subscription I get the error
[code]
after waiting for about 3 minutes for the spinner symbol next to the subscription name to disappear.

The developer console does not contain any errors.

[2018-10-31 15:10] nzthiago commented on #723
Got it, will ask for the team member that found the issue to help here with more info and hopefully some repro code or extra repro steps

[2018-10-31 15:33] EricJizbaMSFT commented on #772
@khle can you copy your `.vscode/settings.json` file here? I'm most interested in the following settings: "azureFunctions.projectLanguage", "azureFunctions.preDeployTask", and "azureFunctions.deploySubPath"

Can you also copy the logs in the "Azure Functions" output channel here?

[2018-10-31 17:44] #766 closed

[2018-10-31 17:45] EricJizbaMSFT commented on #766
Thanks for filing. Hopefully you're unblocked now - let us know if we can improve this experience somehow.

[2018-10-31 17:48] EricJizbaMSFT commented on #761
Closing this as you should be able to install a later version than 2.0.1-beta.35. Please file an issue on this repo if you still can't: https://github.com/Azure/azure-functions-core-tools

[2018-10-31 17:48] #761 closed

[2018-10-31 18:19] EricJizbaMSFT commented on #737
Looks like a bug in the dotnet cli: https://github.com/dotnet/cli/issues/9807

Maybe try uninstalling or reinstalling to see if that fixes your issue. You can also try any other workarounds listed in the issue I linked

[2018-10-31 18:22] EricJizbaMSFT commented on #720
Closing for now. Feel free to re-open if you can get a consistent repro

[2018-10-31 18:22] #720 closed

[2018-10-31 18:28] EricJizbaMSFT commented on #692
Closing due to lack of response. Feel free to re-open with more info

[2018-10-31 18:28] #692 closed

[2018-10-31 18:32] EricJizbaMSFT commented on #504
Closing this. We want to default to consumption plans for all users as it is the recommended pattern. If you're having issues with consumption plans then you should follow up with the functions team to get those addressed

[2018-10-31 18:32] #504 closed

[2018-10-31 18:40] fiveisprime opened #775 "Improved Functions binding editing experience"
Provide some kind of button (similar to the "add configuration" that's visible) to add a binding. Provide some intellisense for bindings; I believe there's a schema that we could leverage.

CC and thanks to @asavaritayal for the spec

[2018-10-31 19:17] #239 closed

[2018-10-31 20:55] fiveisprime opened #777 "Alert users when multiple installations of core tools are present"
This has come up a few times now where a user has the older v1 tools installed via npm then installs v2 using homebrew. In this case, whichever comes first in the path is used and it often creates a very confusing issue for the user.

We should be able to detect when multiple installations are available and let users know what they need to do to remedy the situation. It may require using `brew lis

[2018-10-31 23:05] EricJizbaMSFT commented on #529
Closing this due to lack of response. @timmyreilly if you're still looking for an answer I suggest you follow one of the guidelines from here: https://github.com/Azure/Azure-Functions#questions--help

We also plan to add better support for bindings in our extension. That's being tracked here: https://github.com/Microsoft/vscode-azurefunctions/issues/775

[2018-10-31 23:05] #529 closed

[2018-11-01 01:36] jdneo commented on #723
Thanks for the help. 👍

[2018-11-01 02:09] jdneo commented on #730
@ZhengJun003

Tried several times but not able to repro, any more information could be helpful. 😃

BTW, I guess it's not `debug fail` but `deploy fail`, right?

[2018-11-01 02:38] daniel-rocha commented on #723
I'm the original reporter. I'm retesting to see if I can still reproduce it; will comment back soon.

[2018-11-01 06:15] jdneo commented on #723
@daniel-rocha Thank you for the validation. Closing this issue for now.

[2018-11-01 06:15] #723 closed

[2018-11-01 10:32] ZhengJun003 commented on #730
I test several times today, try to reproduce this bug, but I can't repeat success now. If you don't think it's important, you can turn it off。

[2018-11-01 10:51] jdneo commented on #730
Closing it for now since it's not reproducible.

For anyone who meets this issue. Please feel free to reopen/comment on this issue.

Thanks.

[2018-11-01 10:51] #730 closed

[2018-11-01 15:04] patridge commented on #697
I just hit the same issue using v0.12.0 that I just installed today. I was following along with the [**Create your first function using Visual Studio Code**](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code) docs. The error was similar for both JavaScript and C# projects, and the command it runs for both seems to have a weird `<` character I wasn't exp

[2018-11-02 09:02] veuncent commented on #697
The problem persists for me as well.
After I ran `dotnet build` manually, I received the following output in my Omnisharp logs:

[code]

Terminal output:
[code]

And then I ran `func host start` and received similar output to @patridge :
[code]

[Source code](https://github.com/globaldigitalheritage/azure-function-extract)

[2018-11-03 23:51] mariomeyrelles commented on #772
I had the same problem today. In my case, the project is a .NET project written in F#. After the migration to functions 2.0, it started with this deployment problem. Using VS Code to publish it manually it yields the same error. Let me show the steps I took visually:

![image](https://user-images.githubusercontent.com/839937/47958375-67476780-dfa9-11e8-8e41-8168bbfbac01.png)

![image](https://user

[2018-11-04 00:17] khle commented on #772
In my case I had 2.0 as the target framework. Azure must have expected 2.1, because when I switched to 2.1, no more error. Deploying multiple functions requires the right folder hierarchy with function.json file. I shared all of my experiences on medium.com

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mario Meyrelles <notifications@github.com>
Sent: Satur

[2018-11-04 03:48] jeffhollan opened #780 ""disabled" is no longer valid for v2 function.json"
Issue Type: <b>Bug</b>

For v2 templates, having "disabled" in the function.json is no longer the way to disable. Disabling requires setting an environment variable as [documented here](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function#functions-2x---all-languages)

Extension version: 0.12.0
VS Code version: Code - Insiders 1.29.0-insider (d43f6cb9947c57a3254b556e69aeacc2b202

[2018-11-04 04:24] jeffhollan opened #781 "Host auto-restart on save closes debug session"
Feature Request:

The azure functions host will automatically detect file changes and reload. This is nice for javascript where you can make a quick edit in code and have host pick it up right away. However in VS Code the debug session terminates somewhere in this process. Not a huge deal but would be nice if the file watch and host restart could maintain a debug session.  May include an ask on re

[2018-11-04 05:08] jeffhollan opened #782 "node_modules not in gitignore"
Issue Type: <b>Bug</b>

Don't know if this is on you or azure/azure-functions-templates but the default .gitignore for javascript projects doesn't include node_modules which seems like it should be there. As soon as you include an npm package commit tree goes to hundreds :)

Extension version: 0.12.0
VS Code version: Code - Insiders 1.29.0-insider (d43f6cb9947c57a3254b556e69aeacc2b2025184, 2018-11

[2018-11-04 13:19] mariomeyrelles commented on #772
Hello khle,

Can you share more details?

[2018-11-04 15:40] JohnReeson commented on #770
I manage to debug with two steps:

1. In launch.json, add `"protocol": "legacy"` and delete `"preLaunchTask": "runFunctionsHost"`.
2. In terminal ,`func host start` to manually start host and F5.

[2018-11-04 23:28] jeffhollan opened #783 "WEBSITE_RUN_FROM_PACKAGE=1 should be set by default"
Issue Type: <b>Feature Request</b>

You are using the /zipdeploy endpoint which is good because it enables you to be "running from package" to get the perf benefits, however we only keep as a zip and give those perf benefits [if the app settings "WEBSITE_RUN_FROM_PACKAGE=1" before deploy](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#websiterunfrompackage).  It's no

[2018-11-05 00:49] jeffhollan opened #784 "Host.json suggestions out of date for functions v2"
Issue Type: <b>Bug</b>

The schema changed, so for v2 projects the schema URL may need to be updated? Not sure where it's pulling from right now.  Should be noted that we do need to fix the v2 schema we have published now too as per issue Azure/azure-functions-host#3733 but assume could do both of these in parallel

Extension version: 0.12.0
VS Code version: Code - Insiders 1.29.0-insider (bdfe4fd

[2018-11-05 02:00] mariomeyrelles commented on #772
Hello,

I migrated the project to .net core 2.1.403 / sdk 2.1.5.

I can confirm that the issue still happens.

[2018-11-05 16:32] EricJizbaMSFT commented on #784
@jeffhollan we pull it from http://json.schemastore.org/host

[2018-11-05 16:35] EricJizbaMSFT commented on #783
@jeffhollan we already default to `WEBSITE_RUN_FROM_PACKAGE` if the user creates a function app from VS Code. Are you saying you want us to modify existing function apps on deploy?

[2018-11-05 17:12] fiveisprime opened #785 "Improve the journey for creating a function project and function"
Right now there's a disconnect between creating a function project caused by adding the app to the workspace and reloading the view. The user is required to navigate back to the Azure view to continue the journey (in the case where they are creating a new function) and there should be some way to keep them on track.

[2018-11-05 17:13] EricJizbaMSFT commented on #772
@mariomeyrelles it looks like you need to update your `azureFunctions.deploySubpath` setting as a part of your migration from "netstandard" to "netcoreapp". This warning in one of your screenshots is the important  message:
![screen shot 2018-11-05 at 9 05 41 am](https://user-images.githubusercontent.com/11282622/48013842-269b3b80-e0da-11e8-90cf-dff342c7527c.png)

I can probably fix the original e

[2018-11-05 17:14] EricJizbaMSFT commented on #772
@khle can you share the link to this?

[2018-11-05 17:19] jeffhollan commented on #783
Ah - maybe? I usually create my functions from the portal for whatever reason.  It doesn't hurt to update this from the tooling side after they click the Deploy warning that says you'll overwrite their deployment. This would be consistent with what VS does

[2018-11-05 17:41] EricJizbaMSFT commented on #783
Not so sure about that :P We had C#Script users run into issues with "Run from package" (see https://github.com/Microsoft/vscode-azurefunctions/issues/638). I believe VS only supports C#, but VS Code supports (to varying degrees) almost any language that Azure Functions supports - so it's not as simple.

Can the portal default to WEBSITE_RUN_FROM_PACKAGE? I much prefer using a default because then

[2018-11-05 17:45] mariomeyrelles commented on #772
@EricJizbaMSFT  - I changed the setting and it gives me the same error. I was able to deploy using Azure CLI so this issue didn't block me on the weekend.

[code]

Regarding the message, I accepted the suggestion and it didn't work. When I changed the setting to netcoreapp2.1, the warning gone away. I suspect the issue is related to the fact that I use a .fsproj and not, a .csproj.

[2018-11-05 18:07] EricJizbaMSFT commented on #772
@khle cool blog article! cc @fiveisprime

@mariomeyrelles Ah yeah I haven't spend much time with F# so I'm not sure what issues you'll run into. We have an open issue here to add support: https://github.com/Microsoft/vscode-azurefunctions/issues/315

Anyways based on your screenshots, I would expect one of these paths to work:
[code]

[code]

[2018-11-05 18:32] jeffhollan commented on #783
I believe this was being discussed and I think it makes sense.  @btardif do you recall where conversation ended where new sites would be set to run from package by default and only turned OFF if the user turned them off?

[2018-11-05 19:00] mariomeyrelles commented on #772
@EricJizbaMSFT

Thanks for your help! It worked fine :) Now I have an F# precompiled project running .net core 2.1 on Azure Functions. This is great because it has been difficult to find good examples on F#.

The settings are shown below for sake of completeness:

`
"azureFunctions.deploySubpath": "Backend/bin/Release/netcoreapp2.1/publish",
`

[code]

![image](https://user-images.githubuserconten

[2018-11-06 02:40] v-dantch opened #788 "Fail to deploy Python project to a new function app"
**OS/Platform:** MacOS High Sierra
**Node.js** : V8.12.0
**Extension Version:** [20181105.8](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=102&view=results)

**Repro Steps:**
1. Create a new project with Python language.
2. Create a new function with HTTP trigger template and Function Authorization level.
3. Debug the Python project.
4. Make sure the Python project is open ->De

[2018-11-06 03:51] jeffhollan commented on #687
Just tested it out with latest build.  Seems to be working fine - so no repro

[2018-11-06 03:51] #687 closed

[2018-11-06 06:45] prateikjaiswal opened #789 "There is a deployment currently in progress. Please try again when it completes"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: 409
Error Message: There is a deployment currently in progress. Please try again when it completes.

Version: 0.12.0
OS: darwin

[2018-11-06 16:45] EricJizbaMSFT commented on #770
@JohnReeson according to [this doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions), v1 officially works on Node 6. If I spent time on this bug, I would test on Node 6 and not Node 8 or 10.

We're also admittedly focused on v2 and not v1, for a variety of reasons (because it's cross platform like VS Code and because it's the latest version). Do you have any plans to move

[2018-11-06 18:57] #251 closed

[2018-11-06 19:37] andystroz opened #792 "Update Function Templates to Latest"
I have the latest version of the Azure Functions CLI but it does not include all of the templates listed under:

https://github.com/Azure/azure-functions-templates/tree/master/Functions.Templates/Templates

Specifically I am looking for the Event Grid Trigger Option

[2018-11-06 20:03] EricJizbaMSFT commented on #792
@andystroz the VS Code extension doesn't actually get its templates from the cli. What language are you using? If you're using JavaScript you just have to change the template filter:
![screen shot 2018-11-06 at 11 53 02 am](https://user-images.githubusercontent.com/11282622/48090084-da73f800-e1ba-11e8-9cbb-bb36616c7b69.png)

I don't see it for C#, though...

[2018-11-06 20:08] andystroz commented on #792
Unfortunately, I am using C#. Is there a way I can add it externally? or do I have to wait for an update?

Also, why does it not get its templates from the CLI?

[2018-11-06 21:17] EricJizbaMSFT commented on #792
We don't get the templates from the cli, but we still get the templates from that repo (and updates are picked up automatically). It actually looks like the EventGrid trigger for C# is v1 only. See [here](https://github.com/Azure/azure-functions-templates/blob/master/Functions.Templates/Templates/EventGridTrigger-CSharp/build.config/template.json) where it says "1.x"

I would file an issue on that

[2018-11-07 02:16] JohnReeson commented on #770
@EricJizbaMSFT  Sorry about the mistake and thanks for your patience. In my test with node 6, the same thing happens, but I will just move to v2 right now. Thanks again, not a real block so I just close it.

[2018-11-07 02:16] #770 closed

[2018-11-07 04:18] EasonWang01 opened #794 "Unable to changes account after login in Azure plugin"
After login to the Azure VSCode plugin then seems not able to change another account in Azure plugin for now.

[2018-11-07 13:37] andystroz commented on #792
FYI an issue has been created under that project [here](https://github.com/Azure/azure-functions-templates/issues/803).

@EricJizbaMSFT Thanks for all the help

[2018-11-07 17:58] EricJizbaMSFT commented on #697
@patridge Can you send a screenshot of your folder open in VS Code? Is there a .csproj file at the root of your workspace? If it can't find functions, then you might have the wrong folder open.

@veuncent running `func host start` won't quite work for C#. If you want to run directly from the command line you'd have to do something like this:
[code]

Your tasks.json should already handle this with

[2018-11-07 18:28] EricJizbaMSFT commented on #774
@MarkusA380 can you see Microsoft.Web resources in the portal? Does this happen consistently for you?

[2018-11-07 18:31] EricJizbaMSFT commented on #749
@v-dantch the commands you ran in the screenshot don't match the commands you listed in the repro steps. Specifically you did `cd env1\Scripts`, which isn't in the repro steps. You need to stay in the 'test-env' folder. Feel free to re-open if that doesn't work for you.

[2018-11-07 18:31] #749 closed

[2018-11-07 18:50] EricJizbaMSFT commented on #785
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/593

[2018-11-07 18:50] #785 closed

[2018-11-07 18:55] EricJizbaMSFT commented on #783
Closing as by-design. As mentioned above we already default to this for new apps and we don't want to modify existing function apps.

[2018-11-07 18:55] #783 closed

[2018-11-07 19:09] EricJizbaMSFT commented on #773
Do you have the .NET CLI installed and on your path? If not you can install it here: https://www.microsoft.com/net/download

[2018-11-07 19:12] EricJizbaMSFT commented on #748
Does this happen consistently for you? I can't get a repro. Maybe send info on the VM to me if it still repros

[2018-11-08 00:37] asavaritayal opened #796 "Deploy PowerShell function app"
Enable the following functionality under a hide key for the PowerShell preview:

Creation:
- [ ] List PowerShell as one of the supported runtimes i.e. `FUNCTIONS_WORKER_RUNTIME="powershell"` when creating a function app in azure
- [x] List available templates for PowerShell /cc @soninaren

Deployment:
~~Create a new app on Linux Dedicated with underlying container set to `"mcr.microsoft.com/azure-

[2018-11-08 00:38] asavaritayal commented on #796
/cc @nimakms

[2018-11-08 00:41] asavaritayal opened #797 "PowerShell Functions Debugging"
Enable F5 experience for PowerShell Functions leveraging the [PS extension for VS Code](https://code.visualstudio.com/docs/languages/powershell#_debugging)

/cc @joeyaiello @TylerLeonhardt

[2018-11-08 07:45] v-dantch commented on #749
Uh-oh. Thanks for your timely reminder--need to stay in the "test-venv" folder. Sorry for the mistake.

[2018-11-08 12:12] javiermarasco opened #798 "Deploy python to linux appservice with error"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Python projects are not supported on Windows Function apps.  Deploy to a Linux Consumption app.

Version: 0.12.0
OS: win32

The azure function created is a linux one, even using the wizard from vscode extens

[2018-11-08 17:08] archunanswaas opened #799 "Node js create function issue"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: Unable to write to Folder Settings because no resource is provided.

Version: 0.12.0
OS: win32

[2018-11-08 17:48] EricJizbaMSFT commented on #798
@javiermarasco do the apps show as "Linux Preview" like this in VS Code?:
![screen shot 2018-11-08 at 9 46 58 am](https://user-images.githubusercontent.com/11282622/48217066-441b1000-e33b-11e8-9638-7e1a6e0e4d3f.png)

And do they also show as Linux Consumption in the portal?
![screen shot 2018-11-08 at 9 47 38 am](https://user-images.githubusercontent.com/11282622/48217118-66ad2900-e33b-11e8-80df-8

[2018-11-08 18:19] EricJizbaMSFT commented on #716
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/772

[2018-11-08 18:19] #716 closed

[2018-11-08 18:57] #782 closed

[2018-11-08 20:06] ColbyTresness opened #802 "Add support for TypeScript"
We're working on some changes to the core tools which will improve the ability of customers to use TypeScript with functions. Eventually, we'd like to propagate these changes to the extension. Would love to chat more about this @fiveisprime

[2018-11-08 22:17] fiveisprime commented on #802
Set something up! TS is definitely on our radar.

[2018-11-08 22:38] soninaren commented on #796
@asavaritayal is there an action item on me for this. The templates are already part of the templates from the feed. We can put filter property on it like we did for python.
https://github.com/Azure/azure-functions-tooling-feed/blob/master/cli-feed-v3.json#L454

[2018-11-09 17:30] EricJizbaMSFT commented on #798
It should automatically happen if you create the function app from VS Code _with a python project open_. Specifically, we're looking at your "azureFunctions.projectLanguage" setting in VS Code to determine if it's a Python project.

You can also try following this link: http://aka.ms/functions-consumptionlinux-portal

It will take you to the portal with "Linux Consumption" enabled. When you go to

[2018-11-09 17:45] EricJizbaMSFT commented on #788
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/798 (This one was filed first, but that one has more comments already)

@v-dantch could you join that issue and respond to my comments there as well? Specifically can you try creating a linux consumption function app from the portal as described in this comment: https://github.com/Microsoft/vscode-azurefunctions/issu

[2018-11-09 17:45] #788 closed

[2018-11-09 19:29] EricJizbaMSFT commented on #796
I can already see these templates for PowerShell so @soninaren I don't think you need to do anything:
![screen shot 2018-11-09 at 11 28 28 am](https://user-images.githubusercontent.com/11282622/48283865-a6930f80-e412-11e8-8597-541c42427d08.png)

[2018-11-10 11:35] MarkusA380 commented on #774
Please define Microsoft.Web resources?

[2018-11-12 01:12] prashanthmadi opened #804 "unable to deploy python app from VS code extension - ServiceUnavailable"
Repro steps:

<img width="272" alt="screen shot 2018-11-11 at 7 10 31 pm" src="https://user-images.githubusercontent.com/1486808/48321124-c6c6f800-e5e5-11e8-9f2c-d9f0715e90eb.png">

- tried to deploy python app using site extension and it gives ServiceUnavailable error..
- had similar issue from windows machine too

<img width="593" alt="screen shot 2018-11-11 at 7 09 24 pm" src="https://user-imag

[2018-11-12 10:00] v-dantch commented on #798
Hi @EricJizbaMSFT , thanks for your share.

From portal, I can succeed to create a Linux consumption function app like below.
![image](https://user-images.githubusercontent.com/34729092/48339604-8ded5880-e6a3-11e8-85e1-494372720353.png)

[2018-11-12 17:47] EricJizbaMSFT commented on #798
@carltongibson the error (`This operation is not supported by App Service plans with kind "functionapp,linux" and sku tier "Dynamic"`) is expected. Some scenarios just aren't supported on Linux Consumption apps yet. However, feel free to file an issue on this repo to make sure we address your specific scenario going forward. And yes - I also see 401 errors occasionally. I don't think there's anyth

[2018-11-12 17:53] EricJizbaMSFT commented on #798
@javiermarasco it's possible your company subscription doesn't allow preview features. I would talk to your subscription admin or ask for help from the Functions team directly per [these instructions](https://github.com/Azure/Azure-Functions#questions--help). If it's not working in the portal then unfortunately there's probably not much the VS Code extension can do either. Let me know if you figur

[2018-11-12 22:21] ColbyTresness opened #805 "Change default to Node 10"
Node 10 is now LTS and we're planning on making it the default.

Tracking issues for addition of 10.13 and core tools default switch:

https://github.com/Azure/azure-functions-nodejs-worker/issues/145
https://github.com/Azure/azure-functions-core-tools/issues/867

[2018-11-12 22:39] EricJizbaMSFT commented on #805
I'll double check, but this should happen automatically in VS Code as long as the feed is updated:
https://functionscdn.azureedge.net/public/cli-feed-v3.json

[2018-11-13 10:21] carltongibson commented on #798
Hi @EricJizbaMSFT. Thanks for the reply. Bar the original issue here, which does seem suboptimal from the extension's POV, I agree the other issues may be out of your control. I would hope for better error messages if you're expecting an issue, but I leave that with you. Other than that I'm just reporting my experience: with these hurdles out the way the extension works well I think. Thanks for yo

[2018-11-14 18:22] fiveisprime opened #807 "Remove python feature flag (dec 4th)"
Python (and Linux consumption in general) is going to public preview on Dec 4th so the extension should expose this behavior by default. The "preview" labels should remain for this release.

[2018-11-14 18:57] EricJizbaMSFT commented on #799
@archunanswaas how did you get this error? Can you detail your repro steps?

[2018-11-14 23:21] pmadusud opened #808 "Local debugging doesn't work with enterprise proxy"
I am using the latest version of Visual Studio code and developing Azure functions using .NET Core tools. The azure functions tries to connect with the public API for certain processing.

My development environment is behind the enterprise proxy. When I try to do local debugging I get the below error which I believe is due to the proxy authentication.
`A connection attempt failed because the conne

[2018-11-15 15:35] prashanthmadi commented on #804
Hi @EricJizbaMSFT ... Manual creation process worked for me using steps at below link.
https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function

looks like something wrong with the vscode extension. is there a way i could enable extra logs that could help us resolve this issue.

[2018-11-15 19:59] whaakman opened #810 "VS Code extension will always exit upon trying to build and debug"
Tried different directories, different ways to create and test my function (standard HTTPTrigger). However the result is always te same. Creating the function from command line with the function CLI works fine.

Repro steps:
Following the exact steps as documented per: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code

Action: azureFunctions.pickProcess

[2018-11-15 20:50] whaakman commented on #810
It seems like it's an issue where dotnet build is ran from. Running the commands from the tasks.json one by one manually works fine and the Azure executes. Can this be a path issue?

[2018-11-15 21:19] EricJizbaMSFT commented on #810
Can you copy the full output of the 'clean' task when it fails?

[2018-11-15 21:40] #753 closed

[2018-11-15 21:41] #542 closed

[2018-11-15 21:45] #82 closed

[2018-11-15 23:29] mathewc commented on #668
I closed https://github.com/Microsoft/vscode-azurefunctions/issues/668, but I'll leave this one open until final verification.

[2018-11-16 07:47] whaakman commented on #810
Sure.

Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.
The terminal process terminated with exit code: 1

Terminal will be reused by tasks, press any key to close it.

This is my tasks

[2018-11-16 17:34] EricJizbaMSFT commented on #810
@whaakman can you post a screenshot of your workspace? Are your *.csproj and *.cs files at the root of the workspace? This may be a path problem, but the task is supposed to use the current workspace root by default

[2018-11-16 21:42] asavaritayal opened #811 "Enable publishing to Linux on an opt-in basis for node and .net"
Default target should continue to be Windows for `node` and `.net` . We want to provide a path for users to publish to Linux dedicated or Linux consumption, while clearly indicating that these platforms are currently in preview.

(I imagine this would be similar to our v1 v/s v2 deployment, where we default to v2 but provide an option for v1.)

Note: `Java` and `Python` remain unaffected by this W

[2018-11-17 00:43] prashanthmadi commented on #804
Let me know if you need any details from my end.

[2018-11-19 22:59] #552 closed

[2018-11-19 23:35] qubitron commented on #631
@EricJizbaMSFT we shouldn't be installing pylint by default, we want to move away from pylint in favor of the language server in future releases.

The bug here is that the pylint prompt doesn't go away after David clicks install, which should is an issue that should be filed & fixed by the VS Code extension

[2018-11-19 23:36] qubitron opened #814 "Don't install pylint by default in new functions environments"
I noticed that pylint is installed as part of initializing your new environment, this was done as a fix to #631, but this isn't the right solution to this problem as we are also planning to move away from pylint when the language server becomes the default.

[2018-11-19 23:48] EricJizbaMSFT commented on #631
Not quite true since "Install" _was_ working. It was installing inside the virtual environment for the project. So the next time he created a project he got a clean virtual environment that didn't have pylint. Thus "I've several time told it to install it" was really only once per project

[2018-11-19 23:50] EricJizbaMSFT commented on #814
@qubitron have you already removed the prompt to install pylint from the Python extension? If not - can you link to an issue for us to track? I don't think I'm willing to change this until I know that prompt is gonna haha

[2018-11-20 00:52] qubitron commented on #814
We've removed the banner only if you have the language server enabled, so for most users they will still get the prompt until the language server becomes the default. We don't have an issue tracking that default yet, but when we have one I will link it here.

The other option is to explicitly disable pylint for functions apps in these workspaces, by adding the following to a settings.json file:
[c

[2018-11-21 18:58] EricJizbaMSFT commented on #455
Improved in https://github.com/Microsoft/vscode-azuretools/pull/310 and https://github.com/Microsoft/vscode-azuretools/pull/334

[2018-11-21 18:58] #455 closed

[2018-11-21 19:28] EricJizbaMSFT opened #815 "Add "Deployments" tree item"
@nturinski already added this to the shared package. Should be relatively easy to add to the functions repo as well

[2018-11-22 02:50] lirenhe opened #816 "Creating Azure Functions app failed in Azure China"
Repro steps:
1. Creating a c# iothub triggered function.
2. Try to create Azure Functions App to Azure China env.
3. Failed with error 'Dynamic pricing tier is not enabled for this subscription.'

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Dynamic pricing tier is not enabled for this subscription.

Version: 0.12.0
OS: win32

[2018-11-26 23:02] firebellys commented on #659
This started happening for me as well. It happens every time (repeatable) and I have all those required files. I've made dozens of functions on this machine recently too, so this is not expected.

&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: Co

[2018-11-27 17:01] EricJizbaMSFT commented on #808
Extension support for proxies has been recently added in VS Code insiders. You're welcome to try it out. See here for more info: https://github.com/Microsoft/vscode-azure-account/issues/27#issuecomment-441998815

We already have an issue tracking in this repo, so closing as a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/493

[2018-11-27 17:01] #808 closed

[2018-11-27 17:02] EricJizbaMSFT commented on #493
Extension support for proxies has been recently added in VS Code insiders. You're welcome to try it out. See here for more info: https://github.com/Microsoft/vscode-azure-account/issues/27#issuecomment-441998815

I'll leave this open for tracking

[2018-11-27 17:11] EricJizbaMSFT commented on #816
@lirenhe are you able to create a function app in the portal? The error message seems pretty clear that that subscription doesn't support consumption plans

[2018-11-27 17:23] dpwatrous opened #819 "Remove package-lock.json from .gitignore"
First of all, nice work addressing the event-stream issue (https://github.com/dominictarr/event-stream/issues/116) so quickly yesterday! In light of that (and other past & future issues) I'd like to suggest using a package-lock.json (or yarn.lock) file committed to source control.

package-lock.json is currently added to .gitignore with the following comment:

[code]

It's true they can be a bit o

[2018-11-27 17:32] dpwatrous commented on #819
Here's a PR: https://github.com/Microsoft/vscode-azurefunctions/pull/820

[2018-11-27 17:52] EricJizbaMSFT commented on #819
@dpwatrous thanks for the suggestion. We've gone back and forth on `package-lock.json` and I'm definitely open to either option.

I understand that package-lock.json prevents getting the latest (malicious) packages like the recent event-stream, but doesn't it also slow us down in getting the latest _helpful_ security updates?

[2018-11-27 19:30] EricJizbaMSFT opened #821 "Refactor Python launch.json/tasks.json to leverage getRemoteLauncherCommand api"
As of today we install `ptvsd` into the user's project and hard-code the launcher command. Ideally we should use the `getRemoteLauncherCommand` command provided here: https://github.com/Microsoft/vscode-python/issues/3121 ~~(not quite released yet)~~, which has the following benefits:
1. No need to install ptvsd
1. We automatically get updates to the launcher command if/when they happen

[2018-11-27 19:33] EricJizbaMSFT opened #822 "Provide `func host start` as a task"
...rather than hard-coding it in every user's project. It provides the following benefits:
1. We can update the task under the covers as necessary without having to change a user's project
1. We write less stuff to a user's `launch.json` and `tasks.json`

There's two issues in VS Code that affect this experience:
https://github.com/Microsoft/vscode/issues/54397
https://github.com/Microsoft/vscode/

[2018-11-27 19:33] EricJizbaMSFT commented on #821
Note: this is dependent on https://github.com/Microsoft/vscode-azurefunctions/issues/822

[2018-11-27 19:35] dpwatrous commented on #819
Yeah, it's a tradeoff for sure - the downside is you have to be much more active in managing the project's dependencies or as you said you'll fall behind. IMO that's the cost of taking on dependencies, which is often under-appreciated in the Node/NPM ecosystem.

That said, the tooling around lock files definitely helps. Running an update command is a lot easier than bumping versions by hand. :)

[2018-11-27 19:45] EricJizbaMSFT commented on #819
Sounds fine to me. Although we have several repos and I'd like to keep the process consistent. @StephenWeatherford @nturinski @PrashanthCorp any objections to adding back the `package-lock.json` to our repos?

[2018-11-28 16:52] EricJizbaMSFT commented on #819
Discussed offline with team and they're okay with it. Thanks!

[2018-11-28 16:52] #819 closed

[2018-11-28 17:12] jeffpignataro opened #823 "Reported Backdoor Trojan in 0.12.0 Release"
After the most recent update (0.12.0) a file within an associated node module, "flatmap-stream\test\data.js", is reporting an instance of Troj/Bckdoor-AL from the SOPHOS Enterprise Suite. Can anyone confirm if this node module is compromised? Or if perhaps this is just a heuristics issue?

![image](https://user-images.githubusercontent.com/1724466/49169025-1c91e480-f2f6-11e8-8a9e-0bf8f2b62d7b.jpg)

[2018-11-28 17:14] EricJizbaMSFT commented on #823
Thanks for checking @jeffpignataro

We released an update on Monday to address this - please make sure you are on version 0.12.1. See the changelog here: https://github.com/Microsoft/vscode-azurefunctions/blob/master/CHANGELOG.md#0121---2018-11-26

Also see this VS Code blog post for more information about this issue: https://code.visualstudio.com/blogs/2018/11/26/event-stream

[2018-11-28 17:21] jeffpignataro commented on #823
That's awesome @EricJizbaMSFT! Thank you so much. I was really panicking. I'm so glad to hear you guys have it under control and even already dealt with it. Thank you for being attentive and responsive!

[2018-11-28 17:21] #823 closed

[2018-11-28 18:15] dpwatrous commented on #819
Awesome, thanks, Eric. I've been digging the extension by the way!

[2018-11-28 18:23] asavaritayal opened #825 "Rename func_env to .env"
`func_env` -> `.env`

For Python Functions. Work item inspired by best practices guidance from the Python Tools team.

[2018-11-28 19:10] asavaritayal opened #826 "Enable --build-native-deps for Python"
Action: azureFunctions.deploy
Error type: ENOENT
Error Message: ENOENT: no such file or directory, stat '/Users/asavaritayal/connect2018-function/recommender.zip'

![image](https://user-images.githubusercontent.com/8435148/49175814-43ecaf80-f2fe-11e8-8dc1-c6f746000411.png)

Version: 0.12.1
OS: darwin

[2018-11-28 19:18] EricJizbaMSFT commented on #667
Closing due to lack of response. Feel free to re-open with more info

Also related to https://github.com/Microsoft/vscode-azurefunctions/issues/821

[2018-11-28 19:18] #667 closed

[2018-11-28 19:19] EricJizbaMSFT commented on #726
Closing due to lack of response. Feel free to re-open with more info

[2018-11-28 19:19] EricJizbaMSFT commented on #729
Closing due to lack of response. Feel free to re-open with more info

[2018-11-28 19:19] #729 closed

[2018-11-28 19:21] EricJizbaMSFT commented on #774
Sorry for the delayed response. A "Microsoft.Web" resource is an "App Service" or "Function App"
![screen shot 2018-11-28 at 11 20 52 am](https://user-images.githubusercontent.com/11282622/49176425-ae521f80-f2ff-11e8-8428-4ca04eb8aa0a.png)

[2018-11-28 19:50] EricJizbaMSFT commented on #826
I'm guessing the `func pack` task failed. Is that the path you were expecting?

In any case, we can improve the error message to tell you that the `func pack` task failed instead.

[2018-11-28 21:16] asavaritayal commented on #826
I was able to resolve the issue by switching over to the CLI to use the following command:

[code]

The command requires the docker host to be installed on the user's machine, in order to build the right binaries for the linux platform.

@EricJizbaMSFT do you think we can catch the exception and automatically retry publishing using the `--build-native-deps` flag? Brainstorming and open to options

[2018-11-28 21:44] EricJizbaMSFT commented on #826
Can you copy/paste the current output of `func pack` (without build-native-deps)? I'm curious what the error looks like today.

In regards to your suggestion - can that be handled directly in the cli? Ideally the cli detects whether you have native-deps and does a "normal" or "build-native-deps" pack as applicable...without the need for the extra flag

[2018-11-28 22:05] EricJizbaMSFT opened #830 "Add slot support for listing functions"

[2018-11-28 22:06] EricJizbaMSFT opened #831 "Create slot"

[2018-11-28 22:06] EricJizbaMSFT opened #832 "Swap slot"

[2018-11-28 22:54] asavaritayal opened #833 "Enable log streaming for Python/Linux functions"

[2018-11-28 22:54] #807 closed

[2018-11-28 22:55] #825 closed

[2018-11-28 23:50] EricJizbaMSFT commented on #833
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/589

We currently have that in 'tracking' milestone since we use kudu to stream logs and I don't know how we'd do it without kudu.

[2018-11-28 23:50] #833 closed

[2018-11-29 01:08] asavaritayal commented on #826
Here's an example:

[code]

We don't automatically re-try in the CLI since users need to first ensure that docker is installed.

The ideal experience would be for Code to catch the exception and check if docker is installed. If not, prompt the user to install docker and re-try publishing, powered by the bottom right hand notification.

Thoughts?

[2018-11-29 03:05] v-dantch opened #835 "[Suggestion]Display 'Create New Function App...' when creating function apps in VS Code"
**OS:** Wind10
**Node.js:** V8.12.0
**Build Definition:** [20181127.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=923&view=results)

**Repro Steps:**
1. Right click one selected subscription-> Select 'Create Function App in Azure...' item.
2. Check the result.

**Suggestion:**
Display 'Create New Function App...'.

**Actual:**
Display 'Create Function App in Azure...'. And p

[2018-11-29 07:16] v-dantch opened #836 "[Suggestion] Add an action to open function apps in Browse"
**OS:** All
**Node.js:** V8.12.0
**Build Definition:** [20181127.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=923&view=results)

**Repro Step:**
Right click one function app and check the context menu.

**Suggestion:**
Add a action to open function apps in Browse.

**Actual:**
There is no action to open the function app in Browse.
![image](https://user-images.githubusercont

[2018-11-29 16:38] EricJizbaMSFT commented on #826
Can't you just throw an error if docker isn't installed?

[2018-11-29 18:51] firebellys commented on #659
I have tried uninstalling and reinstalling the extension as well and still can't make any new functions. The runtime works, and I can debug without issue, but creating new functions is no longer working at all.

[2018-11-29 18:54] EricJizbaMSFT commented on #659
@firebellys how did you uninstall? Sometimes it doesn't *actually* uninstall everything. Can you try the following:
1. Go to `/Users/eumenhofer/.vscode/extensions/` and delete all `ms-azuretools.vscode-azurefunctions-*` folders
1. Re-install

[2018-11-30 03:48] lirenhe commented on #816
I could create it in the portal. But when creating Azure Functions, i have to specify App Service Plan. I guess this is because consumption plans is not supported in Azure China.  https://feedback.azure.com/forums/355860-azure-functions/suggestions/34491388-consumption-plan-china

[2018-11-30 19:01] firebellys commented on #659
That fixed it! If it happens again, I'll compress the folder and send it over you can investigate. Thanks!

[2018-11-30 19:28] MDCR55 opened #840 "mvn problem with VS Code"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to run "mvn" command. Check output window for more details.

Version: 0.12.1
OS: win32

[2018-11-30 20:38] MDCR55 opened #841 "Properly parse html errors"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: 401
Error Message: <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/ht

[2018-11-30 22:38] #831 closed

[2018-11-30 22:38] #832 closed

[2018-11-30 22:50] EricJizbaMSFT commented on #659
@firebellys glad that worked for you. Also thanks for adding to the issue. It seems this issue may be related to when you update the extension - which could help me find the root cause

[2018-12-01 00:41] #755 closed

[2018-12-01 00:48] EricJizbaMSFT commented on #815
Fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/842

[2018-12-01 00:48] #815 closed

[2018-12-02 17:32] prateikjaiswal commented on #789
@EricJizbaMSFT The deployment failed in the first attempt.
This happened when attempting to deploy again.

[2018-12-03 07:32] ashfondu commented on #826
for me i had to use --force at the end of the command along with what asavaritayal recommended
but it eventually error'ed with the following

Error running docker exec -t 68e4cbbca24e5c6e2f6b44d74b29ef97e041451138db7b857c447d218f182c85 /python_docker_build.sh.
output: Collecting azure-functions==1.0.0a5 (from -r requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/packages/4a/1f

[2018-12-03 07:43] ashfondu commented on #826
was able to finally get a function published after the error above
i had to comment out the pkg-resource from the requirements.txt file

[2018-12-03 08:59] v-dantch opened #844 "Debugging displays inconsistent project name when there are 2 opened projects at least"
**OS:** Linux
**Node.js:** v8.12.0
**Function tool:** v2.2.70
**Build Definition:** [20181201.9](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1165)

**Repro Steps:**
1. Create 2 Python projects at least like 'ptest1' and 'ptest2' and open them in VS Code.
2. Debug the second Python project.
3. Check the 'Terminal' window.

**Expect:**
All actions are about the second project '

[2018-12-03 09:16] v-xuanzh opened #845 "The maximum of the slot name isn't 64 characters"
**OS:** All
**Node.js:** V8.12.0
**Build Number:** [20181201.9](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1165&view=results)

**Repro Steps:**
1. Change the setting “azureFunctions.enableSlots” to true.
2. Right click 'Slots' node -> Select 'Create Slot...' --> Try to enter a unique slot name with multiple characters.
3. Check whether the maximum is 64 characters or not.

*

[2018-12-03 09:16] v-xuanzh opened #846 "An error occurs after installing the Azure Function and Azure App Service extensions"
**OS:** All
**Node.js:** V8.12.0
**Build Number:** [20181201.9](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1165&view=results)

**Repro Steps:**
1. Install the Azure Function extension [20181201.9](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1165&view=results).
2. Install the App Service extension which is integrated the new feature 'Deployment' node lik

[2018-12-03 09:54] v-xuanzh opened #847 "Add an action 'Open in Portal' for 'Deployments' context menu"
**OS:** All
**Node.js:** V8.12.0
**Build Number:** [20181201.9](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1165&view=results)

**Repro Steps:**
1. Expand one function app ->Right click 'Deployments' node -> Check the context menu.

**Expect**:
There shows an action 'Open in Portal' on the context menu.

**Actual**:
There is no action 'Open in Portal' on the context menu.
![a

[2018-12-03 16:48] EricJizbaMSFT commented on #847
Added "Deployments" to existing issue. Now closing this as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/90

[2018-12-03 16:48] #847 closed

[2018-12-04 02:50] v-xianya commented on #566
Verified on the Windows/Linux/MacOS with build 20181203.6. This issue reproduces. So we re-open it.

[2018-12-04 07:14] v-xianya commented on #846
Verified with build 20181203.6.
1. This issue reproduces on MacOS.
2. This issue doesn't reproduce on Windows/Linux.
3. Function tool version: 2.2.70.

[2018-12-04 16:46] EricJizbaMSFT commented on #566
@v-xianya This issue is several months old and was an external bug. Rather than re-opening this, please file a new bug with updated repro steps and new logs. Thanks

[2018-12-04 16:46] #566 closed

[2018-12-04 17:54] EricJizbaMSFT commented on #846
I can't reproduce this on any OS. @v-xianya sometimes when you install a vsix with the same version, it doesn't actually update. Please try deleting the extension from your extensions folder and re-installing.

Windows `%USERPROFILE%\.vscode\extensions`
macOS `~/.vscode/extensions`
Linux `~/.vscode/extensions`

[2018-12-05 02:33] v-xianya opened #850 "Pop up an error dialog when debugging function project with JavaScript"
**OS:** Windows/Linux
**Node.js:** V10.13.0
**Build Number:** 20181203.6

**Repro Steps:**

1. Create a new project using JavaScript.
2. Create a new function and add Httptrigger.
3. Debug.

**Expect:**
Succeed to debug.

**Actual:**
Prompt an error dialog during debugging.
Windows:
![image](https://user-images.githubusercontent.com/41351993/49486007-f16c3f80-f877-11e8-8262-646680767aa5.png)
Linux

[2018-12-05 02:50] v-xianya commented on #846
Thanks for your updates.  This issue doesn't reproduce according to the way you shared. Could you help to resolve it?

[2018-12-05 16:30] #846 closed

[2018-12-05 18:51] EricJizbaMSFT commented on #845
We can probably just change the message to:

[2018-12-05 18:54] EricJizbaMSFT commented on #841
@MDCR55 can you give a little more info:
1. Does this happen consistently?
1. What type of project are you deploying (language, runtime version, etc.)?

And any other repro steps that would help us

[2018-12-05 18:55] EricJizbaMSFT commented on #840
@MDCR55 can you copy the logs from the output window?

[2018-12-05 18:56] EricJizbaMSFT commented on #836
Function apps don't host websites (unlike web apps) so users likely won't browse to the site. Function apps provide trigger urls and that is the main entry point

[2018-12-05 18:56] #836 closed

[2018-12-05 18:58] #835 closed

[2018-12-05 19:05] EricJizbaMSFT commented on #816
Yeah I think the portal defaulted to a dedicated plan instead of consumption for linux. Make sure you're trying to get consumption. In any case I think the error is somewhat clear and this feels like an external bug so I'll go ahead and close

[2018-12-05 19:05] #816 closed

[2018-12-05 19:06] EricJizbaMSFT commented on #814
@qubitron can you link to an issue we can track? When will the python extension ship an update removing that pylint error?

[2018-12-05 19:09] EricJizbaMSFT commented on #811
We don't want to prompt for OS in most cases, however we can add an `advancedCreation` flag like we have in the app service extension for more advanced users

[2018-12-05 19:14] EricJizbaMSFT commented on #773
Closing due to lack of response. Feel free to re-open with more info

[2018-12-05 19:14] #773 closed

[2018-12-05 19:15] EricJizbaMSFT commented on #748
Closing due to lack of response. Feel free to re-open with more info

[2018-12-05 19:15] #748 closed

[2018-12-05 19:19] EricJizbaMSFT opened #851 "[Discussion] Handle projects that aren't at root of workspace"
We assume projects are at the root of the workspace, but it seems somewhat common to stick it in a sub folder. See these issues as examples:
https://github.com/Microsoft/vscode-azurefunctions/issues/772
https://github.com/Microsoft/vscode-azurefunctions/issues/697

We need to investigate this scenario and handle it better in general.