[2019-03-22 17:49] charlie632 commented on #1114
I managed to solve this by deleting the extension folder from `C:\Users\<myuser>\.vscode\extensions`. I had two versions of the extension (0.14 and 0.15). Deleted both folders and installed again the extension and everything worked just fine.

[2019-03-22 17:49] #1114 closed

[2019-03-23 00:11] kobyl opened #1115 "Symlinked directories don't zip properly"
On windows. With NPM when adding references using "file:...", the zipped deployment package does not resolve the files properly.

Repro steps:
 - Create a library project - lib1
 - Create function lib project - func1.
 - in func1's package.json, add a reference to lib1 using npm's file syntax.
  "lib1": "file../lib1"

  - Deploy to azure. The function will fail to resolve lib1. Viewing the resourc

[2019-03-23 08:38] supremejoondaum opened #1116 "region err"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Requested features are not supported in region.

Version: 0.15.0
OS: win32
VS Code Version: 1.32.3

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-25 11:21] pw007 opened #1117 "can not run npm install in win10 pro"
Repro steps:

1.
2.

Action: azureFunctions.installOrUpdateFuncCoreTools
Error type: Error
Error Message: Failed to run "npm" command. Check output window for more details.

Version: 0.15.0
OS: win32
VS Code Version: 1.32.3

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-25 14:02] galvesribeiro commented on #1081
@EricJizbaMSFT I think we are with similar issue now with TypeScript functions when they are in the same workspace as the C# ones. Did you tried that scenario?

[2019-03-25 14:26] galvesribeiro commented on #1081
Nvm. After some changes on the files similar to what you did on the C# ones I was able to make it work.

I think it should be documented somewhere that we require those changes.

Thanks!

[2019-03-25 15:40] EricJizbaMSFT commented on #1117
@pw007 can you copy the output of the npm command?

[2019-03-25 15:43] EricJizbaMSFT commented on #1116
@supremejoondaum can you describe the repro steps for this issue? For example, what type of project were you deploying? And to what region? Does it work in other regions?

[2019-03-25 15:44] EricJizbaMSFT opened #1118 "Add documentation for running multiple function projects in the same workspace"
Nvm. After some changes on the files similar to what you did on the C# ones I was able to make it work.

I think it should be documented somewhere that we require those changes.

Thanks!

_Originally posted by @galvesribeiro in https://github.com/Microsoft/vscode-azurefunctions/issues/1081#issuecomment-476220095_

[2019-03-25 21:49] EricJizbaMSFT commented on #1114
Glad you got that figured out! If you ever get a stable repro let me know and we can file a bug on VS Code. This has happened to me once in a blue moon, but no idea why and it always goes away after deleting that folder

[2019-03-26 00:31] supremejoondaum commented on #1116
I followed MSDN and proceeded, and I made an error when I chose it as Central Korea.
However, when I chose East Asia, distribution was successful.

[2019-03-26 01:05] #877 closed

[2019-03-26 12:21] ChristianWeyer commented on #686
@EricJizbaMSFT should this still work?

I just tried with the latest VS Code and Azure Functions tools bits, and it does not work.
I always get a
![image](https://user-images.githubusercontent.com/888718/54996560-ee819000-4fc9-11e9-90d5-09fd1c284f03.png)

[code]

Thanks!

[2019-03-26 15:26] #1077 closed

[2019-03-26 15:57] EricJizbaMSFT opened #1121 "Handle multiple function projects in one workspace"
@EricJizbaMSFT should this still work?

I just tried with the latest VS Code and Azure Functions tools bits, and it does not work.
I always get a
![image](https://user-images.githubusercontent.com/888718/54996560-ee819000-4fc9-11e9-90d5-09fd1c284f03.png)

[code]

Sample can be found here: https://github.com/thinktecture/azure-functions-extensibility

Thanks!

_Originally posted by @ChristianWeyer

[2019-03-26 16:10] EricJizbaMSFT commented on #1121
@ChristianWeyer that's happening because you have multiple function projects in the same workspace and we apparently don't handle that well. I'll look into fixing, but in the meantime you can either:
1. Delete 'sqlserver-demo-js' folder
1. Open up the `sqlserver-demo` folder directly
1. Change the "func host start" task in your tasks.json to this:
[code]
    (This last option only works because yo

[2019-03-26 16:11] EricJizbaMSFT commented on #686
@ChristianWeyer that's a related, but separate issue. Moved to #1121

[2019-03-26 20:05] #1050 closed

[2019-03-26 20:05] #1053 closed

[2019-03-26 20:40] ChristianWeyer commented on #1121
Thanks!
Indeed, the next step would be to debug the JS project (sqlserver-demo-js) and step into the C# code in the extensions.
Any hint for that?

[2019-03-26 21:33] pbhughes opened #1123 "Unable to debug azure function right out of the gate"
Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "build" failed with exit code "1".

Version: 0.15.0
OS: darwin
VS Code Version: 1.32.3

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-26 21:36] pbhughes commented on #1123
update required and fixed the issue

[2019-03-26 21:36] #1123 closed

[2019-03-26 23:14] #593 closed

[2019-03-26 23:14] #686 closed

[2019-03-26 23:48] #1054 closed

[2019-03-27 00:20] EricJizbaMSFT commented on #796
Fixed in https://github.com/Microsoft/vscode-azuretools/pull/460

[2019-03-27 00:20] #796 closed

[2019-03-27 01:40] #1121 closed

[2019-03-27 11:08] v-dantch opened #1129 "Miss "(Read only)" next to "Functions/Proxies" node for a new Linux Function App"
**OS**: All
**Build Version**: [20190327.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4473)
**Regression:** Not a Regression

**Repro Steps:**
1. Set "azureFunctions.advancedCreation" to true.
2. Create a new Linux Function App.
3. Expand the new Linux Function App and check the result.

**Expect:**
Display "(Read only)" next to "Functions/Proxies" nodes like in Azure Port

[2019-03-27 11:26] v-dantch opened #1130 ""View Commit in GitHub" doesn't work on Windows \Mac"
**OS**: All
**Build Version**: [20190327.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4473)
**Regression:** Not a Regression

**Repro Steps:**
1. Make sure you have signed in GitHub.
2. Right click one function app-->Select "Configure Deployment Source..." --> Select "GitHub".
3. Right click one deployment and select "View Commit in GitHub".

**Expect:**
Navigate to the Gi

[2019-03-27 11:58] v-xianya opened #1131 "No 'HttpTrigger' function shows under Functions node after deploying a C# project"
**OS:** Linux
**Build Version:** [20190327.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4473)
**Regression:** Previous release

**Repro Steps:**
1. Create a C# project with HTTP trigger template.
2. Debug --> Deploy.
3. Expand the Functions node under the deployed function app -> Check the result.

**Expect:**
'HttpTrigger' function shows under Functions node.

**Actual:**

[2019-03-27 17:12] EricJizbaMSFT commented on #1049
Investigated this and it's a bug in the `azure-arm-website` package that we use. We plan to move away from that package onto the new `@azure/arm-appservice` package so I filed a bug here: https://github.com/Azure/azure-sdk-for-js/issues/1811

[2019-03-27 17:30] EricJizbaMSFT commented on #1116
Hmm I was able to successfully create a windows function app in the Korea Central region. What OS were you deploying to? We default to Windows OS unless you're deploying a Python project.

In any case, glad the other region worked for you

[2019-03-27 17:34] EricJizbaMSFT commented on #1129
We know it's read-only based on the app setting `WEBSITE_RUN_FROM_ZIP` or `WEBSITE_RUN_FROM_PACKAGE` and that setting doesn't exist until you deploy for the first time to a linux consumption app.

Closing this as won't-fix since it would require a special case just to handle and it isn't worth it. The "read-only" mode prevents them from trying to delete functions, but you can't delete functions an

[2019-03-27 17:34] #1129 closed

[2019-03-27 17:50] EricJizbaMSFT commented on #1115
Thanks for filing - I can repro. We'll look into it

[2019-03-27 17:55] ankitkumarr commented on #1092
With https://github.com/Azure/azure-functions-core-tools/issues/1023 closed and released, there shouldn't be any need to create a virtual environment anymore. :)

[2019-03-27 18:12] nturinski commented on #1130
I tested this on Windows and it doesn't seem to reproduce for me.

[2019-03-27 19:01] EricJizbaMSFT commented on #1004
Filed an issue on python extension: https://github.com/Microsoft/vscode-python/issues/4966

[2019-03-27 19:04] EricJizbaMSFT commented on #1093
@bjwtufv701 can you add repro steps and more information on what type of project you're deploying?

[2019-03-27 19:06] EricJizbaMSFT commented on #905
Closing as this was fixed on VS Code insiders

[2019-03-27 19:06] #905 closed

[2019-03-27 19:08] EricJizbaMSFT commented on #737
Closing this as we haven't heard any other users run into it and the bug is in the dotnet cli

[2019-03-27 19:08] #737 closed

[2019-03-27 23:27] EricJizbaMSFT commented on #1131
@v-xianya does this only repro for you on Linux? And do the triggers show up if you restart the function app?

[2019-03-28 02:00] v-dantch commented on #1129
Got it. Thanks for your share.

[2019-03-28 02:21] v-xianya commented on #1131
Hi @EricJizbaMSFT, Thanks for your updates.
After restarting the function app this issue doesn't reproduce.

[2019-03-28 05:05] #1022 closed

[2019-03-28 06:59] abashutosh opened #1134 "Error while publishing Azure Function App"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.15.0
OS: win32
VS Code Version: 1.32.3

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-28 17:46] etaham opened #1135 "Cannot deploy function app from VSCODE: SELF_SIGNED_CERT_IN_CHAIN"
Repro steps:
I am behind a corp proxy that has it's own SSL/TLS cert. The cert is added to my computer's CA store (keychain).

I have the following setting in my settings.json:
"http.proxyStrictSSL": false

I have latest version of the extension and function tools installed.

To Reproduce:
1. Sign into azure account
2. Attemped to deploy a function App

Action: azureFunctions.deploy
Error type: SE

[2019-03-28 17:49] EricJizbaMSFT commented on #1135
@etaham can you try [VS Code Insiders](https://code.visualstudio.com/insiders/)? @chrmarti recently did some work to use a computer's CA store here: https://github.com/Microsoft/vscode/issues/52880

[2019-03-28 17:59] etaham commented on #1135
The insiders version fixed the issue. Thank you!

[2019-03-28 17:59] #1135 closed

[2019-03-28 21:01] EricJizbaMSFT opened #1137 "Creating queue trigger at the same time as project results in bad local.settings.json"
NOTE: This applies to most triggers except http or timer.

Repro steps:
1. Create new project
1. Select a queue trigger, new app setting, storage account, and queue name

Expected:
local.settings.json like this:
[code]

Actual:
You get a prompt like this:
![Screen Shot 2019-03-28 at 1 57 58 PM](https://user-images.githubusercontent.com/11282622/55192367-836ac180-5161-11e9-82af-05bb33a69cd5.png)
If

[2019-03-28 21:02] EricJizbaMSFT opened #1138 ""Open in new window" results in "index.js" being opened twice"
Repro steps:
1. Create new project and function
1. At the end, select "Open in new window"

Expected:
The new "index.js" (or whatever function file) is only opened in new window

Actual:
The file is opened in the new _and_ old window

[2019-03-28 22:48] EricJizbaMSFT commented on #1121
@ChristianWeyer we just released an update to the extension (v0.16.0) which had some improvements in this area. See this wiki for how to handle multiple function projects: https://github.com/Microsoft/vscode-azurefunctions/wiki/Multiple-function-projects

[2019-03-28 22:49] EricJizbaMSFT commented on #1118
Added here: https://github.com/Microsoft/vscode-azurefunctions/wiki/Multiple-function-projects

Also part of a "Learn more" button added here: https://github.com/Microsoft/vscode-azurefunctions/pull/1124

[2019-03-28 22:49] #1118 closed

[2019-03-28 22:53] EricJizbaMSFT commented on #1081
@galvesribeiro we just released an update to the extension including these fixes. Your extension should update automatically, but just check that you get v0.16.0 instead of v0.15.1-alpha.

I tweaked the above instructions a little bit when I wrote the "official" docs, but my recommendations from above should continue to work. See the wiki here: https://github.com/Microsoft/vscode-azurefunctions/wi

[2019-03-28 23:08] galvesribeiro commented on #1081
@EricJizbaMSFT awesome! I really much appreciate the help!

I'll test tomorrow when I get to the office with the new update.

Thanks!

[2019-03-28 23:09] galvesribeiro commented on #1118
Thank you!

[2019-03-29 16:48] EricJizbaMSFT commented on #1134
Thanks for filing - closing as external issue: https://github.com/Microsoft/vscode-azure-account/issues/53

[2019-03-29 16:48] #1134 closed

[2019-03-29 21:23] #1138 closed

[2019-03-29 23:17] alexkarcher-msft commented on #1017
Hi Matt! I sent you over the API to provide region recommendations to create an App Insights instance in an adjacent region to almost every region a user can deploy Functions to. This should enable you to enable App Insights by default in this flow.

You're also not quite correct in your current portal experience. App Insights is enabled by default, if you are deploying your app to a region which

[2019-03-29 23:24] juliusl commented on #756
On windows I don't get a message it just exits the process.

[2019-03-31 14:38] Miggleness opened #1145 "Improve experience when can't retrieve templates"
Repro steps:
1. Created a new functions project using template release 2.18.5 by running `dotnet new func -n Durable1`

2. Installed Azure functions extension `0.16.0`

3. Updated Durable1.csproj and set target framework from `netcoreapp2.1` to `netcoreapp2.2`

4. Updated Microsoft.NET.Sdk.Functions to `1.0.26`

5. Ran `dotnet restore`

6. Added function using Azure Functions extensions to my Dura

[2019-04-01 09:03] Strernd opened #1146 "Formerly disabled subscription is not recognized as enabled"
I had a function, that was disabled due to disabled subscription. I now changed the subscription in the Azure Web UI and the function is working again.
However performing actions in VS Code gives me the error.

[code]

This does not seem to reflect the actual state.

Sign out and Sign In didn't work.

[2019-04-01 11:44] gfelot commented on #1088
Same issue here !
[code]
Fresh azurefunction tools installed on my mac.

Any update ?

[2019-04-01 15:55] #1137 closed

[2019-04-01 17:54] EricJizbaMSFT commented on #1145
@Miggleness are there any logs in the "Azure Functions" section of the output window?
![Screen Shot 2019-04-01 at 10 54 09 AM](https://user-images.githubusercontent.com/11282622/55348632-7ead5280-546c-11e9-8f1e-3538b885f96a.png)

[2019-04-01 18:07] EricJizbaMSFT commented on #1146
Moved to azure account repo: https://github.com/Microsoft/vscode-azure-account/issues/137

[2019-04-01 18:07] #1146 closed

[2019-04-01 18:10] EricJizbaMSFT commented on #1131
Okay I've seen this occasionally and I think it just takes a little bit for the triggers to be synced (restarting the app forces the triggers to sync). Let me know if you see this consistently and we can bother the platform team. Otherwise, closing for now.

[2019-04-01 18:10] #1131 closed

[2019-04-01 21:53] auchenberg opened #1148 "NPS report: "When I deploy my functions. 2-3 times the machine freeze up""
Feedback from customer in NPS interview:

I have contact details on the reporter if you want to debug this.

[2019-04-02 10:27] v-ruizh opened #1149 "Display 'Function host is not running' after deploying C# projects"
OS: Windows
Node.js: V10.15.0
Build Version: [20190401.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4613)
Azure Functions Core Tools: V2.4.498

Repro Steps:

1. Create a C# project.
2. Create a new function with 'HTTP trigger' template and 'Function' level.
3. Deploy this C# project to Azure Function app.
4. Copy the Function URL to terminal and check the result.

Expect:
S

[2019-04-02 10:34] cathornton opened #1150 "Error 403 when deploying Function App from VS Code"
When I hit the Up Arrow (Deploy to Function App...) from the Azure Functions Extension for VS Code, select "Create New Function App in Azure", provide a unique name, then  every time I get an error in the notification box that says 'Failed with code "403".'
My permissions should be OK, because I can manually create that Function App in the Portal using the same account.
I have tried this on 2 PCs

[2019-04-02 18:00] EricJizbaMSFT commented on #1150
@cathornton
1. What type of project are you deploying? Python or a different language?
1. Does it work if you select an existing function app in azure instead of creating a new one from VS Code?

We have a number of defaults when creating a function app and you can manually enter those by setting `azureFunctions.advancedCreation` to `true` in your VS Code settings. There could be a default that mi

[2019-04-02 18:15] Angr1st commented on #315
What is still to do here?

[2019-04-02 18:49] EricJizbaMSFT commented on #315
Only piece missing is creating a function and for that we need https://github.com/Azure/azure-functions-templates/issues/627 to be fixed first.

Right now you can do the following:
1. Create new project
    1. Set `azureFunctions.projectLanguage` in your VS Code _User_ settings to `F#`. That language will be used the next time you create a project in VS Code. (Once the above is fixed, we will show

[2019-04-02 18:52] EricJizbaMSFT commented on #1149
When you create a function app, the language is set by the app setting `FUNCTIONS_WORKER_RUNTIME`. You would have to change that app setting if you want to deploy a different language. We already have an existing issue to warn users if the local language and remote language don't match. Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/924

[2019-04-02 18:52] #1149 closed

[2019-04-02 19:54] Angr1st commented on #315
1. Just tested it looks good. 👍
2., 3. and 4. I have already done. Hopefully the missing necessary PR gets merged soon.

[2019-04-03 01:58] Miggleness commented on #1145
I'll send the logs over tonight.

[2019-04-03 08:44] v-ruizh opened #1152 "[Suggestion]Add 'App Service Plan' item when creating 'Function App' from VS Code"
OS: Windows
Node.js: V10.15.0
Build Version: [20190402.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4643)
Azure Functions Core Tools: V2.4.498

Repro Steps:

1. Enable slots from user setting.
2. Create a 'Function App' from VS Code.
3. Create a slot to this Function App.
4. Create the second slot to this Function.

Actual:
An error occurs when creating the second slot.
![i

[2019-04-03 08:44] v-ruizh opened #1153 "[Suggestion]Can't use curl command on the machine which has no 'Internet Explorer' browser"
OS: Windows
Node.js: V10.15.0
Build Version: [20190402.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4643)
Azure Functions Core Tools: V2.4.498

Repro Steps:

1. Create a C# project on the machine which has no 'Internet Explorer' browser.
2. Create a new function with 'HTTP trigger' template and 'Function' level.
3. Set a breakpoint in HttpTrigger file and F5.
4. Copy the Ht

[2019-04-03 09:07] v-ruizh opened #1154 "There are 'duplicate attribute' errors for .AssemblyInfo.cs file after deployment"
OS: Windows
Node.js: V10.15.0
Build Version: [20190402.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4643)
Azure Functions Core Tools: V2.4.498

Repro Steps:

1. Create a C# project.
2. Create a new function with 'HTTP trigger' template and 'Function' level.
3. Deploy this C# project to Azure Function app.
4. Wait for 1 minute and click 'PROBLEMS' panel to check the logs.

E

[2019-04-03 15:29] EricJizbaMSFT commented on #1153
@v-ruizh we have no control over curl or your browser. Closing as external

[2019-04-03 15:29] #1153 closed

[2019-04-03 15:30] EricJizbaMSFT commented on #1152
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/854

[2019-04-03 15:30] #1152 closed

[2019-04-03 17:23] ColbyTresness opened #1155 "Include simple package.json file by default for plain JS"
We include a package.json file for TS, and we should include a very simple package.json file by default on function app creation. This is something we're planning on adding to the CLI experience as well.

[2019-04-03 21:07] EricJizbaMSFT commented on #854
https://azure.microsoft.com/en-us/blog/announcing-the-azure-functions-premium-plan-for-enterprise-serverless-workloads/

[2019-04-03 23:24] EricJizbaMSFT commented on #1148
@auchenberg yeah we need more detailed repro steps before we can do anything with this

[2019-04-04 02:41] EricJizbaMSFT commented on #983
Filed a bug on VS Code: https://github.com/Microsoft/vscode/issues/71698

[2019-04-04 06:47] IevgenPerederieiev opened #1156 "python 3.7. azure functions error"

[2019-04-04 08:27] haripravin opened #1157 "unable to deploy a python ML predictor function"
Repro steps:

1. use the below command to push the python based code
func azure functionapp publish <app name> --build-native-deps --no-bundler

note: previously it was working fine, its not working for the past 2 days

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: /Users/haripravins/Mobi/AutoSuggestMultiple/AutoSuggestMultiple.zip

Versi

[2019-04-04 19:46] auchenberg commented on #1148
@fiveisprime Let me know what you want to do here.

[2019-04-05 00:05] #1074 closed

[2019-04-08 10:35] UtkarshYeolekar opened #1159 "Invalid function URL (httptriggers), and 404 not found"
I have created a function with the name  : createproduct.
Here is the function.json file of it :

`{
  "disabled": false,
  "bindings": [
    {
      "authLevel": "anonymous",
      "type": "httpTrigger",
      "direction": "in",
      "name": "req",
      "methods": [
        "put"
      ],
      "route": "product/{id}"
    },
    {
      "type": "http",
      "direction": "out",
      "name": "r

[2019-04-08 15:23] EricJizbaMSFT commented on #1159
Thanks for filing - this is a known issue. Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/205

[2019-04-08 15:23] #1159 closed

[2019-04-08 15:42] EricJizbaMSFT commented on #1157
@haripravin How are you deploying? With the above command or through VS Code?

[2019-04-08 15:43] EricJizbaMSFT commented on #1156
@IevgenPerederieiev can you give repro steps and error message?

[2019-04-08 17:11] #1094 closed

[2019-04-08 22:21] psined1 opened #1160 "Error on first compile"
Created Azure C# function in VSC 1.33 for MacOS. Without any modifications, the first attempt to debug (F5) the project leads to the following error -

[code]

1.2.Action: azureFunctions.pickProcessError type: ErrorError Message: Failed to start debugging. Task "clean" failed with exit code "1".Version: 0.16.0OS: darwinVS Code Version: 1.33.0<details><summary>Call Stack</summary>```module.exports.

[2019-04-09 10:30] haripravin commented on #1157
@EricJizbaMSFT tried deploying the command line , later was able to successfully deploy through VScode. Just wondering why the Zip file went missing wen using the command line

[2019-04-09 15:59] fiveisprime commented on #1148
Did you contact them to get repro steps? I'm happy to reach out to them as well if you want to send me the details.

[2019-04-09 16:14] EricJizbaMSFT commented on #775
VS Code issue to add floating buttons in the the editor: https://github.com/Microsoft/vscode/issues/70813

[2019-04-09 16:15] EricJizbaMSFT commented on #1157
For python projects, the `func` cli deletes and re-creates the zip file every time you deploy. If it failed to install dependencies or some other error happened, it might have failed to create the zip file. It's hard to know without more detailed repro steps

[2019-04-09 17:08] EricJizbaMSFT commented on #1160
@psined1 this line seems to be the important error:

Can you try following those directions?

[2019-04-09 17:38] EricJizbaMSFT opened #1163 "Enable project tree view"
I added preview support [here](https://github.com/Microsoft/vscode-azurefunctions/pull/1162), but there's some known issues that need to be addressed before we can remove the feature flag. Using this to track all those issues

Minimum features required before enabling:
- [x] detect new projects: https://github.com/Microsoft/vscode-azurefunctions/issues/1164
- [ ] support C# (or at least show a war

[2019-04-09 17:40] EricJizbaMSFT opened #1164 "Project tree view doesn't detect new projects"
Currently it only works if you open the extension with an existing project. It's not detecting new projects or changes to workspace folders

[2019-04-09 17:40] EricJizbaMSFT opened #1165 "Project tree view should support C#/Java"
C# doesn't have "function.json" files, so we need to have different logic. We should at least show an error message or warning

[2019-04-09 17:41] ejizba opened #1166 "Project tree view should show local app settings"

[2019-04-09 17:42] EricJizbaMSFT opened #1167 "Project tree view should let users copy a function's http url"

[2019-04-09 17:45] ejizba opened #1168 "Project tree view should show local proxies"

[2019-04-09 17:47] ejizba opened #1169 "[Discussion] Project tree view should maybe be in file explorer"
Since its directly related to the local file system instead of Azure. I'm also open to a setting that lets the user control this. Right now its in the Azure view.

[2019-04-09 17:54] EricJizbaMSFT opened #1170 "Project tree doesn't work great with tree item picker"
It always shows the subscription and local project items. Ideally it should always use local project. Unfortunately I think I'll have to refactor the tree in the shared package to get this to work

[2019-04-09 21:04] psined1 commented on #1160
Thanks!

I have 2 .Net Core versions installed -

`
MacBook-Pro:~ user1$ ls /usr/local/share/dotnet/shared/Microsoft.NETCore.App/
2.0.5	2.2.3
MacBook-Pro:~ user1$
`

So, I had downgraded target framework in csproj from 2.1 to 2.0 and everything worked.

`<TargetFramework>netcoreapp2.0</TargetFramework>`

Does this essentially mean .Net Core 2.2 is not supported for Azure functions?

[2019-04-09 21:06] psined1 commented on #1160
I should mention that pointing target framework to 2.2 appear to break things..

[2019-04-09 22:06] EricJizbaMSFT commented on #1160
Hmm that error seems to be coming from `/usr/local/share/dotnet/sdk/2.1.4/`, aka not anything functions related. Do you have .NET Core 2.2 installed on your machine and is it the default one in your path? (Try running `dotnet --info` to see what the versions are)

It looks like other people have had similar issues. Maybe check out things like this: https://developercommunity.visualstudio.com/conte

[2019-04-09 22:09] EricJizbaMSFT commented on #1160
Based on https://github.com/Azure/azure-functions-host/issues/3611, it looks like .NET Core 2.2 should be supported by functions

[2019-04-09 22:11] psined1 commented on #1160
Here's the dump -

[code]

[2019-04-09 22:20] EricJizbaMSFT commented on #1160
Yeah so I see 2.1.4 listed for .NET Core SDKs, but not anything 2.2.

Try installing the latest 2.2 sdk from here: https://dotnet.microsoft.com/download

[2019-04-09 23:24] #924 closed

[2019-04-10 09:39] liuliyang opened #1173 "test"
Repro steps:1.2.Action: azureFunctions.createFunctionError type: ErrorError Message: Failed to run "mvn" command. Check output window for more details.Version: 0.16.0OS: win32VS Code Version: 1.33.0<details><summary>Call Stack</summary>```Object.<anonymous> (C:/Users/Sea dist/extension.bundle.js:1:532913)Generator.next (<anonymous>)o (C:/Users/Sea dist/extension.bundle.js:1:531355)o (C:/Users/Sea

[2019-04-10 14:03] psined1 commented on #1160
Thanks for your continued support!

OK, just refreshed SDK. Showing the following now -

`
MacBook-Pro:~ user1$ ls /usr/local/share/dotnet/shared/Microsoft.NETCore.App/
2.0.5	2.2.3	2.2.4
MacBook-Pro:~ user1$
`

Showing 2.2 SDK installed -

`
.NET Core SDKs installed:
  2.1.4 [/usr/local/share/dotnet/sdk]
  2.2.106 [/usr/local/share/dotnet/sdk]
`
Updated target framework in csproj to netcoreapp2.2

[2019-04-10 15:32] EricJizbaMSFT commented on #1173
@liuliyang can you copy the output of the mvn command that failed?

[2019-04-10 16:45] EricJizbaMSFT commented on #1160
I think that error will go away if you delete the `obj` and `bin` folders after you change the targetFramework. Basically it wrote some files specific to your old target framework and it needs to start clean on the new target framework.

As an aside, make sure to do a "find" with the old target framework in the `.vscode` folder and update any settings there. Just curious - did you do that already?

[2019-04-10 17:11] psined1 commented on #1160
That would allow me compile the solution. However, the terminal output looks very different and I get "No process with specified id is currently running" warning dialog, pointing to launch.json, in which I have the following -

[code]

No process is started. Here's the terminal output -

[code]

[2019-04-10 17:41] EricJizbaMSFT commented on #1160
Yes please see the second section of my previous comment

[2019-04-10 19:27] psined1 commented on #1160
I think that last thing has nailed it! I had 2.1 referenced in 2 different places -

in settings.json:

`"azureFunctions.deploySubpath": "bin/Release/netcoreapp2.2/publish"`

and in tasks.json:

[code]
Thanks for your help. It works great now!

[2019-04-10 20:19] #1160 closed

[2019-04-10 21:14] petmat opened #1175 "Freshly created JavaScript Azure Functions project throws an error when starting debug"
I just created a new JavaScript Azure Functions project with a HttpTrigger function and now when I hit F5 to debug it I get the following error in the terminal:

[code]
Why could this be?

I have installed:
Visual Studio Code v1.33.0
Azure Functions extension v0.16.0
azure-functions-core-tools v2.5.553
Windows Pro 10.0.17134

Here's my tasks.json:
[code]
and here's my launch.json:
[code]

[2019-04-10 21:56] EricJizbaMSFT commented on #1175
@petmat can you post a screenshot of your workspace? I'm just wondering what files you have and what the folder structure looks like

[2019-04-11 03:15] pdaverh opened #1177 "Error message after deleting a function"
Repro steps:1.2.Action: azureFunctions.deleteFunctionError type: 404Error Message: 404 - ""Version: 0.16.0OS: darwinVS Code Version: 1.33.0<details><summary>Call Stack</summary>```new i (dist/extension.bundle.js:333:448608)$.callback (dist/extension.bundle.js:333:447457)$.module.exports.e.exports.u.init.e.callback.t.callback [as _callback] (dist/extension.bundle.js:333:446511)$.module.exports.$.in

[2019-04-11 05:00] jeffhollan opened #1178 "[Python] requirements.txt empty on new projects"
Realize this may be on another repo or the template feed - tried to poke around and couldn't figure out where it's pulled from, but today the project template for python results in a `requirements.txt` file that is empty.  This seems a bit strange to me as the project has `import azure.functions as func` which my VS Code instance can't give me nice intellisense for unless I have `azure-functions`

[2019-04-11 05:08] fabricioruela opened #1179 "Can't deploy functionapp from VSCode"
Repro steps:1.2.Action: azureFunctions.deployError type: BadRequestError Message: Encountered an error (InternalServerError) from host runtime.Version: 0.16.0OS: darwinVS Code Version: 1.33.0<details><summary>Call Stack</summary>```module.exports.a.pipeline (dist/extension.bundle.js:277:2559146)s (dist/extension.bundle.js:277:110820)s (dist/extension.bundle.js:165:25754)dist/extension.bundle.js:16

[2019-04-11 11:07] petmat commented on #1175
Sure thing @EricJizbaMSFT , here you go

![image](https://user-images.githubusercontent.com/3600035/55952789-18da7b00-5c63-11e9-814d-befc6d6da828.png)

[2019-04-11 13:12] anindya5 opened #1180 "Cannot create azure function with python using vscode from mac"
Repro steps:1.2.Action: azureFunctions.createNewProjectError type: ErrorError Message: Failed to run ". .env/bin/activate

Steps of the output window
[code]
I can still create venv and functions using azure cli from the mac, but not using vscode.

[2019-04-11 15:47] EricJizbaMSFT commented on #1180
It appears it can't find `func` in your path. First try restarting VS Code - sometimes environment variables changes aren't picked up immediately.

Second, I suppose you could try uninstalling and reinstalling the func cli. Brew might update the path during that

[code]

[code]

[2019-04-11 16:45] EricJizbaMSFT commented on #1179
@fabricioruela can you give us repro steps for this issue?

[2019-04-11 16:52] EricJizbaMSFT commented on #1178
Yeah we use the func cli to create python projects. Moved here: https://github.com/Azure/azure-functions-core-tools/issues/1194

[2019-04-11 18:15] #1104 closed

[2019-04-11 18:34] cheenamalhotra opened #1181 "Provide JDK 11 Support for Azure Function Apps"
Azure Functions do not compile with JDK 11, please provide support for the same.

Repro steps:1.2.Action: azureFunctions.createFunctionError type: ErrorError Message: Failed to run mvn command. Check output window for more details.Version: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```Object.<anonymous> (dist/extension.bundle.js:1:532851)Generator.next (<anonymous>

[2019-04-11 18:57] EricJizbaMSFT commented on #1181
Moved here: https://github.com/Microsoft/azure-maven-plugins/issues/617

[2019-04-11 18:57] #1181 closed

[2019-04-11 18:59] EricJizbaMSFT commented on #1177
@pdaverh can you give more detailed repro steps? For example, what type of project were you deploying and how did you create this function app?

[2019-04-11 19:38] #1180 closed

[2019-04-11 19:42] anindya5 opened #1182 "Azure python function creation only work if I create in desktop because python version difference"
I have both python 3.6 and 3.7 in system.

While creating the function for first time I used my desktop as the starting folder. I gave the path for python 3.6 at that time.

however, now I can only create my function in my desktop, and if I select any other folder, it'll tell me

"""unning command: ". .env/bin/activate && func init ./ --worker-runtime python "...
Python 3.6 is required. Current py

[2019-04-11 20:30] EricJizbaMSFT commented on #1182
@anindya5 can you show me some screenshots of your workspace in VS Code? And is it asking you for the path to python when you try to create a project?

A few other questions:
1. Version of the functions extension in VS Code
1. Version of func cli (run `func --version`)

[2019-04-11 22:13] EricJizbaMSFT commented on #1058
Closing this as fixed since the description is way better at this point. Rendering the link would be more difficult and unclear how VS COde would support that. Wont-fixing that aspect

[2019-04-11 22:13] #1058 closed

[2019-04-11 22:14] EricJizbaMSFT commented on #1076
I still can't repro this. If we can get more detailed repro steps we'll re-open, but it sounds like @gecko-8 got a good enough workaround

[2019-04-11 22:14] #1076 closed

[2019-04-11 22:22] #1130 closed

[2019-04-11 22:29] fiveisprime commented on #1155
Is this to increase visibility of where to run npm install or will this also include all the scripts like we do for TS?

[2019-04-11 22:35] EricJizbaMSFT commented on #1089
@Braincompiler fyi the portal doesn't have duplicate lines because it only streams logs for one function at a time. You can replicate that in our extension by right clicking on a function instead of a function app

[2019-04-11 22:41] EricJizbaMSFT commented on #775
Closing this as fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/1162

The entry points are not super obvious (see screenshots in PR), but that will be improved in https://github.com/Microsoft/vscode-azurefunctions/issues/1163

[2019-04-11 22:41] #775 closed

[2019-04-11 23:10] EricJizbaMSFT commented on #1019
This must've been fixed in VS Code. No longer repros for me - testing on 1.33.1

[2019-04-11 23:10] #1019 closed

[2019-04-12 16:21] ColbyTresness commented on #1155
@mhoeger is planning on including some simple scripts, but not all those in the TS package.json. Primary purpose is showing people how to do the right things.

[2019-04-12 17:15] #1103 closed

[2019-04-14 08:39] altano opened #1185 "Deployment fails when VSCode locks @types"
# Repro steps:
1. Create a TypeScript Azure Function in VSCode
1. Install a bunch of @types, import them into some .ts files
1. While those .ts files are open in VSCode, try to deploy the app

During the `npm prune` step the deployment will fail because VSCode has locked the types files in the node_modules directory. The error varies but it's also something `EPERM` related.

# Workaround 1
Restart

[2019-04-15 15:33] EricJizbaMSFT commented on #1185
Thanks for filing - this is a known issue tracked by https://github.com/Microsoft/vscode-azurefunctions/issues/1105. It's actually caused by an upstream issue in TypeScript tracked here: https://github.com/Microsoft/TypeScript/issues/29407

A few more workarounds you can try:
1. Modify the `azureFunctions.preDeployTask` setting from `prune` to `build`. This has the same effect as your Workaround 2

[2019-04-15 15:33] #1185 closed

[2019-04-15 16:15] #1117 closed

[2019-04-15 18:21] fiveisprime opened #1186 "Uploading local settings doesn't honor deploySubpath"
The prompt assumes `local.settings.json` is in the root

![image](https://user-images.githubusercontent.com/1186948/56155749-7aa32980-5f70-11e9-8f64-b6d4160288fd.png)

Even though my `deploySubpath` is set to `"functions"` where my settings file is.

[2019-04-15 19:31] jayhub42 opened #1187 "Unable to import 'azure.functions'"
I am trying to make a python HTTPtrigger function using VC. After working through the VC "Azure-create function" workflow I am greeted with an __init__.py file causing a pylint import error on `import azure.functions as func`.
when i try to Debug the program i got a pop up about the import error. if the extension has updated or i am working from a fresh workspace it will run `.env\Scripts\python -

[2019-04-15 20:37] EricJizbaMSFT commented on #1187
@jayhub42 I might be missing it in all the text, but what is the exact error here?

Also can you copy and post the contents of your `requirements.txt` file?

[2019-04-15 21:06] erix-m opened #1189 "unable to deploy azure function"
Repro steps:1.2.Action: azureFunctions.createFunctionAppError type: 403Error Message: Failed with code "403".Version: 0.16.0OS: linuxVS Code Version: 1.33.1<details><summary>Call Stack</summary>```module.exports.o.pipeline (dist/extension.bundle.js:277:500927)s (dist/extension.bundle.js:277:110820)s (dist/extension.bundle.js:165:25754)dist/extension.bundle.js:165:26994o (dist/extension.bundle.js:2

[2019-04-15 21:47] EricJizbaMSFT commented on #1189
@erix-m can you describe repros steps? And what type of project you were trying to deploy?

[2019-04-15 21:51] jayhub42 commented on #1187
@EricJizbaMSFT

the requirements.txt file is blank.

the error message is in a popup that reads "error exists after running prelaunchTask 'func: host start" then i have the options "debug anyway" "show errors" "open launch.json" and "Cancel"

this popup shows about the same time as below shows in the terminal.
[4/9/2019 6:01:03 PM] Host lock lease acquired by instance ID '0000000000000000000000001

[2019-04-15 22:07] EricJizbaMSFT commented on #1187
What errors are listed if you click "show errors"?

Maybe try adding `azure.functions~=1.0a` to requirements.txt

[2019-04-15 22:48] jayhub42 commented on #1187
clicking "show errors" takes me to the "PROBLEMS' tab, it shows under __init__.py "unable to import "azure.functions'" , copping it gives the below info.
 {
	"resource": "/c:/Users/me/Documents/vc_workspace/test/__init__.py",
	"owner": "python",
	"code": "import-error",
	"severity": 8,
	"message": "Unable to import 'azure.functions'",
	"source": "pylint",
	"startLineNumber": 3,
	"startColumn": 1,

[2019-04-15 23:06] EricJizbaMSFT commented on #1187
Ah that error is coming from pylint. I would suggest taking a look at the docs for linting in Visual Studio code: https://code.visualstudio.com/docs/python/linting

[2019-04-15 23:14] EricJizbaMSFT commented on #1175
Hmm I'm kind of stumped on this one - your project looks fine. Since you're only doing http triggers, you can actually remove `"dependsOn": "func: extensions install",` from your launch.json file. That might simplify things a bit. You'd have to add that back if you do any trigger other than http or timer.

[2019-04-15 23:43] erix-m commented on #1189
This is an Azure Function using the template for Event Hub Trigger in VS Code. I just have a simple one file project, which I am able to run / debug locally on Ubuntu 18.04. I get this error when I try to deploy it using VS Code. I click the 'Deploy to Function App' button, choose 'Create new Function App in Azure', enter the unique name, and hit enter. This is when I see the error.

[2019-04-15 23:49] EricJizbaMSFT commented on #1189
Can you copy the logs here?
<img width="621" alt="Screen Shot 2019-04-15 at 4 45 37 PM" src="https://user-images.githubusercontent.com/11282622/56172354-ea7bd900-5f9d-11e9-95f4-eac12db786cf.png">

What language is this project? Python/JavaScript/C#, etc.

You can try changing the setting `azureFunctions.advancedCreation` to `true`. That should prompt you for more values. For example picking a diff

[2019-04-16 12:34] Wankishh opened #1191 "Error after changing something on files"
Repro steps:1.2.Action: azureFunctions.deployError type: EPERMError Message: EPERM: operation not permitted, scandir 'c:\Users\Ivan\Desktop\projects\importexternalsource\node_modules\@types'Version: 0.16.0OS: win32VS Code Version: 1.33.1

[2019-04-16 16:56] EricJizbaMSFT commented on #424
This no longer repros for me - closing

[2019-04-16 16:56] #424 closed

[2019-04-16 16:59] #1186 closed

[2019-04-16 23:53] auchenberg commented on #1148
Send email.

[2019-04-17 08:35] IonutCristianBistriceanu opened #1194 "Improve basic create experience when user doesn't have access to create resource group"
Repro steps:1.2.Action: azureFunctions.createFunctionAppError type: 403Error Message: Failed with code 403.Version: 0.16.0OS: win32VS Code Version: 1.32.3<details><summary>Call Stack</summary>```module.exports.o.pipeline (dist/extension.bundle.js:277:500927)s (dist/extension.bundle.js:277:110820)s (dist/extension.bundle.js:165:25754)dist/extension.bundle.js:165:26994o (dist/extension.bundle.js:223

[2019-04-17 15:29] EricJizbaMSFT commented on #1194
@IonutCristianBistriceanu please post repro steps for your issue

[2019-04-17 16:24] SekharMatli opened #1195 "403 error when deploying Java demo function app from VS Code"
Repro steps:1.2.Action: azureFunctions.deployError type: 403Error Message: Failed with code "403".Version: 0.16.0OS: darwinVS Code Version: 1.33.1<details><summary>Call Stack</summary>```module.exports.o.pipeline (dist/extension.bundle.js:277:500927)s (dist/extension.bundle.js:277:110820)s (dist/extension.bundle.js:165:25754)dist/extension.bundle.js:165:26994o (dist/extension.bundle.js:223:7055)di

[2019-04-17 16:51] EricJizbaMSFT commented on #1195
@SekharMatli please post repro steps for your issue

[2019-04-17 16:53] EricJizbaMSFT commented on #1191
Likely a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/1105

[2019-04-17 17:23] SekharMatli commented on #1195
@EricJizbaMSFT The steps are as follows:
In VSC
1. Create a Java function using "Add Function" in an already created Http trigger project.
2. Click on Deploy Function App(Upwards Arrow)
3. click on "Create a new Function App in Azure"
4. Enter the globally unique name for the app. Click Enter

403 error  resulted.

[2019-04-17 17:40] jayhub42 commented on #1187
Thanks for the information. I am still getting the error, but I figured out that If I click “debug away” in a when using a new session the function will execute.  My best guess at this point is that the linter is NOT pointed to the .env and cannot validate that specific package. When I have time, I will test and investigate the linter configuration.

thanks for your help

Jay

[2019-04-17 17:41] #1187 closed

[2019-04-17 18:04] IonutCristianBistriceanu commented on #1194
@EricJizbaMSFT
Repro steps:

1.2.Action: azureFunctions.deployError type: 403Error Message: Failed with code 403.Version: 0.16.0OS: win32VS Code Version: 1.32.3<details><summary>Call Stack</summary>```module.exports.o.pipeline (dist/extension.bundle.js:277:500927)s (dist/extension.bundle.js:277:110820)s (dist/extension.bundle.js:165:25754)dist/extension.bundle.js:165:26994o (dist/extension.bundle.

[2019-04-17 18:22] EricJizbaMSFT commented on #1194
Thanks for the info - can you try setting `azureFunctions.advancedCreation` to `true` in your VS Code settings and trying again? That will prompt you for more values and it might help me figure out exactly which step is failing

[2019-04-17 18:24] EricJizbaMSFT commented on #1195
Thanks for the info - can you try setting azureFunctions.advancedCreation to true in your VS Code settings and trying again? That will prompt you for more values and it might help me figure out exactly which step is failing

[2019-04-17 18:29] IonutCristianBistriceanu commented on #1194
I have changed the azureFunctions.advancedCreation setting to true and tried again. I got asked for the additional info like OS, storage and resource group I think. I also managed to deploy the application and checked it in portal.azure.com.It is working fine now. Let me know if you need me to do anything more.

@EricJizbaMSFT

[2019-04-17 18:32] SekharMatli commented on #1195
I have the same 403 issue when I try to deploy the function from CLI. Suspecting a network issue. Will try on home network and update.

[2019-04-17 18:34] EricJizbaMSFT commented on #1194
Can you let me know what OS, runtime and region you selected when creating the function app? And what language your local project is? Could be our defaults aren't working in your case.

[2019-04-17 18:47] IonutCristianBistriceanu commented on #1194
OS: Windows
Runtime: .NET
Region: West Europe

[2019-04-17 18:51] EricJizbaMSFT commented on #1194
Interesting... can you do me a favor and try deploying to the West US region? That's our default and I'm wondering if you don't have access to that region for some reason (or if that region has an outage or something).

[2019-04-17 19:02] #1191 closed

[2019-04-17 19:20] IonutCristianBistriceanu commented on #1194
Unfortunately I can't create a new resource group since I don't have permission.(Company owned account).

[2019-04-17 20:15] #1093 closed

[2019-04-17 20:15] #1116 closed

[2019-04-17 20:32] EricJizbaMSFT commented on #1194
Ah that would explain it - so you must've selected an existing resource group when you used advanced creation?

[2019-04-17 20:37] EricJizbaMSFT commented on #1195
@SekharMatli could yours be the same issue as https://github.com/Microsoft/vscode-azurefunctions/issues/1194? In that case, the user doesn't have permissions to create a resource group, but it will succeed if they use the advancedCreation flag and select an existing resource group

[2019-04-17 20:38] EricJizbaMSFT commented on #1189
Could be a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/1194. Do you have restricted permissions for your subscription?

[2019-04-17 21:15] IonutCristianBistriceanu commented on #1194
Yes, I selected an existing resource group.

[2019-04-17 22:41] SekharMatli commented on #1195
@EricJizbaMSFT I tried to deploy FUnction, not the Function App. When I deployed FunctionApp, it worked. But for some reason, it threw 403, instead of erroring FunctaionApp to be deployed etc..

[2019-04-17 22:41] #1195 closed

[2019-04-17 23:10] mhoeger commented on #1155
https://github.com/Azure/azure-functions-core-tools/pull/1206

[2019-04-18 20:55] EricJizbaMSFT commented on #722
I see a bright red issue in the terminal. This is the same experience for all languages. The error message isn't the most descriptive, but that would be a problem with the func cli. Closing this as either no repro (since there is an error shown contrary to when the issue was originally filed) or external (since the func cli would be responsible for the actual error message)
![Screen Shot 2019-04-1

[2019-04-18 20:55] #722 closed

[2019-04-19 06:09] piyushkacha7 opened #1199 "when i function deploy in visual code `Service Unavailable`"
Repro steps:1.2.Action: azureFunctions.deployError type: 503Error Message: Service UnavailableVersion: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```module.exports.s.pipeline (C:/Users/Kevit dist/extension.bundle.js:333:833828)s (C:/Users/Kevit dist/extension.bundle.js:277:110820)s (C:/Users/Kevit dist/extension.bundle.js:165:25754)C:/Users/Kevit dist/extension.bun

[2019-04-19 09:02] lirenhe opened #1200 "Additional runtime selection window popup when deploy a function app to Azure"
1. Create a workspace that contains 'Function' folder.
2.  Create a C# iothub triggered function inside this folder.
3. Using the following API _vscode.commands.executeCommand('azureFunctions.createFunctionApp', subscriptionId, resourceGroupName) to deploy to Function App.

Expect: During deployment, no need to select again for the runtime of the application
Actual: Need to select runtime again.

[2019-04-19 17:20] EricJizbaMSFT commented on #1199
@piyushkacha7 can you add some detailed repro steps to this issue? Also - "Service Unavailable" will sometimes happen and there's not much we can do about it in the VS Code extension. If it's persistent definitely let us know, but otherwise try deploying again and hopefully that will resolve the issue.

[2019-04-19 20:38] #1092 closed

[2019-04-19 23:05] EricJizbaMSFT opened #1202 "Get default bundle range from cli-feed-v3.json"
We don't want to write `[1.*, 2.0.0)` to every single project in case they add new templates depending on a later verision of the bundle. For example if they release templates relying on "1.1.0", we should be writing `[1.1.*, 2.0.0)`

[2019-04-19 23:23] EricJizbaMSFT opened #1203 "Respect user's local bundle version range in host.json when getting templates"

[2019-04-20 07:24] piyushkacha7 commented on #1199
@EricJizbaMSFT I created my resource group from the Azure portal also created an azure function application form portal because of VS code don't support to change the default hosting plan.
so first I create an app in the portal and try to deploy from VS code then give me this kind of error
and currently I don't see my Streaming log in VC code.

[2019-04-20 17:38] jiayanguo opened #1205 "Deploy error 403"
Repro steps:1.2.Action: azureFunctions.deployError type: 403Error Message: Failed with code "403".Version: 0.16.0OS: darwinVS Code Version: 1.33.1<details><summary>Call Stack</summary>```module.exports.o.pipeline (dist/extension.bundle.js:277:500927)s (dist/extension.bundle.js:277:110820)s (dist/extension.bundle.js:165:25754)dist/extension.bundle.js:165:26994o (dist/extension.bundle.js:223:7055)di

[2019-04-22 12:00] diwa2508 opened #1206 "Azure Functions debug failed"
1.2.Action: azureFunctions.pickProcessError type: ErrorError Message: Failed to detect running Functions host within 60 seconds. You may want to adjust the azureFunctions.pickProcessTimeout setting.Version: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```Object.<anonymous> (dist/extension.bundle.js:391:80825)Generator.next (<anonymous>)o (dist/extension.bundle.js:391

[2019-04-22 15:26] EricJizbaMSFT commented on #1206
@diwa2508 please add repro steps for this issue

[2019-04-22 15:30] EricJizbaMSFT commented on #1205
@jiayanguo please add repro steps to this issue

[2019-04-22 18:22] DevendraRawat opened #1209 "Running Azure function crashing with VS Code"
Repro steps:1.2.Action: azureFunctions.pickProcessError type: ErrorError Message: Functions host is no longer running.Version: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```dist/extension.bundle.js:391:81737Generator.next (<anonymous>)o (dist/extension.bundle.js:391:79342)```</details>

[2019-04-22 18:27] EricJizbaMSFT commented on #1209
@DevendraRawat please add repro steps to this issue

[2019-04-22 21:53] #1031 closed

[2019-04-22 22:01] #1047 closed

[2019-04-23 21:42] petmat commented on #1175
Removing `"dependsOn": "func: extensions install"` just results in:

[code]

So both `func extensions install` and `func host start` result in the same error.  I know this is weird but I would really like to get this to work since I'll be demoing Azure Functions in front of live audience in couple of days and I would really like to be able to say this is really easy, but now it seems like it reall

[2019-04-23 22:13] EricJizbaMSFT commented on #1175
Okay a few things you can try:
- Explicitly add the workspace folder as the cwd and then debug:
[code]

- Try creating a new terminal in VS Code (while you have that workspace open) and manually run `func host start`. This won't help you debug, but I'm just curious if you get the same error

- Add this to your tasks.json and try running that task to see what the current directory is. Again this wo

[2019-04-23 22:45] petmat commented on #1175
Thank you for giving so many things to try. I couldn't figure out the problem trying them out but it gave me an idea about what I was doing wrong.

The way the problem started to unravel was when I read your second thing to try. When I open the integrated terminal it always points to the root of my C-drive `C:\`. So I could not just run `func host start` unless I first run `cd folder1/folder2`. Th

[2019-04-23 23:05] #402 closed

[2019-04-23 23:24] EricJizbaMSFT commented on #1175
Awesome - glad you got that figured out! In terms of improvements, I don't think there's much we can do in the VS Code extension, but I did file an issue on the func cli to make the original error message more clear: https://github.com/Azure/azure-functions-core-tools/issues/1214

[2019-04-23 23:24] #1175 closed

[2019-04-23 23:29] #205 closed

[2019-04-23 23:56] EricJizbaMSFT commented on #1199
What type of function app did you create in the portal?
1. What runtime?
1. What region?
1. What kind of app service plan (Consumption vs. Dedicated)?

Do you have full permissions to that function app?

[2019-04-24 04:48] DevendraRawat opened #1216 "Function Debugging error"
Repro steps:1.2.Action: azureFunctions.pickProcessError type: ErrorError Message: Functions host is no longer running.Version: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```dist/extension.bundle.js:391:81737Generator.next (<anonymous>)o (dist/extension.bundle.js:391:79342)```</details>

[2019-04-24 07:19] neudurgeshp opened #1217 "Error While Debugging"
Repro steps:1.2.Action: azureFunctions.pickProcessError type: ErrorError Message: Failed to start debugging. Task "clean" failed with exit code "2".Version: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```module.exports.t.pickFuncProcess.s.tasks.onDidEndTaskProcess.e (dist/extension.bundle.js:391:81272)u.fire (AppData/Local/Programs/Microsoft VS extensionHostProcess.

[2019-04-24 16:08] EricJizbaMSFT commented on #1217
@neudurgeshp please add repro steps or copy the output logs from the "clean" task that failed

[2019-04-24 16:09] EricJizbaMSFT commented on #1216
@DevendraRawat please add repro steps

[2019-04-24 18:15] wookiee89 opened #1218 "Cannot run 'func' command"
Everytime I run `npm install --global azure-functions-core-tools@core` and then try just running `func` I get the following error:

[code]

System:
Node: v8.11.4
Npm: 5.6.0
VSCode Version: 1.33.1 (user setup)
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.18362

[2019-04-24 18:15] wookiee89 commented on #1218
I have also already restarted my shell, application and machine

[2019-04-24 18:19] EricJizbaMSFT commented on #1218
@wookiee89 can you try this instead:
[code]

The "core" tag is no longer maintained or kept up-to-date as far as I'm aware.

[2019-04-24 18:21] wookiee89 commented on #1218
Tried this:

[code]

Same issue:
[code]

[2019-04-24 18:29] EricJizbaMSFT commented on #1218
Alright it sounds like npm packages aren't in your path for some reason. You could try manually running `npm uninstall --global azure-functions-core-tools` and re-install with the above command to see if that "resets" it. Here's a few other resources regarding npm path issues:
- This issue has a few ideas to check your `PATH` and npm global prefix: https://github.com/npm/npm/issues/16313
- You cou

[2019-04-24 19:13] hartou opened #1219 "ErrorVS code on linux"
Repro steps:1.2.Action: azureFunctions.createFunctionError type: ErrorError Message: Failed to run "python3.6" command. Check output window for more details.Version: 0.16.0OS: linuxVS Code Version: 1.33.1<details><summary>Call Stack</summary>```Object.<anonymous> (dist/extension.bundle.js:1:131455)Generator.next (<anonymous>)o (dist/extension.bundle.js:1:130519)```</details>

[2019-04-24 20:23] EricJizbaMSFT commented on #1219
@hartou please add repro steps or copy the output of python command from the "Azure Functions" output window

[2019-04-24 20:28] wookiee89 commented on #1218
Running `npm config set prefix 'C:\Program Files\nodejs'` resolved my issue.

Thanks @EricJizbaMSFT for pointing this out to me!

[2019-04-24 20:28] #1218 closed

[2019-04-24 21:48] #1035 closed

[2019-04-25 12:05] yannickmorel opened #1222 "Deploying a python function to azure does not work"
Repro steps:1.2.Action: azureFunctions.deployError type: ErrorError Message: Python projects are not supported on Windows Function Apps.  Deploy to a Linux Function App instead.Version: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```Object.<anonymous> (dist/extension.bundle.js:391:67390)Generator.next (<anonymous>)o (dist/extension.bundle.js:391:64243)```</details>

[2019-04-25 15:29] EricJizbaMSFT commented on #1222
@yannickmorel please add repro steps to the issue. If you selected a Windows function app when deploying a python project - that is not supported

[2019-04-25 19:12] #1062 closed

[2019-04-25 23:25] asavaritayal commented on #1182
This is probably related to - https://github.com/Azure/azure-functions-core-tools/issues/1229

[2019-04-25 23:39] asavaritayal opened #1225 "Don't prompt for storage account when running locally"
Currently, if you pick a non-HTTP trigger, Code prompts you to pick a storage account for your project. This is not required to run locally and instead should be prompted for during app creation in Azure.

[2019-04-25 23:45] asavaritayal opened #1226 "Storage binding does not create a new app setting"
[Functions_localdev.mp4.zip](https://github.com/Microsoft/vscode-azurefunctions/files/3119208/Functions_localdev.mp4.zip)

Please see attached file for the exact repro steps. On a high level, when a user creates a new function using the Blob trigger template and they decide to create a new storage account for it, the account gets created but no new application setting is registered in the local se

[2019-04-25 23:47] asavaritayal opened #1227 "Remove .env from Python function projects"
We no longer require a virtual environment for the development of Python Functions. Instead, we should prompt the user to pick the Python interpreter for their app.

[2019-04-25 23:49] EricJizbaMSFT commented on #1226
@asavaritayal this has already been fixed

Duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/1137

[2019-04-25 23:49] #1226 closed

[2019-04-25 23:50] EricJizbaMSFT commented on #1225
@asavaritayal can you expand on this? Was this a recent change?

[2019-04-25 23:52] EricJizbaMSFT commented on #1227
@asavaritayal we already have a setting to turn off virtual environment creation if desired, but there's a difference between "no requirement" and "removing". I think a virtual environment is still recommended best practice, correct? (At least from our perspective where we're creating a new project)

See https://github.com/Microsoft/vscode-azurefunctions/pull/1188 for more information.

[2019-04-26 00:29] #854 closed

[2019-04-26 00:44] jinglouMSFT commented on #1057
We will keep monitoring user feedback and telemetry to see if there is a need to make "Open in Portal" more discoverable. But for now, it's a lower priority comparing to other asks and tasks on hand. Closing the issue for now.

[2019-04-26 00:44] #1057 closed

[2019-04-26 01:30] EricJizbaMSFT commented on #1225
Yeah I see this in my logs:
[code]

Perhaps you just meant users could leverage the local emulator on Windows? In any case, we have an open issue to improve this experience: https://github.com/Microsoft/vscode-azurefunctions/issues/976. Closing this as duplicate, but I would love to get your opinion on that issue in terms of best user experience.

[2019-04-26 01:39] manish-shukla01 opened #1230 "vscode created project, hit deploy without any changes and got error"
Repro steps:1.2.Action: azureFunctions.deployError type: ErrorError Message: Did not find preDeploy task "func: extensions install". Change the "azureFunctions.preDeployTask" setting, manually edit your task.json, or re-initialize your VS Code config with the following steps:1. Open Command Palette (View -> Command Palette...)2. Search for "Azure Functions" and run command "Initialize Project for

[2019-04-26 19:13] #1155 closed

[2019-04-26 20:47] #1082 closed

[2019-04-26 21:34] #1200 closed

[2019-04-27 01:04] #976 closed

[2019-04-27 01:41] fiveisprime opened #1233 "Improve the experience of getting a fresh local.settings.json"
I wanted to get a fresh `local.settings.json` for an existing function app and had to click "No" quite a few times (7-8).

[2019-04-28 07:32] ywyt738 opened #1234 "deploy error"
Repro steps:1.2.Action: azureFunctions.deployError type: TypeErrorError Message: Cannot read property 'name' of undefinedVersion: 0.16.0OS: win32VS Code Version: 1.33.1<details><summary>Call Stack</summary>```ResourceGroupCreateStep.<anonymous> (dist/extension.bundle.js:165:73094)Generator.next (<anonymous>)module.exports.n (dist/extension.bundle.js:165:72800)new Promise (<anonymous>)module.export

[2019-04-29 01:50] #1234 closed

[2019-04-29 04:37] DevendraRawat commented on #1209
@EricJizbaMSFT ,

Here are the steps:
1. Installed Azure Functions for VSCode.
2. Created sample function as per Azure docs.
3. F5
4. Getting popup "You must have the Azure Functions Core Tools installed to debug your local functions.". Even though I installed it multiple times.
5. And then this error which is sent.

Hope this helps

[2019-04-29 16:15] #1156 closed

[2019-04-29 17:56] EricJizbaMSFT opened #1235 "Task and launch config does not get updated for multi-root workspace"
Repro steps:
1. File -> Add folder to workspace
1. Add an empty folder
1. Create a new project in that folder

Expected:
.vscode/tasks.json and .vscode/launch.json exist and enable user to F5/deploy

Actual:
Those files don't exist

[2019-04-29 21:49] jeffhollan opened #1238 "FUNCTIONS_WORKER_RUNTIME not being set for queue and python"
Issue Type: <b>Bug</b>

1. Create new function app project
1. Select Python
1. Select Azure Queue Storage
1. Click to create new local.settings.json
1. Select storage account in azure
1. Finish create experience

The local.settings.json doesn't include `FUNCTIONS_WORKER_RUNTIME` which is breaking the local debug experience.  Not sure why.  Http function seems to work fine when it sets that message

[2019-04-29 21:52] EricJizbaMSFT commented on #1238
Duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/1137. Already fixed on master - you can try latest build with these instructions: https://aka.ms/azCodeInsiders

[2019-04-29 21:52] #1238 closed

[2019-04-29 22:07] asavaritayal opened #1239 "Set FUNCTIONS_WORKER_RUNTIME on project initialization"
After this message -

![image](https://user-images.githubusercontent.com/8435148/56930068-67c04700-6a90-11e9-84d4-dbabff1477ac.png)

Prompt the user to pick a language for their project and initialize it as the `FUNCTIONS_WORKER_RUNTIME` setting in the `local.settings.json` file.

[2019-04-29 22:13] EricJizbaMSFT commented on #1209
Have you tried restarting VS Code after installing the Azure Functions Core Tools? Perhaps your PATH environment variable wasn't up to date.

Also try running `func --version` from the command line and let me know what it says to see if you successfully installed the cli

[2019-04-29 22:16] ejizba opened #1241 "AzureWebJobsStorage automatically uses previous storage account from wizard"
Repro steps:
1. Create new project
1. Select a blob or queue template
1. Hit the "Select storage account" button when prompted about AzureWebJobsStorage

Expected:
It prompts me again to select a storage account

Actual:
It doesn't prompt me and uses the storage account that I selected for the function

[2019-04-29 22:18] EricJizbaMSFT commented on #1230
@manish-shukla01 can you post a screenshot of your workspace? I'm wondering what your folder structure looks like

In addition, how did you create your project? Directly from VS Code? And what language is the project?

[2019-04-30 01:03] asavaritayal commented on #1225
No

Core Tools adds a dummy app setting e.g.

[code]

The dummy setting is enough for local debugging.

[2019-04-30 09:00] ianychoi opened #1242 "Bug: cannot see "Azure slots (preview)" in explorer"
According to https://github.com/Microsoft/vscode-azurefunctions/issues/82 , "Azure slots (preview)" should be shown in explorer after `0.14.0`, but a user reports that the user cannot see Azure slots. I am reporting with more details:

- vscode-azurefunctions version: 0.16.0
- VSCode information
[code]

- My Azure Portal screen:
![image](https://user-images.githubusercontent.com/6965982/56951029-b

[2019-04-30 09:19] v-dantch opened #1243 "Fail to debug PowerShell project"
**OS:** Windows
**Build**: [20190427.5](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=5452)

**Repro Steps**:
1. Make sure PowerShell 6.2.x has been installed.
![image](https://user-images.githubusercontent.com/34729092/56952000-0f1f9700-6aee-11e9-8435-52d914715e7b.png)
2. Make sure PowerShell extension has been installed.
3. Check the dotnet version.
![image](https://user-imag

[2019-04-30 15:37] EricJizbaMSFT commented on #1242
Slots are hidden behind a feature flag right now. You have to change the setting `azureFunctions.enableSlots` to `true` in your VS Code settings.

We will show them by default once we fix this bug: https://github.com/Microsoft/vscode-azurefunctions/issues/830

[2019-04-30 16:47] EricJizbaMSFT commented on #1225
@asavaritayal that may work for http triggers, but as soon as I add anything else, I see this:

In addition, this is what [the docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local) say, with no mention of that placeholder:

As an aside, the core tools _will_ use an environment variable if you set `AzureWebJobsStorage` on your machine in the past. If you're not seeing th

[2019-04-30 17:15] #1157 closed

[2019-04-30 20:05] gfk76 opened #1244 "Azure Policy Definitions (location based) stops deploying a new function"
Repro steps:1.2.Action: azureFunctions.deployError type: RequestDisallowedByPolicyError Message: Resource 'azuretutjs20' was disallowed by policy. Policy identifiers: '[{"policyAssignment":{"name":"Allowed locations","id":"/subscriptions/1ab102b6-e215-4951-97f4-f9240e755372/providers/Microsoft.Authorization/policyAssignments/c0e6f7c631ce4f0a8a883e61"},"policyDefinition":{"name":"Allowed locations"

[2019-04-30 20:36] EricJizbaMSFT commented on #1244
@gfk76 you can change the `azureFunctions.advancedCreation` setting to `true` and you will be manually prompted for things like location

We improved that here: https://github.com/Microsoft/vscode-azurefunctions/pull/1198, but it hasn't been released yet

[2019-04-30 20:39] EricJizbaMSFT opened #1245 "Failed to debug second time if using Azurite"
Repro steps:
1. Create a javascript project
1. Add a timer trigger
1. Set `AzureWebJobsStorage` to  `UseDevelopmentStorage=true`
1. Make sure azurite is running (https://github.com/Azure/Azurite/blob/master/README.md#installation-and-usage)
1. Debug
1. Detach
1. Debug again

Expected:
It attaches

Actual:
It never attaches because the following is never printed:

[2019-04-30 20:57] EricJizbaMSFT commented on #1245
https://github.com/Azure/Azurite/issues/37

[2019-04-30 23:14] ianychoi commented on #1242
Thanks a lot for your quick and prompt help on it - sharing a screenshot for future reference.

![image](https://user-images.githubusercontent.com/6965982/56999138-eaf4b080-6be8-11e9-88c3-5c9c11e7f7f6.png)

(Closing the issue since there is the resolution and showing them by default is mentioned in another issue)

[2019-04-30 23:14] #1242 closed

[2019-05-01 14:37] piyushkacha7 commented on #1199
I'm using Following:
Runtime: Linux
Region: Central US
App service plan: Dedicated

Also, I'm not able to connect to log streaming service and see the logs that I've done using context.log() function. Also, not able to connect to the log streaming service using VS Code.

[2019-05-01 16:15] #1173 closed

[2019-05-01 17:03] EricJizbaMSFT opened #1249 "Location prompt should filter based on support for Elastic Premium plans"
Repro steps:

1. Turn on advanced creation
2. Create a function app in West US 2

Expected:
The location prompt step only shows locations that support elastic premium

Actual:
The location prompts shows a bunch of locations and you get this error message:

Action: azureFunctions.deploy
Error type: Conflict
Error Message: The pricing tier 'ElasticPremium' is not allowed in this resource group. Use

[2019-05-01 17:35] nturinski commented on #1249
You probably already know, but there is this command `this._client.listSkus`.  I think `SkuInfos` might have the `capabilities` of the SKU.

[2019-05-01 23:24] EricJizbaMSFT commented on #1115
@kobyl FYI - we just released v0.17.0 including this fix

[2019-05-02 03:04] tousinn opened #1253 "func pack --build-native-deps can not work for azure-mgmt-resource"
Hi there

I am having a linux version of function app with Python.
When I try to publish the function app from VSCode on Windows, it gives me the error below.

output:
open C:\Work\01_Code\AzureFunction\myfunctionapp\.python_packages\lib\python3.6\site-packages\azure\mgmt\resource\resources\v2016_02_01\models\__pycache__\resource_provider_operation_display_properties_py3.cpython-36.pyc: The system

[2019-05-02 04:34] DevendraRawat commented on #1209
Restarted VS Code but no luck.

I executed command - func --version , but got below error. It seems it's
not installed properly.

'func' is not recognized as an internal or external command,
operable program or batch file.

Do I need to follow some specific steps to ensure its installed
appropriately?

I've got node ver 11.x
.Net Core . 2.2.x

Regards,
Devendra Singh Rawat
99635 20791

On Tue, Apr

[2019-05-02 17:09] EricJizbaMSFT commented on #1209
If you're on windows, this is the command to install the func cli:
[code]

There's more instructions here: https://github.com/Azure/azure-functions-core-tools/blob/master/README.md#installing

[2019-05-02 17:15] #1179 closed

[2019-05-02 17:49] EricJizbaMSFT commented on #1253
func pack is handled directly by the func cli. Move the issue here: https://github.com/Azure/azure-functions-core-tools/issues/1274

[2019-05-02 17:49] #1253 closed

[2019-05-02 18:35] EricJizbaMSFT commented on #1199
Okay I can't repro "Service Unavailable", but I _can_ repro the fact that streaming logs doesn't work for a linux dedicated plan. Updating title to reflect that.

As a workaround, you should be able to stream logs here:
https://\<insert site name\>.scm.azurewebsites.net/api/logstream

In general, this site just lets you view a lot more logs and advanced tools:
https://\<insert site name\>.scm.azur

[2019-05-02 18:40] EricJizbaMSFT opened #1255 "Http trigger not found on linux dedicated function app created through VS Code"
Repro steps:
1. Turn on advanced creation
1. Create a function app
1. Select Linux
1. Select a dedicated app service plan
1. After it's done creating, deploy a simple function project with an http trigger
1. Go to the trigger url for that app

Expected:
The url works

Actual:
![Screen Shot 2019-05-02 at 11 38 10 AM](https://user-images.githubusercontent.com/11282622/57098355-d0950280-6cce-11e9-958

[2019-05-02 18:42] EricJizbaMSFT commented on #1255
Also worth looking into if linux dedicate function apps should have `WEBSITE_RUN_FROM_PACKAGE` by default.

[2019-05-02 19:15] #1177 closed

[2019-05-02 21:05] mahesh2000 opened #1256 "can't edit or start azure function logging from visual studio code or portal"
i can't edit function code or start azure function logging from visual studio code or the portal. same thing with storage (tables). yes, the storage account exists, i can access it and the tables within from the azure storage explorer desktop application. but not from the portal or visual studio code. the error below is from visual studio code:

Repro steps:1.2.Action: azureFunctions.startStreamin

[2019-05-02 22:04] stonefury opened #1257 "Streaming azure function logs for python"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.startStreamingLogs
Error type: Error
Error Message: This operation is not supported by App Service plans with kind "functionapp,linux" and sku tier "Dynamic".

Version: 0.13.1
OS: darwin

[2019-05-02 22:05] #1257 closed

[2019-05-02 22:05] stonefury commented on #1257
Accident. Saw the duplicate.

[2019-05-03 00:15] #1150 closed

[2019-05-03 01:10] JustinGrote commented on #1245
This happens if you use any remote storage in my observation.

To fix, the problemMatcher for the task should match on the Job host starting, not on the lease request.

[code]

[2019-05-03 05:06] DevendraRawat commented on #1209
I tried this earlier. Here is the screen shot of fresh try again:
[image: image.png]

I am trying it on windows 10 machine with .net net core version - 2.2.x and
2.1.x installed.

Regards,
Devendra Singh Rawat
99635 20791

On Thu, May 2, 2019 at 10:39 PM Eric Jizba <notifications@github.com> wrote:

[2019-05-03 13:54] Dens2017 opened #1258 "Error in Azure Function App Deployment"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: 404
Error Message:  404 Web Site not found.
You may be seeing this error due to one of the reasons listed below :

 * Custom domain has not been configured inside Azure. See how to map an existing domain [https://docs.microsoft.com/en-us/azure/app-service-web/app-service-web-tutorial-custom-domain] to resolve this.
 * Client cache is s

[2019-05-03 17:24] EricJizbaMSFT commented on #1209
Hmm in your screenshot it looks like you're running in `D:\`, but the npm commands are running in `C:\`. Could that be part of the problem?

[2019-05-03 17:30] EricJizbaMSFT commented on #1245
@JustinGrote we used to do that, but it doesn't work in all cases. See https://github.com/Microsoft/vscode-azurefunctions/issues/660

Azurite specifically does not work as described in the above issue. If you're not seeing `Host lock lease acquired by instance ID` in a remote case, please file a separate issue with repro steps, project language, etc. and we can look into it.

[2019-05-03 18:06] EricJizbaMSFT commented on #1245
Seems like both messages (`Job host start` and `Host lock lease acquired`) are not ideal, so I filed an issue on the func cli: https://github.com/Azure/azure-functions-host/issues/4384

[2019-05-03 18:11] EricJizbaMSFT commented on #1258
@Dens2017 can you add repro steps for this issue? Does it happen consistently? How did you create the function app and what language is your project?

[2019-05-03 18:13] EricJizbaMSFT commented on #1256
@mahesh2000 can you add repro steps describing how you got into this position? For example, how did you create the function app? How did you deploy? And what language is your project?

[2019-05-03 18:41] mahesh2000 commented on #1256
hi,

1. everything started working again after 30 minutes. must've been a system problem on your end.

2. sometimes i have to log out and log in to azure portal several times (in the incognito window, because in the regular window it defaults to some other non-personal account with the same email address and even after i get it going with the right one, it will eventually go back to that; i don't

[2019-05-03 18:51] EricJizbaMSFT opened #1259 "Pre debug validation doesn't happen if debug config type is `node2`"
I guess sometimes the debug configuration we get inside `resolveDebugConfiguration` has a type of "node2" even when the type in the user's "launch.json" is "node". This results in the error:
[code]

Fortunately, we're not actually showing this error to the user and it doesn't block debugging. The only downside is we won't perform our pre-debug validation (aka that the func cli is installed and tha

[2019-05-03 21:14] JustinGrote commented on #1245
I ended up just going back to Azure Storage Explorer due to a lot of issues
beyond that. Hopefully it gets working but for cross-plat development I
just point it to a "real" queue in my dev subscription for now as a
workaround.

On Fri, May 3, 2019 at 11:06 AM Eric Jizba <notifications@github.com> wrote:

[2019-05-04 08:00] DevendraRawat commented on #1209
Hi Eric,

Thanks for continuous follow up on this. It was an issue as path was not
setup. I thought I've setup path variable appropriately. It is all working
and up after setting up path environment variable.

Thanks again for your continuous support.

Regards,
Devendra Singh Rawat
99635 20791

On Fri, May 3, 2019 at 10:54 PM Eric Jizba <notifications@github.com> wrote:

[2019-05-05 17:33] DevOpsFu opened #1260 "Boilerplate Project/Function code does not work out of the box"
Creating a new HTTPTrigger function as per the [guide here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code)

1. Create a new Azure Function project
2. Select a C# Project type
3. Select a HttpTrigger function type
4. Give the trigger a name
5. Provide a namespace
6. Choose Anonymous authentication

This produces the following project structure:
![ima

[2019-05-06 04:22] asavaritayal opened #1261 "Updating an existing app resulted in a "forbidden" error"
Repro steps:

1. Create an HTTP triggered function with auth level function key and deploy
2. Change auth level to anonymous instead and redeploy

Action: azureFunctions.deploy
Error type: Forbidden
Error Message: Forbidden

Version: 0.17.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-06 13:03] DevOpsFu commented on #1260
I found the reason for this - my PowerShell profile script includes a `Set-Location` so that when I fire up a new terminal I always land in the root folder of my dev space. It looks like kicking off a debug session fires up at least one new PS session, which loses the current directory of the session that invoked it.

I'll leave this issue open so it can be decided if this behaviour constitutes an

[2019-05-06 15:38] EricJizbaMSFT commented on #1209
Glad to hear you got that figured out!

[2019-05-06 15:38] #1209 closed

[2019-05-06 16:06] EricJizbaMSFT commented on #1260
Similar to https://github.com/Microsoft/vscode-azurefunctions/issues/1175, except in that case they got this error:
[code]

We filed an issue on the func cli to improve the error message: https://github.com/Azure/azure-functions-core-tools/issues/1214, but I'm not sure that will help in your case if you don't see the above log.

@DevOpsFu I'm not sure if there's a whole lot we can do here, but I'l

[2019-05-06 16:45] EricJizbaMSFT commented on #1261
@asavaritayal this doesn't repro for me. Can you give more details:
1. I assume this is a Python project?
1. How did you create the function app? From VS Code or the portal?
1. Does this happen consistently for this function app?

[2019-05-06 18:31] EricJizbaMSFT commented on #1256
@mahesh2000 you're correct - we don't support editing existing functions. If you want to edit functions, we suggest creating/editing the functions on your local machine and deploying from VS Code. You can follow the steps as outlined in this tutorial:
https://code.visualstudio.com/tutorials/functions-extension/getting-started

[2019-05-06 22:57] EricJizbaMSFT commented on #784
Closing this as it was an issue on the schema side. As an example, I now see the "extensions" object as a suggestion if and only if I have `"version": "2.0"` in my host.json

[2019-05-06 22:57] #784 closed

[2019-05-06 23:16] EricJizbaMSFT commented on #1105
Closing as this is fixed on VS Code insiders (https://github.com/microsoft/TypeScript/issues/29407#issuecomment-488466807)

[2019-05-06 23:16] #1105 closed

[2019-05-06 23:19] EricJizbaMSFT commented on #479
Closing this due to lack of activity. Could've been fixed with custom route work (https://github.com/microsoft/vscode-azurefunctions/issues/205). Can re-open if it still repros

[2019-05-06 23:19] #479 closed

[2019-05-07 17:17] EricJizbaMSFT commented on #1243
@v-dantch please copy logs from the "func host start" task

[2019-05-07 17:28] EricJizbaMSFT commented on #1239
@asavaritayal I don't think the timing of that prompt matches up with what you want. That prompt happens because they have a project they created with the func cli (or elsewhere) and are opening it in VS Code for the first time. In many cases, `FUNCTIONS_WORKER_RUNTIME ` should already be set. I _believe_ you want us to somehow validate for the case when `local.settings.json` is deleted because it

[2019-05-07 17:37] #1008 closed

[2019-05-07 17:42] EricJizbaMSFT commented on #992
I'm going to close this one as external. From the above discussion it sounds like the orphaned dotnet processes are coming from build, not running the func host. In addition, I can't repro on macOS. @ryanspletzer if this is still bothering you I suggest trying to get a simple repro with just the dotnet build tasks (aka with a simple console application instead of a functions project) and filing an

[2019-05-07 17:42] #992 closed

[2019-05-07 17:52] EricJizbaMSFT commented on #1073
We should figure out why `WEBSITE_USE_ZIP` was added and potentially check for this setting before deploying

[2019-05-07 17:59] EricJizbaMSFT commented on #1088
Closing this as I can't repro and since the project creation experience is much simpler now for Python. We used to rely on the func cli and it would install several packages - which is probably where the original error was coming from. We don't do that any more - see https://github.com/microsoft/vscode-azurefunctions/pull/1188 for more info

[2019-05-07 17:59] #1088 closed

[2019-05-07 18:06] EricJizbaMSFT commented on #1145
Removed the "needs more info" label as I think we need to look into this more even if we don't get the logs (although they would be helpful @Miggleness if you can still repro!).

For example, I think "Recheck your internet connection" isn't the best advice since we have backup templates shipped with the extension that shouldn't need the internet. For C#, the likely culprit is a configuration of th

[2019-05-07 18:08] EricJizbaMSFT commented on #1148
Closing this issue due to lack of activity and since it sounds like @fiveisprime and/or @auchenberg are following up offline anyways.

[2019-05-07 18:08] #1148 closed

[2019-05-07 18:41] EricJizbaMSFT commented on #1154
This happens because there is an AssemblyInfo file in both the "Debug" and "Release" folder. Once https://github.com/OmniSharp/omnisharp-vscode/issues/1694 is fixed, we should be able to leverage the `files.exclude` setting to hide the "obj" folder and any of its errors

[2019-05-07 20:54] EricJizbaMSFT commented on #1154
Filed a new issue on omnisharp: https://github.com/OmniSharp/omnisharp-vscode/issues/3050

[2019-05-07 21:06] consultordeveloper1 opened #1264 "Entry not found in cache"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-07 21:59] EricJizbaMSFT commented on #1264
Thanks for filing - this is being tracked upstream: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-05-07 21:59] #1264 closed

[2019-05-07 22:01] EricJizbaMSFT commented on #1264
As a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette)

[2019-05-07 22:11] EricJizbaMSFT commented on #1182
Closing this issue as the python version resolution logic has changed in both VS Code (see https://github.com/microsoft/vscode-azurefunctions/pull/1188) and the func cli since (see above linked issue)

[2019-05-07 22:11] #1182 closed

[2019-05-08 05:34] Agazoth opened #1265 "Entry not found in cache"
Repro steps:
Working with the extension during a day, the error is encountered frequently. It is hard to trigger a refresh. Seems like refresh is satisfied by the incomplete cache

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack<

[2019-05-08 08:09] v-dantch commented on #1243
Hi @EricJizbaMSFT , please get the log info from below:

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@
                %%
                %

Azure Functions Core Tools (2.7.1158 Comm

[2019-05-08 16:26] EricJizbaMSFT commented on #1243
@v-dantch these lines seems most important:

Can you check to make sure you have dotnet cli at least v2.2.0?

[2019-05-08 16:32] EricJizbaMSFT commented on #1265
Thanks for filing - as a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette).

Unfortunately there's not much we can do in this extension, but this is being tracked upstream here: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-05-08 16:32] #1265 closed

[2019-05-08 22:12] #1189 closed

[2019-05-08 23:57] nturinski opened #1266 "Clicking "Learn More" during the Storage account step cancels App creation"
![image](https://user-images.githubusercontent.com/5290572/57415791-3f33fd80-71b2-11e9-8233-6cef2a810da6.png)

[2019-05-09 00:32] gerardoboss opened #1267 "Randomly getting this error when running a funciton"
Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.17.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-09 05:35] iotrock opened #1268 "Unable to run Iothubtrigger function locally in VS code"
Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-09 05:52] v-dantch commented on #1243
Hi @EricJizbaMSFT , thanks for your guidance, Debug/Deploy work well with dotnet 2.2.0.

[2019-05-09 15:49] EricJizbaMSFT commented on #1243
Awesome - they're investigating removing the dependency on dotnet here: https://github.com/Azure/azure-functions-powershell-worker/issues/195, but at the end of the day that's an external bug/feature so I'll close this

[2019-05-09 15:49] #1243 closed

[2019-05-09 15:53] jsandersrocks opened #1269 "fatal: repository 'https://github.com/azure/homebrew-function/' not found"
New install on mac and following install instructions I get this error:JeffsMacBookAir:~ jeffsanders$ brew tap azure/function
==> Tapping azure/function
Cloning into '/usr/local/Homebrew/Library/Taps/azure/homebrew-function'...
Username for 'https://github.com': jsandersrocks
Password for 'https://jsandersrocks@github.com':
remote: Repository not found.
fatal: repository 'https://github.com/azure/

[2019-05-09 15:54] EricJizbaMSFT commented on #1267
@gerardoboss can you add repro steps to this issue?

[2019-05-09 15:55] EricJizbaMSFT commented on #1268
@iotrock can you add repro steps to this issue?

[2019-05-09 15:55] EricJizbaMSFT commented on #1266
Related: https://github.com/microsoft/vscode-azuretools/issues/176

[2019-05-09 15:55] #1269 closed

[2019-05-10 03:02] v-dantch commented on #1243
Got you. Thanks for your share.

[2019-05-10 03:17] Miggleness commented on #1145
Apologize I hadn't been as helpful as I should've been.  I need to re-setup my machine and try this with the latest version of everything as that makes more sense.

[2019-05-10 08:00] phani1in opened #1270 "Error while deploying the azure function"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.17.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-10 14:47] Miggleness commented on #1145
Repeated the steps, this time with the following versions and worked fine.  Since the objective of this issue has transcended the reported issue, I won't mark this one as closed just yet.

VS Code Azure Functions Extension `0.17.0`
Template `2.20.2`

[2019-05-10 15:32] EricJizbaMSFT commented on #1270
Thanks for filing - as a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette).

Unfortunately there's not much we can do in this extension, but this is being tracked upstream here: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-05-10 15:32] #1270 closed

[2019-05-10 22:35] PrashanthCorp opened #1271 "Error when reading the functions treeItem"
I'm already signed in, but there seems to be an auth issue when trying to access the URL of a function within a recently deployed function app.

<img width="427" alt="Screen Shot 2019-05-10 at 3 31 50 PM" src="https://user-images.githubusercontent.com/30420973/57559969-1d18b780-7339-11e9-9ca0-ac0acd5575bf.png">

Action: azureFunctions.deploy
Error type: 500
Error Message:  Server Error in '/' Appl

[2019-05-13 16:05] westerdaled opened #1272 "Not seeing the Azure Functions v2 selection option when creating a new Azure function"
Hi

I am testing out the extension by following this tutorial [Create your first PowerShell function with Azure Functions | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-powershell) . However, I have run into  a few issues despite installing all the prereqs

I am simply not seeing this option tho I can happily create by azure function starte

[2019-05-13 16:12] #1205 closed

[2019-05-13 16:12] #1206 closed

[2019-05-13 16:32] EricJizbaMSFT commented on #1272
@westerdaled what version of the functions extension do you have installed? And what version of VS Code? The PowerShell support was added in v0.17.0 of the functions extension, which relies on at least v1.31.0 of VS Code

[2019-05-13 16:34] EricJizbaMSFT commented on #1271
I've never seen this before - let me know how you created the function app, what type of project langauge this was, and if it continues to repro even on new function apps.

I suppose you could also just share that function app with me

[2019-05-13 19:35] westerdaled commented on #1272
Hi @EricJizbaMSFT ,

I have both AZ Function extension 0.17.0 and VSCode : 1.33.1 (system setup) installed. I am also running PowerShell preview 2.02.

[2019-05-13 22:41] EricJizbaMSFT commented on #1272
So what do you see when you hit this button?
![Screen Shot 2019-05-13 at 3 39 18 PM](https://user-images.githubusercontent.com/11282622/57658926-636a5280-7595-11e9-8a0e-386b9fe45986.png)

This is what I see:
![Screen Shot 2019-05-13 at 3 40 24 PM](https://user-images.githubusercontent.com/11282622/57658944-71b86e80-7595-11e9-9a24-1d64eee46e21.png)

Also - do you have "azureFunctions.projectLanguag

[2019-05-14 09:16] v-dantch opened #1274 "Keep expanding the applied subscription about 1-2 mins"
**OS**: Windows
**Build Version**: [20190513.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=5942)

**Repro Steps:**
1. Install the Azure Function extension --> Make sure there is 1 applied subscription at least.
2. Try to expand the applied subscription.

**Expect:**
Expand it immediately.

**Actual:**
Keep expanding the applied subscription about 1-2 mins. Meanwhile there ar

[2019-05-14 10:38] ruwansriw opened #1275 "error when deploying python azure python function which has pyodbc library"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to find preDeploy task "func: pack". Modify the setting "azureFunctions.preDeployTask" or add that task to tasks.json.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-14 11:12] westerdaled commented on #1272
Hi

I am using my client's Azure subscription:
![AzureFunction new project](https://user-images.githubusercontent.com/937208/57685495-e9d37280-762f-11e9-97b4-62c1f5f16235.jpg)

However, I don't see your language options menu

![Azure function settings](https://user-images.githubusercontent.com/937208/57686201-13d96480-7631-11e9-9050-7da5ad33cae2.jpg)

I wonder if the PowerShell version needs to ad

[2019-05-14 16:17] PrashanthCorp opened #1276 "Broken FAQ link shown when function deploy fails"
I could not consistently repro this, but the error did repeat a few times on May 13.

Log below.
The link shown at the end seems broken, and redirects to the general azure blog.
Link: https://blogs.msdn.microsoft.com/appserviceteam/2017/08/08/faq-app-service-domain-preview-and-custom-domains
[code]

[2019-05-14 16:42] EricJizbaMSFT commented on #1272
We don't check powershell version or shell. The only setting that affect this is the above setting. You can do "Reset Setting" to clear the value
![Screen Shot 2019-05-14 at 9 40 41 AM](https://user-images.githubusercontent.com/11282622/57715852-7f6d0300-762c-11e9-9790-18e7a599e043.png)

Also to be clear - the prompt for language is after your first screenshot. You have to select the folder first.

[2019-05-14 16:43] EricJizbaMSFT commented on #1275
@ruwansriw please add repro steps for this issue

[2019-05-14 16:45] EricJizbaMSFT commented on #1274
Does this consistently repro? There could always be internet or Azure issues

[2019-05-15 02:02] v-dantch commented on #1274
This issue consistently reproduces on 3 test machines on our side in this week. And I cannot make sure whether it is an internet issue or not. Due to we are not allowed to install VS Code on our local machine.

[2019-05-15 03:53] kobyl commented on #1115
Thx for fixing - unfortunately the fix seems incomplete. :( In my package my files are placed into a dist folder, and the main is set to dist/export.js.

Unfortunately, none of the directories are zipped and deployed with the package, so it's not there.

I guess this might be by design - to avoid zipping up 100s of megs of node modules we don't need?

[2019-05-15 14:44] westerdaled commented on #1272
Hi

 it appears that I do have the Azure Functions V2 set in the project runtime settings

![Azure Functions project runtime](https://user-images.githubusercontent.com/937208/57784131-4b2a3d00-7727-11e9-8216-d658200980ac.jpg)

Oddly I am now seeing the option at create function time
![Azure functions select runtime](https://user-images.githubusercontent.com/937208/57784579-08b53000-7728-11e9-9ecc-

[2019-05-15 15:37] EricJizbaMSFT commented on #1115
Can you give the exact folder structure of your project? Or just a screenshot of your workspace? So that I can try to reproduce?

We should be zipping most folders by default - if users want to avoid zipping "100s of megs of node modules" they have to manually add that to their `.funcignore` file.

Also what is the value of your `azureFunctions.deploySubpath` setting?

[2019-05-15 17:12] #1216 closed

[2019-05-15 17:12] #1217 closed

[2019-05-15 21:10] EricJizbaMSFT commented on #1272
And this is a PowerShell project? We should only prompt for runtime if the following are true:
1. It's a language that supports both v1 and v2 (like JavaScript or C#)
1. We can't detect the version of the func cli installed on your local machine

[2019-05-15 21:11] EricJizbaMSFT commented on #1274
Hmm - can you try either the portal or Cloud Explorer and see if they're just as slow at displaying function apps on that VM?

[2019-05-15 21:12] #1219 closed

[2019-05-15 22:49] #1164 closed

[2019-05-15 22:49] #1170 closed

[2019-05-16 01:55] v-dantch commented on #1274
Tried to expand the applied subscription with below:

More | State
-- | --
Cloud Explorer | Not repro
Storage Explorer | Not repro
Portal | Not repro
App Service   Extension | Not repro
Azure Storage   Extension | Not repro
Cosmos DB   Extension | Not repro
Docker Extension | Not repro
Azure Function   Extension | Repro

Does this issue reproduce for you?

[2019-05-16 02:16] v-dantch opened #1279 "Pop up an error when connecting to an existing repository from GitHub"
**OS**: Windows
**Build Version:** [20190513.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=5942)

**Repro Steps:**
1. Drill down from one function app -->"Deployments" node --> Select "Connect to a GitHub Repository...".
2. Complete it according to the notification.
3. Check the result.

**Expect:**
Succeed to connect the repository from GitHub.

**Actual:**
Fail to connect

[2019-05-16 02:36] ruwansriw commented on #1275
I did a python azure htttp-trigger function to connect to the azure-sql-database and execute a update query. It works when i ran it locally. When I'm trying to deploy that function, I'm getting this error. I have done some other python azure functions and it deployed perfectly.
I think the problem is with the pyodbc library. When i add it to requirements.txt and try to deploy I'm getting following

[2019-05-16 05:47] kobyl commented on #1115
Here you go:

The file I need is actually the exports.js and .js.map. I moved had them built into this dir to see what would happen. I see them in the deployment now, but am now having troubles resolving 'azure-storage' of all things.

I don't think I have a .funcignore file, and I don't know where the azureFunctions.deploySubpath is to be found.

Incidentally - is there a way to script this proce

[2019-05-16 06:12] kobyl commented on #1115
Oh - and here's my deployed dir shape:

![image](https://user-images.githubusercontent.com/3729400/57830406-e4c50f00-7766-11e9-9076-5c7a3245db95.png)

The function is actually failing right now because it's missing the node_modules, which contains azure-storage.

[2019-05-16 06:52] jwalter opened #1280 ""Create new project" with Java function uses old Maven archetype"
When I create a new Java functions project, the extension uses version 1.0 of the azure-functions-archetype:

[code]

[2019-05-16 07:36] westerdaled commented on #1272
Hi

Yes this is is a PowerShell project.  Prior to the above,  I was able to create 2 test AZ Function and never saw the version prompt.  For the first of these, I had a incorrect login to azure as in an account without any subscriptions, so this may have been a factor

Also, he extension detected I was missing a prereq when I came to to perform a test run.:

[2019-05-16 11:56] jeanpoelie opened #1281 "Error not found in cache"
Repro steps:

1. have a azure function online based on payment
2. use it for a couple days

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-16 14:39] RonnyA opened #1282 "Unable to deploy my Python function"
Repro steps:

1. Create a new Python app like this https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python
2.  Deploy using "Up arrow " (deploy to function app)
3.  Fail during upload to storage

Deploying using "func" works great

Action: azureFunctions.deploy
Error type: Forbidden
Error Message: Forbidden

Version: 0.17.0
OS: win32
Product: Visual Studio Cod

[2019-05-16 15:52] EricJizbaMSFT commented on #1281
Thanks for filing - as a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette).

Unfortunately there's not much we can do in this extension, but this is being tracked upstream here: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-05-16 15:52] #1281 closed

[2019-05-16 15:58] EricJizbaMSFT commented on #1280
@jwalter I see this:
[code]

A few questions:
1. What version of maven do you have installed?
1. What version of the VS Code extension do you have?
1. What OS?

[2019-05-16 16:01] EricJizbaMSFT commented on #1275
@ruwansriw what version of the func cli do you have installed? You have to add the `--build-native-deps` flag if you want to deploy with `pyodbc` and our extension should prompt you to do that.

You can also do it manually. I believe you just need to change the setting `azureFunctions.preDeployTask` from `func: pack` to `func: pack --build-native-deps`

[2019-05-16 16:03] EricJizbaMSFT commented on #1272
Okay so is there anything left blocking you here? Or can we close this issue?

[2019-05-16 16:11] EricJizbaMSFT commented on #1115
I'm confused - that doesn't look like an Azure Functions project. Is this a web app or a function app? There seems to be a lot going on here - is this project open source somewhere? Can I take a look? If not - can you create a simple project that repros the same issue and post that?

`azureFunctions.deploySubpath` should be set in `.vscode/settings.json`.

[2019-05-16 16:12] #1222 closed

[2019-05-16 16:20] EricJizbaMSFT commented on #1274
No it doesn't repro for me. Can you either do a screen recording or give me access to the machine?

[2019-05-16 22:03] kobyln commented on #1115
Right - this is the project that's imported into the azure functions project with a link.
Prior to this bug using a file link would result in nothing there. Now the top level of the linked project is deployed, but none of the directories are.

ie - my package.json has:

[code]

LMK if that doesn't make sense - I'll try to put together a sample.

Thx!

[2019-05-17 06:38] v-dantch commented on #1274
Ok, the machine info has sent to you.

[2019-05-17 07:36] v-dantch opened #1284 "Prompt to select the function app twice when executing "Azure Functions: Restart""
**OS**: Windows
**Build Version**: [20190516.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6054)
**Regression:** Not a Regression

**Repro Steps:**
1. F1 -->Type and select "Azure Functions: Restart".
2. Check the result.

**Expect:**
Complete the "Stop--> Start" at once and there is no the second request.

**Actual:**
Prompt to select one function app to stop --> After that

[2019-05-17 08:25] jwalter commented on #1280
1. 3.5.2
2. v0.17.0
3. Mac OS

[2019-05-17 11:25] jhoenscheid opened #1285 "Not allowed to create a local storage"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: RequestDisallowedByPolicy
Error Message: Resource 'vatvalidator' was disallowed by policy. Policy identifiers: '[{"policyAssignment":{"name":"Enforce tagging of resources: department","id":"/subscriptions/0f952bb2-a760-4

[2019-05-17 17:24] EricJizbaMSFT commented on #1285
@jhoenscheid can you add repro steps to this issue?

Also - you might want to try the latest extension (v0.17.0). It requires version 1.31.0 of VS Code

[2019-05-20 11:16] bgbeppe opened #1287 "Could you help me ?"
Repro steps:

1.
2.

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Command "dotnet "c:\Users\gborasio\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.17.0\resources\dotnetJsonCli\Microsoft.TemplateEngine.JsonCli.dll" --require "c:\Users\gborasio\AppData\Roaming\Code\User\globalStorage\ms-azuretools.vscode-azurefunctions\dotnetTemplates\itemTemplates-~2.nupkg" --

[2019-05-20 22:43] EricJizbaMSFT commented on #1287
@bgbeppe does this consistently happen for you? Or does it work if you restart VS Code? Can you check the following path to see if it exists?
[code]

[2019-05-20 22:56] EricJizbaMSFT commented on #1280
That all looks the same as me. In the "Azure Functions" log, you should see something like this:
[code]

All we're doing is running that command and the rest of the output is coming directly from maven. It looks like we're not passing any archetype version, so I'm not sure what to do here. Is it possible your machine was using a cached version for some reason (no internet/bad internet)? You could

[2019-05-20 23:02] EricJizbaMSFT commented on #1282
@RonnyA can't repro this myself, but got a few questions for ya:
- When you say "Deploying using "func" works great" - how did you create the function app? Was that the same function app that you created from VS Code? Or did you create it from the portal?
- Can you try creating a function app through the portal - and then deploying through VS Code? (Just trying to determine if we created the funct

[2019-05-20 23:12] #1230 closed

[2019-05-20 23:18] EricJizbaMSFT opened #1289 "Subfolders of a symbolically linked folder are not included when deploying"
Repro steps:
1. Create a function project
1. Add a symbolic link to a directory with subfolders
1. Deploy

Expected:
Linked directory _and_ sub folders are deployed

Actual:
Only top level files of linked directory are deployed

[2019-05-20 23:21] EricJizbaMSFT commented on #1115
Okay I see what you're saying now. We're including top level files from that linked folder, but not sub-directories. I opened a separate issue here to track with more specific repro steps: https://github.com/microsoft/vscode-azurefunctions/issues/1289 and I'll go ahead and re-close this one

[2019-05-20 23:21] #1115 closed

[2019-05-20 23:23] EricJizbaMSFT commented on #1289
Moved over from https://github.com/microsoft/vscode-azurefunctions/issues/1115#issuecomment-492493351 by @kobyl

[2019-05-21 06:37] jwalter commented on #1280
After investigating further it seems this was caused by our local Maven mirror. Ideally the plugin would provide some guidance in a situation like this but on the other hand it may be rare enough that it's not worth the effort.

[2019-05-21 08:38] hariharan618 commented on #1267
I'm facing this as well.

- Created a Http Triggered azure function from vscode
- I try to debug it using F5 key
- dotnet build succeeds , func host starts but the breakpoint never gets hit

After sometime i can see a popup from vscode
![image](https://user-images.githubusercontent.com/20477956/58081001-e1e87500-7bd1-11e9-9dc2-312d30312572.png)

Action: azureFunctions.pickProcess
Error type: Error

[2019-05-21 17:00] ahmedelnably opened #1290 "Default tasks.json does not work with nested folder structure"
Original issue https://github.com/Azure/azure-functions-core-tools/issues/1325

I have a function that sits somewhere under a src subfolder. The default tasks.json creates me the following task to start the function:

    {
      "type": "func",
      "dependsOn": "build",
      "options": {
        "cwd": "${workspaceFolder}/src/FuncClaims.Api/bin/Debug/netstandard2.0"
      },
      "command": "

[2019-05-21 20:34] EricJizbaMSFT commented on #1280
Sounds like you figured it out, so I'll go ahead and close this.

In terms of "Ideally the plugin would provide some guidance", I'm not very familiar with the plugin itself. If you think the experience can be improved, I recommend filing an issue directly on their repo: https://github.com/microsoft/azure-maven-plugins

[2019-05-21 20:34] #1280 closed

[2019-05-21 20:45] EricJizbaMSFT commented on #1267
@hariharan618 Does it work if you restart VS Code? Even if this is the case - I'd love to hear more about how you got those dialogs to appear because we're having a hard time repro-ing. For example you're saying the build succeeded even though the error message says "Task "build" failed with exit code "1""? Can you copy the logs of the build task? Also - did you try to F5 multiple times?

[2019-05-21 22:41] EricJizbaMSFT commented on #1274
Okay I think I know what's going on here - will investigate a fix

[2019-05-22 00:11] asavaritayal opened #1292 "Log streaming for Python"
Enable log streaming for Python. Instead of using the Kudu endpoint, launch the **Live Metrics Stream** view in the browser.

[2019-05-22 00:41] akshaybabloo opened #1293 "Streaming logs error"
I am unable to stream the logs whenever I try to do, I get these errors

Repro steps:

1. Create a Python function and deploy it.
2. When the deployment is done, click on `stream  logs` button.

Action: postDeploy
Error type: Error
Error Message: This operation is not supported by this app service plan.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<d

[2019-05-22 02:23] v-dantch commented on #1274
👍So cool! 🤔Could you help to share any info about this issue?

[2019-05-22 05:36] iotrock opened #1294 "Unable to debug azure function locally in vs code"
Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Functions host is no longer running.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-22 08:09] akshaybabloo commented on #1293
Duplicate of #1292

[2019-05-22 08:09] #1293 closed

[2019-05-22 10:11] v-dantch opened #1295 "Pop up an error when executing "Connect to a GitHub Repository...""
**OS:** Mac\Win10
**Build Version**:[ 20190521.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6164)

**Repro Steps**:
1. Expand one function app.
2. Select "Connect to a GitHub Repository..." from "Deployments" node.
3. Check the result.

**Expect:**
Succeed to connect to the GitHub Repository.

**Actual:**
Fail to connect and pop up an error.
![image](https://user-images.git

[2019-05-22 10:20] v-dantch opened #1296 "Fail to list the function URL after deploying a Python project to Linux Dedicated Plan"
**OS:** Mac\Win10
**Build Version**:[ 20190521.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6164)

**Repro Steps**:
1. Create a Python project.
2. Deploy to a Linux function app.
3. Check the result.

**Expect:**
Succeed to deploy and there is no error when getting the function URL.

**Actual:**
Display that succeed to deploy but fail to list the function URL.
![image](http

[2019-05-22 14:17] shietpas opened #1297 "BadRequest on Azure Functions Deploy"
Repro steps:

1. Create Python function app
2. Create new Ptyhon function for HttpTrigger (based on template)
3. Attempt to deploy

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: BadRequest

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]
Python 3.6.8
Azure Functions Core Tools (2.7.115

[2019-05-22 16:05] EricJizbaMSFT commented on #1294
@iotrock please add repro steps to this issue

[2019-05-22 18:11] EricJizbaMSFT commented on #589
Per @asavaritayal:

[2019-05-22 18:11] EricJizbaMSFT commented on #1292
Closing as duplicate of https://github.com/microsoft/vscode-azurefunctions/issues/589

[2019-05-22 18:11] #1292 closed

[2019-05-22 22:54] #1295 closed

[2019-05-23 04:42] ricafort opened #1299 "azureFunctions.deploy Entry not found in cache."
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-23 05:54] Agazoth opened #1300 "Entry not found in cache"
Repro steps:

1. Deploy Azure Functions for a few hours
![image](https://user-images.githubusercontent.com/15127301/58228751-fe022880-7d2f-11e9-926f-b539444ca16a.png)

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

<

[2019-05-23 16:08] EricJizbaMSFT commented on #1299
Thanks for filing - as a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette).

Unfortunately there's not much we can do in this extension, but this is being tracked upstream here: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-05-23 16:08] #1299 closed

[2019-05-23 16:08] EricJizbaMSFT commented on #1300
Thanks for filing - as a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette).

Unfortunately there's not much we can do in this extension, but this is being tracked upstream here: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-05-23 16:08] #1300 closed

[2019-05-23 17:23] EricJizbaMSFT commented on #1297
@shietpas can you add more details to this issue? For example:
1. Does this consistently happen or does it work the next time you deploy?
1. How did you create the function app in Azure? From VS Code or the portal?
1. Can you copy the deployment logs?

[2019-05-23 17:38] anindya5 opened #1301 "Trying to deploy an app that works perfectly on local but getting the error on VS CODE"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: /Users/adey1/Documents/GitHub/HTM_integration/AzureFunctionBatch/AzureFunctionBatch.zip

Version: 0.17.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.33.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-23 17:56] anindya5 opened #1303 "Docker is required to build native dependencies for python function apps"
HI,

I am trying to deploy a function that works fine when debugging via VS Code.

Once I deploy, the function get created as well.

When I click output, I get these:-

`Executing task: . .env/bin/activate && func pack --build-native-deps <

source /Users/adey1/Documents/GitHub/HTM_integration/AzureFunctionBatch/.env/bin/activate
Microsoft (R) Build Engine version 15.5.180.51428 for .NET Core
Copy

[2019-05-23 18:03] iotrock commented on #1294
Environment:
OS : Windows 10 version 1803
Editor: Visual studio Code

Steps followed to develop azure function locally in VS Code
1 Installed azure function tool to run  npm install -g azure-functions-core-tools command in VS code terminal.
2  Installed the Azure Functions extension for Visual Studio Code
3 Create an Azure Functions project
4 Create a function which is IoThubtrigger
5 When pressed

[2019-05-23 18:55] EricJizbaMSFT commented on #1303
@anindya5 I recommend taking a look at the docs here:

https://docs.microsoft.com/azure/azure-functions/functions-reference-python#publishing-to-azure

If you're using a package that requires a compiler and does not support the installation of manylinux-compatible wheels from PyPI, you have to have docker on your machine to bundle those packages before deploying.

[2019-05-23 18:59] #1274 closed

[2019-05-23 20:14] anindya5 commented on #1303
I am not able to do it, using standard packages also. Even when I am removing all requirements, I am still getting this error

[2019-05-23 20:15] anindya5 commented on #1303
If I choose to deploy anyway, I get the issue listed below

https://github.com/microsoft/vscode-azurefunctions/issues/1301

[2019-05-23 20:38] EricJizbaMSFT commented on #1303
You can change `azureFunctions.preDeployTask` in `.vscode/settings.json` to just `func: pack` instead of `func: pack --build-native-deps`

[2019-05-23 20:45] EricJizbaMSFT commented on #1296
What region was this in? The Azure team fixed a bug related to this a little bit ago, but I thought it was already deployed to all regions: https://github.com/Azure/azure-functions-host/issues/4372

[2019-05-23 22:03] shietpas commented on #1297
@EricJizbaMSFT I ended up uninstalled the 32-bit version and installed 64-bit instead.

[2019-05-23 22:04] #1297 closed

[2019-05-23 22:47] EricJizbaMSFT commented on #1301
Based on the discussion in https://github.com/microsoft/vscode-azurefunctions/issues/1303, it sounds like this happens when you select "Deploy Anyway" after "func pack" fails. That task is the one creating the zip file, so I think the error here makes sense if that task fails. I'm going to close this issue, but try my suggestion listed in the other issue. I'll leave that one open until you confirm

[2019-05-23 22:47] #1301 closed

[2019-05-24 04:27] ricafort opened #1306 "Failed to deploy path that does not exist:"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: c:\Users\francis.ricafort\repos\AzureFunctions\bin\Release\netcoreapp2.1\publish

Version: 0.17.0
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-24 09:32] v-dantch opened #1307 "The terminal name becomes odd for Python project"
**OS**: Windows
**Build Version:** [20190523.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6283)

**Repro Steps:**
1. Create a Python project.
2. Debug.
3. Make some changes --> Save the _init_.py file --> click the "Terminal" window.
4. Check the Terminal window.

**Expect:**
The terminal name displays well.

**Actual:**
The terminal name becomes odd.
![image](https://user-

[2019-05-24 09:35] v-dantch opened #1308 "It is inconsistent for the default function name between Windows/Linux and Mac"
**OS**: Windows/Linux
**Build Version:** [20190523.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6283)

**Repro Steps:**
Create a non-C# project and check the default function name in the process.

**Expect:**
It is consistent for the default function name between Windows/Linux and Mac.

**Actual:**
It is inconsistent for the default function name between Windows/Linux and M

[2019-05-24 09:58] v-dantch opened #1309 "Keep connecting to log stream for Linux Function apps with App Service Plan"
**OS**: All
**Build Version:** [20190523.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6283)

**Repro Steps:**
1. Select "Start Streaming Logs" from a Linux function app tree menu.
2. Check the result.

**Expect:**
Succeed to start and list the streaming logs.

**Actual:**
Keep connecting to log stream...

[2019-05-24 10:09] v-dantch commented on #1296
Hi Eric,

We tried to deploy a JS project to Linux function apps with below locations. And this issue also reproduces.
![image](https://user-images.githubusercontent.com/34729092/58320789-14eb6c80-7e4f-11e9-9b00-e0a4cca0bc06.png)

Location | State
-- | --
East   Asia | Repro
East   US | Repro
West   Europe | Repro
West   US | Repro

[2019-05-24 16:23] EricJizbaMSFT commented on #1307
This extension does not control the terminal. That would either be a VS Code bug or small chance a bug in the Python extension.

[2019-05-24 16:23] #1307 closed

[2019-05-24 16:40] EricJizbaMSFT commented on #1308
I see "HttpTrigger" on a mac. Can you check these settings in both workspace and global settings?

"azureFunctions.templateVersion"
"azureFunctions.projectRuntime"

Also - can you check the "Azure Functions" output window after you create the function? We normally get the templates from online, but we also ship a backup version of the templates with the extension. The output window should show err

[2019-05-24 16:41] EricJizbaMSFT commented on #1306
@ricafort can you add repro steps? Did the "publish" task succeed or did you select "Deploy Anyway"?

[2019-05-24 17:07] iotrock commented on #1294
EricJizbaMSFT **Any update on this issue**

[2019-05-24 17:08] EricJizbaMSFT commented on #1294
Can you elaborate on step 5? Were you able to successfully install the func cli? If you run `func --version`, what do you see?

[2019-05-24 17:30] iotrock commented on #1294
shows below result in terminal of the vs code
PS C:\Users\iotrock> func --version
func : The term 'func' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ func --version
+ ~~~~
    + CategoryInfo          : ObjectNotFound: (func:String) [

[2019-05-24 17:33] EricJizbaMSFT commented on #1294
Okay so you have to install the func cli and make sure it's on your PATH.

Try running this command to install the func cli and let me know if it doesn't work:
[code]

Here are the full instructions on how to install the func cli: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#install-the-azure-functions-core-tools

[2019-05-24 17:40] EricJizbaMSFT commented on #1309
Is this a consumption plan or dedicated plan? EIther way, closing as duplicate:
- Consumption: https://github.com/microsoft/vscode-azurefunctions/issues/589
- Dedicated: https://github.com/microsoft/vscode-azurefunctions/issues/1199

[2019-05-24 17:40] #1309 closed

[2019-05-24 17:45] iotrock commented on #1294
Thanks for your response

Run the npm i -g azure-functions-core-tools in terminal of vs code

Got below error message
PS C:\Users\iotrock> npm install -g azure-functions-core-tools@2
C:\Users\iotrock\AppData\Roaming\npm\func -> C:\Users\iotrock\AppData\Roaming\npm\node_modules\azure-functions-core-tools\lib\main.js
C:\Users\iotrock\AppData\Roaming\npm\azfun -> C:\Users\iotrock\AppData\Roaming\npm\

[2019-05-24 17:58] EricJizbaMSFT commented on #1294
Okay it looks like it installed successfully, but `func` is not on your path. Maybe take a look at these:

https://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows

https://stackoverflow.com/questions/29955217/global-npm-package-installed-but-command-not-found

[2019-05-24 18:30] iotrock commented on #1294
Yeyeeee!!! Thanks EricJizbaMSFT

[2019-05-24 19:02] craigshoemaker opened #1310 "[Feature Request] CORS Configuration Support"
You can *a lot* in the Functions extension all without having to access the portal. One thing you can't do though is setup CORS for a function.

It would be nice if you could enable CORS and manage the list of allowed origins* through the extension rather being forced into the portal to set these settings:

![serverless-app-function-cors](https://user-images.githubusercontent.com/127797/58350557-3

[2019-05-24 19:12] #1258 closed

[2019-05-24 21:03] EricJizbaMSFT commented on #1294
Glad that worked for you!

[2019-05-24 21:03] #1294 closed

[2019-05-24 22:17] ejizba opened #1311 "Feature Request: Azure Functions Debug - Split Terminal Option"
_originally filed by @JustinGrote in https://github.com/PowerShell/vscode-powershell/issues/1941_

**Summary of the new feature**

When debugging with Azure Functions Powershell, you have to toggle back and forth on the terminal window between the Azure Function Host task window and the integrated terminal.

**Proposed technical implementation details**

VSCode has API calls for splitting the term

[2019-05-24 22:18] EricJizbaMSFT commented on #1311
More conversation here: https://github.com/PowerShell/vscode-powershell/issues/1941

Not gonna copy every single comment

[2019-05-25 11:38] #1268 closed

[2019-05-26 08:34] AnugitNL opened #1312 "I am trying to play with Azure functions using VS code. I am not an Azure expert but for some reason the function does not get deployed."
Repro steps:

1. Create a function using VS code
2. Try to Deploy the function

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to find preDeploy task "func: pack". Modify the setting "azureFunctions.preDeployTask" or add that task to tasks.json.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary

[2019-05-27 01:48] v-dantch commented on #1307
Got you.

[2019-05-27 13:20] robwhitehouse opened #1313 "Unable to locally debug Azure Functions"
Repro steps:

1. Create a new Azure Functions App
2. Attempt to debug using "Attach to .NET Functions"

Contents of local.settings.json:

[code]

Have tried modifying file with different encoding/formats (MacOS/DOS etc) with no luck.

Function runs and correctly reads the local.settings.json file when using `func start` from cli.

Action: azureFunctions.pickProcess
Error type: Error
Error Message:

[2019-05-27 17:13] #1261 closed

[2019-05-27 19:13] #1256 closed

[2019-05-28 22:05] MariusFearn opened #1314 "cant deploy azure funciton with pyodbc"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: SyntaxError
Error Message: Connection strings must be of the form "key1=value1;key2=value2".

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-28 22:18] #1225 closed

[2019-05-28 23:06] EricJizbaMSFT commented on #1314
@MariusFearn can you add repro steps to this issue?

[2019-05-28 23:09] EricJizbaMSFT commented on #1313
@robwhitehouse it's possible the task is running in the wrong folder - is that the only local.settings.json file you have? Could you share a screenshot of your workspace so that I can get an idea of the folder structure?

[2019-05-29 08:57] MariusFearn commented on #1314
I am pushing a python function to Azure with odbc connection (pyodbc) using HttpTrigger

I got it to work in the end, the fix for me was simply to restart from scratch, I had tried to push several version in several ways, so I guess somehow I broke it along the way. My hunch is that this is somehow related to the requirment.txt and forcing func with --build-native-deps. I build the function first

[2019-05-29 09:54] baby-girl opened #1315 "Syncing trigger failed to deploy python (cli)"
Hi,

I'm trying to deploy my function app (func azure functionapp publish <app_function>) but it's not working.
I have :
Deployment completed successfully.
Syncing triggers...
Syncing triggers...
Response status code does not indicate success: 408 (Request Timeout).

Few days ago it was working but since yesterday nothing.

Does anyone could help me ?
Thanks

[2019-05-29 10:19] heiway opened #1316 "when i deploy the function,it says Encountered an error (Forbidden) from extensions API."
Repro steps:

1.Click "Deploy to Function App..."

Action: azureFunctions.deploy
Error type: Unauthorized
Error Message: Encountered an error (Forbidden) from extensions API.

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.34.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-29 12:16] TomasKunka commented on #1315
Today I got the same error. I suspect the fault is on azure side.

[2019-05-29 15:40] EricJizbaMSFT commented on #1314
Glad you got it working - if you figure out what you did  when you say "I guess somehow I broke it along the way." let us know and we might be able to improve the experience. For now I'll close this

[2019-05-29 15:40] #1314 closed

[2019-05-29 16:14] EricJizbaMSFT commented on #1316
@heiway can you give more info?
1. What project language are you using?
1. Does this happen consistently?
1. Is this a new function app or existing one?

[2019-05-29 16:16] EricJizbaMSFT commented on #1315
Can either of you confirm if this is still reproducing? If so - what language are you deploying and to what region? As @TomasKunka mentioned, I'm guessing it was a problem on the Azure side, in which case we couldn't do anything here

[2019-05-29 17:05] EricJizbaMSFT opened #1317 "Make advancedCreation more discoverable"
Ideas discussed so far:
1. Add a separate command like "Create Function App in Azure (Advanced)..."
    - If we do this, we should consider removing the existing setting. It feels weird to me if one entry point is controlled by the setting and the other is not.
1. Add a settings button in the create wizard that turns on advanced creation
    - This still might not be that discoverable

Related to

[2019-05-29 17:28] EricJizbaMSFT commented on #1312
@AnugitNL can you send me a screenshot of your workspace? I'm wondering if you have an unexpected folder structure. If the function project isn't set up how we expect it, we might not be providing the "func: pack" task

[2019-05-29 17:29] EricJizbaMSFT commented on #1312
Also this is related to https://github.com/microsoft/vscode-azurefunctions/issues/1290 - which we plan to fix by improving the task detection.

[2019-05-29 17:50] EricJizbaMSFT commented on #1296
@v-dantch can you give me permissions to a function app that this repros on?

You should be able to do this in the portal. Go to "Platform Features -> All Settings"
![Screen Shot 2019-05-29 at 10 48 07 AM](https://user-images.githubusercontent.com/11282622/58579201-630dc080-81ff-11e9-812a-71f60f80f527.png)

Then go to "Access Control -> Add role assignment" and add me by email addresss
![Screen Sh

[2019-05-30 02:28] locedubo opened #1318 "123"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: d:\SVN\ningbo\iot\iotFunction\target\azure-functions\tadopTest1-1559181527158\

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-05-30 02:33] fiveisprime opened #1319 "Document the basic creation defaults"
It makes sense to have a wiki article on what the defaults are for clarity.

[2019-05-30 07:17] arheom opened #1321 "Deploying Azure Function from Code returns timeout"
Repro steps:
- Create Azure functions (Node.je, Linux based) using Visual Studio Code Azure Functions extension
- Deploy to Azure using same extensions
- All steps work well, until the Syncing triggers step, which returns the following exception:

Action: azureFunctions.deploy
Error type: GatewayTimeout
Error Message: The gateway did not receive a response from 'Microsoft.Web' within the specified

[2019-05-30 08:41] TomasKunka commented on #1315
seems fine by now. but I experience this outages from time to time.

[2019-05-30 15:40] EricJizbaMSFT commented on #1315
If you get a consistent repro - let us know and we can investigate. Otherwise I'll close this as external (aka a bug in Azure)

[2019-05-30 15:40] #1315 closed

[2019-05-30 15:44] EricJizbaMSFT commented on #1284
Fixed in https://github.com/microsoft/vscode-azurefunctions/pull/1320

[2019-05-30 15:44] #1284 closed

[2019-05-30 15:46] EricJizbaMSFT commented on #1318
@locedubo can you add repro steps to this issue?

[2019-05-30 15:49] EricJizbaMSFT commented on #1321
@arheom were these failures all around the same time? There could've been an outage in Azure. Maybe try deploying to a different region? Also - were you deploying to Linux Consumption? That's still in preview, so that might be part of the problem.

I haven't seen the `GatewayTimeout` error before - is there anything particularly unique about your project?

[2019-05-30 18:45] fiveisprime opened #1322 "[Discussion] Add an option to create a Function app in the default view"
The extension allows users to create and test apps, but users may assume nothing works when they only see options to sign in a sign up. Can we add a third option (maybe a first option) to "Create your first Function App" or something like that and track how often people click through?

Thoughts?

[2019-05-31 06:15] v-dantch commented on #1296
Hi Eric, sorry for the late notice 🙇.
Done for the permission of function app "[test0530-l-python](https://ms.portal.azure.com/#blade/WebsitesExtension/FunctionsIFrameBlade/id/%2Fsubscriptions%2F92be7e56-8a60-427c-a3e3-0ebd54a827a1%2FresourceGroups%2Ftest0530lpython%2Fproviders%2FMicrosoft.Web%2Fsites%2Ftest0530-l-python)".

[2019-05-31 06:58] v-dantch commented on #1308
Hi Eric, verified this issue on MacBook, please get more info from below:

Item | Version /Result | Version /Result | Version /Result
-- | -- | -- | --
azureFunctions.templateVersion | 2.8.1 | 2.8.1 | 2.8.1
azureFunctions.projectRuntime | ~1 | ~2 | beta
Output window after   creating the function | No error | No error | No error
  | Repro | Repro | Repro

But it makes me very confused 😕. We verifi

[2019-05-31 10:05] heiway commented on #1316
I create a new project and copy the function in, and the error disappeared.
thanks.

[2019-05-31 10:05] #1316 closed

[2019-05-31 13:04] robwhitehouse commented on #1313
That is exactly the problem - thanks! I have multiple projects in my workspace; opening the project folder directly in a standalone Code window reads the json file perfectly. I can work around it for now with multiple windows, unless there's a way to set the root launch/build folder (couldn't see anything in Intellisense that would work)?

[2019-05-31 16:23] EricJizbaMSFT commented on #1313
@robwhitehouse take a look at this wiki page and let me know if it's any help:
https://github.com/microsoft/vscode-azurefunctions/wiki/Multiple-function-projects

If you have any issues let me know your desired folder structure for multiple projects and we might be able to improve the experience.

[2019-05-31 18:29] asavaritayal opened #1323 "[Python] Log streaming for Python - Open Browser"
See context - https://github.com/Azure/azure-functions-core-tools/issues/1334

On deployment, if a user clicks on "start stream", launch the Live Metrics Stream view in the browser.

[2019-05-31 18:29] EricJizbaMSFT commented on #1308
I think "HttpTrigger" is a better default than "HttpTriggerPython". Most people only use one language and so that information is unnecessary.

Can you try removing the "azureFunctions.templateVersion" setting? Like I mentioned, we get these templates dynamically and I'm guessing that mac is just stuck on v2.8.1 of the templates. Most people leave that setting blank and get the latest templates.

[2019-05-31 18:31] EricJizbaMSFT commented on #1323
@asavaritayal this is the second time you've created this bug 😂 https://github.com/microsoft/vscode-azurefunctions/issues/1292

This is already being tracked here: https://github.com/microsoft/vscode-azurefunctions/issues/589

[2019-05-31 18:31] #1323 closed

[2019-05-31 18:51] EricJizbaMSFT commented on #1296
Ah didn't realize this was a Linux dedicated plan instead of consumption. I can repro on dedicated

[2019-06-01 00:55] robwhitehouse commented on #1313
Sorry I missed that wiki page - it perfectly resolves my issue, should have looked a little harder before posting. Thanks for all your help!

[2019-06-01 00:55] #1313 closed

[2019-06-02 18:37] abrinckm opened #1324 "Azure Functions extension throws an error trying to create a new project"
I'm following the documentation here:
https://azure.microsoft.com/en-us/resources/samples/app-service-web-dotnet-manage/

Initially, I would get the error 'MSBUILD Failed: Specify a project or solution file'. I solved that much at least by creating a new project in VS Code Azure Functions extension.

Repro steps:

Just follow the steps in the tutorial:

1.  `git clone https://github.com/Azure-Samp

[2019-06-03 09:07] v-dantch commented on #1308
Got you.

And, yeah, it displays well after removing the "azureFunctions.templateVersion" setting.

[2019-06-03 17:19] #1271 closed

[2019-06-03 17:58] #1308 closed

[2019-06-03 21:31] EricJizbaMSFT commented on #1324
@abrinckm the [tasks](https://github.com/Azure-Samples/app-service-web-dotnet-manage/blob/master/.vscode/tasks.json) in that example are using version "0.1.0", which has been deprecated in VS Code. We don't work with that version of the tasks. You could honestly just delete the `.vscode/tasks.json` file because it doesn't look like it does much.

Also - if you create a function project in that fol

[2019-06-04 06:56] v-dantch opened #1325 "Display "Cannot find module '@azure/functions' " for a TS project in 'Problems' window"
**OS:** Win10\Mac
**Build Version**: [20190603.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=6473)

**Repro Step:**
Create a TS project --> Check the 'Problems' window.

**Expect:**
No error displays.

**Actual:**
Display "Cannot find module '@azure/functions' ".
![image](https://user-images.githubusercontent.com/34729092/58857918-eab06f00-86d8-11e9-85cc-d3f5c2ea3f2c.png)

*

[2019-06-04 14:20] abrinckm commented on #1324
Thanks for the quick response! I'm trying to learn .NET and Azure Functions simultaneously. I think this can be closed. I created my own function project as a starting point since the sample project was outdated. So far no errors or issues from this extension.

[2019-06-04 14:20] #1324 closed

[2019-06-04 15:56] EricJizbaMSFT commented on #1325
Closing as duplicate of https://github.com/microsoft/vscode-azurefunctions/issues/1026

[2019-06-04 15:56] #1325 closed

[2019-06-04 18:35] deathgaze opened #1326 "Integrate: 'Event Hub connection' field not populated upon deployment"
For Event Hub triggers, this is causing deployment via the IDE to break the application. Stuff that works fine on my local is now failing to trigger properly when deployed.

Am I missing something or am I supposed to fill this out again in the Azure UI?

[2019-06-04 18:40] EricJizbaMSFT commented on #1326
@deathgaze after deploying, you should see a dialog with a button that says "Upload Settings". That will upload the event hub connection from your local.settings.json file to Azure. You can also right click on the "Application Settings" node in the Azure Functions view and select "Upload Settings".

This doesn't happen automatically because a lot of people might be running against different storag

[2019-06-04 19:21] deathgaze opened #1327 "Uploading Local Settings causes error"
Repro steps:

1. Right click on deployed function's 'Application Settings'
2. Click 'Upload Local Settings'
3. Choose the proper settings file that your functions are using from the menu.
4. Observe Error

Action: azureFunctions.appSettings.upload
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open '/Users/user/dev/az-functions/local.settings.json'

Version: 0.17.1
OS: darwin

[2019-06-04 20:47] asavaritayal commented on #1323
I'm sorry, you know I really want this feature for GA :)

[2019-06-04 20:48] asavaritayal commented on #589
@EricJizbaMSFT do you have a rough estimate of when this might land?

[2019-06-04 21:00] EricJizbaMSFT commented on #1327
@deathgaze does that file path exist? Or is the path wrong?

[2019-06-04 22:40] deathgaze commented on #1327
It exists for sure! it is not giving me this error when I deploy, but when
I try to do it manually by right clicking and choosing to update from the
dropdown, it is giving this error.

On Tue, Jun 4, 2019 at 4:00 PM Eric Jizba <notifications@github.com> wrote:

--
Regards,

Kirk Sefchik
<http://www.linkedin.com/in/ksefchik>

[2019-06-04 23:07] toddpenland commented on #1282
Hi @EricJizbaMSFT,

I followed the same exact steps as @RonnyA and encountered pretty much the same issues. Here's a bit more detail:

Following the tutorial, I attempted to deploy from VS Code using the "Up Arrow" as Ronny mentioned. It created the Azure resources and got to the step of zipping up the function, and that's when I got a popup saying simply "Forbidden" and under it Source: Azure Fun

[2019-06-06 11:35] dgard1981 opened #1328 "Debugging task 'clean' always fails to start"
When attempting to debug an Azure Function App in Visual Studio, the 'clean' task fails -

The terminal reports the following error. However, there is a csproj file in my working directory -
`MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.
The terminal process terminated with exit code: 1`

Running 'dotnet clea

[2019-06-06 14:54] dgard1981 commented on #1328
OK, so I've found the issue...

After creating my Function App and a Function, I moved the files to a sub-directory (including _MyFunctionApp.csproj_ and the _MyFunction.cs_). Now to run the Function App, I `cd` to the sub-directory containing _MyFunctionApp.csproj_.

The problem now is that _.vscode/tasks.json_ is referencing the wrong directory, so the simple solution was to simply delete the _.

[2019-06-06 14:54] #1328 closed

[2019-06-06 16:18] #1272 closed

[2019-06-06 16:19] #1275 closed

[2019-06-06 21:20] EricJizbaMSFT commented on #1328
@dgard1981 I understand your frustration, although I'm not sure how best to handle the case where a user moves their project after the files in `.vscode` has been created.

Here's the list of variables we can use: https://code.visualstudio.com/docs/editor/variables-reference I'm not sure if there's anything like the PWD you're talking about.

There's actually a simpler one (although I admit it's n

[2019-06-06 22:20] EricJizbaMSFT commented on #1282
@toddpenland thanks for the info - we'll look into it

[2019-06-07 07:05] SophySym opened #1329 "Local Azure function apps via Visual Studio Code Failed to deploy path that does not exist"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: h:\Localhost\ManualPushNotification

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-07 18:24] #1285 closed

[2019-06-07 22:22] EricJizbaMSFT commented on #589
@asavaritayal should be in our next release, which will probably be end of june-ish

[2019-06-07 23:18] gbowerman opened #1330 "Prompt for OS in basic-create mode if no project is open"
Right-click on a subscription in VS Code Azure Functions list, and it defaults to Windows view - providing a runtime selection of JavaScript, .NET, Java, PowerShell. You have to turn on "Advanced creation" to see Python under Linux -< consumption.
Eliminate this distinction.
Azure Functions 0.17.1 (Windows)
![VSCode-functions](https://user-images.githubusercontent.com/4258913/59138093-d91cd080-893

[2019-06-07 23:23] gbowerman opened #1331 "Azure Functions VS Code Extension schedule for timer trigger incorrectly displays HTML"
VS Code Azure Functions Extension 0.17.1 (Windows)
Azure Functions VS Code Extension schedule for timer trigger incorrectly displays HTML
![timercron](https://user-images.githubusercontent.com/4258913/59138178-842d8a00-8940-11e9-876e-6355f936adcf.png)

Originally logged as: https://github.com/microsoft/vscode-azurefunctions/issues/1058 but closed as won't fix.
Change the error message or change th

[2019-06-07 23:26] gbowerman opened #1332 "VS Code Azure Functions extension storage warning is hard to understand"
VS Code Azure Functions extension 0.17.1 (Windows)
The standard create Azure Functions flow in VS Code Azure Functions extension pops up a warning stating that AzureWebJobsStorage must be set in "local.settings.json" to debug non-HTTP triggers locally.

This is a problem for 2 reasons:
Why create a warning just for following the standard create flow. Instead make it an option, like "Would you like

[2019-06-07 23:28] gbowerman opened #1333 "VS Code Azure Functions extension defaults a storage account to West US"
VS Code Functions Extension 0.17.1 (Windows)
This is to reduce manual steps but having some visible option for storage location is useful

[2019-06-07 23:29] gbowerman opened #1334 "VS Code Azure Functions extension for Python still has a Dotnet dependency"
Azure Functions extension 0.17.1 (Windows) fails with a dotnet dependency error:

![pythondotnet](https://user-images.githubusercontent.com/4258913/59138343-67458680-8941-11e9-8fdb-f136cb97ac2e.png)

[2019-06-07 23:36] gbowerman opened #1335 "Make pre-deploy task error dialog more similar to debug error dialog"
This is during the standard function deployment flow with Azure Functions extension 0.17.1 on Windows.
As well as fixing the error, this type of message needs to be more understandable.

![funcpack](https://user-images.githubusercontent.com/4258913/59138501-58130880-8942-11e9-8b86-f983a4b0d5fa.png)

[2019-06-07 23:37] gbowerman opened #1336 "VS Code Azure Functions Extension Python deployment workflow fails with "Failed to deploy path that does not exist""
VS Code Functions extension on Windows 0.17.1 fails deploying a Python function with an error that it cannot find a zipfile..
![zipfile](https://user-images.githubusercontent.com/4258913/59138532-81339900-8942-11e9-930e-07d1c63a0310.png)

[2019-06-07 23:38] gbowerman opened #1337 "VS Azure Azure Functions extension Python wizard creates a requirements.txt file with unnecesary libraries"
VS Code Azure Functions extension 0.17.1 on Windows creates a requirements file with import libraries that are no longer necessary like grpcio-tools, protobuf​, six

[2019-06-07 23:48] gbowerman commented on #1336
Possible dupe of https://github.com/microsoft/vscode-azurefunctions/issues/1329

[2019-06-10 10:24] piyushkacha7 commented on #1199
Hello Mr.Eric Jizba, I want to know how much time for this issue slove? because we need to see all the log of our azure function as soon as possible.

[2019-06-10 16:20] EricJizbaMSFT commented on #1337
@gbowerman what version of the func cli do you have? We only add those libraries if we detect an older version of the func cli that still needed them.

[2019-06-10 16:21] EricJizbaMSFT commented on #1334
@gbowerman what version of the func cli do you have? If you're on the latest and create a new project - it shouldn't need dotnet.

[2019-06-10 16:22] EricJizbaMSFT commented on #1335
Looks like the "func: pack" task failed due to https://github.com/microsoft/vscode-azurefunctions/issues/1334

What are you suggesting we do differently here?

[2019-06-10 16:28] EricJizbaMSFT commented on #1336
I'm guessing you selected "Deploy anyway" after the dialog in https://github.com/microsoft/vscode-azurefunctions/issues/1335

The "func: pack" task creates that zip, so it makes sense that it doesn't exist if that task failed. We're kind of in a catch 22 here because we don't want to block deploy if a pre-deploy task fails, but many times the pre-deploy task is required. Users can set the pre-depl

[2019-06-10 16:29] EricJizbaMSFT commented on #1329
@SophySym could you add repro steps?

[2019-06-10 16:48] EricJizbaMSFT commented on #1330
Related to https://github.com/microsoft/vscode-azurefunctions/issues/1317

I'm okay prompting for OS in basic create mode if you don't have a project open. @fiveisprime you fine with that? In the past we didn't do it because Linux was still in preview and based on telemetry the majority of users have a project open when creating a function app anyways.

That being said, I do _not_ think we should

[2019-06-10 16:52] EricJizbaMSFT commented on #1333
Closing as duplicate of https://github.com/microsoft/vscode-azurefunctions/issues/1317

[2019-06-10 16:52] #1333 closed

[2019-06-10 23:23] #1287 closed

[2019-06-11 11:47] grecoe opened #1338 "Cannot Deploy or Debug on Windows DSVM"
Repro steps:

1. Create function app in Azure Portal
     Linux
     Python
2. Read instructions about npm and such, all good.
3. Install core tools.
4. Launch VS code
      See in VS Code I need to install functions (thought I just did)
      Finally see functions in Azure panel.
5. Try to create something in the function app, but I didn't capture the error. Eventually create something local.
6.

[2019-06-11 21:02] #1267 closed

[2019-06-11 22:52] EricJizbaMSFT commented on #1338
Is the func cli on your path? It's possible it installed, but we can't detect it. Try running `func --version` from a command prompt

[2019-06-11 22:57] EricJizbaMSFT commented on #1199
@piyushkacha7 did you try going to the site I mentioned? You should be able to see log stream either in that site or in the portal. I don't have an estimate for when we fix this is VS Code, but I'm hoping you're not blocked since you should be able to see the logs there.

[2019-06-12 05:34] piyushkacha7 commented on #1199
@EricJizbaMSFT
yes, I can see log **https://<insert site name>.scm.azurewebsites.net/api/logstream** but in this only log like `[40m[32minfo[39m[22m[49m: Microsoft.AspNetCore.Hosting.Internal.WebHost[2]
2019-06-12T05:21:13.800889850Z: [INFO]        Request finished in 357.8865ms 200 application/json; charset=utf-8` request success or request failed.
we are a developer so need see log if any r

[2019-06-12 08:59] AndreasKarz opened #1339 "Wie üblich!"
Nimm eine Anleitung von Microsoft, gehe Schritt für Schritt durch und sei Dir eins sicher:

ES WIRD NICHT FUNKTIONIEREN!!!

Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "clean" failed with exit code "1".

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.35.0
Language: en

<details>
<summary>Call Sta

[2019-06-12 09:49] friaN7331 opened #1340 "Python Function deployment"
Repro steps:

1. Generate the Azure Functions sample code
2. Deploy approch VSCode Azure Functions Core Tools

Action: azureFunctions.deploy
Error type: Error
Error Message: "AzureWebJobsStorage" app setting is required for Run From Package deployment.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.35.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</det

[2019-06-12 20:40] EricJizbaMSFT commented on #1339
@AndreasKarz can you add repro steps to this issue?

[2019-06-12 23:19] EricJizbaMSFT commented on #1340
@friaN7331 is the `AzureWebJobsStorage` application setting defined in your function app in Azure? How did you create the function app in Azure? That value should be defined by default and removing it will lead to a lot of problems...

You can check in the Functions view in VS Code:
![Screen Shot 2019-06-12 at 4 19 14 PM](https://user-images.githubusercontent.com/11282622/59392796-d77f4e00-8d2d-11

[2019-06-13 00:23] Crazedpeanut opened #1341 "Issue deploying function"
Repro steps:

1. Right click functions project, click deploy to functions app
2. Select functions app to deploy to
3. Receive prompt to set up project to use vscode
4. Select C# as language
5. Receive error

Action: azureFunctions.deploy
Error type: Error
Error Message: Expected to find a single project file in folder "undefined", but found zero or multiple instead.

Version: 0.17.1
OS: win32
Prod

[2019-06-13 13:55] ricardomerces opened #1342 "VS Code - Azure Functions: Advanced Creation"
Repro steps:

1.Azure Functions: Advanced Creation (ENABLE)
2.Deploy function
3.Create New Function
4.Select an OS
5.Consumption Plan

Action: azureFunctions.deploy
Error type: Error
Error Message: Internal error: Expected value to be neither null nor undefined: name

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary

[2019-06-13 15:12] friaN7331 commented on #1340
You got it, this was my problem.

After recreating the app (to autogenerate this value) it was working fine!

**Thanks a lot!**

Cheers,
Florian

[2019-06-13 15:12] #1340 closed

[2019-06-13 16:10] fiveisprime opened #1343 "Bundle dependency not added when adding a binding to an existing function"
1. Create a function app with an HTTP trigger
1. Right-click `function.json` and choose add binding
1. Choose "out", "Azure Queue Storage", then accept the defaults
1. Choose "AzureWebJobsStorage" for the storage account

Expected: `host.json` is updated with the bundle dependency the same way as when a new function is added.

Actual: the binding is added to `function.json`, but `host.json` is not

[2019-06-13 17:15] EricJizbaMSFT commented on #1341
@CrazedPeanut can you give more more information about how your project is set up? Maybe a screenshot of your workspace or a link to a github repo if it's open-source?

[2019-06-13 19:04] nturinski commented on #1342
Hi @ricardomerces

Thanks for reporting this.  Could you tell me what inputs you are picking to cause this error?  I have tried several combinations but haven't been able to reproduce the error.

[2019-06-13 19:24] ricardomerces commented on #1342
Nathan,

-Enable Azure functions Advanced Creation
-Deploy function
-Select OS --> LINUX
-Select APP Service Plan
-Create New Function APP in Azure
-Select Pricing --> (b1)
-create new Function app --> East US
-select runtime --> python
-create new resource group --> foo
-select storage account --> foo

ERROR - Cannot Read proper ´name´of undefined

Thanks

[2019-06-14 17:19] #1306 closed

[2019-06-14 18:04] EricJizbaMSFT commented on #1199
@piyushkacha7 the best I can do from VS Code is replicate the experience you see in that site. That's my plan to fix this issue.

If you want to see your console logs you would have to file an issue directly with the Azure Functions team. See here for more info: https://github.com/Azure/azure-functions#questions--help

[2019-06-14 18:09] EricJizbaMSFT commented on #1327
@deathgaze I still can't repro this. Can you post screenshots of your workspace when the error happens? Wondering if you have a more complex configuration (perhaps related to multi-root workspace or sub folders) that we don't handle well.

[2019-06-14 18:39] nturinski commented on #1342
Hi @ricardomerces

I still haven't been able to reproduce this issue following these steps.  Could you copy your Output Channel logs so I can see which step is failing?

Do you happen to not have full access to the subscription that you are creating this app in?

Can you think of anything other configurations in your workspace that might be different from mine?

[2019-06-14 19:54] deathgaze commented on #1327
I just attempted to reproduce this error and it is no longer happening to me. Weird!

[2019-06-14 19:54] #1327 closed

[2019-06-14 21:23] mrcrane opened #1344 "Add remote debugging for node functions on Linux dedicated plans"
This is the first step to bring the App Services remote debugging experience to Functions.

Remote debugging requires two main pieces to be in place on the Azure side:
- The tunnel API needs to be available on Kudu.
- The runtime needs to launch in debug mode and configure the tunnel when the "remoteDebuggingEnabled" config is set.

The configuration piece has been taken care of here: Azure/azure-

[2019-06-14 21:48] mrcrane commented on #1344
- The first step is to get the remote debug code into a place that it can be reused by functions.
  - See PR here: microsoft/vscode-azuretools#522
- After this we can update the functions extension to use the shared code
  - We will need to figure out how this will coexist with the existing, older Java remote debugging functionality. See: https://github.com/Microsoft/vscode-azurefunctions/wiki/Rem

[2019-06-17 23:32] gbowerman commented on #1335
@EricJizbaMSFT  my suggestion is to surface an actionable error to the user. The above error doesn't tell me what happened or what I should do about it in terms that I can understand. It's more of an operational error for a component that means something to an internal developer.

[2019-06-17 23:40] gbowerman commented on #1334
@EricJizbaMSFT
Azure Functions Core Tools (2.7.1158 Commit hash: f2d2a2816e038165826c7409c6d10c0527e8955b)
Function Runtime Version: 2.0.12438.0

[2019-06-17 23:42] gbowerman commented on #1334
However, I think this was being called from the VS Tools Azure Functions extension 0.17.1

[2019-06-18 15:00] KornelK opened #1345 "error NU1101: Unable to find package Microsoft.NET.Sdk.Functions."
Repro steps:
All done  via Windows Powershell
Followed these instructions for installation for Azure Functions:
**_https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local_**

1.Initialise new Azure Function  with command func init
2.Create new  function  with func new command
3. Select HttpTrigger option
4. Give it a name e.g. test

5. open project in VS code (v. 1.35.1)
6. pres

[2019-06-18 16:19] Mentate opened #1346 "Deployment Error - Linux Python Function"
Repro steps:

1. Connect to your tenant
2. Attempt to deploy a python function to Azure

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (InternalServerError) from host runtime.

Version: 0.17.1
OS: win32
Product: VSCodium
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-18 19:02] msajidirfan commented on #1346
Three days back, I created a Python-based Azure Function that reads messages from the Azure Service Bus topic, successfully deployed using VSCode and tested end to end functionality. Today I found that Service Bus trigger function is missing inside that Azure Function while the configuration and application insights are still available. Now, I'm unable to publish any python based Azure Function (n

[2019-06-18 23:53] ionsphere opened #1347 "Azure Functions deploy InternalServerError"
Repro steps:
1. Create python Azure Function. Use TimerTrigger as in and CosmosDB as out.
2. Attempt Deploy to Azure Functions.

Expected: succeed or fail with meaningful error.

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (InternalServerError) from host runtime.

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.34.0
Language: e

[2019-06-19 00:37] MLopesSousa commented on #1342
HI Guys, same error!!!

-Enable Azure functions Advanced Creation
-Deploy function
-Select OS --> LINUX
-Select APP Service Plan
-Create New Function APP in Azure
-create new Function app --> East US
-select runtime --> python

[2019-06-19 00:55] MLopesSousa opened #1348 "Getting error when try to deploy and create function direct from vscode"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (InternalServerError) from host runtime.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 00:57] MLopesSousa commented on #1348
This error is happen when I try to deploy a python functions using consumption plan in East US.

[2019-06-19 07:22] flthibau opened #1349 "Simple ( Hello World ) Python Function App deployement failed"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: 500
Error Message: An error has occurred.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 17:57] nturinski commented on #1349
Hi @flthibau, thanks for reporting this issue. Could you add repro steps please?

[2019-06-19 18:04] nturinski commented on #1342
Hi @MLopesSousa, thanks for contributing.

Could you copy the output from the Output Channel when this creation fails?  I haven't been able to reproduce this, but I'd like to know which step is failing.

Also, does this issue occur every deploy/creation or is it just every once and a while?  Can you think of anything other configurations in your workspace that might be different from mine? Do you

[2019-06-19 18:19] #1312 closed

[2019-06-19 19:17] jpendyala opened #1350 "Unable to deploy Azure Function in Python using VSCode"
Repro steps:

1. Create a python Function using below doc
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python
2.Deploy the Function in VsCode using deploy button in Function Extension

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (InternalServerError) from host runtime.

Version: 0.17.1
OS: win32
Product: Visual

[2019-06-19 19:19] ionsphere commented on #1346
Same issue. Previously deployed Python function is no longer visible on Portal. And deployment from VSCode fails with 500.

[2019-06-19 19:20] ionsphere commented on #1346
As repro, tried creating a new blank TimerTrigger and deploying it.
1. Create a function from TimerTrigger template.
2. Hit deploy.
3. After 6 attempts get 500 InternalServerError

[2019-06-19 19:20] ionsphere commented on #1347
Dupe of #1346

[2019-06-19 19:20] #1347 closed

[2019-06-19 19:21] ionsphere commented on #1348
Dupe of #1346

[2019-06-19 19:22] ionsphere commented on #1349
Dupe #1346

[2019-06-19 19:22] #1350 closed

[2019-06-19 19:22] jpendyala commented on #1350
Related to #1346

[2019-06-19 19:49] jpendyala commented on #1346
Same issue:

Repro steps:

Create a python Function using below doc
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python
2.Deploy the Function in VsCode using deploy button in Function Extension
Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (InternalServerError) from host runtime.

Version: 0.17.1
OS: win32
Product

[2019-06-19 20:21] nturinski commented on #1346
@asavaritayal Do you happen to know what's causing this issue?  It seems that this happened rather suddenly.

[2019-06-19 20:28] nturinski commented on #1348
Hi @MLopesSousa as @ionsphere said, I think that these issues are closely related.  Please follow along with issue in #1346

[2019-06-19 22:00] nturinski commented on #1345
Hi @KornelK,

Thanks for reporting this issue.  Could you try creating the new function project with the extension rather than the Azure CLI?  There are some settings that we generate for you to optimize usage with VS Code and I'm wondering if that's what's causing these errors.

[2019-06-19 23:05] divyagandhii commented on #1347
can you please confirm what region your subscription is in?

[2019-06-19 23:06] divyagandhii commented on #1346
can you please confirm what region your app is in?

[2019-06-19 23:07] divyagandhii commented on #1348
can you please confirm what region your app is in?

[2019-06-19 23:07] divyagandhii commented on #1350
can you please confirm what region your app is in?

[2019-06-19 23:19] ionsphere commented on #1346
In my case it is EastUS.
Plan is EastUSLinuxDynamicPlan.

[2019-06-20 01:57] balag0 commented on #1346
@ionsphere Could you restart your app and try again. Let us know if you are still seeing these failures

[2019-06-20 02:38] ionsphere commented on #1346
Everything return to normal. Can see the function, can deploy an update even before restarting it. Restarted anyway.

[2019-06-20 04:27] balag0 commented on #1346
Great. Thanks for confirming

[2019-06-20 15:42] vincearcher23 opened #1351 "Central Directory Corrupt"
got this error when deploying function

11:23:23 PM jsfunctionsbittrex: Central Directory corrupt.
Error: Deployment to "jsfunctionsbittrex" failed. See output channel for more details.

Action: azureFunctions.deploy
Error type: Error
Error Message: Deployment to "jsfunctionsbittrex" failed. See output channel for more details.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version

[2019-06-20 16:19] #1318 closed

[2019-06-20 18:03] nturinski commented on #1351
Hi @vincearcher23,

Thanks for reporting this.  Does this error repo consistently?  Could you list the repo steps?

This seems like it could be an issue with the zip file.  What are you trying to deploy and how are you trying to deploy it?

[2019-06-20 18:08] nturinski commented on #1348
Hi @MLopesSousa,

I think that this should have been resolved now.  Could you try deploying again and let me know the results? Thanks!

[2019-06-20 18:09] nturinski commented on #1346
@ionsphere Really appreciate your prompt responses and feedback.  Makes our life very easy 😄

@Mentate @jpendyala @msajidirfan Could you try deploying again and let me know the results?  Hopefully, this is all resolved. Thanks!

[2019-06-20 18:25] jpendyala commented on #1346
yep, it worked like a charm

Thanks for the swift response @nturinski @balag0  @divyagandhii

[2019-06-20 19:19] MLopesSousa commented on #1348
@nturinski I will try ASAP, thanks :)

[2019-06-20 19:20] MLopesSousa commented on #1348
@divyagandhii East US

[2019-06-20 22:17] cha000 commented on #1351
Getting the same error here when trying to do my initial deploy on a brand new Function App.

[2019-06-21 03:16] vincearcher23 commented on #1351
this is the normal steps Im doing when publishing using VSCODE. See my
screenshot below:

[image: image.png]

On Fri, Jun 21, 2019 at 6:17 AM cha000 <notifications@github.com> wrote:

[2019-06-21 16:30] nturinski commented on #1351
Hi @vincearcher23, the screenshot didn't show up.  I think this might be because you sent it through email.  But like @cha000, does it resolve itself eventually?  Sometimes new resources take a while to actually spin up and be deployable.

[2019-06-21 19:53] Mentate commented on #1346
Okay, so I tried creating an entirely new project from scratch in VS Code and that was able to deploy. It seems the project got corrupted some how. Thanks for the help.

[2019-06-21 19:53] #1346 closed

[2019-06-21 20:18] mikeerickson opened #1352 "Node 12"
I am trying to join the Azure Functions bandwagon, using the Microsoft tutorial.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code

When running, the server dies stating the runtime requires an LTS-covered version, however, I am using Node 12.2

[code]

Is there some way to "change" this require so that I can test with the version of Node I am using, o

[2019-06-21 21:00] EricJizbaMSFT commented on #1352
@mikeerickson It's possible the func cli doesn't support Node 12 yet.

You could try the [remote containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) extension. After you install that extension, open the command palette (view -> command palette) to create a container configuration file for functions from a basic Node template:
<img width="383" alt="Sc

[2019-06-22 00:09] #1352 closed

[2019-06-22 01:58] bcraun opened #1353 "Error: "Failed to detect running Functions host within "60" seconds." on build failure"
Repro steps:

1. Create C# function
2. Debug function with F5
3. After ~60s error dialog appears

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details

[2019-06-22 13:28] RadekTester commented on #1290
So what's the current workaround for this?

[2019-06-23 12:17] dgkz opened #1354 "なにこれ"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Error
Error Message: "resourceGroupName" should satisfy the constraint - "Pattern": /^[-w._()]+[^.]$/

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: ja

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-23 12:18] #1354 closed

[2019-06-24 11:14] KornelK commented on #1345
Running dotnet restore from windows powershell:
![image](https://user-images.githubusercontent.com/18438969/60014576-966a3080-9681-11e9-8812-f699a87d9569.png)

Creating anew function using vsCode same issue.
Note: creating a new function using Javascript or java as the source code works fine and I can start the debugger.

[2019-06-24 11:25] shaulhameed opened #1355 "I'm not able to create a new project in azure function"
Repro steps:

1.
2.

Action: azureFunctions.createNewProject
Error type: 403
Error Message: Failed with code "403".

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-24 12:34] shaulhameed commented on #1355
It had to do with my user role, i did'nt had the permission to create new resource group. So i'm closing this issue.

Thank you

[2019-06-24 12:34] #1355 closed

[2019-06-24 15:44] anindya5 opened #1356 "Error: After re imaging computer, got my function folder back from GIT but its nor working anymore"
I had to remove my azure function folder, and then i cloned it back from GIT. After that when I am trying to test locally using VS Code, its getting the local address ready, but once I do a curl call, it exits with these lines in the log

`Language Worker Process exited.
[6/24/19 3:39:05 PM] python exited with code 1
[6/24/19 3:39:05 PM]  SyntaxError: invalid syntax.
[6/24/19 3:39:05 PM] Exceeded

[2019-06-24 17:10] nturinski commented on #1345
@KornelK Could you post your `.csproj` file?

According to this documentation (https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1101), the package you are looking for doesn't exist on any source.  That link has a few recommended solutions, maybe try those out?

[2019-06-25 08:57] KornelK commented on #1345
Thanks will do and will revert with any updated progress.

[2019-06-25 16:40] paeppers opened #1357 "Publishing"
Repro steps:

1. VSCode Ubuntu WSL 18.04 project, only differences are ran the environment's python3.6 -m pip install -U on azure_cli and pylint, then freeze > requirements.txt, and removed the pkg-resources=0.0.0 line.
2. Ran func azure functionapp publish meruacrmirror --build-native-deps --no-bundler, got errors in portal. Deploy to Function App (e.g. clicking in VSCode) failed with below.

Act

[2019-06-25 17:25] paeppers commented on #1357
As soon as update requirements.txt with the venv's pip output, fails

[2019-06-25 18:13] paeppers commented on #1357
Can no longer deploy even provided template python azure function to function app.

[2019-06-26 15:13] fiveisprime opened #1358 "Ignores 'disabled' flag in functions.json"
Taken from https://github.com/microsoft/vscode-node-azure-pack/issues/8

[2019-06-26 15:55] EricJizbaMSFT commented on #1357
@paeppers if the default template is failing to deploy - perhaps something is wrong with the function app in Azure? How did you create it - from VS Code or the portal? What region? If you create a new function app does it work?

[2019-06-26 16:01] EricJizbaMSFT commented on #1356
@anindya5 It could be related to the `local.settings.json` file. That files isn't tracked in git because it could have sensitive information (connection strings, etc.). You could create a new project and copy that file over if you're not familiar with what it should look like

Also - do you have http triggers, timer triggers, or other triggers? Is your project open source - could I take a look?

[2019-06-26 16:10] EricJizbaMSFT commented on #1290
@RadekTester the current workaround is to use the older version of the task mentioned above instead of the default task in the template

[2019-06-26 16:11] EricJizbaMSFT commented on #1353
@bcraun does this always happen for you? Or only in cases where you get a build error or something? We've seen this error occasionally, but it's hard to repro so we'd love to get more info on how exactly you made this happen

[2019-06-26 17:57] anindya5 commented on #1356
thanks. that worked. its not open source.

On Wed, Jun 26, 2019 at 11:01 AM Eric Jizba <notifications@github.com>
wrote:

--
Anindya Sankar Dey

[2019-06-26 17:59] EricJizbaMSFT commented on #1356
Awesome - closing this.

We already have an issue to improve this experience here: https://github.com/microsoft/vscode-azurefunctions/issues/1233

[2019-06-26 17:59] #1356 closed

[2019-06-26 18:00] EricJizbaMSFT commented on #1233
User ran into this here: https://github.com/microsoft/vscode-azurefunctions/issues/1356

We could theoretically detect when the file is missing and automatically prompt just to recreate the file

[2019-06-27 18:21] EricJizbaMSFT opened #1359 "[Discussion] Don't always default to West US"
We default to West US for basic-create mode, but it might not be a good idea to put so many apps in one region.

Potential solutions include:
1. Prompt for location even in basic create
1. Randomly pick a default location
1. Figure out what region has the least number of function apps and use that (we could periodically change this as necessary)

cc @asavaritayal

[2019-06-27 18:25] asavaritayal commented on #1359
I vote for #1 as it is deterministic.

[2019-06-27 21:50] Dave-0-0 opened #1360 "Entry not found in cache error when trying to create a new fucntion app."
Repro steps:

1. Following the Azure SignalR chat tutorial at https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-tutorial-authenticate-azure-functions.
2. Step 2 in the section "Deploy function app to Azure" states to "select Azure Functions: Deploy to Function App."
3. When selecting "Create New Function App" the error "Entry not found in cache." is displayed in the lower right corner.

[2019-06-27 21:58] StephenWeatherford commented on #1359
FYI, I could be wrong, but I think Azure returns the locations in the order it prefers for the person requesting the list of locations.

[2019-06-27 22:00] EricJizbaMSFT commented on #1360
Thanks for filing - as a workaround you could try signing out and signing back in to your Azure Account using the [command palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette).

Unfortunately there's not much we can do in this extension, but this is being tracked upstream here: https://github.com/microsoft/vscode-azure-account/issues/53

[2019-06-27 22:00] #1360 closed

[2019-06-28 09:34] foucdeg opened #1361 "Passing options to func host start?"
I need to customize the command that the debugger runs when starting the local function runner.
Specifically, I need to pass a `--script-root` argument because my functions are in a subdirectory.

My launch.json is the default generated one :

[code]

and the associated task from tasks.json is also the default one:

[code]

and I expected to be able to add a "args" key in there with arguments to p

[2019-06-28 18:26] bcraun commented on #1353
@EricJizbaMSFT, yes, I seem to see it only after build errors. If I have a clean compile, I don't see it. Hope that helps.

[2019-06-28 21:28] EricJizbaMSFT commented on #1361
@foucdeg you should have a few options. Something like this:
[code]

Or something like this:
[code]
(If you do this option, you have to change the id of `preLaunchTask` in launch.json as well)

[2019-07-01 07:41] hildereis opened #1362 "MsBuild can't find project after changing project path"
Repro steps:

1. Create an azure function app with project file in root folder
2. Build and run(F5) and everything runs fine
3. Move code, including the project file to a new 'src' folder
4. Go into src folder
5. Clean project (command: dotnet clean) OK
6. Build project (comand: dotnet build) OK
4. Press F5
5. Get error: MSBUILD : error MSB1003: Specify a project or solution file. The current work

[2019-07-01 08:05] hildereis commented on #1362
Solved the issue. I had forgot to delete my vscode folder. When I hit f5, the vscode folder is regenerated, and the tasks.json includes the 'src'-folder in cwd automatically.

[2019-07-01 08:05] #1362 closed

[2019-07-01 09:07] foucdeg commented on #1361
Thanks!

I made it work by adding a label to the task:

[code]

[2019-07-01 13:42] androidand opened #1363 "Unable to debug function with VS Code"
Repro steps:

1. Pressed Debug > Start Debugging
2. Error pops up

Deleting the actual _valid_ json in local.settings.json makes it possible to continue with the debugging. Running the Function with func host start works, running and debugging with Visual Studio for Mac 2019 and Visual Studio 2019 works.

Creating a new function project and debugging it in VS Code, with the local.settings.json pre

[2019-07-01 15:39] EricJizbaMSFT commented on #1361
@foucdeg I agree it's awkward, but I've been waiting for VS Code to fix this bug to do anything about it: https://github.com/microsoft/vscode/issues/58836

I'm guessing any PR you did would have to work-around that bug, but you're welcome to try.

[2019-07-01 17:19] #1329 closed

[2019-07-01 20:28] banurekha-r opened #1364 "Bad Request - Invalid URL: 400 Error code."
Repro steps:

1. Install VS code
2. Install Azure Account and Azure Functions extension.
3. Create a new project and use Function F5 to test it locally
4. While trying to deploy the code to Azure, with valid subscription, getting the following error.

Action: azureFunctions.deploy
Error type: 400
Error Message: Bad Request - Invalid URL

HTTP Error 400. The request URL is invalid.

Version: 0.17.1

[2019-07-02 01:42] jwisener opened #1365 ""appsettings.json" is an old file name and is deprecated."
I don't understand below why you say, "old", it's confusing coming from writing .net core api applications where we use appsettings.{environment}.json files quite heavily.

Trying to move into azure functions V2 and capitalize on our existing .net core work is proving quite challenging. The documentation on how to properly do this is not well defined and seems to be contradictory. We can't use our

[2019-07-02 02:55] jhodges10 commented on #589
Really need this for debugging. Currently trying to figure out why my function which runs locally won't work on Azure and it's rather impossible without a log stream :(

[2019-07-02 22:22] EricJizbaMSFT commented on #1365
I don't think it's possible in the portal, but you can upload settings through VS Code:
![Screen Shot 2019-07-02 at 3 16 28 PM](https://user-images.githubusercontent.com/11282622/60550304-6273b880-9cdc-11e9-808e-e7c8a91b23f2.png)

The docs for local settings are here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file. This repo is specifically for the V

[2019-07-02 22:25] EricJizbaMSFT commented on #1364
@banurekha-r how did you create your function app in Azure? From VS Code, the portal, the az cli, etc.? If you were creating a function app while deploying, you could try setting "azureFunctions.advancedCreation" to "true" in your VS Code settings, which will give you more options.

Does this always happen? Are you behind any unique corporate proxy or something like that?

[2019-07-02 22:28] EricJizbaMSFT commented on #1363
@androidand can you show me what your local.settings.json looks like? (Obviously removing any sensitive information)

Also can you post a screenshot of your project structure? I'm wondering if you have multiple projects in one workspace, a project in a subfolder, or some other non-default setup that might not be working.

[2019-07-03 17:05] ahmedelnably opened #1367 "Remove feature flag for slots"
Need to add support to:
- Create a slot
- Delete a slot
- Deploy to a slot
- Swap slots

[2019-07-03 17:35] EricJizbaMSFT commented on #1367
@ahmedelnably most of that should be supported if you set `azureFunctions.enableSlots` to `true` in your VS Code settings. The only thing left to do is https://github.com/microsoft/vscode-azurefunctions/issues/830 and then we plan to remove the feature flag

[2019-07-03 17:37] EricJizbaMSFT commented on #1367
Re-purposing this issue to track removal of the feature flag

[2019-07-03 18:51] banurekha-r commented on #1364
Function app is created via portal. And I tried creating functions both via portal and also adding functions via VS Code. And yes, it always happen and I am in my company network and I configured proxy in VS code

[2019-07-03 21:19] #1339 closed

[2019-07-04 17:19] #1341 closed

[2019-07-05 18:19] #1326 closed

[2019-07-07 20:55] avinashsharma5 opened #1368 "Unable to create Azure solution in VS Code in MacOS"
Repro steps:

1. Create new Azure Function
2. C#

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Could not find template with language "C#", runtime "~2", and id "Azure.Function.CSharp.IotHubTrigger.2.x".

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-07 21:47] mpeaton opened #1369 "Error trying azure functions macos python 3.6 from conda."
Repro steps:

1.  https://code.visualstudio.com/docs/python/tutorial-azure-functions
2. conda create -n azure_env python=3.6.3
3. Specify python binary path to conda env python in dialog box

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Failed to run "~/anaconda3/envs/azure_env/bin/python" command. Check output window for more details.

Version: 0.17.1
OS: darwin
Produc

[2019-07-09 00:19] #1334 closed

[2019-07-09 11:00] borysl opened #1370 "WEBSITE_CONTENTSHARE is required for Standard Plan when it should not be required when deploying properties"
Repro steps:

1. Have functional app version beta
2. Upload local settings without WEBSITE_CONTENTSHARE

Action: azureFunctions.appSettings.upload
Error type: BadRequest
Error Message: Required parameter WEBSITE_CONTENTSHARE is missing.

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.36.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-09 20:29] bbakermmc opened #1371 "Azure DevOps Continuous Delivery requires you to have permissions to write to Azure Active Directory and create a service"
What permission in AAD do you need set.  In testing I was set to a Global Admin, re-logged and still cant create an CI/CD from the portal UI.

Azure DevOps Continuous Delivery requires you to have permissions to write to Azure Active Directory and create a service

[2019-07-10 00:01] EricJizbaMSFT commented on #1371
@bbakermmc it sounds like your problem is with Azure Dev Ops or the portal, but this repo is for the VS Code extension. Can you clarify?

[2019-07-10 00:02] EricJizbaMSFT commented on #1369
@mpeaton can you check the "Azure Functions" output window and copy the logs here?

[2019-07-10 00:06] mpeaton commented on #1369
Is this what you mean?

iMac:wells-fargo mpeaton$ cd /Users/mpeaton/WF ; env PYTHONIOENCODING=UTF-8 PYTHONUNBUFFERED=1 /Users/mpeaton/anaconda3/envs/wf/bin/python /Users/mpeaton/.vscode-insiders/extensions/ms-python.python-2019.6.22090/pythonFiles/ptvsd_launcher.py --default --client --host localhost --port 55014 /Users/mpeaton/WF/azurefunc/.env/pyvenv.cfg
Traceback (most recent call last):
  File

[2019-07-10 00:12] EricJizbaMSFT commented on #1369
The error says `Check output window for more details.`. If you already closed VS Code, the error might not be in the logs any more in which case please try to re-create it.

The output channel will look like this:
![Screen Shot 2019-07-09 at 5 11 55 PM](https://user-images.githubusercontent.com/11282622/60930968-ab8fb380-a26c-11e9-88da-95543b08aece.png)

[2019-07-10 00:47] bbakermmc commented on #1371
@EricJizbaMSFT If you google this error, this code base has a reference to this error message.
Yes this issue is occurring when you try to configure a CI/CD from azure.  But as typical with most azure things, documentation is non existent, error messages dont provide details, so I googled the error and it lead me here.

![image](https://user-images.githubusercontent.com/30090055/60932117-91fd6480-

[2019-07-10 12:23] mpeaton commented on #1369
Updating Script templates for runtime "~1" to version "1.9.0"...
invalid local file header signature: 0x0
Falling back to version "1.8.0" for Script templates for runtime "~1".
Updating Script templates for runtime "~2" to version "2.24.0"...
end of central directory record signature not found
Falling back to version "2.18.1" for Script templates for runtime "~2".
Running command: "git init"...
In

[2019-07-10 18:08] EricJizbaMSFT commented on #1369
Hmm unfortunately that's still not super helpful since it just says "returned non-zero exit status 1."

Can you try running `~/anaconda3/envs/azure_env/bin/python -m venv .env` manually from the command line and seeing if you get more detailed errors?

[2019-07-10 18:19] #1342 closed

[2019-07-10 18:58] EricJizbaMSFT commented on #1371
Perhaps this link will help: https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment#option-2-use-azure-pipelines-preview

It says:

[2019-07-10 19:07] bbakermmc commented on #1371
@EricJizbaMSFT Yup that's what I would be looking for.  But its pretty bad that I would need owner access to a subscription to create it :P  But thats beyond you.

Thanks.

[2019-07-10 19:07] #1371 closed

[2019-07-10 20:51] EricJizbaMSFT commented on #1370
@borysl what type of function app is this? Linux/windows? And what language?

That setting has a special meaning and sometimes will exist when you create a function app. You might want to re-create the function app if you're seeing that error.

[2019-07-10 20:53] EricJizbaMSFT commented on #1368
@avinashsharma5
1. can you check the Azure Functions output window and copy the logs from there
![Screen Shot 2019-07-09 at 5 11 55 PM](https://user-images.githubusercontent.com/11282622/60930968-ab8fb380-a26c-11e9-88da-95543b08aece.png)
1. Do you have the dotnet cli installed and on your path?
1. Does it work if you do a different template, like http trigger?

[2019-07-10 21:34] EricJizbaMSFT commented on #1364
@banurekha-r yeah I'm kinda stumped on this one, but I'm guessing it's related to proxy settings in VS Code

[2019-07-10 22:13] fiveisprime commented on #1330
Yeah, I'm fine with that.

[2019-07-10 23:42] gbowerman commented on #1336
For this particular workflow, I either don't want the option of Deploy anyway, or if you have to provide that option - warn me that a deployment will fail if I select it.

[2019-07-10 23:46] gbowerman commented on #1337
@EricJizbaMSFT  do I need both the VS Code Azure Functions extension and the Func CLI?
Either way, if it included the extra files in requirements.txt because of the func version, and then it failed because of the extra files, then something is broken isn't it?
![image](https://user-images.githubusercontent.com/4258913/61012181-3686b180-a332-11e9-8e7a-787fc89da428.png)

[2019-07-11 00:40] mpeaton commented on #1369
(azure_env) iMac:bin mpeaton$ ~/anaconda3/envs/azure_env/bin/python -m venv .env
Error: Command '['/Users/mpeaton/WF/azurefunc/.env/bin/.env/bin/python', '-Im', 'ensurepip', '--upgrade', '--default-pip']' returned non-zero exit status 1.

[2019-07-11 11:12] v-dantch opened #1374 "Display an invalid function url after deploying a C#/JS/TS/Python/PS project to a Linux function app with Dedicated Plan"
**OS**: Win10
**Build Version**: [20190710.5](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7601)
**VS Code Insiders Version**: 1.37.0-insiders (user setup)

**Repro Steps:**
1. Create a Linux function app with the dedicated plan.
2. Deploy a C#/PS/TS/JS/Python project to it.
3. Check the result.

**Expect:**
Succeed to deploy and get a valid function url.

**Actual:**
Get an i

[2019-07-11 11:17] v-dantch opened #1375 ""Toggle App Setting Visibility" button doesn't work on Insiders"
**OS**: Win10
**Build Version**: [20190710.5](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7601)
**VS Code Insiders Version**: 1.37.0-insiders (user setup)

**Repro Steps:**
1. Drill down from one function app -> Application Settings node.
2. Click the "Toggle App Setting Visibility" button for one application setting and check the result.

**Expect:**
The "Toggle App Setting

[2019-07-11 13:26] chemicalspaceman opened #1376 "Unable to get local issuer certificate when trying to publish azure functions via vscode"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: UNABLE_TO_GET_ISSUER_CERT_LOCALLY
Error Message: unable to get local issuer certificate

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-12 17:19] #1351 closed

[2019-07-12 17:30] fiveisprime commented on #1359
I'm okay with adding the location prompt. It's not my favorite thing, but Functions has so few prompts already that it's not a huge deal.

[2019-07-15 15:29] #406 closed

[2019-07-15 18:02] chrisdias opened #1377 "nvm node version not being picked up"
I'm connected to a remove VM using the Remote - SSH extension and trying to debug a function.

I keep getting this error...

[code]

When I initially tried to do this, I did in fact have `v11.15.0` on the machine. I installed `nvm` and updated the version to `10.16.0` which should be an LTS version.

[code]

Running `func host start` from the terminal on the machine works fine. When I try to run i

[2019-07-15 18:09] chrisdias commented on #1377
A restart of the remote machine fixes the issue.

[2019-07-15 18:09] #1377 closed

[2019-07-16 04:18] toddysm opened #1378 "VS Code Functions plugin fails 4 out of 5 times to connect when debugging"
Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-16 17:49] Francisco-Gamino opened #1379 "Handle lack of internet connection or if the www.powershellgallery.com is down when creating PowerShell function apps"
For PowerShell function apps, we enable Managed Dependencies (MDs) at creation time. During this process, we need to connect to the www.powershellgallery.com to retrieve the latest available module version for the Azure Az modules. If the www.powershellgallery.com is down or the user has no internet connection, we need to provide the correct guidance to the user.

This experience will look exactly

[2019-07-16 20:07] fiveisprime commented on #1317
I like the idea of a separate "Create project (advanced)" and maybe we could expose the advanced creation command as part of the first prompt in the create project flow. Something like this?

![image](https://user-images.githubusercontent.com/1186948/61325889-86e68f00-a7ca-11e9-85a6-32720dbd2dfe.png)

[2019-07-17 15:31] EricJizbaMSFT commented on #1317
@fiveisprime this issue is for creating a function app in Azure, but the dialog you mentioned is for creating a new project.

[2019-07-17 15:39] EricJizbaMSFT commented on #1379
@Francisco-Gamino is the `Az` module actually needed for most triggers? Can you share example code where it's used? I'm beginning to wonder if we should avoid writing `Az` as a dependency in projects that may never use it, especially considering Http and Timer triggers are by far the most popular and I doubt those need `Az`

[2019-07-17 15:44] EricJizbaMSFT commented on #1378
@toddysm this is somewhat of a known issue, but it's difficult for us to reproduce. If you could share detailed repro steps or anything unique about your project/machine that would be very helpful

Related to https://github.com/microsoft/vscode-azurefunctions/issues/1353

[2019-07-17 16:19] #1357 closed

[2019-07-17 16:38] EricJizbaMSFT commented on #1337
Yes you need both the func cli and the VS Code extension. I don't understand what you mean by "it failed because of the extra files" because I don't see any error in the issue description

In addition, if I create a python project with func cli version `2.7.1373` I see an empty `requirements.txt`

[2019-07-17 16:51] EricJizbaMSFT commented on #1376
@chemicalspaceman please add repro steps to this issue. In general, proxy support and/or certificate support is handled in VS Code, not our extension

[2019-07-17 17:22] EricJizbaMSFT commented on #1335
@gbowerman this is modeled after the standard "Debug Anyway" dialog that comes from VS Code:
![Screen Shot 2019-07-17 at 10 15 51 AM](https://user-images.githubusercontent.com/11282622/61396147-ec468880-a87b-11e9-8a40-2715cd7b0ec2.png)

I might be able to add add something like the "Show errors" button which takes you to the task output.

[2019-07-17 17:26] EricJizbaMSFT commented on #1336
We don't want to get rid of "Deploy Anyway" - it's modeled after "Debug Anyway" which I think is a very common pattern that most users are familiar with. In that sense, closing as "by design"

We already have https://github.com/microsoft/vscode-azurefunctions/issues/1335 to track improvements to the "Deploy anyway" dialog. In that sense, closing as "duplicate"

[2019-07-17 17:26] #1336 closed

[2019-07-17 17:40] EricJizbaMSFT commented on #1369
@mpeaton if you're getting the same error from the command line then I'm not sure what we can do. It must be a problem with how your python environment is set up. Maybe try searching that error

[2019-07-17 18:30] EricJizbaMSFT commented on #1359
The portal selects a default of "Central US" for me
![Screen Shot 2019-07-17 at 11 19 35 AM](https://user-images.githubusercontent.com/11282622/61400312-d9848180-a884-11e9-9170-af3942e0f974.png)

I believe they're doing what @StephenWeatherford suggested, but either way they're picking a default somehow and we should be able to leverage the same API. Doing this would keep our wizard at one prompt,

[2019-07-17 22:37] Francisco-Gamino commented on #1379
Hello @EricJizbaMSFT, one of our main scenarios for PowerShell in Functions is to manage Azure resources. Adding @eamonoreilly to help answer the question above. Thanks.

cc: @AnatoliB @anirudhgarg

[2019-07-17 22:48] eamonoreilly commented on #1379
By far the most common use case (almost all customers) is managing Azure resources with PowerShell in functions. This is why we want to default the inclusion of the Az modules so customers can focus on writing the PowerShell tasks and not need to worry about the Az dependencies.
Thanks,
Eamon

[2019-07-17 23:20] EricJizbaMSFT commented on #1379
@eamonoreilly I'm still curious to see some example code if you have it. None of the templates that I tried referenced `Az` directly as far as I could tell. If it's such an important scenario - maybe there should be some templates using `Az`?

[2019-07-18 07:50] v-dantch opened #1383 "Support the slots deployment source matches the production function app"
**OS**: All
**Build Version:** [20190717.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7757)
**Regression:** Not a Regression

**Repro Steps:**
1. Right click one function app --> Select "Configure Deployment Source..." to change the deployment source.
2. Create a new slot.
3. Check the slot deployment source.

**Actual:**
The slots deployment source doesn't match the produc

[2019-07-18 07:53] v-dantch opened #1384 "[Suggestion]Update the "Function App" to "slot""
**OS**: All
**Build Version:** [20190717.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7757)
**Regression:** Not a Regression

**Repro Steps:**
1. Create a new slot.
2. Check the context menu.

**Actual:**
Display "Delete Function App.../ Deploy to Function App...".

**Suggestion:**
Update the "Function App" to "slot".
![image](https://user-images.githubusercontent.com/34729

[2019-07-18 09:08] v-dantch opened #1385 "Fail to run "func host start" with an error on Mac"
**OS:** Mac
**Build Version:** [20190717.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7757)
**Func Version:** 2.7.1468
**Dotnet Version**: 2.2.105

**Repro Steps:**
1. Create a C# project.
2. Try to debug it.

**Expect:**
Succeed to debug the C# project.

**Actual:**
Pop up an error "Setting unsupported .NET environment variables (empty string) is not implemented.".
![image

[2019-07-18 12:16] aaldrin23 commented on #1385
I'm also facing this error, I just started my first azure function and this happen. can't proceed for deployment.
but simple local function works.

[2019-07-18 13:54] ChanEilFhios opened #1386 "Publishing function fails on fresh install following instructions"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: 403
Error Message: Failed with code "403".

Version: 0.17.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-18 14:30] borysl opened #1387 "When I use core 2.2 I receive exception that I cannot deploy function"
Repro steps:

1. Create app with core 2.2
2. Run deployment

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: c:\SnowflakeBridge\bin\Release\netcoreapp2.1\publish

Version: 0.17.1
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-18 15:25] EricJizbaMSFT commented on #1387
@borysl try changing the setting `azureFunctions.deploySubpath` to have `netcoreapp2.2` instead of `netcoreapp2.1`

[2019-07-18 15:26] EricJizbaMSFT commented on #1386
@ChanEilFhios please add more detailed repro steps

[2019-07-18 16:09] borysl commented on #1387
Thanks! It deploys correctly

On Thu, Jul 18, 2019 at 5:25 PM Eric Jizba <notifications@github.com> wrote:

--
Borys L.

[2019-07-18 16:17] #1387 closed

[2019-07-18 16:19] EricJizbaMSFT commented on #1385
Filed an issue on the func cli: https://github.com/Azure/azure-functions-core-tools/issues/1447

[2019-07-18 21:40] EricJizbaMSFT commented on #1385
As a workaround, you can remove `"AzureWebJobsStorage": "",` from `local.settings.json`

[2019-07-18 23:15] EricJizbaMSFT opened #1390 "Add option to execute function with .http file"
We already let users execute a timer function (https://github.com/microsoft/vscode-azurefunctions/issues/402). However, we could also let them execute any arbitrary function by pre-populating an `http` file and leveraging the REST client extension. The portal has a similar experience:
![screen shot 2018-05-31 at 9 31 25 am](https://user-images.githubusercontent.com/11282622/40794946-7282960c-64b5-