[2018-12-05 19:19] EricJizbaMSFT commented on #772
I think this boils down to the folder structure of your project. I've opened a separate issue to track work to improve that experience:
https://github.com/Microsoft/vscode-azurefunctions/issues/851

[2018-12-05 19:19] #772 closed

[2018-12-05 19:19] EricJizbaMSFT commented on #697
I think this boils down to the folder structure of your project. I've opened a separate issue to track work to improve that experience:
https://github.com/Microsoft/vscode-azurefunctions/issues/851

[2018-12-05 19:19] #697 closed

[2018-12-06 01:22] v-dantch commented on #836
Hi @EricJizbaMSFT , thanks for your update.

[2018-12-06 03:10] v-dantch commented on #748
Hi @EricJizbaMSFT Sorry for the late reply.
Update: This issue doesn't reproduce on my Linux machine for now.

[2018-12-06 11:04] bpware opened #852 "Issue publishing function"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy. Pre-deploy task "installExtensions" failed with exit code "127".

Version: 0.13.0
OS: darwin

[2018-12-06 19:07] EricJizbaMSFT commented on #850
I believe this was due to a bug in VS Code insiders: https://github.com/Microsoft/vscode/issues/54397#issuecomment-443826345

@v-xianya  They just reverted a commit that caused this, so please try this again in the next few days (after Insiders creates a new build with that fix)

[2018-12-06 23:20] balag0 opened #1877 "validate md5 hash after upload to storage account"
When deploying to Linux consumption apps after the zip is uploaded to blob, verify that the local zip's md5 hash and the one from server match. Fail the deployment in case of mismatch so the user can retry publish.

[2018-12-08 20:47] asavaritayal opened #854 "Enable publishing to 'Premium (preview)' plan"
The Azure Functions premium plan is a new hosting option for function apps that provides premium features like VNet connectivity, no cold start, and premium hardware, without having to compromise on things like latency or scale. More info here - https://github.com/Azure/Azure-Functions/blob/master/functions-premium-plan/overview.md

Using the Az Func Code extension, a user should be able to pick t

[2018-12-09 13:11] JohnReeson opened #855 "Python functions, task runFunctionsHost windows command only work with powershell"
On Windows, my user setting `terminal.integrated.shell.windows` is cmd.exe, I found it fails to debug python function. And everything works if I change the shell to powershell.exe.

The problem is that the following is all prompt I got, so it could be time-consuming to solve the setting problem.

![1](https://user-images.githubusercontent.com/35160013/49697796-aeeb8f80-fbf6-11e8-8943-9b17d57144ad.

[2018-12-10 09:51] SeanVSpr opened #856 "Signin to Azure not working"
I'm not entirely sure this is the right place for this error.
The issue occurs whenever I try to sign in to Azure to deploy my functions.

The steps taken are the following:
1. Perform Azure sign-in.
2. Receive a code which needs to be filled in to https://microsoft.com/devicelogin
3. Doing this redirects to the login page where I login with my account.
4. Everything seems in order, the browser ev

[2018-12-11 17:40] mscoutermarsh opened #857 "Publishing node functions to Linux"
Hello 👋 ,

Having trouble finding this documented anywhere. Is it possible to select OS type somehow when
publishing a new function?

Thanks!

[2018-12-11 17:51] EricJizbaMSFT commented on #857
@mscoutermarsh you can't create a Linux function app from our extension, yet. That's being tracked by https://github.com/Microsoft/vscode-azurefunctions/issues/811. However if you create one in the portal, you should still be able to deploy to it like normal. Let me know if that doesn't work otherwise I'll close this as a duplicate of 811

[2018-12-11 17:59] mscoutermarsh commented on #857
@EricJizbaMSFT Thanks! I'll give that a try and let you know.

[2018-12-12 02:55] JohnReeson commented on #855
@EricJizbaMSFT Thanks, I noticed that command before and I thought `task.json` is a template so I'd better change my user setting instead. Sorry for the bother, should have checked existing issues before creating a new one. Closed.

[2018-12-12 02:55] #855 closed

[2018-12-12 09:37] lightphantom1210 opened #858 "I got the problem when I try to create new function"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: You must have the .NET CLI installed to perform this operation.

Version: 0.13.0
OS: win32

[2018-12-12 18:38] EricJizbaMSFT commented on #856
Moved to https://github.com/Microsoft/vscode-azure-account/issues/119

Thanks!

[2018-12-12 18:38] #856 closed

[2018-12-12 18:39] EricJizbaMSFT commented on #854
Should probably be done with https://github.com/Microsoft/vscode-azurefunctions/issues/811

[2018-12-12 18:44] EricJizbaMSFT commented on #852
@bpware are you just using Http and timer triggers? If so you can probably remove `installExtensions` as a preDeployTask from your settings.json or tasks.json. Let me know if you have any issues doing that.

If you have triggers of different types (blob, queue, etc.) you will need to check the output of `installExtensions` and fix any errors otherwise those won't work

[2018-12-12 18:47] EricJizbaMSFT commented on #850
Closing this as external bug - shouldn't repro any more.

[2018-12-12 18:47] #850 closed

[2018-12-12 18:50] EricJizbaMSFT commented on #799
Closing due to lack of response. Feel free to re-open with more info

[2018-12-12 18:50] #799 closed

[2018-12-12 19:34] pink-cupcakes opened #859 "Unable to deploy through VS Code - node.js"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy. Pre-deploy task "installExtensions" failed with exit code "2".

Version: 0.13.0
OS: win32

[2018-12-12 21:42] EricJizbaMSFT commented on #859
@pink-cupcakes closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/852. Please feel free to answer my questions in this comment https://github.com/Microsoft/vscode-azurefunctions/issues/852#issuecomment-446697967 so we can get more info on this situation

[2018-12-12 21:42] #859 closed

[2018-12-13 01:48] ajonno opened #860 "crash when trying to delete a (deployed) function via VS Code"
Repro steps:
right click on a deployed Azure function in VS Code. select delete. wait. crash.

Action: azureFunctions.deleteFunction
Error type: InternalServerError
Error Message: {"error":{"code":"InternalServerError","message":"System.IO.IOException: Invalid access to memory location.\r\n\r\n   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)\r\n   at System.IO.FileSystemIn

[2018-12-13 13:00] mikaelsand opened #861 "Error message to install .NET CLI should have an install link"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: You must have the .NET CLI installed to perform this operation.

Version: 0.13.0
OS: win32

Installed CLI ver "azure-cli-2.0.52"
From this page: https://docs.microsoft.com/en-us/cli/azure/install-azu

[2018-12-13 13:09] mikaelsand commented on #861
Found the right thing at this page: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial that does not event talk about Azure CLI but rather the .net SDK …

*sigh*

[2018-12-13 22:13] westandy-dcp commented on #726
Could we reopen this?  I've got /usr/local/bin/func on my Mac, which I got by doing an `npm install -g azure-functions-core-tools`, but later I wanted to uninstall it by `npm uninstall -g func` or `npm uninstall -g azure-functions-core-tools` and neither work.

[2018-12-13 23:09] EricJizbaMSFT commented on #726
@westandy-dcp when you said "neither work" can you copy the output from running those commands?

Also what happens if you run `func --version`?

[2018-12-14 05:45] JohnReeson commented on #798
@EricJizbaMSFT Is there any reason we can't deploy python function to dedicated app service plan in VSCode? With Cli it succeeds.

[2018-12-14 09:57] thunem opened #862 "Failed to deploy. Pre-deploy task "installExtensions" failed with exit code "1""
Repro steps:
Trying to deploy function from vscode with azure funztion extension installed.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy. Pre-deploy task "installExtensions" failed with exit code "1".

Version: 0.13.0
OS: win32

I've tried to remove
  "azureFunctions.preDeployTask": "installExtensions",
from settings.json without any luck

found one more in task

[2018-12-14 10:04] thunem commented on #862
Remove installextensions from settings.json AND task.json and it will deploy :)

[2018-12-14 10:04] #862 closed

[2018-12-14 15:55] b3b00 opened #863 "unable to spy variables when debugging"
Hello,

I started using VS Code + azure functions. Works well except when debugging locally. breakpoints are working well but I can't get any value for variables.
I get an error message in the spy panel "internal erro in the C# compiler"

Dont know if its the right place to post. I use VSCode for other projects (console and asp.net) and have no issue with variable spy.

here is my launch.json :
``

[2018-12-14 16:41] westandy-dcp commented on #726
@EricJizbaMSFT Absolutely!  Thanks for replying!

`func --version` shows 2.1.725

`npm uninstall -g func`
`up to date in 0.043s`

`which func`
`/usr/local/bin/func`

[2018-12-14 23:18] EricJizbaMSFT commented on #726
Can you run `npm ls -g azure-functions-core-tools` and `brew ls azure-functions-core-tools` and copy the results?

How did you originally install the func cli?

[2018-12-15 09:27] djvibe opened #865 "bug report"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: 401
Error Message: Failed with code "401".

Version: 0.13.0
OS: win32

[2018-12-15 13:35] cuperman007 opened #866 "Azure Functions"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;
- Open VSCode
- Open Azure Functions extensions
- Click create new project icon
- Select c#
- Error occurs

State:
MacOS
I have dotnet 2.2.101 installed and this is working from the terminal: `dotnet --version`

Action: azureFunctions.createNewProject
Error type: Error
E

[2018-12-15 16:59] mscoutermarsh commented on #857
Gave it a try and unable to deploy.

Here's what I did.

**1. created a new function app via the portal**
![image](https://user-images.githubusercontent.com/155044/50045389-e5863780-0046-11e9-83f0-ac0a92ac68a8.png)

**2. Created a function locally (used the "create function" from within vscode.**
function.json
[code]
index.js
[code]

**3. Then I deployed it by right clicking on the folder an going

[2018-12-15 19:36] Duffmann opened #867 "Extension causes high cpu load"
[ms-azuretools.vscode-azurefunctions-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-azurefunctions/files/2683014/ms-azuretools.vscode-azurefunctions-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-azurefunctions`
- Extension Version: `0.13.0`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.0`

:warning: Make sure to **attach*

[2018-12-15 19:40] Duffmann commented on #867
[ms-azuretools.vscode-azurefunctions-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-azurefunctions/files/2683011/ms-azuretools.vscode-azurefunctions-unresponsive.cpuprofile.txt)

[2018-12-15 20:30] Bandit253 opened #868 "Proxy problem when creating python function"
I am running in a authenticated proxy environment and I get this error, "Connection to pypi.org timed out..." I have the proxy set in the settings but that does not seem to effect this creation script.

I have manually run that command and the subsequent one, "pypi ptvsd"  in a python script that sets the proxy but that seems to break the project structure.  Also noticed a similar issue with "pyli

[2018-12-16 01:09] FlavioDiasPs opened #869 "Visual Studio Code creates the function app, but it fails on python + windows"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Python projects are not supported on Windows Function apps.  Deploy to a Linux Consumption app.

Version: 0.13.0
OS: win32

[2018-12-17 18:55] IDoCodingStuffs opened #870 "Creating Azure Python functions behind private proxy -- pip proxy"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Failed to run ".env\Scripts\activate && func init ./ --worker-runtime python" command. Check output window for more details.

Output:

Error running 'pip install wheel'. Collecting wheel
  Retrying

[2018-12-17 22:49] asavaritayal commented on #870
@IDoCodingStuffs can you please provide the exact repro steps for this issue?

[2018-12-18 00:38] #852 closed

[2018-12-18 03:03] jdneo commented on #416
It seems not able to be reproed since the service side fixed [this issue](https://github.com/Azure/azure-functions-host/issues/2986).

If anyone still encounters this, please feel free to let us konw.

Thanks.

[2018-12-18 03:03] #416 closed

[2018-12-18 09:14] v-xuanzh opened #871 "Add the specific path of destination file after downloading the remote settings"
**OS:** All
**Node.js:** V10.13.0
**Build Number:** [20181218.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1615)

**Repro Steps:**
1. Create one function app then expand it.
2. Right click the 'Application Settings' then select 'Download Remote Settings...'.
3. Check the log message after downloading successfully.

**Expect:**
Show the path of destination file on the log me

[2018-12-18 09:14] v-xuanzh opened #872 "There misses three activities after creating a C# project with func cli"
**OS:** All
**Node.js:** V10.13.0
**Build Number:** [20181218.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1615)

**Repro Steps:**
1. Create a JavaScript project with the following command '**_func init --worker-runtime node_**' -> Check the log message.
2. Create a C# project with the command '**_func init --worker-runtime dotnet'_** -> Check the log message.
3. Compare th

[2018-12-18 09:15] v-xuanzh opened #873 "Debugging a JavaScript project causes an error"
**OS:** Windows/Linux
**Node.js:** V10.13.0
**Build Number:** [20181218.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1615)

**Repro Steps:**
1. Create a new project with JavaScript.
2. Create a Function adding an HttpTrigger.
3. Debug the project then check the result.

**Expected:**
Succeed to debug with no error.

**Actual:**
There is an error '_The specified task cannot

[2018-12-18 09:19] v-xuanzh opened #874 "Deploying a Python project to one function app occurs an error"
**OS:** Windows
**Node.js:** V10.13.0
**Build Number:** [20181218.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1615)

**Repro Steps:**
1. Create a new project with Python.
2. Create a Function adding an HttpTrigger.
3. Click 'Deploy to Function App...' -> Select 'Create New Function App' -> Type a valid function name -> Choose a resource group and storage account.

**Expect

[2018-12-18 09:59] Bandit253 commented on #870
This the same as mine
**Proxy problem when creating python function** #868

[2018-12-18 18:41] EricJizbaMSFT commented on #873
There are two ways I know of that this could happen:
1. There was a bug in VS Code Insiders about a week ago. What version of insiders are you on? See my comment here https://github.com/Microsoft/vscode-azurefunctions/issues/850#issuecomment-444991064
1. I can repro if I don't have the func cli installed. Do you have it installed? This is already tracked by #328 or #358 (although I increased the p

[2018-12-18 18:44] EricJizbaMSFT commented on #328
Moving this out of "future" milestone due to #873. We have a warning message after the user creates a new project, but it doesn't show if the extension host restarts (aka if the folder isn't open and they have to open it in VS Code)
<img width="465" alt="screen shot 2018-12-18 at 10 42 18 am" src="https://user-images.githubusercontent.com/11282622/50175505-ce974d80-02b1-11e9-9321-72c275acdb2f.png"

[2018-12-18 18:47] EricJizbaMSFT commented on #872
@v-xuanzh we don't own the func cli. You can file an issue on their repo here if you so desire: https://github.com/Azure/azure-functions-core-tools

[2018-12-18 18:47] #872 closed

[2018-12-18 18:54] EricJizbaMSFT commented on #870
Closing as duplicate of #868

[2018-12-18 18:54] #870 closed

[2018-12-18 18:59] EricJizbaMSFT commented on #868
@Bandit253 when you say "I have the proxy set in the settings" what are you talking about?  Are you using the new `http.proxySupport` setting as described here?: https://github.com/Microsoft/vscode-azure-account/issues/27#issuecomment-443850698 If not - can you try setting it to "override" and let me know if it works?

Also you mentioned you got this somewhat working with your own Python script. C

[2018-12-18 19:09] EricJizbaMSFT commented on #867
Thanks for filing @Duffmann. It looks like most of the time is spent in module load, which we already have plans to fix by using webpack. @StephenWeatherford already did this for our docker extension (https://github.com/Microsoft/vscode-docker/pull/645) and we've seen good results so far.

Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/708

[2018-12-18 19:09] #867 closed

[2018-12-18 19:13] EricJizbaMSFT commented on #866
When you say "this is working from the terminal" are you talking about your system terminal or the terminal from within VS Code? Can you try from the terminal within VS Code? I'm wondering if `dotnet` isn't in your PATH in VS Code for some reason...

[2018-12-18 19:17] EricJizbaMSFT commented on #860
By default, new Function Apps will have `WEBSITE_RUN_FROM_PACKAGE` set to true. This has performance benefits, but means the functions are read-only and we can't delete them. It's recommended to just remove the function from your local project and deploy again

In any case, closing as duplicate of #652

[2018-12-18 19:17] #860 closed

[2018-12-18 19:19] EricJizbaMSFT commented on #865
@djvibe can you give a little more information?:
1. Does this happen consistently for you?
1. Has deploy ever worked for you?
1. What type of project are you trying to deploy?
1. Was this a branch new function app or an existing one?

[2018-12-18 20:04] nturinski commented on #874
Somewhat related, but if you hit `Deploy Anyway` when the preDeployTask fails, the zip file doesn't exist (of course).  Should we either:
1. Not allow the user to deploy
1. Zip the folder manually and deploy that?

The output:
[code]

[2018-12-18 20:19] nturinski opened #875 "Deploy Anyway doesn't appear with C# project"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
1. Create a C# project
1. Alter the `task.json` to intentionally create an error
1. Deploy the project

Expected:  The `Deploy Anyway` prompt should come up
Actual: It tries to deploy anyway, but the folder path doesn't exist.  Guess this might be an issue with `dotnet` though?

Action: azureFunctions.deploy

[2018-12-18 20:20] nturinski commented on #875
Actually, I see that the change I made didn't break anything, it was just the name of the path (which obviously doesn't exist).  Sorry for the silly bug filing.

[2018-12-18 20:20] #875 closed

[2018-12-18 22:10] Bandit253 commented on #868
I set http.proxy in the user settings, interestingly there does not seem to be a setting for https?

This is what I ran to install failed bits. two lines commented out
`import os

os.environ["http_proxy"]="https://proxysuer:password@proxyserver:8080"
os.environ["https_proxy"]="https://proxysuer:password@proxyserver:8080"

#os.system("func init ./ --worker-runtime python")
#os.system("pip install p

[2018-12-18 22:19] EricJizbaMSFT commented on #868
Yeah the `http.proxy` setting doesn't work for our extension. Can you try using the `http.proxySupport` setting instead? This was just released in VS Code a few weeks ago and is supposed to work for our extension. If you set it to "override" it should use whatever proxy settings you have in your system. Do you have `https_proxy` already set in your system?

[2018-12-18 22:50] Bandit253 commented on #868
Alas we have such a locked down desktop that the profile I have to use to run VS Code is unable to traverse  the proxy.  So I would suspect that he Override setting would fail, but here I'll go and try

[2018-12-19 01:56] Bandit253 commented on #868
Yep as I suspected no good

[2018-12-19 01:57] v-xuanzh commented on #873
Hi @EricJizbaMSFT ,
1. Details info about the Insider:
Version: 1.31.0-insider (user setup)
Commit: d85a16f2e4354f2850b4171f84fe0c94b0cea338
Date: 2018-12-18T06:20:40.432Z
Electron: 3.0.10
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134
2. I have installed the func cli with the below version.
![image](https://user-images.githubusercontent.com/34729022/50194044-1f

[2018-12-19 07:19] b3b00 commented on #863
1. it is a  C# (cs files) project
2. func --version returns 2.3.148
3. windows 10
4. VS extensions :
     - azure functions : v0.31.1
     - azure tools 0.0.5
     -omnisharp C# 1.17.1

[2018-12-19 17:56] RebelSyntax opened #877 "Failed to find "maven", please ensure that the maven bin directory is in your system path."
C:\Windows\system32>mvn -v
Apache Maven 3.6.0 (...97c98ec64a1fdfee7767ce5ffb209...; 2018-10-24T14:41:47-04:00)
Maven home: C:\Program Files\Java\apache-maven-3.6.0\bin\..
Java version: 1.8.0_192, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk1.8.0_192\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

Tryin

[2018-12-21 02:02] BenBtg opened #878 "Unable to deploy C# function from VSCode"
Using VS Code 1.30.1

Followed steps here for creating new function from VSCode
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code
But used a NET C# project rather than JS. Note there are no intruction for C# and the output folder structure seems to be very different than JS.
However it builds and runs locally but when I attempt to deploy following the s

[2018-12-21 20:38] AymenMarzouk opened #879 "Configuration type must be set to "None" to connect to a GitHub repository."
Action: azureFunctions.connectToGitHub
Error type: Error
Error Message: Configuration type must be set to "None" to connect to a GitHub repository.

Version: 0.13.1
OS: win32

[2018-12-25 07:58] v-xianya commented on #874
Verified with build [20181221.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1671&view=results).
1.The mentioned error disappears.
2. Pop up an error dialog after deploying the Python project.
![image](https://user-images.githubusercontent.com/41351993/50416825-a1244400-085d-11e9-9664-0756e5ad0d61.png)

[2018-12-25 09:28] v-xianya opened #880 "The dialog doesn't prompt after opening a python project created by func cli"
**OS:** MacOS
**Node.js:** v8.11.3
**Build Number:** [20181221.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1671&view=results)

**Repro Steps:**
1.  Open VS Code.
2. Create a project from func cli -> Open the created project in VS Code.
3. Check whether there prompts a dialog or not.

**Expect:**
Prompt a dialog.
![image](https://user-images.githubusercontent.com/41351993/5

[2018-12-25 09:36] v-xianya opened #881 "Fail to debug a python project created by func cli"
**OS:** MacOS
**Node.js:** v8.11.3
**Build Number:** [20181221.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1671&view=results)

**Repro Steps:**
1. Open VS Code.
2. Create a project from func cli -> Open the created project in VS Code.
3. F1 -> Type and select 'Azure Functions: Initialize Project for Use with VS Code...'.
4. Debug -> Check the result.

**Expect:**
Debug suc

[2018-12-27 05:53] ggthename opened #882 "An error occurs while deploy Azure Function to Azure"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Unauthorized
Error Message: Encountered an error (Forbidden) from host runtime.

Version: 0.13.1
OS: darwin

[2018-12-27 06:46] ggthename opened #883 "when will Azure Function be supported in Korea region ?"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Requested features are not supported in region.

Version: 0.13.1
OS: darwin

[2018-12-28 19:00] gergzk opened #884 "Initializing python functions insists on exactly Python 3.6"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
Machine with Python 3.7.1 and VSCode installed
Follow steps to create a Python functions app and a first function
When VSCode asks if I'd like to init a project, say yes.

This is the console output, why can't I use a newer Python?:
**Error: Failed to run ".env\Scripts\activate && func init ./ --worker-runtim

[2018-12-29 14:55] justoke opened #885 "Unable to create Azure Functions application in ESP32 State sample application"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;
Follow the sample and run the command Azure IoT Device Workbench:Provision Azure Services.
After step to create the function app this error is shown in the output pane in Visual Studio Code

Action: azureFunctions.createFunctionApp
Error type: InvalidResourceGroupLocatio

[2019-01-02 13:37] andig opened #886 "Ensure azure-functions-core-tools is installed before debugging"
After installing Microsoft/vscode-azurefunctions I've tried to launch fresh JS function locally from VSCode:

[code]

I had to

    npm i -g azure-functions-core-tools

before I could start the debugger. Would be great if this dependency was more transparent.

[2019-01-02 13:38] #886 closed

[2019-01-02 13:41] andig opened #887 "Doesn't work on node v11"
Trying to debug on OSX with core tools installed globally via npm this is in the debug console:

[code]

Looks like a broken version comparison?

[2019-01-02 19:45] EricJizbaMSFT commented on #884
@gergzk This is a limitation of the func cli. It looks like they have an issue here tracking the work to support 3.7: https://github.com/Azure/azure-functions-core-tools/issues/872 Feel free to upvote or add a comment to that issue. I will go ahead and close this as external.

[2019-01-02 19:46] #884 closed

[2019-01-02 19:56] EricJizbaMSFT commented on #887
It looks like the functions team re-worded this error here: https://github.com/Azure/azure-functions-nodejs-worker/pull/153. Instead of "Node.js version is too low", they say "Incompatible Node.js version" (They don't support v11). Closing this as external - if you have any other suggestions on the wording of the error message I recommend filing an issue directly in their repo: https://github.com/

[2019-01-02 19:56] #887 closed

[2019-01-02 20:05] EricJizbaMSFT commented on #885
@justoke
1. Which "sample" are you talking about?
1. Did you create a new resource group or select an existing one? (Or was it automatically selected for you?)

The IoT extension depends on this extension and I'm not entirely sure which extension the bug is in. cc @lirenhe

[2019-01-02 22:00] EricJizbaMSFT commented on #879
Similar to https://github.com/Microsoft/vscode-azureappservice/issues/761

[2019-01-02 22:03] EricJizbaMSFT commented on #878
@BenBtg a few questions:
1. Was this a new or existing function app in Azure?
1. Are you using custom domains?
1. Does this happen consistently?

If you haven't already - please take a look at the FAQ listed in the error to see if that helps: https://blogs.msdn.microsoft.com/appserviceteam/2017/08/08/faq-app-service-domain-preview-and-custom-domains/

[2019-01-03 01:55] jdneo commented on #877
@RebelSyntax

Will you still see these error message if you close all your VS Code windows and restart it? (Just want to make sure the environment variables get refreshed)

[2019-01-03 02:09] qubitron commented on #814
Here's the issue that tracks this:
https://github.com/Microsoft/vscode-python/issues/2722

[2019-01-03 10:52] justoke commented on #885
@EricJizbaMSFT I've updated the comment to include a link to the sample. I tried to select an existing resource group. What I found that the Azure IoT Device Workbench commands in Visual Studio Code would fail but I could go to the Azure Portal and create the function app in the same resource group without any error. This was the only way I could get through the sample and  get it working.

[2019-01-03 20:05] EricJizbaMSFT commented on #826
@asavaritayal I still don't think the VS Code extension should do anything here. I think this should be automatically handled by the func cli when we call `func pack` and there should be no need for a `--build-native-deps` flag

We've already got [one review](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions#review-details) saying "Incredibly difficult to get

[2019-01-03 23:26] fiveisprime opened #888 "Failed to switch from "Run From Package" to "GitHub""
Same as #653, but for GitHub.

[2019-01-03 23:30] asavaritayal commented on #826
@EricJizbaMSFT Docker will to be required for the build if native dependencies are involved. Unfortunately, the CLI won't be able to get around this requirement either.

[2019-01-03 23:50] EricJizbaMSFT commented on #826
IMO the cli should do the following:
1. Check if there are native dependencies:
    1. If no, do the simple 'func pack'
    1. If yes, check if docker is installed:
        1. If no, throw an error
        1. If yes, do the more complex 'func pack' including native deps

I don't think any of that logic should be done by the VS Code extension and it makes the `--build-native-deps` flag obsolete sin

[2019-01-04 17:17] #841 closed

[2019-01-04 17:26] isarychkin opened #889 "Invalid resource group location 'West Europe'. The Resource group already exists in location 'uksouth'."
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunctionApp
Error type: InvalidResourceGroupLocation
Error Message: Invalid resource group location 'West Europe'. The Resource group already exists in location 'uksouth'.

Version: 0.13.1
OS: win32

[2019-01-04 18:35] fiveisprime commented on #826
I agree with Eric on this one. Keeping this login in the CLI will also improve consistency between the tools. Is there any reason why the CLI couldn't do this?

I'd also like to avoid adding it to the extension because I expect that this functionality will eventually shift out of the tools and into the deployment pipeline. Ultimately, this responsibility _should not_ fall on the user (this isn't a

[2019-01-04 20:38] cunhasb opened #890 "Error while deploying function to an existing functionapp"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: ESOCKETTIMEDOUT
Error Message: ESOCKETTIMEDOUT

Version: 0.13.1
OS: linux

[2019-01-04 22:48] asavaritayal commented on #826
Check if there are native dependencies:
If no, do the simple 'func pack'
If yes, check if docker is installed:
If no, throw an error
If yes, do the more complex 'func pack' including native deps

@ankitkumarr is it feasible to implement this logic in the CLI? perhaps with explicit information about why docker is being used, if so.

@fiveisprime agree with you that this shouldn't be part of the loc

[2019-01-04 23:06] ankitkumarr commented on #826
@asavaritayal, yeah, I think it is feasible to implement this logic in the CLI. I thought it was done this way so that the user knows and understands that Docker will be used. But if we explicitly say, it should be fine.

The only other concern I would have is it does take time to collect the wheels and determine if "native dependencies" are present (done by packapp). So, if native dependencies ar

[2019-01-06 01:11] BenBtg commented on #878
Unable to repro now. After reboot now working fine.

[2019-01-06 09:12] cbrevik commented on #756
I am getting the same error  "No process with the specified id is currently running." when trying to debug on macOS (i.e. when pressing F5, not when restarting debugger).

The steps I take are:
1. Create an empty folder, open it in VS Code.
2. Command: "Azure Functions: Create new project" (C#)
3. Command: "Azure Functions: Create Function" (C#, HttpTrigger).

I don't get this error right away, th

[2019-01-07 19:44] nextdynamic opened #891 "Deployment Error"
![deploying](https://user-images.githubusercontent.com/24548602/50789604-bf8d3500-128a-11e9-87f2-1988ac7c9dc0.JPG)
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: c:\Users\tibrown\Workspace\Hubway\HubwayPythonPro

[2019-01-07 19:58] nextdynamic opened #892 "Running Locally"
![running locally](https://user-images.githubusercontent.com/24548602/50790350-b00eeb80-128c-11e9-91ed-b1a25269b865.JPG)

[2019-01-07 21:11] asavaritayal opened #893 "Error deploying Python Functions from VS Code"
![image](https://user-images.githubusercontent.com/8435148/50793502-4b986000-127d-11e9-932a-6eac33797fdb.png)

Repro steps:
- I followed the basic workflow to create a Python project and create a function from Http template.
- Clicked on Publish and picked the 'Create new Function app option'.

Action: azureFunctions.deploy
Error type: Error
Error Message: Python projects are not supported on Wind

[2019-01-07 23:42] EricJizbaMSFT opened #894 "Error "No process with the specified id is currently running." when trying to debug on macOS"
I am getting the same error  "No process with the specified id is currently running." when trying to debug on macOS (i.e. when pressing F5, not when restarting debugger).

The steps I take are:
1. Create an empty folder, open it in VS Code.
2. Command: "Azure Functions: Create new project" (C#)
3. Command: "Azure Functions: Create Function" (C#, HttpTrigger).

I don't get this error right away, th

[2019-01-07 23:43] EricJizbaMSFT commented on #756
Moved @cbrevik's comment to https://github.com/Microsoft/vscode-azurefunctions/issues/894

[2019-01-07 23:53] EricJizbaMSFT commented on #894
@cbrevik how did you install the func cli? `brew`, `npm`, or some other method? When you look at your project, does it have this structure?
![screen shot 2019-01-07 at 3 48 05 pm](https://user-images.githubusercontent.com/11282622/50800128-c53b4880-1293-11e9-9547-d4e185fe4b22.png)

Also you can follow these steps as a workaround or to give me more info:
1. In `.vscode/launch.json` change `"${comma

[2019-01-07 23:53] #878 closed

[2019-01-07 23:55] EricJizbaMSFT commented on #878
Closing for now, but let us know if this starts happening consistently. I'm guessing the web app was just temporarily down

[2019-01-08 10:00] HarishMashetty opened #895 "Unable to create Azure python function from VSCode"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run "py -3.6" command. Check output window for more details.

Version: 0.13.1
OS: win32

![image](https://user-images.githubusercontent.com/10495860/50823562-49580380-135a-11e9-86a5-cad3367

[2019-01-08 10:14] cbrevik commented on #894
@EricJizbaMSFT installed with Homebrew, and same project structure.

This is the part where I feel sort of silly. I did the workaround, and was able to attach the debugger by picking the process manually. Then I changed `launch.json` back to `"${command:azureFunctions.pickProcess}"`.. and now it's working without having to pick the process manually.

I have no idea why I've experienced this behavi

[2019-01-08 16:48] RitwikChatterjee opened #896 "Not able to signin to Azure from VSCode to be able to deploy"
Hi,

I am using v0.13.1 of the extension on a Windows machine.
I am able to create and test locally. However, in the step where I need to signin to Azure to deploy, I am not able to do so.

When I click on "Sign in to Azure" in the extension, it takes me to the browser with a code. The browser successfully signs me in and shows me the following message:
"_You have signed in to the Visual Studio Co

[2019-01-08 18:14] EricJizbaMSFT commented on #896
What version of the azure account extension do you have?
And what version of VS Code?

[2019-01-08 18:16] EricJizbaMSFT commented on #894
Perhaps something changed on your machine. If you have multiple installs of the func cli or if you're even running `func host start` multiple times on the same machine you might see problems. In any case feel free to re-open if you start seeing problems again

[2019-01-08 18:16] #894 closed

[2019-01-08 18:53] EricJizbaMSFT commented on #883
I don't know that information - I would recommend following the generic Azure Functions support guidelines as outlined here: https://github.com/Azure/Azure-Functions#questions--help

Those folks work more directly on Functions in Azure as opposed to just the extension in VS Code and may be able to help

[2019-01-08 18:53] #883 closed

[2019-01-08 18:57] EricJizbaMSFT commented on #892
@nextdynamic do you have the [func cli](https://github.com/Azure/azure-functions-core-tools#installing) installed? I'm not seeing any output when it's running `func host start`, etc.

What do you get if you run `func --version`?

How did you create your project?

[2019-01-08 18:58] EricJizbaMSFT commented on #891
See comment here: https://github.com/Microsoft/vscode-azurefunctions/issues/892#issuecomment-452412251

[2019-01-08 19:00] EricJizbaMSFT commented on #890
@cunhasb can you give more information -
1. Does this happen consistently?
1. What are the repro steps?

[2019-01-08 19:04] nextdynamic commented on #892
Func –version is 2.3.199

From: Eric Jizba <notifications@github.com>
Sent: Tuesday, January 8, 2019 1:58 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode-azurefunctions] Running Locally (#892)

@nextdynamic<https://nam06.safelinks.protection.outlook.com

[2019-01-08 19:45] EricJizbaMSFT commented on #882
@ggthename can you give more information -
1. Does this happen consistently?
1. What are the repro steps?

[2019-01-08 23:28] #889 closed, assigned to nobody

[2019-01-09 09:44] HarishMashetty commented on #895
I somehow can't reproduce this issue now and facing something else. I'll close this and raise a new one.

![image](https://user-images.githubusercontent.com/10495860/50890989-4e33ba80-1421-11e9-9035-a03fd7117d8f.png)

[2019-01-09 09:44] #895 closed

[2019-01-09 09:47] HarishMashetty commented on #890
I'm facing the same issue and here are my output logs.

Running command: "py -3.6 -m venv .env"...
Finished running command: "py -3.6 -m venv .env".
Running command: ".env\Scripts\activate && func init ./ --worker-runtime python "...
Installing wheel package
Installing azure-functions==1.0.0a5 package
Installing azure-functions-worker==1.0.0a6 package
Running pip freeze
Writing .funcignore
Writing

[2019-01-09 12:18] mohovkm opened #899 "Project doesn't run on python > 3.6"
Repro steps:
Install npm azure-ad-functions
Install extension for VS code
Reload VS code
Select "Create new project" -> Python
Type aliias fo Python 3.6: python3

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run ". .env/bin/activate && func init ./ --worker-runtime python" command. Check output window for more details.

Output: Running command: "python3 -m venv

[2019-01-09 13:25] deepakkumpala opened #900 "How do I remove "subscription" from Azure App Service Extension/Visual Studio Code"
How do I remove "Azure subscription" from Azure App Service Extension/Visual Studio Code?

[2019-01-09 16:07] ericdrobinson commented on #892
@EricJizbaMSFT I'm running into the same[?] issue and decided that I would post here rather than start up a new thread.

Things were working A-OK until sometime yesterday when attempts to run the function using the built-in Task "_Attach to Python Functions_", well, stopped working.

When I attempt to run the function, I get the following output:

[code]

Here is a screenshot version, included for

[2019-01-09 16:48] fiveisprime opened #901 "host.json schema updates"
The functions team has updated the schema for host.json as part of v2, it's here: http://json.schemastore.org/host

[2019-01-09 17:30] #901 closed

[2019-01-09 17:36] #900 closed, assigned to nobody

[2019-01-09 17:37] EricJizbaMSFT commented on #899
@mohovkm This is a limitation of the func cli. It looks like they have an issue here tracking the work to support 3.7: https://github.com/Azure/azure-functions-core-tools/issues/872 Feel free to upvote or add a comment to that issue. I will go ahead and close this as external.

[2019-01-09 17:37] #899 closed

[2019-01-09 19:11] FlippieCoetser opened #902 "Python: Redeploy after Changing scriptFile and entryPoint in Function.json not working"
#### Background
Created a Python HTTP Trigger Function using the VS Code Extention, Tested and Deployed to Azure.

#### Tasks Performed
1. Create **main.py**
2. Copy all contents from the template **__init__.py** and paste into **main.py**
3. Change the entry function name from **main** to **ETL**
4. Update the **scriptFile** value in the **function.json** to **main.py**
5. Add **entryPoint** valu

[2019-01-09 19:14] FlippieCoetser commented on #902
The problem is within Azure Portal. Even if the deployment says successfully completed it takes some time for the changes to propagate to Azure. I close this ticket.

[2019-01-09 19:14] #902 closed

[2019-01-09 23:14] EricJizbaMSFT commented on #826
Just to summarize offline discussion:
Long term this kind of logic will shift out of local development loop. For now, VS Code will detect the error, show a message, and add the `--build-native-deps` flag for them.

Biggest question remaining is how we detect the error. For example do we just look for `Use the --build-native-deps option to try building the binary dependencies using a Docker contain

[2019-01-10 01:51] ankitkumarr commented on #826
@EricJizbaMSFT, I can add a specific exit code for that in azure-functions-core-tools. Would that work?

[2019-01-10 08:44] v-dantch commented on #893
This might help you: https://github.com/Microsoft/vscode-azurefunctions/issues/798

[2019-01-10 09:18] JohnReeson opened #904 "v1 JS project uses v2 template"
host.json contains `"version": "2.0"` and local.settings.json contains `"FUNCTIONS_WORKER_RUNTIME": "node"` so I assume it consumes v2 template somehow.

![capture](https://user-images.githubusercontent.com/35160013/50958396-90c9c580-14fb-11e9-8f3a-aa36a8f5a857.JPG)

Extension Version: 0.13.1
CLI version 1.0.17
Node v6

[2019-01-10 09:59] v-dantch opened #905 "There is a offset for the URL text-decoration when hovering over it on Mac"
OS: Mac
Node.js: V10.14.2
Func: V2.3.1999
Build Version: [20190108.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=1893&view=results)

Repro Steps:
1. Create a project -> Create a function.
2. Debug the project.
3. Hover over the URL in 'OUTPUT' window and check the result.

Expect:
The URL decoration matches the URL.

Actual:
There is a offset for the URL decoration.
![image]

[2019-01-10 15:42] FlippieCoetser commented on #892
@ericdrobinson
I did some investigation and found the following:

When starting a debug session: Clicking on the play button.
The following commands are executed in sequence:
1. func extensions install
2. pip install -r requirements.txt
3. func host start

Rather than starting a debug session, I executed each command **manually** in sequence.
1. func extensions install **(Completes Successfully)**

[2019-01-10 16:44] ericdrobinson commented on #892
@FlippieCoetser Thanks for the helpful pointers! Based on your findings, I ran some tests and found that I could change the VSCode Tasks (`tasks.json`) and Launch (`launch.json`) settings to use a different port than the default one. This allowed the system to get up and running.

However, when I attempted to hit up the localhost endpoint to test the HttpTrigger in the example, the browsers would

[2019-01-10 17:32] EricJizbaMSFT commented on #826
@ankitkumarr yep that would be great

[2019-01-10 17:41] EricJizbaMSFT commented on #892
Yeah I've occasionally seen this, too. It seems like there's an existing issue in the func cli to track: https://github.com/Azure/azure-functions-core-tools/issues/907

@nextdynamic can you confirm if you were seeing the same problem as @FlippieCoetser and @ericdrobinson  or was yours different?

[2019-01-10 17:44] EricJizbaMSFT commented on #893
I've run into this occasionally. It seems like there's a small period of time right after it's created where the info returned to us from Azure indicates it's a Windows app. @asavaritayal does this happen consistently for you? If so - does it work if you wait a minute, refresh the tree view, and deploy again?

[2019-01-10 17:47] EricJizbaMSFT opened #906 "Ensure python can be deployed to dedicated app service plan"
@EricJizbaMSFT Is there any reason we can't deploy python function to dedicated app service plan in VSCode? With Cli it succeeds.

_Originally posted by @JohnReeson in https://github.com/Microsoft/vscode-azurefunctions/issues/798#issuecomment-447220748_

[2019-01-10 17:51] RitwikChatterjee commented on #896
Azure Account 0.6.2
VS Code 1.29.1

[2019-01-10 17:55] EricJizbaMSFT commented on #798
This issue has quite a bit going on, so I'm splitting it up into a few new/existing issues.
1. Sometimes VS Code says `Python projects are not supported on Windows Function apps. Deploy to a Linux Consumption app.` even when it _is_ a linux function app #893
1. Provide an "advancedCreation" setting that allows users to explicitly select their OS #898
1. Address @JohnReeson's comment about dedicate

[2019-01-10 17:55] #798 closed

[2019-01-10 17:59] EricJizbaMSFT commented on #896
@RitwikChatterjee can you try version 0.8.0 of the account extension? It has a completely re-done experience for signing in. It does require you to be on at least version 1.30.0 of VS Code. Is there any particular reason you're still on 1.29.1 or is that unintentional?

[2019-01-10 17:59] RitwikChatterjee commented on #896
Unintentional. Let me try to upgrade

[2019-01-10 18:02] #752 closed

[2019-01-10 18:09] RitwikChatterjee commented on #896
I now have VS Code 1.30.2 and Azure Account 0.8.0 and Azure Functions 0.13.1. Same issue.
From a UX perspective, I did not notice any difference with Azure Account 0.8.0 vs 0.6.2. Not sure how it is working internally.

[2019-01-10 18:11] EricJizbaMSFT commented on #896
Did you reload VS Code after updating the account extension?

It should automatically open the browser without the notification and you shouldn't have to copy or paste any code.

[2019-01-10 18:14] MareArts opened #907 "Failed to deploy path that does not exist"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: /Users/leon/DWF/Dev/azure/LeonTestAzureProj/LeonTestAzureProj.zip

Version: 0.13.1
OS: darwin

[2019-01-10 18:18] RitwikChatterjee commented on #896
I am not sure what you mean by "reload VS Code". I have restarted it a couple of times. I did have to reload Azure Account extension. However, from the UX perspective I am still seeing this:

![image](https://user-images.githubusercontent.com/5916320/50988212-2730c380-14c9-11e9-8fcf-a722e37fcce6.png)

Here is a view of my enabled extensions:
![image](https://user-images.githubusercontent.com/59163

[2019-01-10 18:18] RitwikChatterjee commented on #896
Visual Studio details:

Version: 1.30.2 (system setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.15063

[2019-01-10 18:55] ericdrobinson commented on #892
Ahh, good find! Seems that it's [not limited to Python](https://github.com/Azure/azure-functions-core-tools/issues/907#issuecomment-448407829), either. Thanks for the pointer!

[2019-01-10 19:01] RitwikChatterjee commented on #896
Hi Eric,
Thanks for your support so far. I did try uninstalling the extensions from VS Code and remove them from Extension root. This is what I did:

Uninstalled Azure Functions extension from VS Code. Then delete the corresponding `ms-vscode.azure*` folders from the extension root. Here is what I am starting with right now:

![image](https://user-images.githubusercontent.com/5916320/50989885-cce6

[2019-01-10 19:05] nextdynamic commented on #892
Appears to be the same issue – cannot attach to python process.

From: Eric Jizba <notifications@github.com>
Sent: Thursday, January 10, 2019 12:41 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode-azurefunctions] Running Locally (#892)

It seems that occ

[2019-01-10 19:05] RitwikChatterjee commented on #896
I am using a Windows 10 machine

[2019-01-10 19:19] EricJizbaMSFT commented on #896
Okay I'm out of ideas at this point. I've moved the issue to the Azure Account extension instead: https://github.com/Microsoft/vscode-azure-account/issues/124

[2019-01-10 19:19] #896 closed

[2019-01-10 19:57] EricJizbaMSFT opened #910 "Reenable "Create New Project Tests PythonProject" test for linux"
This is a nightly test that has been failing inconsistently. I'm gonna disable it for now and file this issue to fix in the future.

https://github.com/Microsoft/vscode-azurefunctions/pull/911

[2019-01-10 20:01] EricJizbaMSFT commented on #907
@MareArts did the `func pack` task succeed? That creates the zip and it's required for deploying a python project

[2019-01-10 20:12] EricJizbaMSFT commented on #890
According to https://github.com/Azure/azure-storage-node/issues/401 this can happen if your network is poor. I've opened [a PR](https://github.com/Microsoft/vscode-azuretools/pull/370) to mitigate  and will include in the next release

[2019-01-11 08:24] isimosanchez opened #912 "Failed to detect running Functions host within "60" seconds"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.13.1
OS: win32

[2019-01-11 09:00] derFaizio commented on #891
Same problem as above.
As a workaround, it creates a zip file when I copy the following individual commands in the terminal. After the zip file is created, the deployment works.
[code]

Redeployment does not delete the existing zip file, so I have to delete the zip file manually, repeat the manual commands and then click the deploy button. A bit of inconvenience.

[2019-01-11 10:17] FlippieCoetser commented on #892
@nextdynamic this morning I did more testing.

### Background
`launch.json` contains the following configuration:
[code]
**Note:** `preLaunchTask` point to `runFuncitonsHost`

`tasks.json` contains the `runFunctionsHost` task for each os:
[code]
I am on windows, therefore
`${config:azureFunctions.pythonVenv}\\Scripts\\activate ; func extensions install ; pip install -r requirements.txt ; func host

[2019-01-11 14:51] FlippieCoetser commented on #892
@nextdynamic what happens if you execute the `runFunctionHost` tasks manually using the terminal in VS Code? When I so that it also works but then no debugger...

[2019-01-11 15:08] ericdrobinson commented on #892
@nextdynamic I understand that you're running Windows and the command line utility I suggested won't work for you.

A commenter in the other thread for this issue [posted the Windows equivalent](https://github.com/Azure/azure-functions-core-tools/issues/907#issuecomment-453385528):

Perhaps you could try running that command in **PowerShell** and see if it resolves the issue for you?

[2019-01-11 16:57] nextdynamic commented on #892
Since I reinstalled VS Code –
Executed the commands manually –

Application started. Press Ctrl+C to shut down.
[1/11/2019 4:53:15 PM] Host lock lease acquired by instance ID '000000000000000000000000D57E5DAF'.

From: Flippie Coetser <notifications@github.com>
Sent: Friday, January 11, 2019 9:51 AM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timoth

[2019-01-11 18:57] #804 closed

[2019-01-11 19:47] EricJizbaMSFT commented on #891
So you don't see any output after `Executing task ...`? Not even an error or a failure?

What version of `func` are you on? That should've been fixed around September, although not exactly sure what version of the func cli shipped with that fix. See https://github.com/Azure/azure-functions-core-tools/issues/744

[2019-01-11 20:16] nextdynamic commented on #891
The zip does not get deleted.   A new zip does not get created upon initial deployment.

Func version is 2.3.199

From: Eric Jizba <notifications@github.com>
Sent: Friday, January 11, 2019 2:47 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode-azurefunction

[2019-01-11 21:33] EricJizbaMSFT commented on #891
I'm also on version "2.3.199" and I can't repro. This is what I see in the logs (It explicitly says it's deleting the old package).
[code]

Can you copy your full logs here?

[2019-01-11 21:33] EricJizbaMSFT commented on #912
@isimosanchez can you give repro steps and more information? For example
1. What version of the func cli do you have?
1. Did your project succeed in building?
1. When you started debugging, it should've opened the terminal and run `func host start`. Do you see any output and can you copy that here?

[2019-01-11 21:41] EricJizbaMSFT commented on #904
`FUNCTIONS_WORKER_RUNTIME` shouldn't hurt anything on v1 and could be helpful if people ever upgrade to v2. The host.json probably shouldn't say 2.0, though.

If you create a new function - what runtime is listed?
![screen shot 2019-01-11 at 1 39 00 pm](https://user-images.githubusercontent.com/11282622/51060956-5e28d700-15a6-11e9-8e88-8658337e7029.png)

If it says "~1" then that means you're stil

[2019-01-11 22:00] nextdynamic commented on #892
Microsoft Windows [Version 10.0.17763.253]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\tibrown\Workspace\Hubway\HubwayPythonProject>

                                                      .env\\Scripts\\activate

(.env) C:\Users\tibrown\Workspace\Hubway\HubwayPythonProject>func extensions install
Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C)

[2019-01-11 22:12] EricJizbaMSFT commented on #892
I would take a look at these lines in particular. There seems to be something wrong with "HubwayEventHubTrigger":
[code]

[2019-01-12 04:15] JohnReeson commented on #904
Thanks for the explanation, it's ~1 as expected. By template, I mean the project template i.e. `host.json` and `local.settings.json`.   `"version": "2.0"` is exactly what I am worrying about. Even though the v1 format configuration does work anyway, we can see the misleading prompt according to v2 schema.

![12](https://user-images.githubusercontent.com/35160013/51069117-c8538180-1663-11e9-9fed-d9

[2019-01-15 00:41] babychaos opened #913 "Failed to run "mvn" command. But it does run on the CMD"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run "mvn" command. Check output window for more details.

Version: 0.13.1
OS: win32

[2019-01-15 01:01] alexweininger commented on #913
@babychaos

Make sure you have installed the prerequisites for Java. You can find those [here.](https://github.com/Microsoft/vscode-azurefunctions#java)

(Also noted in the link) Once Maven is downloaded, you must ensure that Maven is in your PATH environment variable. You can check this by running: `mvn -v`.

If you're still having issues, please copy and paste the logs from the output window her

[2019-01-15 20:29] jochenvanwylick opened #914 "'Encountered an error (InternalServerError) from host runtime' on function publish"
Repro steps:
1. I created an azure function `func init` - `func new` - eventhub trigger
2. No code changes - so here's the code:
[code]
3. bindings as follows:
[code]
4. Use VS code extension to publish - and get error below:

[code]

And I found this in the logging window for Azure Functions:

[code]

[2019-01-15 21:46] EricJizbaMSFT commented on #822
Also need this bug fixed:
https://github.com/Microsoft/vscode/issues/66561

[2019-01-16 19:25] EricJizbaMSFT commented on #893
Could be fixed when we do https://github.com/Microsoft/vscode-azurefunctions/issues/906

[2019-01-16 19:33] EricJizbaMSFT commented on #880
I can't repro this. Can you give more information? Try it again? Maybe post screenshots of your workspace folder

[2019-01-16 19:36] EricJizbaMSFT commented on #874
Closing since you said the error disappeared. The ServiceUnavailable thing is already tracked by https://github.com/Microsoft/vscode-azurefunctions/issues/804

[2019-01-16 19:36] #874 closed

[2019-01-16 19:40] EricJizbaMSFT commented on #871
The user will see a notification to open the file as a part of https://github.com/Microsoft/vscode-azurefunctions/pull/908. We think that's enough

[2019-01-16 19:40] #871 closed

[2019-01-16 19:43] EricJizbaMSFT commented on #865
Closing due to lack of response. Feel free to reopen with more info

[2019-01-16 19:43] #865 closed

[2019-01-16 19:48] EricJizbaMSFT commented on #857
Closing as duplicate of #811 as mentioned above. The InternalServerError should likely be fixed as a part of https://github.com/Microsoft/vscode-azurefunctions/issues/804

[2019-01-16 19:48] #857 closed

[2019-01-16 19:50] EricJizbaMSFT commented on #810
Closing due to lack of response. Feel free to reopen with more info

[2019-01-16 19:50] #810 closed

[2019-01-16 19:51] EricJizbaMSFT commented on #774
Closing due to lack of response. Feel free to reopen with more info

[2019-01-16 19:51] #774 closed

[2019-01-16 19:52] EricJizbaMSFT commented on #726
Closing due to lack of response. Feel free to reopen with more info

[2019-01-16 19:52] #726 closed

[2019-01-16 19:53] EricJizbaMSFT commented on #328
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/358

[2019-01-16 19:53] #328 closed

[2019-01-16 21:55] EricJizbaMSFT commented on #914
@jochenvanwylick if you deploy, wait maybe 5 or 10 minutes, and then try to view functions for that function app (either in the VS Code Functions explorer or in the portal) - does that function show up? There's some known performance issues with linux consumption and it's possible the deployment succeeded and it's just taking too long for us to sync the triggers right away

[2019-01-16 22:50] EricJizbaMSFT commented on #905
Filed an issue on VS Code: https://github.com/Microsoft/vscode/issues/66632

[2019-01-17 02:34] v-xianya commented on #880
Verified on build [20190112.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2053&view=results).
1. This issue doesn't reproduce for C# and JavaScript project.
2. This issue reproduces for python project.

[2019-01-17 05:25] babychaos opened #916 "How to use the `MultipartHttpServletRequest` class from the default `run()` method?"
[code]

There's only `HttpRequestMessage` parameter on the `run()` method.
I need to declare and use `MultipartHttpServletRequest` to fetch a file from the multipart/data request.

Please give me some advice.

[2019-01-17 17:24] westandy-dcp commented on #726
Hi!  I apologize, but this thread got lost in a lot of emails.  Here's the answers to your previous questions:

`npm ls -g azure-functions-core-tools` produces
[code]

and

`brew ls azure-functions-core-tools`
[code]

[2019-01-17 17:49] EricJizbaMSFT commented on #726
So earlier you said:

Based on your response just now it looks like it's actually installed with brew and not npm. Have you tried these steps and you get the same error as the original poster?
1. View -> Command Palette
1. Select "Uninstall Azure Functions Core Tools" (if you start typing "uninstall" it'll filter the results)

That should detect brew vs. npm and call the right command to uninstall

[2019-01-17 17:58] EricJizbaMSFT commented on #880
I still can't repro for python. This is what I've done:
[code]

And this is what my folder looks like when I open it in VS Code:
![screen shot 2019-01-17 at 9 56 02 am](https://user-images.githubusercontent.com/11282622/51338261-37ebb700-1a3e-11e9-89eb-77de1620d9c5.png)

Can you post similar logs and screenshot?

[2019-01-17 18:03] EricJizbaMSFT commented on #892
I don't know what you mean by "no change". You'll have to copy the full logs here again.

[2019-01-17 18:08] EricJizbaMSFT commented on #873
I'm still not exactly sure how to repro this, but we're refactoring the debug structure as a part of https://github.com/Microsoft/vscode-azurefunctions/issues/822 anyways. I've also listed a few bugs in VS Code in that issue that can cause "The specified task cannot be tracked". Therefore, closing this in favor of #822.

[2019-01-17 18:08] #873 closed

[2019-01-17 18:13] EricJizbaMSFT commented on #863
@b3b00 sorry for the delayed response. I'm not sure how to help you with this. If you're able to hit breakpoints then I'm guessing there isn't a bug in the functions extension. If you have the code on GitHub I can try to clone and reproduce the bug, otherwise I would suggest filing an issue on the C# debugger extension and maybe they can help: https://github.com/OmniSharp/omnisharp-vscode

[2019-01-17 18:14] EricJizbaMSFT commented on #840
Closing due to lack of response. Feel free to reopen with more info.

[2019-01-17 18:14] #840 closed

[2019-01-17 18:21] nextdynamic commented on #892
.env\\Scripts\\activate

(.env) C:\Users\tibrown\Workspace\Hubway\HubwayPythonProject>func extensions install
Can't determine Project to build. Expected 1 .csproj but found 0

(.env) C:\Users\tibrown\Workspace\Hubway\HubwayPythonProject>func extensions install
  Writing C:\Users\tibrown\AppData\Local\Temp\tmp1AC5.tmp
info : Adding PackageReference for package 'Microsoft.Azure.WebJobs.Script.Extens

[2019-01-17 19:31] nextdynamic commented on #892
Not on Github yet – just the basic template code until I work thru these issues.

Let me smoke the project and recreate.

From: Eric Jizba <notifications@github.com>
Sent: Thursday, January 17, 2019 1:29 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode-a

[2019-01-17 19:57] EricJizbaMSFT opened #917 "Incorrect configuration when creating JavaScript Linux Consumption function app"
We enabled this as a part of advanced creation, but there's two issues I found when creating a JS linux consumption app:
1. The list of locations shows _all_ locations instead of just the 4 linux consumption ones
1. The resulting function app has WEBSITE_RUN_FROM_PACKAGE set to 1, but with linux consumption that should handled when deploying and set to the SAS url

[2019-01-17 21:48] nextdynamic commented on #892
Created a new Linux based Function App
Created a new Python project in VS Code.

[cid:image002.jpg@01D4AE84.0F582CE0]

The zip file is not getting created.

From: Eric Jizba <notifications@github.com>
Sent: Thursday, January 17, 2019 1:29 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.co

[2019-01-17 22:12] nextdynamic commented on #892
If I execute .env\Scripts\activate and func pack manually, the zip file gets created.

I can then deploy ….

From: Eric Jizba <notifications@github.com>
Sent: Thursday, January 17, 2019 1:29 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode-azurefunctions

[2019-01-18 04:34] abhinavbom opened #919 "Creating function from VS code is throwing error"
Repro steps:
Create new function > Select Language > Python

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run ". .env/bin/activate && func init ./ --worker-runtime python" command. Check output window for more details.

Version: 0.13.1
OS: darwin

[2019-01-18 04:54] v-xianya commented on #880
Thanks for your updates. Please get details from the below:

1. This is what I've done:
![image](https://user-images.githubusercontent.com/41351993/51366259-989ef080-1b1f-11e9-86f3-292a42ab3858.png)

2. This is what my folder looks like when I open it in VS Code:
![image](https://user-images.githubusercontent.com/41351993/51366268-a3f21c00-1b1f-11e9-9f8a-3b491eb54da1.png)

3. This is what my folde

[2019-01-18 17:31] EricJizbaMSFT commented on #880
Ah - do you see how your folder structure is different than mine? Your "HttpTrigger" is inside "func_env/bin" and mine isn't.

This works:
[code]

This doesn't work:
[code]

If you want to cd, you have to cd back to the old root folder:
[code]

I added this comment to the test case in OneNote - feel free to modify that comment to make it more clear if you want:
[code]

Re-open if you're still havi

[2019-01-18 17:31] #880 closed

[2019-01-18 17:32] EricJizbaMSFT commented on #919
@abhinavbom please copy the logs from the output window here

[2019-01-18 17:39] abhinavbom commented on #919
Thanks for the response. The issue was with python wheels. I had to reinstall it and it worked. Closing it for now.

[2019-01-18 17:39] #919 closed

[2019-01-18 23:31] EricJizbaMSFT commented on #914
@jochenvanwylick it turns out there is a bug in the functions runtime. As a workaround you can delete the proxies.json file in your project (assuming you don't have any proxies). See https://github.com/Azure/azure-functions-host/issues/3978 for more info

We're doing more improvements in this area in our extension as well. Mainly this: https://github.com/Microsoft/vscode-azuretools/pull/372

Closi

[2019-01-18 23:31] #914 closed

[2019-01-18 23:33] EricJizbaMSFT commented on #857
@mscoutermarsh it turns out there is a bug in the functions runtime. If you continue seeing InternalServerError you can try deleting the proxies.json file in your project (assuming you don't have any proxies) as a workaround. See https://github.com/Azure/azure-functions-host/issues/3978 for more info

[2019-01-19 10:52] FlippieCoetser commented on #893
Workaround, using cli: func azure functionapp publish <FuncAppName>

[2019-01-19 17:49] BSJAIN92 opened #920 "Deploy Issue"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: ESOCKETTIMEDOUT
Error Message: ESOCKETTIMEDOUT

Version: 0.13.1
OS: win32

[2019-01-19 22:43] julielerman commented on #892
This might be related. Im using

- CLI 2.3.199
-  latest VS Code 1.30.2
-  Microsoft.NET.Sdk.Functions" Version="1.0.24".
With F5 debug, the host lock lease acquired and I can run the app.
Using VS COde's debug arrow, I get the same results...works great.
However if I use the CLI `func host start` or even `func host start --build`, it goes through all of the normal processes but after displaying t

[2019-01-21 06:40] jayanath007 opened #921 "Failed to start debugging. Task "build" failed with exit code "1"."
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "build" failed with exit code "1".

Version: 0.13.1
OS: win32

[2019-01-21 07:39] jayanath007 opened #922 "cannot build (\microsoft.net.sdk.functions\1.0.24\build\netstandard1.0\Microsoft.NET.Sdk.Functions.Build.targets(41,5): error : It was not possible to find any compatible framework version)"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "build" failed with exit code "1".

Version: 0.13.1
OS: win32

[2019-01-22 15:53] tioumen opened #923 "Failed to deploy Python project"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
Just creating a Azure function http trigger for Python (default app) and trying to deploy it thru VSCode.

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (ServiceUnavailable) from host runtime.

Version: 0.13.1
OS: darwin

[2019-01-22 15:56] tioumen commented on #923
I'm getting an issue with different error message when I try thru CLI
![image](https://user-images.githubusercontent.com/4466013/51547480-b1ccd780-1e66-11e9-9a11-a9c40cc7dc7e.png)

[2019-01-22 16:40] EricJizbaMSFT commented on #922
@jayanath007 can you copy the full output of the build task?

[2019-01-22 16:44] #917 closed

[2019-01-22 17:47] EricJizbaMSFT commented on #923
@tioumen ServiceUnavailable will occasionally show up. We are changing VS Code to be more like the func cli by retrying the 'Sync triggers' operation a few times after deploying (See https://github.com/Microsoft/vscode-azuretools/pull/372)

There's also a known issue if you have a proxies.json file, but that usually that results in `InternalServerError` instead of `ServiceUnavailable `. As a worka

[2019-01-22 18:21] EricJizbaMSFT commented on #893
@FlippieCoetser we currently don't support deploying python to dedicated app service plans in VS Code. That is being tracked by https://github.com/Microsoft/vscode-azurefunctions/issues/906 and should be included in the next release

[2019-01-22 19:43] tioumen commented on #923
hey, thanks for your quick answer.
Still getting the same issue without proxies.json. I tried several times and still getting the same issue, without seeing any logs in VSCode or thru CLI.
Actually, I tried to create another Fucntion App with is App Service Plan (Basic) instead of Consumption Plan and it is working fine.

[2019-01-22 21:30] EricJizbaMSFT opened #924 "Validate FUNCTIONS_WORKER_RUNTIME when deploying"
i.e. if it's set to node, but they're deploying a python app

[2019-01-23 07:05] v-dantch opened #926 "Display 'Function host is not running' after deploying JavaScript projects"
**OS:** Windows/ Mac
**Node.js:** V10.14.0
**Build Version:** [20190122.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2313)
**Azure Functions Core Tools:** V2.4.290

**Repro Steps:**
1. Create a JavaScript project.
2. Create a new function with 'HTTP trigger' template and 'Function' level.
3. Deploy this JavaScript project to Azure Function app.
4. Copy the Function URL to t

[2019-01-23 12:40] jjgriff93 opened #927 "Project.assets.json cannot be found. Please do a dotnet restore"
I've created a functions app and function within VSCode, and am getting this error whenever trying to debug ad stock cosmos db trigger app. Running a `dotnet restore` does nothing

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "build" failed with exit code "1".

Version: 0.13.1
OS: win32

[2019-01-23 13:25] dev4678 opened #928 "Missing value for AzureWebJobsStorage in local.settings.json"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Get "Missing value for AzureWebJobsStorage in local.settings.json. This is required for all triggers other than HTTP. You can run 'func azure functionapp fetch-app-settings <functionAppName>' or specify a connection string in local.settings.json." in local.settings.json.&gt;

Action: azureFunctions.pickPr

[2019-01-23 21:43] chrisdias opened #929 "Unable to see function in tree ... shows "(Invalid)", Error: <!DOCTYPE html>"
Create a new python function
deploy it to azure
expand the function in the explorer

result: the Function itself is shown with a warning and marked as "(Invalid)" and if you expand the function you get an `Error: <!DOCTYPE html>` node in the tree:

![image](https://user-images.githubusercontent.com/1487073/51639025-c4054f00-1f14-11e9-8f57-e7963dca6748.png)

[2019-01-23 21:53] EricJizbaMSFT commented on #929
I assume these are non-anonymous triggers? If so, closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/654

[2019-01-23 21:53] #929 closed

[2019-01-23 21:58] chrisdias commented on #929
yes they are non-anon.  could we (in the meantime) special case this and just not show the sub node, etc.  showing the html in the node is weird.

[2019-01-23 22:05] EricJizbaMSFT commented on #929
Is "in the meantime" for a demo? If so - can't you just not expand that node? Or are you wanting us to get rid of the "Invalid" stuff, too?

We already have [a fix](https://github.com/Microsoft/vscode-azuretools/pull/360) in master to better parse errors that show up as html (which honestly it's a bug in the functions runtime if it shows up as html but whatever), but I can't verify this specific c

[2019-01-23 22:12] chrisdias commented on #929
Yes, the demo is driving my usage of this, but I'm suggesting that we make it look a little nicer anyway.  When is the fix supposed to be released?

[2019-01-23 23:41] EricJizbaMSFT commented on #929
Early February

[2019-01-23 23:52] EricJizbaMSFT commented on #758
Related to https://github.com/Microsoft/vscode-azureappservice/issues/754

[2019-01-24 06:33] jeffhollan opened #930 "Adding new function to Java project doesn't respond"
Issue Type: <b>Bug</b>

When I click to add a new function in a Java project I created on Mac either via Maven or via VS Code when I click "add function" nothing happens.

Extension version: 0.13.1
VS Code version: Code - Insiders 1.31.0-insider (2d79ffe0cd84515a4c771fcbd7294c2448d97826, 2019-01-23T06:13:04.232Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|

[2019-01-24 13:40] HarshitShukla opened #931 "Azure function post error from vs code"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Unauthorized
Error Message: Encountered an error (Forbidden) from extensions API.

Version: 0.13.1
OS: win32

[2019-01-24 18:30] EricJizbaMSFT opened #932 "Update `verifyDebugConfigIsValid` to work with new debug config"
Related to https://github.com/Microsoft/vscode-azurefunctions/issues/822

`verifyDebugConfigIsValid` and this doc will no longer be entirely accurate:
https://github.com/Microsoft/vscode-azurefunctions/blob/master/docs/debugConfig.md

[2019-01-24 18:39] EricJizbaMSFT opened #933 "Fix preDeployTask name detection for provided task"
Related to https://github.com/Microsoft/vscode-azurefunctions/issues/822

Since we're providing `func extensions install`, the task name isn't being detected correctly

[2019-01-25 18:43] EricJizbaMSFT opened #935 "Bump minimum version of vscode engine to 1.31.0"
Due to issues listed in https://github.com/Microsoft/vscode-azurefunctions/issues/822

I don't want to do it yet because it causes issues with the tests

[2019-01-26 15:29] melihokursoy opened #938 ".NET CLI error although it is installed"
Repro steps:

Action: azureFunctions.createNewProject
Error type: Error
Error Message: You must have the .NET CLI installed to perform this operation.

Version: 0.13.1
OS: darwin

![screen shot 2019-01-26 at 15 25 50](https://user-images.githubusercontent.com/8224532/51789261-edc1ae80-217e-11e9-8284-94bc4a56a913.png)

[2019-01-26 15:37] melihokursoy commented on #938
Closing all instances of vscode and starting from scratch solved the issue.

[2019-01-26 15:38] melihokursoy commented on #938
Closing all instances of vscode and starting from scratch solved the issue.

[2019-01-26 15:38] #938 closed

[2019-01-27 12:50] AlverezYari commented on #907
Also getting this after a botched deployment. Where does func pack store the var for where the .zip is stored? I think I just need to clear that out and re-run it from the correct location but I can't find it anywhere.

[2019-01-27 12:57] AlverezYari commented on #907
Within your function root directory, open up .vscode/settings.json then look in workplace settings and clear our whatever you have set for **"azureFunctions.deploySubpath":**

[2019-01-28 16:44] EricJizbaMSFT commented on #907
@AlverezYari are you also deploying a Python project? You can certainly customize the `azureFunctions.deploySubpath` setting to work for your project, but I'm not sure clearing it out will work for Python projects. Does your function app work after you deploy?

[2019-01-28 18:55] EricJizbaMSFT commented on #907
So it's not quite the "already zipped version". The `deploySubpath` setting goes hand-in-hand with the `preDeployTask` setting (which should be set to `funcPack` by default). If specified, the `preDeployTask` will be run before every deploy and in this case `funcPack` creates the zip file. Here is my output from that task:
[code]

You'll notice its deleting the old zip and creating a new zip every

[2019-01-28 19:10] asavaritayal commented on #668
Closing issue as this seems to be resolved now.

[2019-01-28 19:10] #668 closed

[2019-01-28 19:20] AlverezYari commented on #907
Ah, well that is interesting, so just changed that var to the corrected location if you mess it up the first time? Do you know if you can enable git on that Python functions yet or do you have to keep the deployment running via this method at the moment.

[2019-01-28 19:38] EricJizbaMSFT commented on #907
Yes. Although if you give us more detailed repro steps, we might be able to improve that experience.

Not supported if you use a consumption plan (the default).  If you want more info on this you can reach out to the platform team based on this guidance: https://github.com/Azure/Azure-Functions#questions--help

I believe it _is_ supported if you select a dedicated app service plan when creating yo

[2019-01-28 19:53] AlverezYari commented on #907
@EricJizbaMSFT

Thanks for the info, we are just dipping our toes in so far and just have some small stuff running through it. I appreciate the links and once I get some time I'll make some post over there with more details on what we are running into that might be consider confusing.

Thanks!

[2019-01-29 01:08] ColbyTresness commented on #805
So I checked with @soninaren and it looks like the node version parameter in the feed is a min supported version, not a default. So this might have to be an additional change. We support 10.14.1 now, so would like to default to that if possible.

[2019-01-29 09:03] suntracks opened #939 "Handling binary wheel dependencies without wheel"
Unable to build azure functions with SQL Alchemy .
Is there a better way to build this and deploy to functions.
Docker/containers are such an unease to develop/deploy and debug.

Repro steps:
Using VS code to create function apps.
Well functioning python script with dependencies in venv env

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist:
T

[2019-01-29 17:18] EricJizbaMSFT commented on #916
Hi @babychaos not sure if you've figured out your problem already, but I would suggest following the guidance here to get a better/faster response: https://github.com/Azure/Azure-Functions#questions--help Specifically it sounds like the MSDN forum or stackoverflow might be a better place for this question. The functions platform team (as opposed to the VS Code extension) has more expertise in this

[2019-01-29 17:18] #916 closed

[2019-01-29 17:20] EricJizbaMSFT commented on #920
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/890

[2019-01-29 17:20] #920 closed

[2019-01-29 17:35] EricJizbaMSFT commented on #927
@jjgriff93 I can't repro this. A few questions:
1. Does this still happen for you?
1. What version of dotnet do you have?
1. Can you copy the full output of the build task?
1. This was a brand new project, right? If not - is the project open source on Github so that I could take a look?

[2019-01-29 17:39] EricJizbaMSFT commented on #928
@dev4678 see here for more info on local.settings.json and AzureWebJobsStorage: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file

That value is required to run locally. You can either set it to a storage account connection string or `UseDevelopmentStorage=true` if you have the storage emulator installed and running on your machine.

[2019-01-29 17:39] #928 closed

[2019-01-29 17:42] EricJizbaMSFT commented on #930
"nothing happens" could just be performance issues, which I've definitely seen with maven in the past https://github.com/Microsoft/vscode-azurefunctions/issues/100

[2019-01-29 17:44] EricJizbaMSFT commented on #931
@HarshitShukla can you give more info?
1. What project language are you using?
1. Does this happen consistently?
1. Is this a new function app or existing one?

[2019-01-29 17:46] HarshitShukla commented on #931
I found the bug and fixed.

On Tue, 29 Jan 2019, 23:14 Eric Jizba, <notifications@github.com> wrote:

[2019-01-29 17:49] #931 closed

[2019-01-29 19:01] EricJizbaMSFT commented on #682
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/826

[2019-01-29 19:01] #682 closed

[2019-01-30 15:42] jjgriff93 commented on #927
Hi Eric, I believe it was a problem in the csproj file when copying between projects. I created a new function app from scratch which resolved the issue

[2019-01-30 15:42] #927 closed

[2019-01-31 02:53] abhishekmishragithub opened #942 "Error while creating function from VS Code - Azure Function Extention"
![error_vscode_python](https://user-images.githubusercontent.com/38150419/52027359-2a9bf580-2531-11e9-8aad-a06ffc7824d1.JPG)

Repro steps:

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Failed to run "py -3.6" command. Check output window for more details.

Version: 0.13.1
OS: win32

[2019-01-31 03:00] abhishekmishragithub opened #943 "ServiceUnavailable from host runtime while deploying function"
Repro steps:
Try to deploy function from VS Code using Azure function extension
![error_vscode_python_deploying](https://user-images.githubusercontent.com/38150419/52027586-ef4df680-2531-11e9-9ccc-d1ad33d878a3.JPG)
- Deploy icon
Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (ServiceUnavailable) from host runtime.

Version: 0.13.1
OS: win32

[2019-01-31 08:03] sandeep0473 opened #944 "Unable to deploy Azure function from VS code"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: /home/sandeep/Documents/azure/azure.zip

Version: 0.13.1
OS: linux

[2019-01-31 16:43] EricJizbaMSFT commented on #943
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/804. Linux Consumption plans sometimes have outages or are slow. We added logic to retry a few times if we get a ServiceUnavailable which should mitigate this issue and be included in the next release.

I also see a problem that `func pack` doesn't have any output. See this comment for more info on that: https://github.co

[2019-01-31 16:43] #943 closed

[2019-01-31 16:45] EricJizbaMSFT commented on #942
@abhishekmishragithub does that command work if you run it manually in a command prompt or powershell window? `py -3.6 -m venv .env`

[2019-01-31 20:10] #821 closed

[2019-01-31 20:10] #822 closed

[2019-01-31 22:56] #893 closed

[2019-01-31 22:56] #906 closed

[2019-01-31 22:57] #760 closed

[2019-01-31 23:00] #933 closed

[2019-02-01 00:44] nturinski opened #948 ""Extensions command requires dotnet on your path. Please make sure to install dotnet (.NET Core SDK) for your system from https:..."
![image](https://user-images.githubusercontent.com/5290572/52095349-796c7e00-2577-11e9-87dc-fff98e724a80.png)

Just kidding.  The bug is that it keeps deploying anyway.  Should we deploy on failure?

[2019-02-01 03:22] amclin commented on #654
This isn't limited to just python functions. It happens for Javascript functions as well.

[2019-02-01 17:54] #708 closed

[2019-02-01 18:09] EricJizbaMSFT opened #949 "Update ThirdPartyNotices file due to webpack"
Since we would no longer ship whole modules with our extension

[2019-02-01 22:29] #912 closed, assigned to nobody

[2019-02-02 08:53] v-dantch opened #951 "'Open in portal' doesn't work on Linux"
**OS:** Linux
**Node.js:** V 10.15.0
**Build Version**:[20190201.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2674)

**Repro Steps:**
Right click one function app --> Select 'Open in Portal'.

**Expect:**
'Open in Portal' works well.

**Actual:**
'Open in portal' doesn't work.

**More Info:**
This issue only reproduces on Linux.

[2019-02-02 09:00] v-dantch opened #952 "Display 'Function host is not running' after running 'curl <Function Url of WarmUp>'"
**OS:** Mac/Windows
**Node.js:** V 10.15.0
**Build Version**:[20190201.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2674)

**Repro Steps:**
1. Create a Python project with HTTP trigger template and Function level.
2. F5 --> Deploy --> Copy the Url of WarmUp.
3. Check the result.

**Expect:**
'curl "Function Url of WarmUp"' runs well.

**Actual:**
Display 'Function host is n

[2019-02-02 09:04] v-dantch opened #953 "Fail to deploy Python project on Linux"
**OS:** Linux
**Node.js:** V 10.15.0
**Build Version**:[20190201.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2674)

**Repro Steps:**
1. Create a Python project with HTTP trigger template.
2. Debug --> Deploy.
3. Check the result.

**Expect:**
Succeed to deploy Python project.

**Actual:**
Fail to deploy Python project with error 'Pre-deploy task "pack" failed with exit cod

[2019-02-04 12:59] nextdynamic commented on #892
Yep – that got it.  I changed my user settings to use Powershell and all is now right in the world.

Very cool – many thanks.

Tim

From: Eric Jizba <notifications@github.com>
Sent: Wednesday, January 30, 2019 1:31 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2019-02-04 19:24] #780 closed

[2019-02-04 23:06] #949 closed

[2019-02-04 23:07] #932 closed

[2019-02-04 23:37] #358 closed

[2019-02-05 04:24] hongyiqin opened #960 "Debugger can't attach to Python project"
Python Extention: 2019.1.0
Azure Functions: 0.13.1
CLI: 2.4.317

I just created a new azure function project (HttpTrigger) and then tried to debug it, I then got the error _Failed to attach (connect ECONNREFUSED 127.0.0.1:9091)_

From what I've gathered so far, it seems to indicate that python debugger tried to attach before function host had fully started. I've tried various suggested tweaks in l

[2019-02-05 14:06] kavithamadhavaraj opened #961 "ENOTFOUND error while deploying the app"
Repro steps:
Use VSCODE extension to deploy the app. Constantly getting this error message. But earlier today I was able to deploy.

I had associated a Blob Storage account to the function app instead of the required General Purpose Storage account. Linking to the later one also didn't solve the issue.

Action: azureFunctions.deploy
Error type: ENOTFOUND
Error Message: getaddrinfo ENOTFOUND myapp.

[2019-02-05 16:43] awaldow opened #962 "Issue deploying to Azure GCC"
I have used this extension to create a new Function App that will eventually live in our Azure GCC tenant. When attempting to deploy a net new Function App, I get the following notification from this extension:

Now, I know well enough what the error is telling me; it can't resolve the host name. However, as far as I can tell the GCC naming convention is different for File Storage, along the lines

[2019-02-05 17:38] EricJizbaMSFT commented on #962
@awaldow So this was only while deploying, not creating? What language is your project?

All you need to do is set the "azure.cloud" setting. There's probably a bug in our extension

[2019-02-05 17:44] VijayaMalla opened #963 "Unable to publish Python Azure Function from VS Code"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: c:\.......\Desktop\Azure Python Function\Azure Python Function.zip

Version: 0.13.1
OS: win32

[2019-02-05 17:47] EricJizbaMSFT commented on #960
@hongyiqin please see this comment and let me know if it helps your situation: https://github.com/Microsoft/vscode-azurefunctions/issues/892#issuecomment-459054366

[2019-02-05 17:48] awaldow commented on #962
I have the function app set up as Javascript with a Service Bus Trigger. I said 'deploying' but this is net new so it'd be creating the resources it was missing on the Azure side were it not for this issue. I am using a preexisting resource group and storage account, both within our GCC tenant.

[2019-02-06 06:40] abhishekmishragithub commented on #942
@EricJizbaMSFT it seems my environment is making issue, because same command (`py -3.6 -m venv .env`) is not working locally as well. so installed "virtualenv" module and created virtual env manually rather than going through mentioned command.  i am closing the issue.
Thanks !!

[2019-02-06 06:40] #942 closed

[2019-02-06 06:44] abhishekmishragithub commented on #943
@EricJizbaMSFT Thanks !!

[2019-02-06 19:46] #879 closed

[2019-02-06 20:35] StephaneBischoff opened #969 "azureFunctions.createNewProject error"
Repro steps:
1) Open VS Code
2) Click on the New Project in the Azure Functions extension.
3) Select Python language for function
4) Fails with error message.  (See error description below)
5) Executing the same command within the VS Code terminal tells me:
[code]

Here is the Output within VS Code

[code]

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Failed to run ".en

[2019-02-06 20:56] #969 closed

[2019-02-06 20:56] StephaneBischoff commented on #969
The problem is Python version. Has to be 3.6.x

[2019-02-06 21:26] #935 closed

[2019-02-06 21:34] #888 closed

[2019-02-07 00:46] #826 closed

[2019-02-07 04:43] hongyiqin commented on #960
@EricJizbaMSFT  Thanks! Changing the separator from ; to && works!

Changing the terminal to Powershell doesn't work for python, the command to activate virtual env fails in powershell.

[2019-02-07 04:43] #960 closed

[2019-02-07 14:01] kavithamadhavaraj opened #971 "ServiceUnavailable from host runtime - error"
Could not deploy the project to Azure Functions

Repro steps:
Try to deploy a default HTTPTrigger template from VSCode, Linux Consumption Plan, West Europe

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (ServiceUnavailable) from host runtime.

Version: 0.13.1
OS: linux

[2019-02-07 15:25] somacdivad opened #972 "Can't deploy function from VSCode"
Trying to deploy function app from VSCode. The function app is written in Python on Linux consumption plan. Deploy worked fine a day ago, but not anymore. Looking at https://azure.microsoft.com/en-us/status/ shows Linux App Service operating normally, although I'm not 100% sure that's related.

Repro steps:
Deploy Python function app to Azure from VSCode on Linux consumption plan.

Action: azureFu

[2019-02-07 15:50] somacdivad commented on #972
Also, it would be nice if the service is unavailable to stop the deploy before it deletes the remote package so that the app doesn't go down. Is there a way to check availability before trying to deploy?

[2019-02-07 17:56] somacdivad commented on #972
Works now. I'm guessing this is a temporary service outage due to Linux consumption plans being in "preview."

[2019-02-07 17:56] #972 closed

[2019-02-07 18:00] EricJizbaMSFT commented on #972
Thanks for verifying @somacdivad. It could just be an outage, but we also made improvements in this area which should be released soon. For example, sometimes you'll get ServiceUnavailable when syncing triggers immediately after a deploy, but a few seconds later it'll work. That's why we added logic to retry a few times: https://github.com/Microsoft/vscode-azuretools/pull/372

[2019-02-07 18:04] somacdivad commented on #972
@EricJizbaMSFT Thanks for the info. I'll keep an eye out for the update. Keep up the good work 😃

[2019-02-07 19:38] EricJizbaMSFT commented on #972
No problem. You're welcome to try the latest insiders build as well if you want:
How to install: https://aka.ms/azCodeInsiders
Build: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2905

NOTE: This relies on VS Code v1.31.0 just released yesterday

[2019-02-07 19:41] EricJizbaMSFT commented on #971
@kavithamadhavaraj we've done some work recently to mitigate this so I'll close as a duplicate of that. For example: https://github.com/Microsoft/vscode-azuretools/pull/372

We plan to release soon, but you're welcome to try earlier if you want:
How to install: https://aka.ms/azCodeInsiders
Build: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2905

NOTE: This relies on VS Code

[2019-02-07 19:41] #971 closed

[2019-02-07 19:43] awaldow commented on #962
Just to test I deleted our previously-created storage account (I had previously made a portal-driven function app, and was using the same storage account) and tried creating again from VS Code. Same issue.

[2019-02-07 19:46] EricJizbaMSFT commented on #963
@VijayaMalla I believe this may be a dupilcate of another bug we've been seeing. You can try the workarounds listed here: https://github.com/Microsoft/vscode-azurefunctions/issues/892#issuecomment-459054366

We've fixed on master already and plan to release soon, but you're welcome to try earlier:
How to install: https://aka.ms/azCodeInsiders
Build: https://dev.azure.com/ms-azuretools/AzCode/_buil

[2019-02-07 19:48] EricJizbaMSFT commented on #948
ping @nturinski would like an answer on this so that I know if it's a regression before we release

[2019-02-07 19:49] EricJizbaMSFT commented on #944
@sandeep0473 I believe this may be a duplicate of another bug we've been seeing. You can try the workarounds listed here: https://github.com/Microsoft/vscode-azurefunctions/issues/892#issuecomment-459054366

We've fixed on master already and plan to release soon, but you're welcome to try earlier:
How to install: https://aka.ms/azCodeInsiders
Build: https://dev.azure.com/ms-azuretools/AzCode/_buil

[2019-02-07 19:55] EricJizbaMSFT commented on #939
Are you aware of the `--build-native-deps` flag?

- If no, try adding that in your `.vscode/tasks.json` file after `func pack`. In this case, I would close as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/826
- If yes, and you just don't want to use Docker, I recommend filing an issue here: https://github.com/Azure/azure-functions-core-tools That scenario is handled by the func

[2019-02-07 19:55] #939 closed

[2019-02-07 19:57] EricJizbaMSFT commented on #961
@kavithamadhavaraj can you give more detailed steps on how to reproduce this error? How exactly did you create the function app? What language and triggers are you using? And how did you change the storage account link?

[2019-02-07 20:02] EricJizbaMSFT commented on #907
@MareArts closing this issue due to lack of response. Feel free to re-open with more info or try messing with the "azureFunctions.deploySubpath" or "azureFunctions.preDeployTask" settings as discussed above

[2019-02-07 20:02] #907 closed

[2019-02-07 20:12] EricJizbaMSFT commented on #962
Again this is probably a bug in our extension that we will get fixed. But in the meantime you might try editing the application settings of your function app after you create it. Specifically:

1. look for any application setting that have a storage account connection string. (At least check `AzureWebJobsStorage` and `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING`)
1. Find that storage account in the p

[2019-02-07 20:35] awaldow commented on #962
I think I will just have to create the function app via the portal for now and re-create it using this extension when whatever problem is occurring is fixed. As it stands, creating a net-new function app with a net-new storage account will see the storage account created but the function app itself, nor the app service plan or anything else in that workflow get completed.

[2019-02-07 21:53] EricJizbaMSFT commented on #962
Oh I thought the portal wasn't working for you. If you have a workaround then yes that sounds good until we get this fixed

[2019-02-08 01:31] ikendall opened #974 "The requested app service plan cannot be created in the current resource group because it is hosting Linux apps."
Trying to deploy a Python function to an Azure function app from VS Code (following instructions on https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code). Having done it successfully once, I am now getting an error "The requested app service plan cannot be created in the current resource group because it is hosting Linux apps. Please choose a different res

[2019-02-08 05:33] chrisdias opened #975 "Cosmos Trigger Prompts"
When creating a Cosmos trigger I'm given the option of selecting the Subscription and I get a list of subscriptions, but from there I have to type in the account, database, and collection.  why can't we show these in a quick pick, like when i set a connection to Cosmos from the App Service extension?

![image](https://user-images.githubusercontent.com/1487073/52460572-d17b2580-2b1f-11e9-809c-c26f7

[2019-02-08 05:35] chrisdias opened #976 "Improve AzureWebJobsStorage experience for local debugging"
When I create a Cosmos trigger I'm asked a bunch of quick pick questions about the Cosmos database, collection, lease, etc.

Then, I'm prompted in the lower right to select a Storage account to be set in `local.settings.json` for local debugging.

![image](https://user-images.githubusercontent.com/1487073/52460609-04251e00-2b20-11e9-9f03-8b2348007169.png)

And when i choose "Set Storage Account" I

[2019-02-08 12:24] kavithamadhavaraj commented on #961
@EricJizbaMSFT Apparently, this error went off. I created my app through VS Code with Python under Linux Consumption plan using EventGrid Trigger. Linking is done via "AzureWebJobsStorage" configuration of the function app. I think we can close this issue for now since I'm not able to reproduce it. Thanks.

[2019-02-08 12:24] #961 closed

[2019-02-08 14:44] StephaneBischoff opened #977 "VS Code deploy error when deploying to Linux"
Repro steps:
Trying to deploy from VS Code into already existing Azure Function App which is running on a App Service Plan with a Linux machine. Yet, receiving this error message from the deploy in VS Code.

Action: azureFunctions.deploy
Error type: Error
Error Message: Python projects are not supported on Windows Function apps.  Deploy to a Linux Consumption app.

Version: 0.13.1
OS: win32

[2019-02-08 20:29] EricJizbaMSFT commented on #977
Looks like a duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/906 or https://github.com/Microsoft/vscode-azurefunctions/issues/893

We've fixed on master and plan to release soon, but you're welcome to try earlier:
How to install: https://aka.ms/azCodeInsiders
Build: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=2905

[2019-02-08 20:29] #977 closed

[2019-02-08 20:56] ikendall commented on #977
Hi Eric,

That works, thanks. Look forward to the full release.

Ian

From: Eric Jizba [mailto:notifications@github.com]
Sent: Friday, February 08, 2019 12:29
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Microsoft/vscode-azurefunctions] VS Code deploy error when deploying to Linux (#977)

Looks like a du

[2019-02-08 22:36] #814 closed

[2019-02-08 23:20] #951 closed

[2019-02-11 16:54] EricJizbaMSFT commented on #976
Well...when this prompt was created the prompts _were_ at the top instead of as notifications in the bottom right 😂

Honestly I think we should have a larger discussion around this message. It's been there for a long time, but it's always been a little confusing. I don't think moving to a quick pick will solve that entirely. For example, here are a few things I think we could do:
1. If on Windows

[2019-02-11 16:59] EricJizbaMSFT commented on #975
we can

[2019-02-11 17:05] EricJizbaMSFT commented on #974
@ikendall can you verify the resource group in the portal? And check if it has a linux plan or windows plan?

VS Code by default will pick either "Linux" or "Windows" if you create a function app, but it chooses based on your current settings (specifically `azureFunctions.projectLanguage`). If you created the function app with a different workspace open, we might've created a Windows function app

[2019-02-11 17:24] ikendall commented on #974
I've deleted it now and moved on, but pretty sure it was Linux (I'd used the same RG to successfully deploy a Python function previously). I installed Azure Functions 0.13.2-alpha in to VSCode as a .visx, and that worked fine ... and a prompt for OS on creating sounds like the right permanent fix. Ticket can be closed. Thank you.

[2019-02-11 17:24] #974 closed

[2019-02-11 19:52] EricJizbaMSFT opened #982 "Redeploying commit "..." was unable to resolve and has timed out."
Repro steps:
1. Create JS function project
1. Add Http Trigger
1. Create function app in Azure and configure to local git
1. Deploy
1. Add Queue Trigger
1. Deploy
1. Redeploy first deployment

Action: azureFunctions.redeploy
Error type: Error
Error Message: Redeploying commit "505e2ae7acda40311d558d6e3c195bb193135c6c" was unable to resolve and has timed out.

Version: 0.14.0
OS: darwin

So those a

[2019-02-11 20:00] EricJizbaMSFT opened #983 "Element with id "..." is already registered"
Same as https://github.com/Microsoft/vscode-azureappservice/issues/841
1. Expand a node (i.e. Deployments)
1. Restart function app

<s>Same as https://github.com/Microsoft/vscode-cosmosdb/issues/1022
1. Create a function app
1. Expand the subscription (this has to be timed just right - between when we get it back in the list and when it's "finished" creating). Easier to repro in Cosmos</s> Fixed

[2019-02-11 20:01] EricJizbaMSFT opened #984 ""Stream Logs" button silently fails after deploying to Linux Consumption"
Repro Steps:
1. Deploy a python project to linux consumption
1. When you get the "Deployment completed" message, click the "Stream Logs" button

Expected:
The button isn't there or we at least throw an error saying linux consumption doesn't support streaming logs

Actual:
The button is there, but nothing happens when I click it

[2019-02-11 20:03] EricJizbaMSFT opened #985 "Add telemetry to TaskProvider and DebugProvider"
Since these aren't commands, we don't get our telemetry by default. If we want it, we probably need to add it manually.

Talking about the code here:
https://github.com/Microsoft/vscode-azurefunctions/tree/master/src/debug

[2019-02-11 20:12] EricJizbaMSFT opened #986 "Show better progress when creating a function"
There were a few places where nothing seemed to be happening and I wasn't sure what was going on.

This one reproed for me on windows, but not every time:
1. Create js project
1. Add blob trigger

There was a delay before "index.js" popped up of around 10ish seconds? Idk seems like we can just show progress while creating the function

This one only repros for me on Java, but wouldn't hurt other l

[2019-02-11 20:13] EricJizbaMSFT commented on #986
Also if the user creates a storage account or Azure resource during this flow, we don't handle that well.

[2019-02-11 20:22] EricJizbaMSFT opened #987 ""Skip for now" doesn't make sense when failed to find maven"
1. Make sure maven is not on your path
1. Try to create a java function project
1. You get this dialog:
![screen shot 2019-02-11 at 9 57 57 am](https://user-images.githubusercontent.com/11282622/52590853-3f14a380-2df7-11e9-8d10-591f7d84f96d.png)

I don't get the "Skip for now" button. It doesn't let me create a project without maven so I _have_ to address this before creating a project. There's al

[2019-02-12 00:10] chrisdias commented on #976
I honestly have no idea why I'm being prompted for a storage account just for debugging :). Is there some way to make it all go away?

[2019-02-12 00:49] EricJizbaMSFT commented on #976
At the end of the day that's a question for the platform team. The current solution to "make it all go away" is to use the storage emulator, but that's only available on Windows.

Running the functions runtime locally is the same as running it in the cloud - which I always thought was one of its selling points. So if the platform needs Azure Storage when running in the cloud, it makes sense to me

[2019-02-12 00:58] psmaAaron opened #989 "Deploying Python function twice returns "Forbidden""
Repro steps:
* open VS Code
* Deploy to Function App
* Edit code
* Deploy to Function App (again)

Action: azureFunctions.deploy
Error type: Forbidden
Error Message: Forbidden

Version: 0.14.0
OS: win32

I've had this happen regularly, across two projects. Both projects are Python-based and therefore are on Linux preview.
Most of the time restarting VS Code fixes it.

[2019-02-12 00:59] psmaAaron commented on #989
Seems to happen on the `Uploading zip package to storage container...` step.

[2019-02-12 08:20] ilkka opened #990 "Deploying fails if user has defined a task to run both TS compiler and functions host"
I'm writing my Azure Functions in TypeScript and I had defined a shorthand task in VS code for starting the compiler in watch mode and running the functions host. This caused deployment to fail with the message `cannot read property 'value' of undefined`. The reason seems to be that when the extension runs `func extensions install` during the deploy, it somehow ends up looking at my "Start compile

[2019-02-12 08:26] ilkka commented on #990
In the great tradition of discovering workarounds immediately upon taking the time to specify a problem, changing the "Start compiler and functions host" task to be a "shell" type task with `"command": "echo"` handily solves this problem, and indeed "command" is non-optional in [the schema](https://code.visualstudio.com/docs/editor/tasks-appendix). So, it would appear that the root cause is not fl

[2019-02-12 18:37] EricJizbaMSFT commented on #990
Thanks for filing and glad you got a workaround. We're calling one of VS Code's api's to fetch tasks so that we can run the task specified by the setting `azureFunctions.preDeployTask` before you deploy. That api is throwing the error and that is why it happens you you deploy

Filed an issue on VS Code: https://github.com/Microsoft/vscode/issues/68550

[2019-02-12 18:46] EricJizbaMSFT opened #991 "Tests fail inconsistently on windows with "EPERM: operation not permitted""
Very inconsistent repro, but tests on windows sometimes fail to clean up in the "after all" hook with this error:

Error: EPERM: operation not permitted, lstat 'C:\Users\VssAdministrator\AppData\Local\Temp\azFuncTest87546d9c2b\createFunctionTypeScript~1\StagingCliFeed\HTTPtrigger'

[2019-02-13 20:18] ryanspletzer opened #992 "Orphan dotnet processes from tasks.json Attach to C# Functions (macOS)"
macOS Mojave 10.14.3

Repro steps:

- Install latest VS Code fresh as well as .NET Core SDK and Azure Functions Core Tools (via homebrew). Optionally, add the C# VS Code extension.
- Add Azure Functions extension
- Create a helloworld project with a single function
- Run Attach to C# Functions task
- Note the present `dotnet` process in addition to `func`
- Stop debugging
- Note the still existing

[2019-02-14 19:22] #758 closed

[2019-02-15 09:20] v-dantch opened #995 "Prompt to install Linter pylint"
**OS**: Mac
**Node.js:** v10.15.1
**Func:** v2.4.317
**Regression**: Pervious Release

**Repro Steps:**
1. Create a python project.
2. Create a function with Http trigger template and Function level.

**Expect:**
Add pylint to Python projects by default.

**Actual:**
Prompt to install Linter pylint.
![image](https://user-images.githubusercontent.com/34729092/52846721-35bd5c80-30bf-11e9-801a-2c91bf

[2019-02-15 09:29] v-dantch opened #996 "Display 'ServiceUnavaliable' after deploying a Python project to a function app with Linux OS"
**OS**: Mac
**Node.js:** v10.15.1
**Func:** v2.4.317
**Regression**: Not a Regression

**Repro Steps:**
1. Create a Python project with Http trigger template and Function level.
2. Install  Linter pylint --> Debug.
3. Deploy to a function app with Linux OS --> Check the URL.

**Expect:**
Succeed to deploy and get a valid URL.

**Actual:**
Display 'ServiceUnavaliable' after deploying.
![image](http

[2019-02-15 13:03] RPagels opened #997 "Debug Function. Error: Exit code 2"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

- Followed creating new EventHubTrigger extension.
- Pressed F5 to debug
- Got error.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to start debugging. Task "host start" failed with exit code "2".

Version: 0.14.0
OS: win32

[2019-02-15 17:22] EricJizbaMSFT commented on #995
This is by design - see https://github.com/Microsoft/vscode-azurefunctions/issues/814. The source of this error is from the Python extension and it's up to the user if they want to install pylint or not.

[2019-02-15 17:22] #995 closed

[2019-02-15 17:26] EricJizbaMSFT commented on #997
@RPagels can you copy the output of the "host start" task?

[2019-02-15 17:29] EricJizbaMSFT commented on #996
@v-dantch I agree this is annoying, but ServiceUnavailable is a common error we get from the platform. Linux function apps are still in preview and I believe they're actively working on fixing this. There's nothing we can really do from VS Code

[2019-02-15 17:29] #996 closed

[2019-02-15 17:34] EricJizbaMSFT commented on #992
Definitely not intentional. If you run `func host start` from the command line (outside of VS Code) - do you get the same behavior? Our extension is stopping the func cli when you stop debugging, but I would think it's up to the func cli to clean up its child processes. If you see the same behavior outside VS Code, I would suggest filing an issue here instead: https://github.com/Azure/azure-functi

[2019-02-15 17:42] EricJizbaMSFT commented on #989
@psmaAaron I'm having a hard time reproducing this.

1. Do you have full permissions to the storage account associated with the function app?
1. Is this a large project?
1. Can you try deploying through the func cli? That might help us narrow down if this is a VS Code issue or a problem with the Azure Functions platform: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first

[2019-02-15 18:06] ryanspletzer commented on #992
Hi Eric, I had the same thought. When I do `func host start` or `func start` outside of VS Code, there is no orphaned dotnet process, even while func is running. If you execute func in the context of the project directory where the .csproj is, func does indeed invoke dotnet to re-build first, then starts the runtime. (If you cd into the bin and execute, no re-build is needed.)

I believe it's only

[2019-02-15 18:09] ryanspletzer commented on #992
tl;dr from above -- I don't think in this scenario in VS Code + Azure Functions extension that dotnet is a child process of func, I think it's called before that and func doesn't invoke dotnet in this scenario in vs code (because it's invoked a different, prior task -- but please correct me if I'm wrong).

[2019-02-15 19:22] EricJizbaMSFT commented on #992
Huh well if the dotnet process is from the build, then we have no control over that. We write down your "tasks.json" when you first create a project, but at that point you can configure it however you want and VS Code itself (not our extension) controls the task system.

What version of `dotnet` do you have? I'm on 2.1.403 and I see these processes _during_ the build (macOS Mojave 10.14.3 as well)

[2019-02-15 20:22] ryanspletzer commented on #992
Interesting. Re: dotnet version:

![image](https://user-images.githubusercontent.com/1481108/52880965-6047fd80-3131-11e9-82b4-31aec5e40b79.png)

The tasks.json I have is the OOTB one generated by the extension for a project:

[code]

This is what I see *during* build and also when `func host start` happens (i.e. dotnet doesn't go away):

![image](https://user-images.githubusercontent.com/1481108/5

[2019-02-15 20:57] johnpapa opened #999 "Can't set the name of a new Azure Function App in VS Code Extension"
![2019-02-15_15-54-27](https://user-images.githubusercontent.com/1202528/52883862-57a7f500-313a-11e9-8e4d-3f3388cd5c87.gif)

[2019-02-15 21:19] #418 closed

[2019-02-15 21:19] bnb commented on #999
I was also experiencing this last night. It seemed to work for me today, though 😬

[2019-02-15 21:28] EricJizbaMSFT commented on #999
Looks similar to https://github.com/Microsoft/vscode-cosmosdb/issues/494. We're trying to validate the account name through Azure (to see if it's globally available) and it's probably just taking a really long time. We can add a timeout like we did in the Cosmos extension

[2019-02-15 22:21] EricJizbaMSFT commented on #851
Closing as dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/686

[2019-02-15 22:21] #851 closed

[2019-02-16 01:23] ColbyTresness commented on #805
I've had a longer conversation about this with @soninaren @mhoeger @paulbatum. The language version for a function app is set by an app setting included in the ARM template which creates the app. For the portal and CLI, this is hard coded. The above makes me think that we're populating this setting based on the version coming from the templates feed, is that correct @EricJizbaMSFT ? If so, we need

[2019-02-17 06:17] danielesiddi commented on #989
same here on mac/darwin

[2019-02-17 15:11] dilipprasad opened #1001 "Unable to find default nuget package manager path to restore and deploy"
Repro steps:
Publish the Dev translator  app
unable to restore the dll with default nuget package manager while deploying.

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: c:\Users\username\Documents\IoTWorkbenchProjects\examples\devkit_translator\Functions\bin\Release\netcoreapp2.1\publish

Version: 0.14.0
OS: win32

[2019-02-17 16:58] dilipprasad opened #1002 "Entry not found in cache while deploying azure functions"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Entry not found in cache.

Version: 0.14.0
OS: win32

[2019-02-18 06:53] gauravdixit3 opened #1003 "Error on new function creation"
Issue Type: <b>Bug</b>

Create a new function app project and returns error while resolving the csproj file: NU1100: Unable to resolve 'Microsoft.Net.Sdk.Functions (V=1.0.24)'  for '.NetCoreApp,Version=v2.1'.

Extension version: 0.14.0
VS Code version: Code 1.31.0 (7c66f58312b48ed8ca4e387ebd9ffe9605332caa, 2019-02-05T22:35:56.624Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System I

[2019-02-18 08:44] v-dantch commented on #996
Hi @EricJizbaMSFT got it, thanks a lot for your share.

[2019-02-18 17:35] fiveisprime opened #1004 "Space in path causes debugging to fail"
From a customer email:

[2019-02-18 21:47] syuraj opened #1005 "Azure timeTrigger function deployment from vscode taking forever"
Version: 0.14.0
OS: darwin

[2019-02-19 08:52] v-xianya opened #1006 "An error dialog occurs when debugging one python project"
**OS:** Windows
**Node.js:** 10.13.0
**Build Version**: [20190218.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3313&view=results)

**Repro Steps:**
1. Create a new python project -> Create a function with HTTP trigger template.
2. Debug.

**Expect:**
Debug successfully.

**Actual:**
An error dialog occurs.
![image](https://user-images.githubusercontent.com/41351993/53001389

[2019-02-19 16:22] EricJizbaMSFT commented on #1006
@v-xianya Please copy the logs of the func: host start task

[2019-02-19 16:36] #861 closed

[2019-02-19 17:12] EricJizbaMSFT commented on #982
Closing as fixed in https://github.com/Microsoft/vscode-azuretools/pull/402 as Nathan increased the timeout. Will re-open if it happens again

[2019-02-19 17:12] #982 closed

[2019-02-19 17:24] EricJizbaMSFT commented on #805
@ColbyTresness Yes we're using the feed for this. When do you plan to add the default value to the feed? I'd rather wait for that than hard code "10.something" temporarily

[2019-02-19 17:25] EricJizbaMSFT commented on #1005
@syuraj can you give more info:
1. What project language is this?
1. How did you create the function app in azure?
1. Can you copy the deploy logs?

[2019-02-19 17:28] EricJizbaMSFT commented on #1003
@gauravdixit3 does this error go away if you run `dotnet restore`? This should happen automatically when you debug or deploy

[2019-02-19 17:32] EricJizbaMSFT commented on #1001
@dilipprasad does `dotnet restore` and `dotnet build` succeed in your project? If not - can you copy the logs here? It seems like you're failing to restore some nuget package, which means the build will fail and the path to deploy won't exist.

[2019-02-19 17:38] ColbyTresness commented on #805
Hopefully this sprint - @soninaren would know more. I agree though, we should wait for the default value in the feed before changing this.

[2019-02-19 18:24] #921 closed

[2019-02-19 18:24] #863 closed

[2019-02-19 18:56] EricJizbaMSFT opened #1008 "Tests not running on Mac"
Done some investigation and for some reason the following line causes VS Code to crash out in `global.test.ts`:

[code]

This is probably related to webpack, but it seems really weird that VS Code would crash out instead of reporting an error. Also this problem doesn't seem to affect app service, which also uses `TestOutputChannel` ¯\\\_(ツ)\_/¯ (NOTE: app service only has nightly tests right now)

[2019-02-20 01:31] v-xianya commented on #1006
Hi @EricJizbaMSFT Here is the logs of the func: host start task.

Http Functions:

        HttpTrigger: [GET,POST] http://localhost:7071/api/HttpTrigger

[2/20/2019 1:18:21 AM] Host lock lease acquired by instance ID '0000000000000000000000007E0B18AA'.
[2/20/2019 1:18:56 AM] **Language Worker Process exited.**
[2/20/2019 1:18:56 AM] **The operation has timed out.**
[2/20/2019 1:18:56 AM] Starting

[2019-02-20 18:50] EricJizbaMSFT commented on #768
Closing as this was fixed externally

[2019-02-20 18:50] #768 closed

[2019-02-20 19:17] EricJizbaMSFT commented on #688
Closing as I can see Event Hub template now:
![screen shot 2019-02-20 at 11 16 17 am](https://user-images.githubusercontent.com/11282622/53118003-ffd60900-3500-11e9-8926-dc83e2216a5c.png)

We have a separate issue to add it to the default "Verified" category: https://github.com/Microsoft/vscode-azurefunctions/issues/690

[2019-02-20 19:17] #688 closed

[2019-02-20 19:22] EricJizbaMSFT commented on #424
Removing this from tracking. We had a similar issue in our app service extension and we had a workaround to add a small delay: https://github.com/Microsoft/vscode-azureappservice/issues/844

I can see if the issue still repros and try the same workaround

[2019-02-20 19:23] EricJizbaMSFT commented on #276
Closing this since the extensions experience has changed quite a bit since last March

[2019-02-20 19:23] #276 closed

[2019-02-20 19:47] EricJizbaMSFT commented on #493
Closing this as VS Code released proxy support for extensions:
https://code.visualstudio.com/updates/v1_31#_network-proxy-support-for-extensions

[2019-02-20 19:47] #493 closed

[2019-02-20 22:06] EricJizbaMSFT commented on #881
Closing this issue as I believe it is the same problem as https://github.com/Microsoft/vscode-azurefunctions/issues/880#issuecomment-455625845

The file structure has to be correct when creating a Python function app project in order for this feature to work from VS Code

[2019-02-20 22:06] #881 closed

[2019-02-20 22:08] EricJizbaMSFT commented on #781
This is being tracked in the functions host: https://github.com/Azure/azure-functions-host/issues/3543

[2019-02-20 22:10] EricJizbaMSFT commented on #736
I believe this was fixed in https://github.com/Microsoft/vscode-azuretools/pull/383

Let me know if you're still seeing problems with it.

[2019-02-20 22:10] #736 closed

[2019-02-20 22:15] EricJizbaMSFT commented on #550
Closing this as it's been about half a year and we haven't received feedback related to existing venvs since then, plus the experience has changed already.

[2019-02-20 22:15] #550 closed

[2019-02-20 22:21] EricJizbaMSFT commented on #288
Closing as this has already been fixed in several different commits, for example https://github.com/Microsoft/vscode-azurefunctions/pull/600 and https://github.com/Microsoft/vscode-azurefunctions/pull/694

[2019-02-20 22:21] #288 closed

[2019-02-20 22:25] EricJizbaMSFT commented on #285
Closing this as debug experience has changed a lot since it was originally opened and I think this is covered by other bugs.

We still don't support "edit and continue" for JavaScript, but that's due to a bug in the functions host tracked here: https://github.com/Microsoft/vscode-azurefunctions/issues/781

We don't officially do much with C# Script and instead drive people to C# class libraries, w

[2019-02-20 22:25] #285 closed

[2019-02-20 22:26] EricJizbaMSFT commented on #415
Closing due to lack of response. Feel free to re-open with more info

[2019-02-20 22:26] #415 closed

[2019-02-20 22:28] EricJizbaMSFT commented on #28
Dupe of https://github.com/Microsoft/vscode-azurefunctions/issues/690

[2019-02-20 22:28] #28 closed

[2019-02-20 22:30] EricJizbaMSFT commented on #224
Closing as this no longer repros and the azure account extension has changed a ton since the issue was originally filed.

[2019-02-20 22:30] #224 closed

[2019-02-20 22:34] EricJizbaMSFT commented on #120
Closing as wont-fix. We don't expect users to be mixing project languages like this and it happens because you have a "pom.xml" in a JavaScript project

[2019-02-20 22:34] #120 closed

[2019-02-20 23:12] johnpapa opened #1011 "Renamed Route is Incorrect"
I create a route with the name `heroes-get` and then rename it in the `host.json` to `heroes`.

When I right click on the function int he extension and choose "copy url", it copies the `heroes-get` url, which is not what I want. I want the correct one of `heroes`

![image](https://user-images.githubusercontent.com/1202528/53131405-b9050500-353a-11e9-9c29-2faa6bfea9f7.png)

![2019-02-20_18-10-24](h

[2019-02-21 00:02] EricJizbaMSFT commented on #1002
@dilipprasad can you give more detailed repro steps? Does this happen consistently or does deploy work for you most of the time?

[2019-02-21 00:05] EricJizbaMSFT opened #1012 "Add "View commit in Github" to deployment item"
Same as app service issue: https://github.com/Microsoft/vscode-azureappservice/issues/726. Nathan already implemented in shared package - just need to register command in this extension

[2019-02-21 00:07] EricJizbaMSFT opened #1013 "Add ability to mark an app setting as a "slot setting" for a slot"
Same as app service issue: https://github.com/Microsoft/vscode-azureappservice/issues/796. Nathan already implemented in shared package, just need to register command in this extension

[2019-02-21 00:10] EricJizbaMSFT commented on #1006
Hmm interesting I wonder if that port is blocked/busy for some reason on your machine. Can you change the port in your `.vscode/launch.json` file and try again? (Maybe 9092 instead of 9091)

Also - what version of the func cli do you have?

[2019-02-21 02:17] v-xianya commented on #1006
Thanks for your sharing. Show the same error after changing the port value to 9092.
func version : 2.4.317

[2019-02-21 10:14] ronendayan commented on #989
same here,
creating new works,
after editing getting forbidden.
Uploading from CLI seems to not change the code on the function app

[2019-02-21 15:09] adipola opened #1014 "Failed to create Java function in Visual studio code"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run "mvn" command. Check output window for more details.

Version: 0.14.0
OS: darwin

[2019-02-21 16:22] EricJizbaMSFT commented on #1014
@adipola please check the logs in the output window and copy them here if you're still having problems

[2019-02-21 17:27] RPagels commented on #997
Hi Eric!

File attached.  Please note, working with @Tim Brown(NextDynamic) and we are running a large event in GLR across 6 cities by Mar 10.  Any help is greatly appreciated.

[TaskHostOutput-Exit Code 2.txt](https://github.com/Microsoft/vscode-azurefunctions/files/2890363/TaskHostOutput-Exit.Code.2.txt)

[2019-02-21 17:34] EricJizbaMSFT commented on #997
Hmm I see output for `dotnet clean` and `dotnet build`, but not `func host start`. Maybe try running `func host start` in the terminal and see if that gives you an actual error?

I am seeing this warning, which you probably need to fix. You can use a storage account in azure or the storage emulator if on windows. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#confi

[2019-02-21 17:45] nextdynamic commented on #997
Take a look at this output:  func host start is being called just before exit code 2

Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 2/21/2019 12:39:55 PM.
     1>Project "C:\Users\tibrown\Workspace\Hubway\HubwayFunctions\HubwayFunctions.csproj" on node 1 (Clean target(s)).
     1>CoreClean:
         Del

[2019-02-21 17:47] nextdynamic commented on #997
When I run these commands manually from the terminal inside vs code, it works – just not via the debug mode

Dotnet clean
Dotnet build
Func host start

From: Eric Jizba <notifications@github.com>
Sent: Thursday, February 21, 2019 12:35 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Manual <manual@noreply.github.com>
Su

[2019-02-21 18:26] connor4312 opened #1015 "Did not find preDeploy task "func: extensions install""
Hi,

I tried to deploy a new function via the extension in VSCode. I'm using the latest version, 0.14.0, on OSX. When I attempt to deploy, I get this error:

[code]

Following the steps doesn't resolve the issue. The generated `task.json` looks like this:

[code]

I do have the `azure-functions-core-tools` installed and in my path, and am able to manually run `func extensions install` from the com

[2019-02-21 19:58] EricJizbaMSFT commented on #997
Yeah I see "func host start" in the task output, but it's blank. I think there's a bug in VS Code where the first few lines of output can get cut off, so it's hard for me to know what the problem is. Did you _just_ install the func cli? Sometimes you have to restart VS Code to make sure it gets on the PATH

Can you copy the full output of running "func host start" from the command line?

[2019-02-21 20:09] nextdynamic commented on #997
This is not a fresh install – been using for a few months now.

Runs from the command line:

PS C:\Users\tibrown\Workspace\Hubway\HubwayFunctions> func host start
Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 67.53 ms for C:\Users\tibrown\Workspace\Hubway\HubwayFunctions\HubwayFunctions.csproj.

[2019-02-21 22:08] #999 closed

[2019-02-21 22:23] EricJizbaMSFT commented on #997
I don't see anything wrong in those logs. I think I might know the problem here. Can you post a screenshot of the workspace? I'm curious about your directory structure. We don't work well if your function app project is in a subdirectory of your workspace. We want to improve that, but there's not a simple fix - tracked by https://github.com/Microsoft/vscode-azurefunctions/issues/686

You can try c

[2019-02-21 22:29] EricJizbaMSFT commented on #1015
Are you only using Http or Timer triggers?

- If yes, you can remove the setting "azureFunctions.preDeployTask" in your `.vscode/settings.json` file.
- If no, we need to figure out why it can't find "func: extension install". What is your project langauge? And can you send a screenshot of your workspace? I'm wondering about your project structure and if you have the function app at the root or in

[2019-02-21 22:49] asavaritayal opened #1017 "Enable Application Insights by default"
The portal's already doing this. We want to adopt similar behavior in the client tools as well.

/cc @alexkarcher-msft

[2019-02-21 22:55] nextdynamic commented on #997
[cid:image003.jpg@01D4CA0E.451C9140]
[cid:image004.jpg@01D4CA0E.451C9140]

From: Eric Jizba <notifications@github.com>
Sent: Thursday, February 21, 2019 5:24 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Manual <manual@noreply.github.com>
Subject: Re: [Microsoft/vscode-azurefunctions] Debug Function. Error: Exit code

[2019-02-21 23:01] nextdynamic commented on #997
Interesting.

Created a new folder, created a new C# project, created a new http trigger function.

Hit F5 – worked perfect.  No issues with the debugger.

You said you have some work arounds?

From: Eric Jizba <notifications@github.com>
Sent: Thursday, February 21, 2019 5:24 PM
To: Microsoft/vscode-azurefunctions <vscode-azurefunctions@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.co

[2019-02-21 23:03] connor4312 commented on #1015
In this case I was only using a storage queue trigger. The language was Node.js--sorry, I forgot to mention that.

Assuming you've got an @microsoft.com you should be able to access our VSTS instance and see the actual code [here](https://watchmixer.visualstudio.com/Mixer/_git/community?path=%2Fpackages%2Fcommunity-functions%2Fsrc%2FworkOnDeletion&version=GBmaster). Here's my workspace:

![](https

[2019-02-21 23:13] EricJizbaMSFT commented on #659
Closing this as won't fix. Seems like you had a workaround and the cause may not be on our side. We can re-investigate if more people keep having this problem

[2019-02-21 23:13] #659 closed

[2019-02-21 23:22] EricJizbaMSFT commented on #868
Hey @Bandit253 I'm not sure if we can do anything here. Like I mentioned above, we try to let VS Code handle all the proxy stuff for us and it's always possible this is unique to your desktop. Closing as won't-fix for now

[2019-02-21 23:22] #868 closed

[2019-02-21 23:39] EricJizbaMSFT commented on #1015
Yeah we don't work well if the project is a subdirectory (aka in your "src" folder). That's tracked here and we hope to get a fix soon: https://github.com/Microsoft/vscode-azurefunctions/issues/686

[2019-02-21 23:54] alexkarcher-msft commented on #1017
Specifically, we'd like to add a creation and selection flow for App Insights, in the same way that we have for a storage account now when you create a Function in Azure from VS Code.

[2019-02-22 01:40] mhoeger opened #1019 ""Failed to create terminal for task func: extensions install" after Ctrl + c"
I'm running into errors with VS Code tasks whenever I use Ctrl + c to kill a running task. (This is with the upcoming TypeScript .vscode configurations)

Steps:
 - Create new TypeScript function app
 - Add TypeScript function (ex: HttpTrigger)
 - Press F5
 - At this point, everything is ok (see Figure 1)
 - Press Ctrl + c and then enter to kill the tasks that were running
 - Press F5
 - Errors app

[2019-02-22 02:42] EricJizbaMSFT commented on #686
Okay we have a release planned for early next week and can include a few improvements here (but it will still include manual steps to configure a project). First of all, if you want to test out before our release next week, install this build: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3461 following these instructions: https://aka.ms/azcodeinsiders (also note you have to be

[2019-02-22 02:43] EricJizbaMSFT commented on #1015
Okay I've added some workarounds here: https://github.com/Microsoft/vscode-azurefunctions/issues/686#issuecomment-466252387

Closing this as a duplicate of #686

[2019-02-22 02:43] #1015 closed

[2019-02-22 02:44] EricJizbaMSFT commented on #997
Okay I've added some workarounds here: https://github.com/Microsoft/vscode-azurefunctions/issues/686#issuecomment-466252387

Please continue the discussion on that thread. Closing this as duplicate.

[2019-02-22 02:44] #997 closed

[2019-02-22 03:21] EricJizbaMSFT commented on #1019
Yeah I can repro this with "ctrl+c". But just FYI you can workaround this by using either the detach button at the top of VS Code (button on the right pictured here):
![screen shot 2019-02-21 at 7 16 20 pm](https://user-images.githubusercontent.com/11282622/53217583-5fb9d600-360d-11e9-9e6d-ad7f06ff765b.png)

Or if you hit the trash can on the task here:
![screen shot 2019-02-21 at 7 16 23 pm](http

[2019-02-22 09:51] v-dantch opened #1022 "Display 'Function host is not running' after deploying a TypeScript project to Linux Preview"
**OS:** Windows/ Mac/Linux
**Func:** V2.4.317
**Build Version:** [20190222.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3467)

**Repro Steps:**
1. Create a TypeScript project.
2. Debug --> Deploy to a function app with Windows OS.

**Expect:**
Succeed to deploy and get a valid Function URL.

**Actual:**
Display 'Function host is nor running'.
![image](https://user-images.g

[2019-02-22 09:55] v-dantch opened #1023 "Display an error after deploying a Python project to a function app with Linux OS"
**OS:** All
**Func:** V2.4.317
**Build Version:** [20190222.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3467)

**Repro Steps:**
1. Create a Python project.
2. Debug --> Deploy --> Expand the 'Functions' node and check the result.

**Expect:**
Display a valid function.

**Actual:**
Display an error.
![image](https://user-images.githubusercontent.com/34729092/53234601-bb538

[2019-02-22 09:56] v-dantch opened #1024 "Support Deployments node on Linux Consumption"
**OS:** All
**Func:** V2.4.317
**Build Version:** [20190222.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3467)

**Repro Steps:**
1. Create a new slot for one function app with Linux OS.
2. Expand 'Deployment' node.
3. Check the result.

**Expect:**
Succeed to expand the node.

**Actual:**
Display 'Error: The service is unavailable'.
![image](https://user-images.githubuserc

[2019-02-22 09:56] v-dantch opened #1025 "Make html error with image more readable"
**OS:** Windows
**Func:** V2.4.317
**Build Version:** [20190222.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3467)

**Repro Steps:**
1. Create a Python project --> Debug --> Deploy.
2. Expand the 'Functions' node --> Right click one function and select 'Delete Function...'.
3. Check the result.

**Expect:**
Succeed to delete the functions.

**Actual:**
Fail to delete funct

[2019-02-22 10:02] v-xuanzh opened #1026 "[Discussion] Run `npm install` after creating TypeScript project"
OS: All
**Func:** V2.4.317
**Build Version:** [20190222.12](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3467)

**Steps to reproduce:**
1. Set "azureFunctions.templateVersion" to "2.18.1" then restart VS Code.
2. Create a new project with Typescript -> Create a function then change the filter from “Verified” to “Core” -> Add HttpTrigger.
3. Check the opened file index.ts.

**E

[2019-02-22 14:35] codeclan04 opened #1027 "Azure function deploy python"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: Error
Error Message: Failed to deploy path that does not exist: /home/r.wasilewski/Documents/AZURE/Python/CosmosFunctionPython/CosmosFunctionPython.zip

Version: 0.14.0
OS: linux

[2019-02-22 16:35] codeclan04 opened #1028 "Deploy python azure function"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.configureDeploymentSource
Error type: Error
Error Message: Entry not found in cache.

Version: 0.14.0
OS: linux

[2019-02-22 17:38] EricJizbaMSFT commented on #1025
Yeah delete won't work. We're tracking that here https://github.com/Microsoft/vscode-azurefunctions/issues/652 and here https://github.com/Microsoft/vscode-azurefunctions/issues/654

However that error is pretty ugly so I'll at least make that more readable

[2019-02-22 17:43] EricJizbaMSFT commented on #1023
Closing this as duplicate of a few others:
* Failed to copy url for non-anonymous http triggers on linux consumption: https://github.com/Microsoft/vscode-azurefunctions/issues/654
* Make html error with image more readable: https://github.com/Microsoft/vscode-azurefunctions/issues/1025

[2019-02-22 17:43] #1023 closed

[2019-02-22 17:57] EricJizbaMSFT commented on #976
_originally filed by @gbowerman [here](https://github.com/Azure/azure-functions-python-worker/issues/338)_

Azure Functions VS Code extension 0.14.0.
VS Code 1.31.1.
Windows 10.

Create Azure Function, select Timer Trigger.
In side by side tests, on Mac this prompted user for a storage account, on Windows it didn't.

Subsequently running function locally fails due to AzureWebJobsStorage not set.

[2019-02-22 17:59] EricJizbaMSFT opened #1029 "Creating new Python project in VS Code is very slow on Windows"
_originally filed by @gbowerman [here](https://github.com/Azure/azure-functions-python-worker/issues/339)_

VS Code 1.31.1
Azure Functions extension 0.14.0.
Create a new project, use browse to create new folder, and select Python as language.
Project creation takes minutes on Windows compared to seconds on Mac.

[2019-02-22 18:40] EricJizbaMSFT commented on #1026
This is somewhat expected - "@azure/functions" will be installed when you run `npm install`, which happens automatically if you F5 or deploy.

That being said, we can discuss if we run `npm install` by default for new projects

[2019-02-22 19:33] #1025 closed

[2019-02-22 19:57] #962 closed

[2019-02-23 01:02] #802 closed

[2019-02-23 01:30] jeffhollan opened #1031 "[JavaScript] Add Durable triggers to verified category"
There's a few templates that should be stable that still show up only in the All filter.  Ideally all the templates could now be verified now that we've GA'd and things have settled, but prioritized list of ones that should show up

* Durable Functions (activity, HTTP starter, orchestrator)
* IoT Hub
* Event Grid

[2019-02-23 01:35] EricJizbaMSFT opened #1032 "TypeScript project shouldn't prompt for runtime when creating function app"
We should default to JavaScript (aka node) and only prompt if advancedCreation is true
![screen shot 2019-02-22 at 5 33 58 pm](https://user-images.githubusercontent.com/11282622/53279772-17abb980-36c8-11e9-9bf6-1f02838996b1.png)

[2019-02-23 01:45] EricJizbaMSFT commented on #1031
Event Grid was added here, to be released soon: https://github.com/Microsoft/vscode-azurefunctions/pull/1010

For Durable, we haven't done it because those templates aren't labeled as "Core" and we only consider "Core" templates for our "Verified" category. Are those a core scenario or not?

[2019-02-23 01:48] jeffhollan commented on #1031
Yes - and maybe that's a work item for  @soninaren as well but believe now that durable JS is GA it should be Core

//cc @kashimiz

[2019-02-24 04:45] jeffhollan opened #1033 "[python] Start terminal with virtual env activated"
I believe this is the behavior when I code on my mac and open bash?  But either way when developing on windows in Python my terminal opens up with a PowerShell instance (as I prefer), but would be good if it could automatically activate the venv as well.  Know this opens up a lot of combinations (if cmd need to call this script, if powershell need to call this one, etc.) but would still be nice.

[2019-02-24 20:01] gbowerman opened #1034 "Python function project takes >250 Mb on disk"
Create a new project with a simple Python Azure Function. Disk space is >250 Mb on Windows.

A good user experience might be something like:
- Create simple function that can be tested locally without requiring a virtual env, or even do basic syntax check and allow option of not running locally.
- Basic check for requirements.txt
- Deploy to Azure

Azure Functions VS Code extension 0.14.0.
VS Code

[2019-02-25 16:43] EricJizbaMSFT commented on #1033
@jeffhollan this behavior already occurs for me on Windows (although it doesn't always happen
instantaneously). In any case, this is generic Python behavior provided by the Python extension, so I would file a bug here if it's not working for you: https://github.com/Microsoft/vscode-python

[2019-02-25 16:43] #1033 closed

[2019-02-25 16:48] jeffhollan commented on #1033
Thanks - realized it only doesn’t occur when I’m in a workspace instead of opening just that file directly

[2019-02-25 17:27] EricJizbaMSFT commented on #990
I verified on the latest insiders version of VS Code that this now shows a validation error in tasks.json. Closing as fixed

[2019-02-25 17:27] #990 closed

[2019-02-25 18:08] EricJizbaMSFT commented on #1034
@gbowerman the func cli requires a virtual environment to run locally. If you want that requirement removed, I suggest filing an issue here https://github.com/Azure/azure-functions-core-tools

However your second suggestion ("do basic syntax check and allow option of not running locally") might be possible from our extension's point of view. We could delay creating a virtual environment until the

[2019-02-25 18:11] EricJizbaMSFT opened #1035 "Add Event Hub triggers to verified category"
(For all languages that support it)

This work includes displaying Event Hub resources and fetching the connection string for the user, rather than making them enter it manually.

[2019-02-25 18:12] EricJizbaMSFT opened #1036 "Add IoT Hub triggers to verified category"
(For all languages that support it)

This work includes displaying IoT Hub resources and fetching the connection string for the user, rather than making them enter it manually.

[2019-02-25 18:13] EricJizbaMSFT commented on #690
Event Grid and Durable was added for all languages that support it. It's confusing to track _all_ templates in the same issue, so closing this and I've created separate issues for other types:

Event Hub: https://github.com/Microsoft/vscode-azurefunctions/issues/1035
IoT Hub: https://github.com/Microsoft/vscode-azurefunctions/issues/1036

[2019-02-25 18:13] #690 closed

[2019-02-25 18:19] EricJizbaMSFT commented on #1031
I prefer to track each template type separately, so I've re-purposed this issue to be specific to durable functions on JavaScript. Like I said above, Event Grid is already done. Here's an issue to track IoT: https://github.com/Microsoft/vscode-azurefunctions/issues/1036

[2019-02-25 21:29] soninaren commented on #1031
@jeffhollan, we had put durable in its own category. We can certainly add it to core as well. let me know.

[2019-02-25 21:54] jeffhollan commented on #1031
Since the categorization doesn't really show up anywhere, makes sense to just label these as Core to stick to how they are managing today per this:

[2019-02-27 17:29] #1032 closed

[2019-02-27 17:46] #93 closed

[2019-02-27 22:17] EricJizbaMSFT commented on #1028
@codeclan04 can you give more detailed repro steps? Does this happen consistently or does it work most of the time?

[2019-02-27 22:18] EricJizbaMSFT commented on #1027
@codeclan04 When deploying a python project, the "func pack" task is run before deploying, which creates that zip file. If the task failed, the file won't exist. Please copy the output of that task so we can investigate further

[2019-02-27 22:24] EricJizbaMSFT commented on #484
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/205

[2019-02-27 22:24] #484 closed

[2019-02-27 22:27] EricJizbaMSFT commented on #205
Removing from future milestone. As a part of https://github.com/Azure/azure-functions-host/issues/3994, there will be a new ARM api that creates this url for us (instead of us having to manually parse out the route, etc.)

[2019-02-27 22:28] EricJizbaMSFT commented on #1011
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/205

[2019-02-27 22:28] #1011 closed

[2019-02-27 22:42] EricJizbaMSFT commented on #1022
@v-dantch can you give more information on this:
1. You said "function app with Windows OS", but the screenshot at the bottom says "Linux Preview"
1. Did debug work just fine?
1. What triggers did you add? Just an http trigger? And what "authLevel" did it have?
1. If you're deploying to Windows, can you try streaming logs right after you deploy and see if there's an error preventing the host from

[2019-02-27 22:48] EricJizbaMSFT commented on #952
@v-dantch it's been a while since you originally filed this bug - but do you remember if you created the "Warmup" function or if it was just there? We had a separate bug here: https://github.com/Microsoft/vscode-azurefunctions/issues/668 because WarmUp is _not_ supposed to show up by default. And I think that was already fixed in the platform.

For the other function (HttpTriggerPY), ServiceUnavai

[2019-02-27 22:53] EricJizbaMSFT commented on #953
@v-dantch if this still repros, can you copy the output of running `pip install -r requirements.txt` and `func pack` manually in the terminal. This could be a problem with python or pip on your machine

[2019-02-27 22:54] EricJizbaMSFT commented on #926
Similar to https://github.com/Microsoft/vscode-azurefunctions/issues/1022#issuecomment-468060484 and https://github.com/Microsoft/vscode-azurefunctions/issues/952#issuecomment-468062410

If this still repros, please let me know what OS you were deploying to. If you were deploying to Windows, you can try streaming logs to get more info

[2019-02-27 23:37] EricJizbaMSFT commented on #989
Can someone copy the full logs of deploying here? @psmaAaron mentioned it was happening after "Uploading to storage" and I just want to make sure that's the case. I'm also curious about the timestamps and wondering if this is taking a long time to upload for some reason.

Also how did you create this function app? Was it through VS Code or through the portal?

[2019-02-27 23:40] EricJizbaMSFT commented on #1006
@v-xianya have you successfully debugged python functions on this machine before? I'm wondering if this is a machine-config problem or if something changed in our extension. I still can't repro this

[2019-02-28 02:39] v-xianya commented on #1006
@EricJizbaMSFT Thanks for your updates.
Verified on build [20190227.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3645&view=results). This issue doesn't reproduce.

[2019-02-28 02:50] v-dantch commented on #1022
Hi @EricJizbaMSFT, thanks for your reply and please get more info from below:
We verified this issue on the **latest** Azure Function Extension build [20190227.3](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3645)
1. Windows OS--Succeed to deploy a TypeScript project to the function app.
   Linux OS--**There is nothing** under 'Functions' node after deploying TypeScript projec

[2019-02-28 03:56] #1006 closed

[2019-02-28 03:56] EricJizbaMSFT commented on #1006
@v-xianya thanks for checking

[2019-02-28 04:00] #985 closed

[2019-02-28 09:23] v-dantch opened #1045 "Pop up an error when editing application setting value"
**OS:** Windows, Mac, Linux
**Extension Version:** [20190228.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3662)

**Repro Steps:**
1. Create a Windows function app.
2. Expand 'Application Settings' node --> Edit the value of 'WEBSITE_CONTENTSHARE' with 'Content-testing'.
![image](https://user-images.githubusercontent.com/34729092/53555215-55f50e80-3af6-11e9-9d06-f4159fca6cf5

[2019-02-28 18:26] ColbyTresness commented on #805
@soninaren when can we expect this in the feed?

[2019-02-28 18:56] gbowerman opened #1046 "Support "Deployments" tree item for Linux Consumption"
After deploying a Python Azure Function from the VS Code extension. error message "this operation is not supported" shown under deployments
![image](https://user-images.githubusercontent.com/4258913/53590775-6681a500-3b47-11e9-9be7-a64d4f92ca02.png)

Azure Functions VS Code extension 0.14.0.
VS Code 1.31.1.
Windows 10.

[2019-02-28 19:01] ColbyTresness opened #1047 "Add links to the serverless library"
Per discussion with @fiveisprime, we'd like to add links to the serverless library in two places before Build:

1. README presented after extension installation
2. under the Sign in to Azure/Create an account options on in the extension blade

[2019-02-28 20:24] #922 closed

[2019-02-28 20:24] #944 closed

[2019-02-28 20:24] #948 closed

[2019-02-28 20:24] #963 closed

[2019-02-28 20:27] VijayaMalla commented on #963
@EricJizbaMSFT I am going to give another try and let you know, Thank You for your help

[2019-02-28 21:43] fiveisprime opened #1048 "Missing runtimes when creating app in Azure"
Right-click subscription and choose "Create Function App in Azure..." step through until you get to language selection. Only JavaScript, .NET, and Java are available.

[2019-02-28 23:52] soninaren commented on #805
@mhoeger is going to make this change. As if now the the target is sprint 45, here is the related issue for it.
https://github.com/Azure/azure-functions-tooling-feed/issues/71

[2019-03-01 18:20] asavaritayal commented on #721
Pinging thread to see if there's an update here . /cc @EricJizbaMSFT @jdneo

[2019-03-02 07:08] algattik opened #1049 "Can't use a resource group named with a single character"
Repro steps:

1. Right-click on a subscription
2. "Create Function App in Azure..."
3. Select an existing resource group named "a"

Action: azureFunctions.createFunctionApp
Error type: Error
Error Message: "resourceGroupName" should satisfy the constraint - "Pattern": /^[-w._()]+[^.]$/

Version: 0.15.0
OS: darwin
VS Code Version: 1.31.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-02 15:44] socialexps opened #1050 "unable to use command "func" even after insatlling all dependencies"
Repro steps:

1.
2.

Action: azureFunctions.createNewProject
Error type: Error
Error Message: Failed to run ".env\Scripts\activate && func init ./ --worker-runtime python" command. Check output window for more details.

Version: 0.15.0
OS: win32
VS Code Version: 1.31.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-02 15:45] socialexps commented on #1050
more details confirming that azure function tools are installed

attempting to GET "https://functionscdn.azureedge.net/public/2.4.419/Azure.Functions.Cli.win-x64.2.4.419.zip"

+ azure-functions-core-tools@2.4.419
updated 1 package in 33.08s
Finished running command: "npm install -g azure-functions-core-tools@2".
Running command: ".env\Scripts\activate && func init ./ --worker-runtime python "...
'

[2019-03-02 16:23] socialexps commented on #1050
more information as i have path variable also added
C:\WINDOWS\system32>path
PATH=C:\ProgramData\DockerDesktop\version-bin;C:\Program Files\Docker\Docker\Resources\bin;C:\anaconda3\lib\site-packages;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\local\opencv3.10\build\x64\vc14\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\libnvvp;C:\Program Files (x86)\Microsoft SDKs\Azu

[2019-03-04 15:23] nzthiago commented on #721
Adding @daniel-rocha too - have you tried Functions with VS Code and Java recently? Checking if these issues with VS Code hanging are still manifesting

[2019-03-04 16:34] fiveisprime opened #1052 "Run/Debug attempts to install requirements.txt every time, can take a while"
What can be done to speed this up?

[2019-03-04 17:40] ChakritRakuang opened #1053 "Updating .NET templates for runtime "~1" to version "1.8.0"..."
Updating .NET templates for runtime "~1" to version "1.8.0"...
You must have the .NET CLI installed to perform this operation.
Command "dotnet "c:\Users\chakr\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.15.0\resources\dotnetJsonCli\Microsoft.TemplateEngine.JsonCli.dll" --require "c:\Users\chakr\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.15.0\resources\dotnetTemplates\ite

[2019-03-05 00:24] fiveisprime opened #1054 "Basic creation support"
Same as for app service, but creates plan and storage account without prompting.

[2019-03-05 00:54] jdneo commented on #930
This issue has been resolved., though it will take a few seconds for waiting for the `mvn` command to tell the extension of all the supported templates and their metadata. Adding a progress bar might be better here.

![demo](https://user-images.githubusercontent.com/6193897/53773107-ffd40100-3f23-11e9-985a-afc79917a25c.gif)

[2019-03-05 00:54] #930 closed

[2019-03-05 01:02] jdneo commented on #721
Hi @nzthiago,

I tried several times on my side, but not able to repro it.

I'll sync with the devs of the Java Debugger extension

Still not able to repro, is your function cli latest?

[2019-03-05 01:20] jdneo commented on #721
Ok, after syncing with the dev, `Start Without Debugging` makes no sense here, because the request type here is `attach` instead of `launch`. So the user still can see the call stacks and able to hit the breakpoints.

[2019-03-05 08:41] asavaritayal opened #1055 "Make progress notifications clickable"
![image](https://user-images.githubusercontent.com/8435148/53791718-e8265980-3ede-11e9-971a-fdb836c0d224.png)

In cases where it could take a long time to execute a task, make the progress notification clickable so users can navigate to the terminal to view the steps being executed.

/cc @fiveisprime @gbowerman

[2019-03-05 08:43] asavaritayal opened #1056 "String change from function app to function project"
![image](https://user-images.githubusercontent.com/8435148/53791973-831f3380-3edf-11e9-92cf-e2b56b36b7a0.png)

Change string to "Select the folder containing your function **project**"

/cc @fiveisprime @gbowerman

[2019-03-05 08:53] asavaritayal opened #1057 "[Discussion] Make Open in Portal more discoverable"
To ensure user success for certain Azure Functions tasks, it may be better for us to proactively guide the user towards the next step rather than waiting for them to take action. Open to discussion on whether this should be done as a notification or another pattern available in VS Code.

Here are some use cases that'll immediately prove valuable:

1. Prompt to create a new function when a new proj

[2019-03-05 08:57] asavaritayal opened #1058 "Schedule for timer trigger"
![image](https://user-images.githubusercontent.com/8435148/53792835-6dab0900-3ee1-11e9-80fa-9ea08d78b96e.png)

![image](https://user-images.githubusercontent.com/8435148/53792874-80bdd900-3ee1-11e9-976b-8be4f5362e48.png)

Two issues here:

1. Helper link only appears when there is invalid input. Instead, we should surface it from the get go.
2. Link doesn't render correctly. Raw HTML syntax is vis

[2019-03-05 09:03] asavaritayal opened #1059 "Clarify the difference b/w function app and function project"
![image](https://user-images.githubusercontent.com/8435148/53793244-4bfe5180-3ee2-11e9-9ffd-67eb2d490e9f.png)

Proposing string change from "Select Function App" to "Select Function App **in Azure**".

/cc @fiveisprime @gbowerman

[2019-03-05 09:11] asavaritayal opened #1060 "Surface progress b/w app creation and deployment"
When deploying a Python function project to Azure, it can take several minutes b/w the following two notifications:

![image](https://user-images.githubusercontent.com/8435148/53793660-2faee480-3ee3-11e9-8017-18bd88f8a0e6.png)

and

![image](https://user-images.githubusercontent.com/8435148/53793687-3dfd0080-3ee3-11e9-92ca-4cbee9fe2be6.png)

Folks often seem to assume that the first notification m

[2019-03-05 15:54] nzthiago commented on #721
We first ran into this in June so it could well be that the issues were fixed. Checking if @daniel-rocha or @brusMX can review (I think you raised this feedback from our OpenHack in London Bruno).

[2019-03-05 15:58] nzthiago commented on #721
I disagree that `Start without Debugging` makes no sense; a lot of developers like to use that when they just want to try running what they're working on without the extra time it takes for the debugger to attach and hit breakpoints and etc. Sometimes I just want to kick off the func host and start the functions I'm working on without attaching and hitting start without debugging or Ctrl+F5 is eas

[2019-03-05 16:51] ciprianpatru opened #1061 "Faild azure functions deploy using VS Code azure functions extension"
Repro steps:

1.Tried to deploy the functions app using azure functions extension from VS Code
2.Used steps from here:https://scotch.io/tutorials/getting-started-with-azure-functions-using-vs-code-zero-to-deploy

Action: azureFunctions.deploy
Error type: 403
Error Message: Failed with code "403".

Version: 0.15.0
OS: win32
VS Code Version: 1.31.1

<details>
<summary>Call Stack</summary>

[code]

<

[2019-03-05 16:56] #1061 closed

[2019-03-05 16:57] ciprianpatru commented on #1061
Did not have sufficient access.

[2019-03-05 18:59] EricJizbaMSFT commented on #1048
@fiveisprime what runtime is missing?

![screen shot 2019-03-05 at 10 57 52 am](https://user-images.githubusercontent.com/11282622/53829692-8fce7680-3f35-11e9-8dfc-519f700f44b7.png)

If you're looking for Python, that's not available on Windows. User has to turn on advancedCreation if they want OS prompt

[2019-03-05 19:41] EricJizbaMSFT commented on #1055
Currently not possible - tracking issue in VS Code: https://github.com/Microsoft/vscode/issues/60979

[2019-03-05 19:42] EricJizbaMSFT commented on #1053
@ChakritRakuang can you detail what your repros steps were and what your desired behavior is?

[2019-03-05 19:45] EricJizbaMSFT commented on #1052
This behavior was request by @asavaritayal here: https://github.com/Microsoft/vscode-azurefunctions/issues/666. That being said, users can always edit their tasks.json to remove this behavior.

[2019-03-05 19:47] EricJizbaMSFT commented on #1050
@socialexps sometimes you have to restart VS Code or your command prompt for environment variables to take effect. Are you still seeing issues?

[2019-03-05 19:53] EricJizbaMSFT opened #1062 "Azure Functions on Linux App Service Plan is generally available"
https://github.com/Azure/app-service-announcements/issues/161

We should remove the "Preview" label where applicable.

[2019-03-05 20:58] asavaritayal commented on #1052
We received similar feedback on other fronts as well and are soon getting rid of the virtual environment requirement for Python completely. Once this is done, we can give the user complete control of their environment and installing any dependencies. I'll send an update once this is ready on the runtime side.

/cc @maiqbal11 @ankitkumarr

[2019-03-05 21:01] asavaritayal commented on #1057
Yes, folks often tend to navigate to the portal to ensure that the functions are showing as expected, to set any secrets / app settings and to view the monitor tab for AI logs

[2019-03-05 21:30] EricJizbaMSFT commented on #1057
Most of those actions can be done in VS Code. For example "view the monitor tab for AI logs" should be covered by our "Stream Logs" button. We also support listing functions and viewing app settings. I'm open to a discussion on how we make those features more discoverable, but ideally users never have to go to the portal because everything they need is already supported in VS Code.

[2019-03-05 21:56] fiveisprime opened #1063 "Include UA string when deploying"
I believe we added a UA string for all requests made via SDKs, but it looks like there's no UA string set when POSTing to the deployment endpoint.

[2019-03-05 22:07] ejizba opened #1064 "Support "Start Without Debugging""
Repro steps:
1. 'ctrl'+F5 or select "Start Without Debugging" from the command palette

Expected:
It starts the func host, but doesn't attach

Actual:
It starts the func host and does all the debug stuff

_Originally brought up here by @nzthiago: https://github.com/Microsoft/vscode-azurefunctions/issues/721_

[2019-03-05 22:27] EricJizbaMSFT commented on #721
@nzthiago the issue you linked to doesn't quite apply in this case. That is when you're launching a Java process directly, but in our case we're launching the Azure Functions runtime, which launches a Java process for us. If you look in your `.vscode/launch.json` you'll see the request is "attach" instead of "launch" because we only ever attach to the process created by the func cli. Without the '

[2019-03-06 01:10] jdneo commented on #721
@EricJizbaMSFT Thank you for clarifying. 👍

Yes, let's focus on the Java-specific problems in this issue.

[2019-03-06 07:53] SuperChenSSS opened #1065 "Azure Function for Java plugin error: Deployment error"
When using VSCode Azure Function for Java plugin, I found that if you create a project inside the VSCode IDE, when deploying to the Azure web, you get an error log like:

![image](https://user-images.githubusercontent.com/17025439/53864534-aead3580-4027-11e9-90be-3d0ec75125d9.png)

And I found the solution. Just use the original Maven plugin, and manually name your Resource Group with **another na

[2019-03-06 12:03] #1065 closed

[2019-03-06 18:26] maujy opened #1066 "Improve error when failed to parse local.settings.json"
Repro steps:

1. Using VsCode Microsoft Azure to add Function App (Azure Cosmos DB trigger)
2.

Action: azureFunctions.createFunction
Error type: SyntaxError
Error Message: Unexpected token / in JSON at position 90

Version: 0.15.0
OS: win32
VS Code Version: 1.31.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-06 18:29] EricJizbaMSFT commented on #1022
@v-dantch can you check your application settings and see what `FUNCTIONS_WORKER_RUNTIME` is? If it's not set to "node", this might not work. We have an open issue to validate that setting before deploying: https://github.com/Microsoft/vscode-azurefunctions/issues/924

[2019-03-06 18:36] EricJizbaMSFT commented on #1066
@maujy I think you have a syntax error in your local.settings.json file. Can you check that and try again? If that's the case, I'll repurpose this issue to improve the error message.

[2019-03-06 18:57] nzthiago commented on #721
@EricJizbaMSFT @jdneo - agreed! Thanks for creating #1064
Thank you for looking into this and trying to repo the other two parts - I will close this issue as you can't repro what our team was seeing last year, if I get any more data I'll open new entries and reference this. Thanks

[2019-03-06 18:57] #721 closed

[2019-03-06 19:07] maujy commented on #1066
Still has problem : (

local.setting.json:
{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "CosmosConnectionString": "...",
    "LeaseSettings": "..."
  }
}

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: The requested app service plan cannot be created in the current resource group

[2019-03-06 19:15] EricJizbaMSFT commented on #1066
@maujy that seems like a completely different error. Can you try using a different resource group as mentioned in the message?

[2019-03-06 21:25] #984 closed

[2019-03-07 03:11] v-dantch commented on #1022
Hi @EricJizbaMSFT , verified this issue on the latest Azure Function Extension build: [20190306.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=3753). And there displays nothing after deploying a TypeScript project and the 'FUNCTIONS_WORKER_RUNTIME' sets to "node" like below:
![image](https://user-images.githubusercontent.com/34729092/53929743-98ad6e00-4043-11e9-96be-d206d45a5

[2019-03-07 04:54] fiveisprime commented on #1048
I'm going to close as by design on this. The confusion around this came from the workflow: the user was attempting to create the Function App on Azure prior to creating the local project and they were confused by the lack of Python. It makes sense and I think the other issue (PR?) to normalize the terms (app v. project) will solve this.

[2019-03-07 04:54] #1048 closed

[2019-03-07 05:46] asavaritayal commented on #1057
Agree on the ideal but I think this is a non-goal for the product since a majority of management tasks are centered around the portal. For example, streaming logs provides a good immediate solution to test a function but most users tend to prefer the monitor tab in the portal for a per function aggregated view of the metrics and options for querying and diagnostics. Similarly, general settings in

[2019-03-07 14:19] Govindmallurwar opened #1072 "Error: unable to get local issuer certificate"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: UNABLE_TO_GET_ISSUER_CERT_LOCALLY
Error Message: unable to get local issuer certificate

Version: 0.15.0
OS: win32
VS Code Version: 1.31.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-07 17:34] #987 closed

[2019-03-07 18:29] #1060 closed

[2019-03-07 20:38] mswilson4040 opened #1073 "Run-From-Zip is set to a remote URL using WEBSITE_USE_ZIP app setting. Deployment is not supported in this configuration."
I randomly started getting this. I don't see any spot where the config property 'WEBSITE_USE_ZIP' would be configured.

Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: 409
Error Message: Run-From-Zip is set to a remote URL using WEBSITE_USE_ZIP app setting. Deployment is not supported in this configuration.

Version: 0.15.0
OS: darwin
VS Code Version: 1.32.0

<details>
<summary>Call

[2019-03-07 20:50] cluzier opened #1074 "error macos"
Repro steps:

1.
2.

Action: azureFunctions.pickProcess
Error type: Error
Error Message: Failed to detect running Functions host within "60" seconds. You may want to adjust the "azureFunctions.pickProcessTimeout" setting.

Version: 0.15.0
OS: darwin
VS Code Version: 1.32.0

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-08 15:02] RPagels commented on #997
Hi Eric!  We ran into another issue when Deploying the Azure Functions to Azure.  The connection strings used in the local.settings.json file, are not getting published in the Function App Application Settings. Is there a setting we are missing?  Is there a local file we are suppose to use instead of local.settings.json? What are best practices for doing this?

[2019-03-08 16:52] gecko-8 opened #1076 "Deploy Javascript project doesn't create function"
I'm trying to use the Javascript quick-start guide from the Microsoft docs to test creating a simple function. Unfortunately, it's working fine until I deploy to Azure. After deployment the function app exists but not the function itself. Any help would be greatly appreciated.

Steps to reproduce:
1. Follow this tutorial: [Javascript Getting Started](https://docs.microsoft.com/en-us/azure/azure-fu

[2019-03-08 18:40] EricJizbaMSFT opened #1077 "Prompt to publish Application settings after deployment is complete"
_Originally mentioned [here](https://github.com/Microsoft/vscode-azurefunctions/issues/1057) by @asavaritayal_

[2019-03-08 19:04] EricJizbaMSFT commented on #997
@Rpagels you can right click on the Application Settings node to upload settings:
![screen shot 2019-03-08 at 11 00 20 am](https://user-images.githubusercontent.com/11282622/54049484-7a558880-4191-11e9-8014-0a54f2a9a31d.png)

This doesn't happen automatically because we assume a lot of people don't want to use the same connection strings for their local testing as they use when deploying to Azure.

[2019-03-08 19:11] EricJizbaMSFT commented on #1057
As mentioned above, we already have an issue for your first bullet point. I've created a separate issue to track your second bullet point since there's no debate there either: https://github.com/Microsoft/vscode-azurefunctions/issues/1077. And I figure we can repurpose this issue to continue discussing Open In Portal

I didn't mean to imply we would replace the portal. I think the portal is always

[2019-03-08 19:21] EricJizbaMSFT commented on #1076
@gecko-8 that project looks just fine to me. How did you create the function app in Azure? Is it a windows function app (the default) or is it "Linux Preview"?

Also can you check the value of the application setting `FUNCTIONS_WORKER_RUNTIME`? It should be set to "node"

[2019-03-08 19:43] RPagels commented on #997
Perfect, this will work for the labs.  Thank you!

[2019-03-08 19:56] gecko-8 commented on #1076
@EricJizbaMSFT I created the function app through the extension's wizard so it should be all defaults. I double checked that it's a Windows instance. FUNCTIONS_WORKER_RUNTIME is set to "node".

[2019-03-08 20:36] gecko-8 commented on #1076
I was just able to manually create a working function app through the portal. I then tried deploying my original function from VS Code to the new function app and once again, the function doesn't appear but all output shows a successful deployment.

[2019-03-08 20:39] EricJizbaMSFT commented on #1076
Hmm I had no problem deploying your project from VS Code. How are you deploying from VS Code? Aka what entry point (the blue up arrow, right clicking on a folder, right clicking on a function app)?

Also can you post a screenshot of your workspace? We expect it at the project to be at the root of the workspace

[2019-03-08 20:42] gecko-8 commented on #1076
@EricJizbaMSFT Thanks for the quick responses! I'm deploying via the blue arrow.
![Screen Shot 2019-03-08 at 1 41 28 PM](https://user-images.githubusercontent.com/24754972/54054623-efcc5380-41a7-11e9-91ef-1e714e08663f.png)

[2019-03-08 20:46] EricJizbaMSFT commented on #1076
Still stumped. Did the "func: extension install" task succeed before deploying? It's honestly not needed if you're deploying just an HttpTrigger, so you could remove the "azureFunctions.preDeployTask" from settings.json...

Can you post the full deploy log maybe?

[2019-03-08 20:49] EricJizbaMSFT commented on #1073
@mswilson4040 what language is your project? And are you deploying to a Windows or Linux function app in Azure? (Windows is the default for all languages except Python)

Do your application settings look similar to mine?
![Screen Shot 2019-03-08 at 12 49 02 PM](https://user-images.githubusercontent.com/11282622/54055014-97458800-41a0-11e9-83ac-9bfa36784f49.png)

[2019-03-08 20:54] gecko-8 commented on #1076
@EricJizbaMSFT Yeah, I'm stumped too. I don't think the extension install task worked but I tried removing it and I'm still getting a warning about it at the top of the output. Here's the full deployment output if that's what you mean by the deploy log.
[code]

[2019-03-08 20:56] EricJizbaMSFT commented on #1072
@Govindmallurwar are you behind a corporate proxy or something similar? We've been mostly relying on VS Code to fix this for us, which is tracked here: https://github.com/Microsoft/vscode/issues/60773. I believe most situations are fixed already, but perhaps not all.

[2019-03-08 21:00] EricJizbaMSFT commented on #1076
Well when I deploy, I see this:
[code]

So it seems like you're not getting everything pushed up that should be. Have you edited your `.funcignore` file at all? That controls the files we ignore when deploying. You could try removing that file as a workaround

[2019-03-08 21:07] gecko-8 commented on #1076
@EricJizbaMSFT I haven't changed the .funcignore file but removing it did seem to fix the problem. I'll see if I can narrow things down a bit more.

[2019-03-08 21:13] gecko-8 commented on #1076
@EricJizbaMSFT Looks like it's the local.settings.json line in the .funcignore. That would imply to me that the default settings in the auto-created function app are incorrect. When I download the function app, here's the local.settings.json file I get:

[2019-03-08 21:46] gecko-8 commented on #1076
@EricJizbaMSFT Okay, this is really weird, but I've confirmed it's the .vscode line in the funcignore file. As soon as I remove that line, it works.

[2019-03-11 09:03] sand-enqos opened #1078 "Enter steps to reproduce is"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: Forbidden
Error Message: Forbidden

Version: 0.15.0
OS: darwin
VS Code Version: 1.31.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-11 15:24] mswilson4040 commented on #1073
@EricJizbaMSFT The language is c#. The error went away after I deleted the WEBSITE_USE_ZIP from the application menu. My guess is that somehow that value got in there and wasn't configured properly so vs code was throwing the error.

[2019-03-11 19:09] #1056 closed

[2019-03-11 19:09] #1059 closed

[2019-03-11 19:13] #986 closed

[2019-03-11 19:19] EricJizbaMSFT commented on #1078
Closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/989

[2019-03-11 19:19] #1078 closed

[2019-03-11 19:20] EricJizbaMSFT commented on #1078
Closed as duplicate. If you have time, please look at my questions in the other issue and comment there with your answers as we're having a hard time reproducing this bug

[2019-03-11 22:36] EricJizbaMSFT opened #1079 "Sort functions"
I don't think we sort this at all right now. I would argue we might want to put http and timer at the top, but otherwise I think alphabetical is fine

[2019-03-12 00:16] galvesribeiro opened #1081 "Multiple Functions projects on the same Workspace"
Hello!

I got that the extension now uses VSCode new workspace feature rather than plain old .sln files.

The problem is, VSCode settings are now embedded on a per project basis on its own `.vscode` directory making things harder to maintain.

I'm trying to have the following workspace to work:

![image](https://user-images.githubusercontent.com/4714040/54166116-684e4100-4442-11e9-873a-825fc44f499

[2019-03-12 16:48] EricJizbaMSFT opened #1082 "Enable PowerShell project"
PowerShell support was added here: https://github.com/Microsoft/vscode-azurefunctions/pull/1075, but can't be enabled until vscode-powershell 1.12 and 2.0.0-preview.2 are released.

- [x] Add PowerShell and it's prerequisites to README
- [x] Add PowerShell to new project quick pick
- [x] Add templates to "Verified" category (should have same number as JavaScript)
- [x] Double check all "Verified"

[2019-03-12 18:13] #1001 closed

[2019-03-12 18:13] #1003 closed

[2019-03-12 18:13] #1005 closed

[2019-03-12 20:15] EricJizbaMSFT commented on #1081
Interesting... I looked into this and couldn't get it working with the existing extension. We'll have to make changes on our side

[2019-03-12 20:52] EricJizbaMSFT commented on #797
Fixed in https://github.com/Microsoft/vscode-azurefunctions/pull/1075

[2019-03-12 20:52] #797 closed

[2019-03-12 22:35] EricJizbaMSFT opened #1083 "Switch over to azure-sdk-for-js"
https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Migration.md

[2019-03-12 23:07] EricJizbaMSFT commented on #796
@asavaritayal what's the priority of this?:

I assume Windows Consumption will be the default/most common for PowerShell?

[2019-03-13 00:57] galvesribeiro commented on #1081
Yeah @EricJizbaMSFT

This is what we would expect from the extensions that adopt multi-rooted workspaces.

For now we would keep the project directory structure as before, having a `.sln`, and all projects under `src/` and `test/` so we keep VS2017 working and then open every function project on its own VSCode window and build/run that individually along with any solution-wide project dependencies

[2019-03-13 01:14] ColbyTresness commented on #1047
1 is docs, but 2 requires a code change I think. @fiveisprime can we confirm that we can do this for Build?

[2019-03-13 12:21] asavaritayal commented on #796
@EricJizbaMSFT yes Windows Consumption will be the default for public preview.

(For context, we experimented with Linux dedicated for private preview but have decided to discontinue on that path for now.)

/cc @eamonoreilly @anirudhgarg

[2019-03-14 00:04] EricJizbaMSFT commented on #1081
@galvesribeiro I submitted a PR to fix this scenario. Here's our instructions for installing an insider extension: https://aka.ms/azCodeInsiders. I'll let you know once it's in master, or you can try a build from my branch: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=4041

I created a [sample repo](https://github.com/EricJizbaMSFT/MultiFuncApp) that was working for me. [This

[2019-03-14 01:05] #1002 closed

[2019-03-14 01:24] galvesribeiro commented on #1081
Awesome @EricJizbaMSFT!

I'll try it first thing in the morning and let you know.

Thank you very much for the help! :)

[2019-03-14 05:57] thefliik opened #1087 "feature: support monorepo format"
The VSCode Azure Functions extension does not seem to support a functions app in a monorepo (where the functions app is in a subfolder of the current project root). Attempting to execute the `Deploy to functions app...` option results in a "Select function app" dropdown list which *only* includes an option to "Create new function app". It appears that you cannot select a function app located in a

[2019-03-14 11:10] sradomski opened #1088 "Initializing a python project on MacOS for a path with spaces fails"
Repro steps:

1. Use Microsoft Code to initialize an Azure Function Project for Python
2. Choose any directory that contains spaces in the complete path
3. Watch ". .env/bin/activate && func init ./ --worker-runtime python" fail with bad interpeter

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run ". .env/bin/activate && func init ./ --worker-runtime python" com

[2019-03-14 16:37] Braincompiler opened #1089 "Duplicate output in "Log Stream""
I got a duplicate output of logs via the "Log Stream"-Feature:
![Screenshot 2019-03-14 at 17 26 22](https://user-images.githubusercontent.com/142524/54374467-75a43f00-467f-11e9-8fe7-e2c295cae7f9.png)

But the logs are not duplicated at the Azure Portal:
![Screenshot 2019-03-14 at 17 26 29](https://user-images.githubusercontent.com/142524/54374481-7d63e380-467f-11e9-94dd-b8fc8d5c5931.png)

The vers

[2019-03-14 16:39] EricJizbaMSFT commented on #1087
Two things here:
1. The naming between a local project and a resource in Azure is confusing. We cleaned up the naming here and it will be included in the next release: https://github.com/Microsoft/vscode-azurefunctions/pull/1070. It sounds like the prompt you're talking about is for the resource in Azure
1. We're tracking support for a monorepo in this issue https://github.com/Microsoft/vscode-azu

[2019-03-14 16:40] EricJizbaMSFT commented on #1087
Closing as duplicate - feel free to add to the other issue

[2019-03-14 16:40] #1087 closed

[2019-03-14 16:59] EricJizbaMSFT commented on #1089
Yeah I can repro this - thanks for reporting. IMO the extra blank lines are also annoying

[2019-03-14 17:02] EricJizbaMSFT commented on #1088
@sradomski can you copy the contents of the output window? Also - what version of the func cli do you have? I'm on version `2.4.419` and this seems to be working for me.

[2019-03-14 21:05] #1014 closed

[2019-03-14 21:11] sradomski commented on #1088
<pre>
Updating .NET templates for runtime "~1" to version "1.8.0"...
You must have the .NET CLI installed to perform this operation.
Command "dotnet '/Users/sradomski/.vscode/extensions/ms-azuretools.vscode-azurefunctions-0.15.0/resources/dotnetJsonCli/Microsoft.TemplateEngine.JsonCli.dll' --require '/Users/sradomski/.vscode/extensions/ms-azuretools.vscode-azurefunctions-0.15.0/resources/dotnetTem

[2019-03-14 21:24] EricJizbaMSFT opened #1090 "Hide .NET template errors"
<pre>
Updating .NET templates for runtime "~1" to version "1.8.0"...
You must have the .NET CLI installed to perform this operation.
Command "dotnet '/Users/sradomski/.vscode/extensions/ms-azuretools.vscode-azurefunctions-0.15.0/resources/dotnetJsonCli/Microsoft.TemplateEngine.JsonCli.dll' --require '/Users/sradomski/.vscode/extensions/ms-azuretools.vscode-azurefunctions-0.15.0/resources/dotnetTem

[2019-03-14 21:26] EricJizbaMSFT commented on #1090
If the user isn't using a C# project, they can safely ignore the 'dotnet' errors. As mentioned above, those errors were confusing and we should hide them

[2019-03-14 21:28] EricJizbaMSFT commented on #1088
You can safely ignore the dotnet errors. Those only apply if you're trying to using a C# project. Created a separate issue to hide those because I agree they're confusing.

I'm more interested in the output after this line:
[code]
but unfortunately there's nothing helpful there. Can you try running that command manually in the terminal and see if it works? Wondering if we need to file an issue on

[2019-03-14 21:48] EricJizbaMSFT opened #1091 "Files and Log Files nodes"
Just like App Service. Honestly I don't care about editing the files (won't work in most cases because of Run-From-Package), but it would be nice to see the files.

[2019-03-14 22:15] sradomski commented on #1088
<pre>
$ . .env/bin/activate && func init ./ --worker-runtime python
Installing wheel package
Error running 'pip install wheel'.
</pre>

Not sure if this is any more enlightening 😄

[2019-03-14 22:21] EricJizbaMSFT commented on #830
Could be fixed with https://github.com/Azure/azure-functions-host/issues/3994

[2019-03-14 22:30] EricJizbaMSFT commented on #976
Per @jinglouMSFT storage emulator also has a cross plat thing: https://github.com/Azure/Azurite

[2019-03-14 22:36] EricJizbaMSFT commented on #1017
Assigning to @fiveisprime so that we can iron out the experience

[2019-03-14 22:40] EricJizbaMSFT commented on #1026
Closing this as won't fix due to the "cons" listed above. Once you F5 it'll install and it'll work fine

[2019-03-14 22:40] #1026 closed

[2019-03-14 22:43] EricJizbaMSFT commented on #1024
The service unavailable error is a little odd, but the platform doesn't support deployments for linux consumption yet. Changed title to reflect that

[2019-03-14 22:46] EricJizbaMSFT opened #1092 "Standardize virtual env creation Python Functions"
Python 3.7 should be supported soon and we might not want to create a virtual environment any more. See: https://github.com/Azure/azure-functions-core-tools/issues/923

[2019-03-14 22:47] EricJizbaMSFT commented on #1029
This is only because we're creating a virtual environment. Separate issue here for possibly removing venv: https://github.com/Microsoft/vscode-azurefunctions/issues/1092

[2019-03-14 22:47] #1029 closed

[2019-03-14 22:47] EricJizbaMSFT commented on #1034
This is only because we're creating a virtual environment. Separate issue here for possibly removing venv: https://github.com/Microsoft/vscode-azurefunctions/issues/1092

[2019-03-14 22:47] #1034 closed

[2019-03-14 22:52] EricJizbaMSFT commented on #1024
Actually closing as duplicate of https://github.com/Microsoft/vscode-azurefunctions/issues/1046

[2019-03-14 22:52] #1024 closed

[2019-03-14 22:53] #218 closed

[2019-03-14 22:55] EricJizbaMSFT commented on #1047
Still need to figure out the best place for the link in the code. We think most users are logged in and won't see 2 as mentioned above

[2019-03-14 22:57] EricJizbaMSFT commented on #1047
For example maybe in the "Create New Project" workflow it could have something like "See sample projects"

[2019-03-14 23:01] EricJizbaMSFT commented on #1052
Tracking this as a part of https://github.com/Microsoft/vscode-azurefunctions/issues/1092

[2019-03-14 23:01] #1052 closed

[2019-03-14 23:08] EricJizbaMSFT commented on #1058
So this string is defined here: https://github.com/Azure/azure-functions-templates/blob/20bde0b0ea46ebde088f257a333501e6dd89a3e3/Functions.Templates/Resources/Resources.resx#L982

But I believe that string is also displayed in the portal. Do we want to change it for both or special case Timer Trigger in our extension?

[2019-03-14 23:10] ColbyTresness commented on #1047
Yeah I think that makes sense. As long as its on project/app create and not function create - that feels too late in the process.

[2019-03-14 23:20] EricJizbaMSFT commented on #1072
Could try something like this: https://github.com/Microsoft/vscode-docker/pull/627

[2019-03-14 23:24] EricJizbaMSFT commented on #1074
@cluzier can you give more information on this or repro steps?
For example:
1. Does this consistently happen?
1. Was this a brand new clean project?
1. What triggers were you using?
1. How is your workspace folder configured?

[2019-03-14 23:44] EricJizbaMSFT commented on #1088
Well it tells us the problem is somewhere in the func cli. You could also try this to see if the problem is with the python/pip configuration:
[code]

[2019-03-15 00:15] gbowerman commented on #1029
@EricJizbaMSFT is it slower on Windows than Mac because there is no venv on Mac?

[2019-03-15 03:12] EricJizbaMSFT commented on #1029
Both have a venv and there is a delay for both when we create that venv. I don't know why your windows machine is so much slower than your mac, but it just depends on the machine. Either way, removing the venv will speed up creating a project on _both_ OS's

[2019-03-15 06:44] sradomski commented on #1088
<pre>
$ . .env/bin/activate && pip install wheel
-bash: /Users/sradomski/Documents/UI/Code/Foo Bar/.env/bin/pip: "/Users/sradomski/Documents/UI/Code/Foo: bad interpreter: No such file or directory
</pre>

[2019-03-15 12:32] galvesribeiro commented on #1081
Hello @EricJizbaMSFT! Sorry for the delay.

I can confirm that things are working perfectly with the insider extension!

Just curious... Will the extension update itself when you publish the release package? Or will I have to uninstall it?

Thank you! I really appreciate the help!

[2019-03-15 15:11] bjwtufv701 opened #1093 "connect ECONNREFUSED 127.0.0.1:1021"
Repro steps:

1.
2.

Action: azureFunctions.deploy
Error type: ECONNREFUSED
Error Message: connect ECONNREFUSED 127.0.0.1:1021

Version: 0.15.0
OS: win32
VS Code Version: 1.32.3

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-15 21:17] asavaritayal commented on #1058
Re #1 - I think we want to display the string here:
https://github.com/Azure/azure-functions-templates/blob/20bde0b0ea46ebde088f257a333501e6dd89a3e3/Functions.Templates/Resources/Resources.resx#L213

For #2, issue isn't really the string itself but that the HTML isn't rendering correctly. Is it possible for Code to make the links clickable?

[2019-03-16 17:58] OniciBianca opened #1094 "DoITGirls"
Repro steps:

1.
2.

Action: azureFunctions.createFunction
Error type: Error
Error Message: Failed to run "mvn" command. Check output window for more details.

Version: 0.15.0
OS: win32
VS Code Version: 1.32.3

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-03-16 21:51] galvesribeiro commented on #1081
I've found an issue @EricJizbaMSFT

If your project starts to grow, looks like the C# extension don't work pretty well. I have to keep switching the "active" project on the status bar in order to get intellisense/typeinfo/codelenses etc...

It is like if VSCode don't detect the project as a C# project.

Idk if this is a VSCode workspace issue, an Omnisharp issue, or just another issue from the ins

[2019-03-17 17:54] onevenu opened #1095 "Python: Can Not deploy azure function app"

[2019-03-17 17:56] #1095 closed

[2019-03-18 16:01] EricJizbaMSFT commented on #703
Closing as external. VS Code has made some improvements to certs on Insiders and it was working for me there. See https://github.com/Microsoft/vscode/issues/52880

[2019-03-18 16:01] #703 closed

[2019-03-18 16:05] EricJizbaMSFT commented on #1072
I was debugging with Fiddler and was able to repro this bug since it inserts a cert to decrypt https traffic. However, it's fixed for me on VS Code insiders - see here for more info: https://github.com/Microsoft/vscode/issues/52880

Closing as external

[2019-03-18 16:05] #1072 closed

[2019-03-18 16:22] EricJizbaMSFT commented on #1081
Yeah I'm not sure there's anything I can do about that. It feels like a problem with the C# extension (or even VS Code) itself

[2019-03-18 16:56] EricJizbaMSFT commented on #1094
@OniciBianca can you copy the output logs here?

[2019-03-18 17:29] #1081 closed

[2019-03-18 18:02] #1063 closed

[2019-03-18 21:50] fiveisprime opened #1097 "Adding a Cosmos DB connection when using the Mongo API incorrectly formats the connection string"
Add a Cosmos Trigger function, create a new app setting, then select a Cosmos DB account that uses the Mongo API and choose a db/collection.

The connection string that's added to the app setting is the `mongodb://....` string rather than the `AccountEndpoint=;AccountKey=;` format, which the local runtime can't connect to.

[2019-03-19 15:58] fiveisprime commented on #1017
The portal experience:

- Last option in the list is Application Insights, which is disabled by default
- Clicking into the option let's users enable AI, which then unlocks the resource options
- Options are "Create new resources" (name and location) or "Select an existing resource"

In advanced creation mode, the last prompt should be "Application Insights" with the options:

- Create new Applica

[2019-03-19 20:53] #1013 closed

[2019-03-20 10:42] AkkiRai opened #1103 "Azure Python Function Deployment Error"
Repro steps:

1. Create python function app (http trigger) using visual studio.
2. Deploy the project to azure using visual studio deploy option.
3. Provide provide appropriate like App Name,Region , Storage account, etc.

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (ServiceUnavailable) from host runtime.

Version: 0.15.0
OS: linux
VS Code Version: 1.32

[2019-03-20 12:14] yashag66 opened #1104 "Error Message: Encountered an error (ServiceUnavailable) from host runtime."
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: azureFunctions.deploy
Error type: BadRequest
Error Message: Encountered an error (ServiceUnavailable) from host runtime.

Version: 0.13.1
OS: win32

[2019-03-20 15:47] wiggisser opened #1105 "Deployment hangs while "creating zip package ..." if a .ts file is opened"
When I try to deploy to azure the task keeps hanging on "creating zip package" step and never finishes. It worked one time after I quit VS-Code and restarted the deployment. But since then I was not able to deploy anymore

Environment: Windows 8.1, VS Code 1.32.3, Azure Functions extension 0.15. Deploying to an azure functions app created via portal

[2019-03-20 15:54] EricJizbaMSFT commented on #1104
@yashag66 can you comment with repro steps? Does this happen consistently for you?

Additionally, you can try upgrading to the latest version of the extension (0.15.0). NOTE: you'll have to make sure you're on VS Code version at least 1.31.0 before you can update our extension.

[2019-03-20 15:58] EricJizbaMSFT commented on #1105
What is your project language?

You can try removing the `.funcignore` file if it exists in your project. (That file is used to exclude files when deploying, but may be causing the bug in "Create zip package")

[2019-03-20 16:00] EricJizbaMSFT commented on #1103
@AkkiRai Linux Consumption is still in preview and occasionally reports ServiceUnavailable. Does this happen consistently for you? If you wait a while after creating the function app - does deploying succeed?

[2019-03-20 16:52] wiggisser commented on #1105
Forgot to mention. It's a Typescript project ... Removed the `.funcignore`. No change ...

[2019-03-20 17:21] wiggisser commented on #1105
that's the content of the `.funcignore` file which was autogenerated by the extension. Did not touch it later on

*.js.map
*.ts
.git*
.vscode
local.settings.json
test
tsconfig.json

[2019-03-20 17:27] EricJizbaMSFT commented on #1105
Can you expand on `But after a restart of VS Code it seems to work ...`? It's working consistently now? And the only change you made was to remove that file and restart VS Code?

Support for `.funcignore` is pretty new, so it's definitely possible there's a bug related to that... Is there anything unique about this project? Or is this a brand new project created directly from our extension? Maybe

[2019-03-20 18:05] wiggisser commented on #1105
I created the project with the extension a few days ago. No symlinks to external folders. I developed and debugged the functions locally and today I decided to deploy them to azure. So I

1) created a new function app in the portal,
2) signed in to azure in VS Code,
3) hit "deploy"
4) selected my newly created app.

The project was built without errors. But deploment hung on "creating zip package"

[2019-03-20 19:17] wiggisser commented on #1105
OK. I think I figured out the reason. It does not have anything to do with the `.funcignore` file. But it does not work if a `.ts` file is opened in an editor. I have a dev-dependency to `@types/node`  in my package json. And while building for the deployment `npm install` is called, which of course installs this dependency. Later in the deployment process `npm prune` is called, which tries to uni

[2019-03-20 20:32] EricJizbaMSFT commented on #1105
Hmm yeah it doesn't repro for me with the default dev dependencies, but I can repro if I add `@types/node`. Now that I have a repro we can look into it - thanks for figuring that out!

In the meantime you can always modify the `azureFunctions.preDeployTask` from `prune` to `build`. That seemed to prevent a hang in my case, although it took just a touch longer than previous (successful) deployments

[2019-03-20 21:28] #1066 closed

[2019-03-20 21:28] #1079 closed

[2019-03-20 21:32] EricJizbaMSFT commented on #1058
Fixed the first part, which I think is the more important piece. I'll have to file an issue on VS Code for the second piece

[2019-03-20 21:54] #1090 closed

[2019-03-20 21:59] #1012 closed

[2019-03-20 22:22] #777 closed

[2019-03-20 22:23] #904 closed

[2019-03-20 23:05] #926 closed

[2019-03-20 23:05] #953 closed

[2019-03-20 23:05] #952 closed

[2019-03-20 23:05] #1027 closed

[2019-03-20 23:05] #1028 closed

[2019-03-20 23:41] EricJizbaMSFT commented on #1105
Looks like this could be a bug in VS Code: https://github.com/Microsoft/vscode/issues/70865

[2019-03-21 00:05] #989 closed

[2019-03-21 00:13] sstojanovic-ispt commented on #1104
I'm getting the same error consistently as of yesterday. (Deploying was working fine two days ago and prior)

Info:
VS Code Version: 1.32.3
Azure-Functions-Extension: 0.15.0
Azure-Functions-Core-Tools: 2.4.419
OS: Windows 10 - 64
Docker: 18.09.2

Have tried deploying separate Function apps to different subscriptions and Linux App-Service-Plans.

(Side Note: This same error pops up in the portal wh

[2019-03-21 03:14] blair223 commented on #1104
I'm having exact same issue.  Been happening since 3/16

Deleted all linux function apps and created fresh one and same issue

[2019-03-21 06:27] sstojanovic-ispt commented on #1104
I tried deploying to a different region (Linux App Service Plan) with success.

All of my deployments on US-East since yesterday have failed failed while US-West works okay.

[2019-03-21 09:44] wiggisser commented on #1105
Thanks for your answer and the workaround.

[2019-03-21 17:37] EricJizbaMSFT commented on #1104
@sstojanovic-ispt good to know about the regions - could've been an outage in US-East

Let me know if y'all are still having issues in all regions

[2019-03-21 21:14] #1097 closed

[2019-03-21 23:15] #652 closed

[2019-03-22 04:29] AkkiRai commented on #1103
@EricJizbaMSFT It happened every time whenever I tried to deploy Python Function app on azure using visual studio code on linux. Today I tried it again but  they have removed the python runtime from the deployment as it was not listed in the options for deployment. Deployment succeeded by using javascript runtime but not with python.

[2019-03-22 04:31] AkkiRai commented on #1103
Thanks @EricJizbaMSFT . It happened every time whenever I tried to deploy Python Function app on azure using visual studio code on linux. Today I tried it again but they have removed the python runtime from the deployment as it was not listed in the options for deployment. Deployment succeeded by using javascript runtime but not with python. Any updates on this?

[2019-03-22 16:25] EricJizbaMSFT commented on #1103
What region are you deploying to? I believe there were some issues in East US. You could try deploying to a different region.

Also, the list of runtimes depends on which OS you're creating a function app for. If you creating a windows function app (the default since it's not in preview), you will not see python. We default the OS based on your currently open workspace. You can set `azureFunctions

[2019-03-22 17:32] charlie632 opened #1114 ""command 'azureFunctions.<function>' not found" Is appearing on every action of the extension."
`command 'azureFunctions.<function>' not found `

This error message is appearing on every action I do with the extension. Cannot create, nor deploy anything.

My setup is the following:

VSCode: February 2019 (version 1.32)
azure-functions-core-tools@2.4.419
Azure Functions Extension: 0.15.0
Azure Account Extension: 0.8.0